<div class="row gx-3">
  <div class="col-12">
    <div class="card-content">
      <dx-form
        #formUsuarios
        id="formUsuarios"
        labelLocation="left"
        [formData]="DUsuarios"
        [readOnly]="readOnly"
        [colCount]="1"
        (onFieldDataChanged)="cambiosItemForma($event)"
        >
        <dxi-item itemType="group">
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
          <dxi-item dataField="USUARIO" [colSpan]="4"
            [editorOptions]="{inputAttr: {'style': 'text-transform: uppercase; font-weight: bold; font-size: 18px;'},
                              onValueChanged: usuariosValor,
                              placeholder:'Id Usuario'
                              }">
            <dxo-label text="Usuario"></dxo-label>
            <dxi-validation-rule type="async" message="Ya existe este Usuario" [validationCallback]="ValideExistencia"></dxi-validation-rule>
            <dxi-validation-rule type="required" message="El Usuario es requerido"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="ESTADO" [colSpan]="4" editorType="dxSelectBox">
            <dxo-label text="Estado"></dxo-label>
            <div *dxTemplate>
              <dx-select-box
                [dataSource]="['ACTIVO','INACTIVO']"
                [value]="DUsuarios.ESTADO"
                [readOnly]="readOnly"
                placeholder="Seleccion Estado del usuario"
                (onValueChanged)="onSeleccEstado($event)">
              </dx-select-box>
            </div>
          </dxi-item>
          <dxi-item dataField="NOMBRE" [editorOptions]="{placeholder:'Nombre'}" [colSpan]="4">
            <dxo-label text="Nombre"></dxo-label>
            <dxi-validation-rule type="required" message="El Nombre es requerido"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="ID_ROL" [colSpan]="4" editorType="ddBoxRol">
            <dxo-label text="Rol"></dxo-label>
            <div *dxTemplate>
              <dx-drop-down-box
                #ddBoxRol
                [dataSource]="DRoles"
                [(value)]="gridBoxRol"
                [(opened)]="isGridBoxOpened"
                [showClearButton]="true"
                displayExpr="DESCRIPCION"
                valueExpr="ID_ROL"
                placeholder="Seleccione Rol de usuario"
                [readOnly]="readOnly"
                [dropDownOptions]="{ width: 450 }">
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    [dataSource]="DRoles"
                    keyExpr="ID_ROL"
                    [selection]="{ mode: 'single' }"
                    [allowColumnResizing]="true"
                    [focusedRowEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    columnResizingMode="nextColumn"
                    [paging]="{ enabled: true, pageSize: 10 }"
                    [(selectedRowKeys)]="gridBoxRol"
                    (onSelectionChanged)="onSelectionChangedRol($event)">
                    <dxo-selection
                      selectAllMode="allPages"
                      [showCheckBoxesMode]="esVisibleSelecc">
                    </dxo-selection>
                    <dxi-column dataField="ID_ROL" caption="Código del Rol"></dxi-column>
                    <dxi-column dataField="DESCRIPCION" caption="Nombre del Rol"></dxi-column>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <dxi-validation-rule type="required" message="El Rol es requerido"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="EMAIL" [editorOptions]="{placeholder:'Correo Electrónico'}" [colSpan]="4">
            <dxo-label text="Correo Electrónico"></dxo-label>
            <dxi-validation-rule
              type="pattern"
              [pattern]="emailPatt"
              message="El correo no es valido">
            </dxi-validation-rule>
            <!-- <dxi-validation-rule type="required" message="El Nombre es requerido"></dxi-validation-rule> -->
          </dxi-item>
        </dxi-item>
      </dx-form>
    </div>

    <div class="card-content-secondary xt-gesptabs">
      <dx-tab-panel
        #tabPanel
        [dataSource]="tabsInfoUser"
        [selectedIndex]="0"
        [loop]="false"
        [animationEnabled]="false"
        [swipeEnabled]="true"
        (onTitleClick)="onItemClickTab($event)">
        <div *dxTemplate="let tabinfo of 'title'">
          <span>{{ tabinfo }}</span>
        </div>
        <div *dxTemplate="let tabinfo of 'item'">
          @if (tabinfo === 'Contraseñas') {
            <div class="tabpanel-item p-2">
              <div>
                <dx-form
                  #formUsuarios
                  id="formUsuarios"
                  labelLocation="top"
                  [formData]="DUsuarios"
                  [readOnly]="readOnly"
                  [colCount]="1"
                  (onFieldDataChanged)="cambiosItemForma($event)"
                  >
                  <dxi-item itemType="group">
                    <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
                    <dxi-item dataField="CAMBIAR_CLAVE" editorType="dxSwitch">
                      <dxo-label text="Forzar cambio de Contraseña"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="EXPIRARstr" labelLocation="left">
                      <dxo-label text="Expirar Contraseña"></dxo-label>
                      <div *dxTemplate>
                        <dx-radio-group
                          [readOnly]="readOnly"
                          [items]="rbExpirarPass"
                          [value]="DUsuarios.EXPIRARstr"
                          layout="horizontal"
                          (onValueChanged)="onSeleccExpirar($event)">
                        </dx-radio-group>
                      </div>
                    </dxi-item>
                  </dxi-item>
                  <dxi-item itemType="group">
                    <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
                    <dxi-item dataField="TIEMPO_INTERVALO" [editorOptions]="{placeholder:'1, 2, 3...'}" alignment="right" style="text-align: right;">
                      <dxo-label text="Expira en:" class></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="INTERVALO" editorType="dxSelectBox">
                      <dxo-label text="Intervalo de Tiempo"></dxo-label>
                      <div *dxTemplate>
                        <dx-select-box
                          [dataSource]="DIntervalo"
                          displayExpr="DESCRIPCION"
                          valueExpr="INTERVALO"
                          placeholder="Seleccione Intervalo de Tiempo"
                          [value]="DUsuarios.INTERVALO"
                          [readOnly]="readOnly"
                          (onValueChanged)="onSeleccIntervalo($event)">
                        </dx-select-box>
                      </div>
                    </dxi-item>
                  </dxi-item>
                </dx-form>
              </div>
            </div>
          }

          @if (tabinfo === 'Aplicaciones') {
            <div class="tabpanel-item p-2">
              <div>
                <app-ADM01501></app-ADM01501>
              </div>
            </div>
          }

          @if (tabinfo === 'Permisos Especiales') {
            <div class="tabpanel-item p-2">
              <div>
                <app-ADM01502></app-ADM01502>
              </div>
            </div>
          }

          @if (tabinfo === 'UN Asociadas') {
            <div class="tabpanel-item p-2">
              <div>
                <app-ADM01503></app-ADM01503>
              </div>
            </div>
          }

          @if (tabinfo === 'Conexiones') {
            <div class="tabpanel-item p-2">
              <div>
                <app-ADM01504></app-ADM01504>
              </div>
            </div>
          }

          @if (tabinfo === 'Configuraciones Avanzadas') {
            <div class="tabpanel-item p-2">
              <div>
                <app-ADM01505></app-ADM01505>
              </div>
            </div>
          }
        </div>
      </dx-tab-panel>
    </div>
  </div>
</div>

<dx-popup
  #generarPassword
  id="generarPassword"
  title="Generar contraseña"
  [width]="400"
  height="50%"
  [showTitle]="true"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  [visible]="visiblePopupPassword"
  >
  <dxi-toolbar-item
    toolbar="bottom"
    location="before"
    >
    <dx-button
      id="button"
      type="success"
      (onClick)="cambiarPassword(FClave)"
      >
      <i class="icon-aceptar-sl" style="margin-right: 5px;"></i>
      <span style="font-weight: bold;">Guardar</span>
    </dx-button>
  </dxi-toolbar-item>
  <dxi-toolbar-item
    toolbar="bottom"
    location="after"
    >
    <div style="display: flex; align-items: center;" >
      <dx-button
        id="button"
        type="danger"
        (onClick)="cerrar()"
        >
        <i class="icon-cancelar-sl" style="margin-right: 5px;"></i>
        <span style="font-weight: bold;">Cancelar</span>
      </dx-button>
    </div>
  </dxi-toolbar-item>
  <dxo-position at="center" > </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <div >
      <h4>
        <span> <i class="icon-password-ol"></i> </span>
        Digite la Nueva Contraseña
      </h4>

      <form (submit)="cambiarPassword($event)">
        <dxi-item style="padding-bottom: 15px;">
          <dxo-label text="Usuario"></dxo-label>
          <dx-text-box
            [readOnly]="true"
            [value]="FClave?.USUARIO"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;', placeholder: 'Usuario'}"
          ></dx-text-box>
        </dxi-item>

        <dxi-item style="padding-bottom: 15px;">
          <dxo-label text="Tipo"></dxo-label>
          <dx-select-box
            [dataSource]="['ADMINISTRADOR', 'USUARIO']"
            placeholder="Seleccione tipo"
            [readOnly]="true"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;'}"
            [(value)]="FClave.TIPO"
          ></dx-select-box>
        </dxi-item>

        <dxi-item style="padding-bottom: 15px;">
          <dxo-label text="Nueva Clave"></dxo-label>
          <dx-text-box
            mode="password"
            [(value)]="FClave.CLAVE_NUEVA"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;', placeholder: 'Nueva Clave'}"
            >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="La nueva contraseña es requerida!"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                [min]="6"
                message="La contraseña debe tener mínimo 6 caracteres"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </dxi-item>

        <dxi-item >
          <dxo-label text="Confirmar Nueva Clave"></dxo-label>
          <dx-text-box
            mode="password"
            [(value)]="FClave.CLAVE_NUEVA_CONFIRMAR"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;', placeholder: 'Confirmar Nueva Clave'}"
            >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="confirmar la contraseña es requerida!"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                [min]="6"
                message="La contraseña debe tener mínimo 6 caracteres"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="compare"
                [comparisonTarget]="verificarClave"
                message="Las contraseñas no coinciden!"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </dxi-item>

      </form>

    </div>
  </div>
  <br/>
</dx-popup>

<app-vistarapida id="vistaAdm015" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{of: '#router-container'}"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando consulta..."
  [hideOnOutsideClick]="false">
</dx-load-panel>