<div class="row gx-3">
  <div class="col-12">
    <div class="card-content" id="PRO032" #PRO032 style="display: flex;">

      <div class="form-content" style="width: 50%; height: 100%;" >
        <div class="form-item-column" >

          <div class="form-item-data-MDP" style="flex-direction: row;">
            <div style="padding-right: 5px;" >
              <!-- <div class="form-item-label" >Tipo de Registro</div> -->
              <div class="form-item-label" >Secciones</div>
              <div class="form-input-box" >
                <!-- <dx-select-box
                  [items]="['PROGRAMADO','MANUAL']"
                  placeholder="Seleccione"
                  [readOnly]="readOnly"
                  [value]="FMDP.TIPO_MDP"
                  (onValueChanged)="selectionTipoMdp($event)"
                ></dx-select-box> -->
              
                <dx-drop-down-box
                  id="dropPlantesSecciones"
                  width="100%"
                  valueExpr="ITEM"
                  displayExpr="DESCRIPCION"
                  placeholder="Seleccione..."
                  [showClearButton]="true"
                  [readOnly]="readOnly"
                  [dataSource]="DPlantas"
                  [(opened)]="openIdPlantas"
                  [(value)]="selectPlantas"
                  [dropDownOptions]="{ width: 600, height: 450, hideOnParentScroll: true, closeOnOutsideClick: false, container: '#router-container'}"
                  (onValueChanged)="onValueChangedPlanta($event)"
                >
                  <div *dxTemplate="let data of 'content'">
                    <dx-tree-list
                      #treeListSecciones
                      id="treeListSecciones"
                      width="100%"
                      height="90%"
                      keyExpr="ITEM"
                      parentIdExpr="ANTERIOR"
                      columnResizingMode="widget"
                      [dataSource]="DPlantas"
                      [showBorders]="true"
                      [autoExpandAll]="true"
                      [columnAutoWidth]="true"
                      [hoverStateEnabled]="true"
                      [focusedRowEnabled]="true"
                      [allowColumnResizing]="true"
                      [columnHidingEnabled]="true"
                      [rowAlternationEnabled]="true"
                      [(selectedRowKeys)]="selectPlantas"
                      (onRowPrepared)="onRowPrepared($event)"
                      (onCellPrepared)="onCellPrepared($event, 'SECCIONES')"
                    >
                      <dxo-scrolling mode="standard"></dxo-scrolling>
                      <dxo-header-filter [visible]="true" [width]="300" [allowSearch]="true"></dxo-header-filter>
                      <dxo-search-panel class="xt-serch-box" [visible]="true" [width]="400"></dxo-search-panel>

                      <dxo-selection 
                        selectAllMode="allPages"
                        showCheckBoxesMode="always" 
                        mode="multiple"
                      ></dxo-selection>
                      
                      <dxi-column
                        dataField="ID_SECCION"
                        caption="Id Sección"
                        cellTemplate="iconTipo"
                      ></dxi-column>
                      <dxi-column
                        dataField="DESCRIPCION"
                        caption="Descripción"
                      ></dxi-column>
                  
                      <div *dxTemplate="let options of 'iconTipo'">
                        <div [ngSwitch]="options.data.TIPO">
                          <i class="icon-empresa-sl" *ngSwitchCase="'Planta'" style="font-size: 1.0rem; padding-right: 5px;" ></i>
                          <i class="icon-operaciones-sl" *ngSwitchCase="'PROCESO'" style="font-size: 1.0rem; padding-right: 5px; color: rgba(10,57,96,.85)" ></i>
                          <i class="icon-procesos-sl" *ngSwitchCase="'OPERATIVA'" style="font-size: 1.0rem; padding-right: 5px; color: rgba(10,57,96,.75)" ></i>
                          <span>{{ options.data.ID_SECCION }}</span>
                        </div>
                      </div>
                    </dx-tree-list>
                    <div style="display: flex; justify-content: center; width: 100%; padding: 5px;">
                      <dx-button
                        id="btnAceptarPT"
                        stylingMode="contained"
                        text="Aceptar"
                        type="default"
                        [width]="100"
                        (onClick)="aceptarBottom($event, 'PLANTA')"
                      ></dx-button>
                      <dx-button
                        id="btnCancelarPT"
                        stylingMode="contained"
                        text="Cancelar"
                        type="normal"
                        [width]="110"
                        [style.margin-left]="'20px'"
                        (onClick)="aceptarBottom($event, 'PLANTA')"
                      ></dx-button>
                    </div>
                  </div>
                </dx-drop-down-box>




              </div>
            </div>
            
            <!-- <div  style="padding-left: 5px;" *ngIf="FMDP.TIPO_MDP === 'MANUAL' ">
              <div class="form-item-label" >Tipo de Transacción</div>
              <div class="form-input-box" >
                <dx-select-box
                  [items]="['DEVOLUCION MATERIAL','PROGRAMADA']"
                  placeholder="Seleccione"
                  [readOnly]="readOnly"
                  [value]="FMDP.TIPO_TR"
                  (onValueChanged)="selectionTipoTr($event)"
                ></dx-select-box>
              </div>
            </div> -->
            
          </div>

          <br />

          <div class="form-item-data-MDP" *ngIf="FMDP.TIPO_MDP === 'PROGRAMADO' " >
            <div class="form-item-label" >Productos</div>
            <div class="form-input-box" >
              <dx-tree-list
                #treeListProgramacion
                id="treeListProgramacion"
                width="100%"
                height="auto"
                style="min-height: 350px; max-height: 600px;"
                keyExpr="ID_PARTE"
                parentIdExpr="PRODUCTO"
                rootValue="RAIZ"
                columnResizingMode="widget"
                [dataSource]="DGdetalles"
                [showBorders]="true"
                [autoExpandAll]="true"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [focusedRowEnabled]="true"
                [allowColumnResizing]="true"
                [columnHidingEnabled]="true"
                [rowAlternationEnabled]="true"
                [allowColumnReordering]="false"
                (onCellPrepared)="onCellPrepared($event, 'PRODUCTOS')"
                (onSelectionChanged)="onSelectionChangedProducto($event)"
              >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-search-panel [visible]="false" [width]="250" ></dxo-search-panel>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true" ></dxo-header-filter>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick"  mode="multiple"></dxo-selection>

                <dxi-column
                  dataField="PRODUCTO"
                  caption="Cod. Producto"
                  [width]="120"
                  [visible]="false"
                ></dxi-column>
                  
                <dxi-column
                  dataField="NOMBRE_PRODUCTO"
                  caption="Producto"
                  [width]="350"
                  [visible]="false"
                  groupCellTemplate="tempGroupNombre"
                ></dxi-column>

                <dxi-column
                  dataField="ID_PARTE"
                  caption="Id. Parte"
                  [width]="120"
                  [visible]="false"  
                ></dxi-column>
                  
                <dxi-column
                  dataField="NOMBRE_PARTE"
                  caption="Productos / Partes"
                  [width]="350"
                  cellTemplate="tempNombreParte"
                ></dxi-column>

                <dxi-column 
                  dataField="ESTADO"
                  caption="Estado"
                  alignment="left"
                  [width]="130"
                  cellTemplate="cellTempEstado"
                ></dxi-column>

                <dxi-column
                  caption="Atributos"
                  alignment="center"
                  [isBand]="true"
                ></dxi-column>

                <div *dxTemplate="let grupoObj of 'tempGroupNombre'" style="display: flex">
                  <div class="span_title">
                    <div style="font-weight: bold;">
                      <span>{{ templateHtml(grupoObj, 'NOMBRE_PRODUCTO', 'TreeList') }}</span>
                    </div>
                  </div>
                </div>

                <div *dxTemplate="let cellInfo of 'tempNombreParte' " >
                  <div class="span_title">
                    <div style="font-weight: bold;" *ngIf="cellInfo.row.data.PRODUCTO === 'RAIZ' " > 
                      <span>{{ templateHtml(cellInfo, 'NOMBRE_PARTE', 'TreeList') }}</span>
                    </div>
                    <!-- <span>{{ templateHtml(cellInfo, 'NOMBRE_PARTE', 'TreeList') }}</span> -->
                    <div *ngIf="cellInfo.row.data.PRODUCTO !== 'RAIZ' " >
                      <span>{{ templateHtml(cellInfo, 'NOMBRE_PARTE', 'TreeList') }}</span>
                    </div>
                  </div>
                </div>

                <div
                  *dxTemplate="let cellInfo of 'cellTempEstado'"
                  [ngStyle]="{
                    'background-color':
                      (cellInfo.data.ESTADO === 'REGISTRADO'
                        ? 'rgba(15,76,129,.05)'
                        : '') ||
                      (cellInfo.data.ESTADO === 'PROGRAMADO' 
                        ? 'rgba(98,121,140, .3)' 
                        : '') ||
                      (cellInfo.data.ESTADO === 'EN PROCESO'
                        ? 'rgba(26,115,232,.2)'
                        : '') ||
                      (cellInfo.data.ESTADO === 'CANCELADO' 
                        ? 'rgba(200,78,224,.2)' 
                        : '') ||
                      (cellInfo.data.ESTADO === 'FINALIZADO'
                        ? 'rgba(53,204,172,.2)'
                        : ''),
                    'color':
                      (cellInfo.data.ESTADO === 'REGISTRADO' ? 'rgba(98,121,140,.9)' : '') ||
                      (cellInfo.data.ESTADO === 'PROGRAMADO' ? 'rgba(98,121,140,.75)' : '') ||
                      (cellInfo.data.ESTADO === 'EN PROCESO' ? 'rgba(26,115,232,1)' : '') ||
                      (cellInfo.data.ESTADO === 'CANCELADO' ? 'rgba(200,78,224,1)' : '') ||
                      (cellInfo.data.ESTADO === 'FINALIZADO' ? 'rgba(53,204,172,1)' : '')
                  }"
                  class="estado"
                >
                  <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
                    <div class="container-estado" *ngIf="!cellInfo.data.CANCELADO">
                      <span
                        class="status-badge"
                        [ngStyle]="{
                          'background-color':
                            (cellInfo.data.ESTADO === 'REGISTRADO'
                              ? 'rgba(98,121,140,.9)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'EN PROCESO'
                              ? 'rgba(26,115,232,1)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'CANCELADO'
                              ? 'rgba(200,78,224,1)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'FINALIZADO'
                              ? 'rgba(53,204,172,1)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'PROGRAMADO'
                              ? 'rgba(98,121,140,.75)'
                              : '')
                        }"
                      ></span>
                      <span>{{ cellInfo.data.ESTADO }}</span>
                    </div>
                    <span
                      *ngIf="cellInfo.data.CANCELADO"
                      [ngStyle]="{
                        color: cellInfo.data.CANCELADO ? 'rgba(98,121,140,.75)' : ''
                      }"
                    >
                      {{ cellInfo.data.ESTADO }}
                    </span>
                  </div>
                </div>

              </dx-tree-list>
            </div>
          </div>

          <div class="form-item-data-MDP" *ngIf="FMDP.TIPO_MDP === 'MANUAL' && FMDP.TIPO_TR === 'PROGRAMADA' " >
            <div class="form-item-label" >Devoluciones</div>
            <div class="form-input-box" >
              <dx-tree-list
                #treeListProgramacion
                id="treeListProgramacion"
                width="100%"
                height="auto"
                style="min-height: 350px; max-height: 600px;"
                keyExpr="ID_PARTE"
                parentIdExpr="PRODUCTO"
                rootValue="RAIZ"
                columnResizingMode="widget"
                [dataSource]="DGdetalles"
                [showBorders]="true"
                [autoExpandAll]="true"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [focusedRowEnabled]="true"
                [allowColumnResizing]="true"
                [columnHidingEnabled]="true"
                [rowAlternationEnabled]="true"
                [allowColumnReordering]="false"
                (onCellPrepared)="onCellPrepared($event, 'PRODUCTOS')"
                (onSelectionChanged)="onSelectionChangedProducto($event)"
              >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-search-panel [visible]="false" [width]="250" ></dxo-search-panel>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                <dxo-header-filter [visible]="true" [allowSearch]="true" ></dxo-header-filter>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick"  mode="multiple"></dxo-selection>

                <dxi-column
                  dataField="PRODUCTO"
                  caption="Cod. Producto"
                  [width]="120"
                  [visible]="false"
                ></dxi-column>
                  
                <dxi-column
                  dataField="NOMBRE_PRODUCTO"
                  caption="Producto"
                  [width]="350"
                  [visible]="false"
                  groupCellTemplate="tempGroupNombre"
                ></dxi-column>

                <dxi-column
                  dataField="ID_PARTE"
                  caption="Id. Parte"
                  [width]="120"
                  [visible]="false"  
                ></dxi-column>
                  
                <dxi-column
                  dataField="NOMBRE_PARTE"
                  caption="Productos / Partes"
                  [width]="350"
                  cellTemplate="tempNombreParte"
                ></dxi-column>

                <dxi-column 
                  dataField="ESTADO"
                  caption="Estado"
                  alignment="left"
                  [width]="130"
                  cellTemplate="cellTempEstado"
                ></dxi-column>

                <dxi-column
                  caption="Atributos"
                  alignment="center"
                  [isBand]="true"
                ></dxi-column>

                <div *dxTemplate="let grupoObj of 'tempGroupNombre'" style="display: flex">
                  <div class="span_title">
                    <div style="font-weight: bold;">
                      <span>{{ templateHtml(grupoObj, 'NOMBRE_PRODUCTO', 'TreeList') }}</span>
                    </div>
                  </div>
                </div>

                <div *dxTemplate="let cellInfo of 'tempNombreParte' " >
                  <div class="span_title">
                    <div style="font-weight: bold;" *ngIf="cellInfo.row.data.PRODUCTO === 'RAIZ' " > 
                      <span>{{ templateHtml(cellInfo, 'NOMBRE_PARTE', 'TreeList') }}</span>
                    </div>
                    <!-- <span>{{ templateHtml(cellInfo, 'NOMBRE_PARTE', 'TreeList') }}</span> -->
                    <div *ngIf="cellInfo.row.data.PRODUCTO !== 'RAIZ' " >
                      <span>{{ templateHtml(cellInfo, 'NOMBRE_PARTE', 'TreeList') }}</span>
                    </div>
                  </div>
                </div>

                <div
                  *dxTemplate="let cellInfo of 'cellTempEstado'"
                  [ngStyle]="{
                    'background-color':
                      (cellInfo.data.ESTADO === 'REGISTRADO'
                        ? 'rgba(15,76,129,.05)'
                        : '') ||
                      (cellInfo.data.ESTADO === 'PROGRAMADO' 
                        ? 'rgba(98,121,140, .3)' 
                        : '') ||
                      (cellInfo.data.ESTADO === 'EN PROCESO'
                        ? 'rgba(26,115,232,.2)'
                        : '') ||
                      (cellInfo.data.ESTADO === 'CANCELADO' 
                        ? 'rgba(200,78,224,.2)' 
                        : '') ||
                      (cellInfo.data.ESTADO === 'FINALIZADO'
                        ? 'rgba(53,204,172,.2)'
                        : ''),
                    'color':
                      (cellInfo.data.ESTADO === 'REGISTRADO' ? 'rgba(98,121,140,.9)' : '') ||
                      (cellInfo.data.ESTADO === 'PROGRAMADO' ? 'rgba(98,121,140,.75)' : '') ||
                      (cellInfo.data.ESTADO === 'EN PROCESO' ? 'rgba(26,115,232,1)' : '') ||
                      (cellInfo.data.ESTADO === 'CANCELADO' ? 'rgba(200,78,224,1)' : '') ||
                      (cellInfo.data.ESTADO === 'FINALIZADO' ? 'rgba(53,204,172,1)' : '')
                  }"
                  class="estado"
                >
                  <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
                    <div class="container-estado" *ngIf="!cellInfo.data.CANCELADO">
                      <span
                        class="status-badge"
                        [ngStyle]="{
                          'background-color':
                            (cellInfo.data.ESTADO === 'REGISTRADO'
                              ? 'rgba(98,121,140,.9)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'EN PROCESO'
                              ? 'rgba(26,115,232,1)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'CANCELADO'
                              ? 'rgba(200,78,224,1)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'FINALIZADO'
                              ? 'rgba(53,204,172,1)'
                              : '') ||
                            (cellInfo.data.ESTADO === 'PROGRAMADO'
                              ? 'rgba(98,121,140,.75)'
                              : '')
                        }"
                      ></span>
                      <span>{{ cellInfo.data.ESTADO }}</span>
                    </div>
                    <span
                      *ngIf="cellInfo.data.CANCELADO"
                      [ngStyle]="{
                        color: cellInfo.data.CANCELADO ? 'rgba(98,121,140,.75)' : ''
                      }"
                    >
                      {{ cellInfo.data.ESTADO }}
                    </span>
                  </div>
                </div>

              </dx-tree-list>
            </div>
          </div>

          <div class="form-item-data-MDP" *ngIf="FMDP.TIPO_MDP === 'MANUAL' && FMDP.TIPO_TR === 'DEVOLUCION MATERIAL' " >
            <div class="form-item-label" >Inventario de Materiales</div>
            <div class="form-input-box" >
              <dx-data-grid
                #gridListaMateriales
                id="gridListaPMateriales"
                width="100%"
                height="auto"
                style="min-height: 350px; max-height: 600px;"
                keyExpr="ITEM"
                columnResizingMode="widget"
                [showBorders]="true"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [focusedRowEnabled]="true"
                [allowColumnResizing]="true"
                [columnHidingEnabled]="true"
                [rowAlternationEnabled]="true"
                [dataSource]="DGMaterialesConsolidado"
              >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-search-panel [visible]="false" [width]="250" ></dxo-search-panel>
                <dxo-selection selectAllMode="allPages" showCheckBoxesMode="onClick" mode="multiple" ></dxo-selection>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

                <dxi-column dataField="MATERIAL" caption="Material" [width]="100" ></dxi-column>
                <dxi-column dataField="NOMBRE_MATERIAL" caption="Nombre" ></dxi-column>
                <dxi-column dataField="CANTIDAD_REAL" caption="Cant." [width]="100" ></dxi-column>
                <dxi-column dataField="ID_UDM" caption="Udm" [format]="'#,##0.00'" [width]="100" >
                  <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                  </dxo-format>
                </dxi-column>
              </dx-data-grid>
            </div>
          </div>

        </div>
      </div>

      <div class="form-content" style="width: 50%; height: 100%;" >
        <div class="form-item-column">

          <div class="form-item-data-MDP" style="flex-direction: row;" *ngIf="FMDP.TIPO_MDP !== '' " >
            <div style="padding-right: 5px;" >
              <div class="form-item-label" >Fecha Inicio</div>
              <div class="form-input-box" >
                <dx-date-box
                  #DxtFechaInicio
                  type="date"
                  width="100%"
                  [value]="FMDP.FECHA_INICIO"
                  [readOnly]="true"
                  (onValueChanged)="onValueChangedFecha($event, 'Inicio')"
                ></dx-date-box>
              </div>
            </div>
            
            <div  style="padding-left: 5px;" >
              <div class="form-item-label" *ngIf="FMDP.TIPO_MDP !== '' && FMDP.TIPO_TR !== 'DEVOLUCION MATERIAL' " >Fecha Final</div>
              <div class="form-input-box" *ngIf="FMDP.TIPO_MDP !== '' && FMDP.TIPO_TR !== 'DEVOLUCION MATERIAL' " >
                <dx-date-box
                  #DxtFechaFinal
                  type="date"
                  width="100%"
                  [value]="FMDP.FECHA_FINAL"
                  [readOnly]="readOnly"
                  (onValueChanged)="onValueChangedFecha($event, 'Final')"
                ></dx-date-box>
              </div>
            </div>
            
          </div>

          <br />
          
          <div class="form-item-data-MDP" *ngIf="FMDP.TIPO_MDP === 'PROGRAMADO' || (FMDP.TIPO_MDP === 'MANUAL' && FMDP.TIPO_TR === 'PROGRAMADA') " >
            <div class="form-item-label" >Materiales</div>
            <!-- Consolidado -->
            <div class="form-input-box" *ngIf="ActiveConsolidado" >
              <dx-data-grid
                #gridListaProductosConsolidado
                id="gridListaProductosConsolidado"
                width="100%"
                height="auto"
                style="min-height: 350px; max-height: 600px;"
                keyExpr="ITEM"
                columnResizingMode="widget"
                [showBorders]="true"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [focusedRowEnabled]="true"
                [allowColumnResizing]="true"
                [columnHidingEnabled]="true"
                [rowAlternationEnabled]="true"
                [dataSource]="DGMaterialesConsolidado"
                (onContentReady)="onContentReady($event)"
                (onCellDblClick)="onCellDblClick($event)"
              >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-header-filter [visible]="true" [allowSearch]="true" ></dxo-header-filter>
                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="MATERIAL" caption="Material" [width]="100" ></dxi-column>
                <dxi-column dataField="NOMBRE_MATERIAL" caption="Nombre" ></dxi-column>
                <dxi-column dataField="ID_UDM" caption="Udm" [width]="80" ></dxi-column>
                <dxi-column dataField="CANTIDAD_REAL" caption="Cant." [format]="'#,##0.00'" [width]="100" >
                  <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                  </dxo-format>
                </dxi-column>
                <dxi-column dataField="CANTIDAD_REQ" caption="Cant. Req." [format]="'#,##0.00'" [width]="100" >
                  <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                  </dxo-format>
                </dxi-column>
                
                <dxo-toolbar>
                  <dxi-item location="before">
                    <div *dxTemplate>
                      <dx-radio-group [items]="priorities" [value]="priorities[0]" layout="horizontal" (onValueChanged)="onValueChangedModeView($event)" ></dx-radio-group>
                    </div>
                  </dxi-item>
                </dxo-toolbar>

              </dx-data-grid>
            </div>

            <!-- Detallado -->
            <div class="form-input-box" *ngIf="!ActiveConsolidado" >
              <dx-data-grid
                #gridListaProductosDetallado
                id="gridListaProductosDetallado"
                width="100%"
                height="auto"
                style="min-height: 350px; max-height: 600px;"
                keyExpr="ITEM"
                columnResizingMode="widget"
                [showBorders]="true"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [focusedRowEnabled]="true"
                [allowColumnResizing]="true"
                [columnHidingEnabled]="true"
                [rowAlternationEnabled]="true"
                [dataSource]="DGMateriales"
                (onContentReady)="onContentReady($event)"
                (onCellDblClick)="onCellDblClick($event)"
              >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-search-panel [visible]="false" [width]="250" ></dxo-search-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-header-filter [visible]="true" [allowSearch]="true" ></dxo-header-filter>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-editing
                  mode="cell"
                  [useIcons]="false" 
                  [allowUpdating]="(FMDP.TIPO_MDP === 'MANUAL' && FMDP.TIPO_TR === 'PROGRAMADA') ? true : false"
                  [allowDeleting]="false"
                  [allowAdding]="false">
                  <dxo-texts
                    confirmDeleteMessage="">
                  </dxo-texts>
                </dxo-editing>

                <dxi-column dataField="PRODUCTO" caption="Producto" [groupIndex]="0" groupCellTemplate="groupCellTemplate" [editorOptions]="{readOnly: true}" ></dxi-column>
                <dxi-column dataField="MATERIAL" caption="Material" [width]="100" [editorOptions]="{readOnly: true}" ></dxi-column>
                <dxi-column dataField="NOMBRE_MATERIAL" caption="Nombre" [editorOptions]="{readOnly: true}" ></dxi-column>
                <dxi-column dataField="ID_UDM" caption="Udm" [width]="80" [editorOptions]="{readOnly: true}" ></dxi-column>
                <dxi-column dataField="CANTIDAD_REAL" caption="Cant." [format]="'#,##0.00'" [width]="100" [editorOptions]="{readOnly: true}" >
                  <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                  </dxo-format>
                </dxi-column>
                <dxi-column dataField="CANTIDAD_REQ" caption="Cant. Req." [format]="'#,##0.00'" [width]="100" editCellTemplate="editCantidad" >
                  <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                  </dxo-format>
                </dxi-column>

                <div *dxTemplate="let grupoObj of 'groupCellTemplate' " >
                  <span>{{ templateHtml(grupoObj, 'PRODUCTO', 'DataGred') }} -- {{ templateHtml(grupoObj, 'NOMBRE_PRODUCTO', 'DataGred') }}</span>
                </div>
                
                <div *dxTemplate="let cellInfo of 'editCantidad' " >
                  <dx-number-box
                    [min]="0"
                    [format]="'#,##0.00'"
                    [max]="cellInfo.data.CANTIDAD_REAL"
                    [(value)]="cellInfo.data.CANTIDAD_REQ"
                    (onValueChanged)="onValueChangedCantidadReq($event, cellInfo)"
                  ></dx-number-box>
                </div>

                <dxo-toolbar>
                  <dxi-item location="before">
                    <div *dxTemplate>
                      <dx-radio-group [items]="priorities" [value]="ActiveConsolidado ? priorities[0] : priorities[1] " layout="horizontal" (onValueChanged)="onValueChangedModeView($event)" ></dx-radio-group>
                    </div>
                  </dxi-item>
                </dxo-toolbar>

              </dx-data-grid>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
