.dx-treelist {
  min-height: 300px;
  /* max-height: 500px; */
}

.temResponsable {
  display: flex;
  justify-content: flex-start;
  height: 30px;
}

.temResponsable a {
  padding: 5px;
}

.temColaboradores {
  display: flex;
  justify-content: flex-start;
  height: 30px;
}

.temColaboradores a {
  padding: 5px;
}

.container-from-proyecto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-buttom-from {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 20px;
}

.oscroll-of {
  overflow: hidden;
}
.oscroll-of:hover {
  overflow-y: hidden;
  overflow-x: auto;
}

#temResponsable::-webkit-scrollbar-track{
	background-color: #e2e2e2;
}

#temResponsable::-webkit-scrollbar{
	height: 6px;
	background-color: #F5F5F5;
}

#temResponsable::-webkit-scrollbar-thumb{
	border-radius: 50px;
	background-color: #545454;
}

#temColaboradores::-webkit-scrollbar-track{
	background-color: #e2e2e2;
}

#temColaboradores::-webkit-scrollbar{
	height: 6px;
	background-color: #F5F5F5;
}

#temColaboradores::-webkit-scrollbar-thumb{
	border-radius: 50px;
	background-color: #545454;
}


.date-range-input {
  padding: 9px 11px 8px;
  min-height: 16px;
  font-family: Roboto,RobotoFallback,"Noto Kufi Arabic",Helvetica,Arial,sans-serif;
  line-height: 1.2857;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  -webkit-user-select: text;
  user-select: text;
  margin: 0;
  background-color: #eef3fc;
  color: #333;
  font-size: .875rem;
}

.container-flex {
  display: flex;
  align-items: end;
}

.badge-prioridad {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

::ng-deep .dx-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conten-buttom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin-top: 10px;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.content-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.container-estado {
  border-radius: 15px;
  padding: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.status-badge {
  margin-right: .25rem;
  padding: .25rem;
  border-radius: 50%;
  max-height: 10px;
  max-width: 10px;
  line-height: 1;
  display: inline-block;
}