<div class="row gx-3">
  <div class="col-12">
    <div class="card-content">

      <dx-form 
        #formDominios 
        id="formDominios" 
        labelLocation="left" 
        [formData]="FPorcentajeBonos" 
        [colCount]="1">
        
        <dxi-item itemType="group">
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>

          <dxi-item dataField="ANO" [colSpan]="1">
            <dxo-label text="Año"></dxo-label>
            <div *dxTemplate>
              <dx-date-box placeholder="Año: 2025" [readOnly]="readOnlyForm" [showClearButton]="true"
                [useMaskBehavior]="true" displayFormat="'Año': yyyy" type="date" [value]="ANO"
                [inputAttr]="{ 'aria-label': 'Date' }" (onValueChanged)="selectYear($event)">
              </dx-date-box>
            </div>
          </dxi-item>
          <dxi-item dataField="MES" [colSpan]="1">
            <dxo-label text="Mes"></dxo-label>
            <div *dxTemplate>
              <dx-date-box placeholder="Mes: Ene" [readOnly]="readOnlyForm" [showClearButton]="true"
                [useMaskBehavior]="true" displayFormat="'Mes': MMM" type="date" [value]="MES"
                [inputAttr]="{ 'aria-label': 'Date' }" (onValueChanged)="selectMonth($event)">
              </dx-date-box>
            </div>
          </dxi-item>
          <dxi-item dataField="PERIODO" [colSpan]="1">
            <dxo-label text="Periodo"></dxo-label>
            <div *dxTemplate>
              <dx-select-box [readOnly]="readOnlyForm" [items]="DperiodList" valueExpr="PERIODO" displayExpr="VALOR"
                (onValueChanged)="selectPeriod($event)" [value]="FPorcentajeBonos.PERIODO"
                [inputAttr]="{ 'aria-label': 'Simple Product' }"></dx-select-box>
            </div>
          </dxi-item>

          <dxi-item dataField="ID_SECCION" [colSpan]="1" *ngIf="accionEspecial === ''">
            <dxo-label text="Sección"></dxo-label>
            <div *dxTemplate>
              <dx-drop-down-box 
                [(value)]="FPorcentajeBonos.ITEM" 
                width="100%" 
                valueExpr="ITEM"
                displayExpr="DESCRIPCION" 
                placeholder="Seleccione Sección..." 
                [showClearButton]="true"
                [dataSource]="DSeccion" 
                [readOnly]="readOnlyForm" 
                [(opened)]="openDropFiltro" 
                [dropDownOptions]="{
                              width: 600,
                              height: 480,
                            }" [showDropDownButton]="false">
                <div *dxTemplate="let data of 'content'">
                  <dx-tree-list #treeListSeecion id="treeListSeecion" height="95%" width="100%" keyExpr="ITEM"
                    parentIdExpr="ANTERIOR" [showRowLines]="true" [expandedRowKeys]="[1]"
                    (onRowClick)="onRowClickSeccion($event)" [showBorders]="true" [autoExpandAll]="true"
                    [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [columnAutoWidth]="true"
                    [allowColumnResizing]="true" [columnMinWidth]="100" [dataSource]="DSeccion">
                    <dxo-selection mode="single" [recursive]="false"></dxo-selection>
                    <dxo-scrolling mode="normal"></dxo-scrolling>
                    <dxo-search-panel [width]="400" [visible]="true"></dxo-search-panel>
                    <dxi-column dataField="ID_SECCION" caption="Código" [width]="200"></dxi-column>
                    <dxi-column dataField="DESCRIPCION" caption="Nombre" [width]="280"></dxi-column>
                  </dx-tree-list>
                </div>
              </dx-drop-down-box>
            </div>
          </dxi-item>

          <dxi-item itemType="group" *ngIf="accionEspecial === ''">
            <dxi-item dataField="TYPEVALUE" labelLocation="left">
              <dxo-label text=" "></dxo-label>
              <div *dxTemplate>
                <dx-radio-group [readOnly]="readOnlyFormEdit" [items]="DRadioButtons"
                  [value]="FPorcentajeBonos.TYPEVALUE" layout="horizontal" (onValueChanged)="onSelecction($event)">
                </dx-radio-group>
              </div>
            </dxi-item>
          </dxi-item>
          <dxi-item dataField="PORCENTAJE" [colSpan]="1"
            *ngIf="FPorcentajeBonos.TYPEVALUE === 'Porcentaje' && accionEspecial === ''">
            <dxo-label text="Porcentaje"></dxo-label>
            <div *dxTemplate>
              <dx-number-box [readOnly]="readOnlyFormEdit" [value]="FPorcentajeBonos.PORCENTAJE" [min]="0" [max]="300"
                (onValueChanged)="onValueChangedValue($event, 'PORCENTAJE')" placeholder="%"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item dataField="VALOR" [colSpan]="1"
            *ngIf="FPorcentajeBonos.TYPEVALUE === 'Valor' && accionEspecial === ''">
            <dxo-label text="Valor"></dxo-label>
            <div *dxTemplate>
              <dx-number-box [readOnly]="readOnlyFormEdit" [value]="FPorcentajeBonos.VALOR" [min]="0" [max]="9999999"
                (onValueChanged)="onValueChangedValue($event, 'VALOR')" placeholder="#"></dx-number-box>
            </div>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </div>

    <div class="card-content" *ngIf="accionEspecial === ''">
      <dx-data-grid 
        #gridEmpleados 
        id="gridEmpleados" 
        [columnAutoWidth]="true" 
        [dataSource]="Itm_Usuarios"
        [allowColumnResizing]="true" 
        [columnAutoWidth]="true" 
        columnResizingMode="widget" 
        [focusedRowEnabled]="true"
        [rowAlternationEnabled]="true" 
        [hoverStateEnabled]="true" 
        keyExpr="ID_EMPLEADO" 
        noDataText=""
        [showBorders]="true" 
        (onContentReady)="onContentReady($event)" 
        (onRowValidating)="onRowValidating($event)"
        (onRowRemoved)="removedRow($event)" 
        (onInitNewRow)="onInitNewRowPro($event)"
        (onSelectionChanged)="selectionGrid($event)" 
        (onRowUpdating)="updatingRow($event)" 
        [paging]="{ enabled: false }"
        (onEditingStart)="startEdit($event)">

        <dxo-editing mode="cell" 
          [useIcons]="false" 
          [allowUpdating]="!readOnlyFormEdit" 
          [allowDeleting]="false"
          [allowAdding]="!readOnlyFormEdit">
          <dxo-texts confirmDeleteMessage=""> </dxo-texts>
        </dxo-editing>
        <!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->
        <dxo-search-panel [visible]="true" [width]="500" placeholder="Buscar..."></dxo-search-panel>
        <dxo-header-filter [visible]="true" width="280" [allowSearch]="true"></dxo-header-filter>

        <dxo-selection selectAllMode="allPages" [showCheckBoxesMode]="esVisibleSelecc" mode="multiple">
        </dxo-selection>

        <dxi-column dataField="ID_EMPLEADO" caption="Cedula" [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="NOMBRE" caption="Nombre" [allowEditing]="false">
        </dxi-column>
        <dxi-column 
          dataField="BASE_BON" 
          caption="Bono Base" 
          cellTemplate="cellBonoBase"
          alignment="right"
          [allowEditing]="false"
          >
        </dxi-column>

        <dxi-column 
          dataField="BON_ANT" 
          caption="Porcentaje/ Valor anterior"
          width="120"
          alignment="right"
          [allowEditing]="false"
          >
        </dxi-column>

        <dxi-column 
          dataField="PORCENTAJE" 
          caption="Porcentaje Actual" 
          editCellTemplate="editPorcentaje"
          width="120"
          alignment="right"
          >
        </dxi-column>

        <dxi-column 
          dataField="VALOR" 
          caption="Valor" 
          editCellTemplate="editValor"
          alignment="right"
          >
        </dxi-column>

        <dxi-column 
          dataField="DIAS" 
          caption="Dias Laborados"
          alignment="right"
          [allowEditing]="false"
          >
        </dxi-column>
        <dxi-column 
          dataField="BONO_ACTUAL" 
          caption="Bono Actual" 
          alignment="right"
          [allowEditing]="false"
          cellTemplate="cellBonoActual">
        </dxi-column>

        <dxi-column 
          dataField="TOTAL_BONIF" 
          dataType='number'
          width="120"
          caption='TOTAL'
          format="#,###"
          alignment="right"
          width="120"
          [allowEditing]="false">
        </dxi-column>
        <dxi-column 
          dataField="BONO_ANT" 
          dataType='number'
          caption='Bono MesAnt'
          alignment="right"
          width="120"
          format="#,###"
          [allowEditing]="false">
        </dxi-column>
        <dxi-column 
          dataField="TOTAL_DIF_ANT" 
          dataType='number'
          caption='Dif Anterior'
          alignment="right"
          width="120"
          format="#,###"
          [allowEditing]="false">
        </dxi-column>

        <div *dxTemplate="let cellInfo of 'editPorcentaje'">
          <dx-number-box 
            placeholder="Porcentaje" 
            [value]="cellInfo.data.PORCENTAJE" 
            [min]="0"
            [max]="200"
            (onValueChanged)="onValueChangedGridPorcentaje($event, cellInfo)">
          </dx-number-box>
        </div>
        <div *dxTemplate="let cellInfo of 'editValor'">
          <dx-number-box placeholder="Valor" [value]="cellInfo.data.VALOR" [min]="0" [max]="9999999"
            (onValueChanged)="onValueChangedGridValor($event, cellInfo)">
          </dx-number-box>
        </div>

        <div *dxTemplate="let cellInfo of 'cellBonoBase'">
          <div class="dx-datagrid-template">
            <div class="col-2">
              <span>{{ cellInfo.data.BASE_BON | number }}</span>
            </div>
          </div>
        </div>
        <div *dxTemplate="let cellInfo of 'cellBonoActual'">
          <div class="dx-datagrid-template">
            <div class="col-2">
              <span>{{ cellInfo.data.BONO_ACTUAL | number }}</span>
            </div>
          </div>
        </div>
        <dxo-toolbar [visible]="readOnlyFormEdit === false">
          <!-- <dxi-item location="before">
            <div *dxTemplate>
              <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event, 'new')" *ngIf="rowNew">
              </dx-button>
            </div>
          </dxi-item> -->
          <dxi-item location="before">
            <div *dxTemplate>
              <dx-button icon="edit" matTooltip="Editar" (onClick)="operGrid($event, 'edit')" *ngIf="rowEdit">
              </dx-button>
            </div>
          </dxi-item>
          <dxi-item location="before">
            <div *dxTemplate>
              <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event, 'delete')" *ngIf="rowDelete">
              </dx-button>
            </div>
          </dxi-item>
          <dxi-item location="before">
            <div *dxTemplate>
              <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event, 'save')" *ngIf="rowApplyChanges">
              </dx-button>
            </div>
          </dxi-item>
          <dxi-item location="before">
            <div *dxTemplate>
              <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event, 'cancel')"
                *ngIf="rowApplyChanges">
              </dx-button>
            </div>
          </dxi-item>
        </dxo-toolbar>
      </dx-data-grid>
    </div>
  </div>
</div>

<app-vistarapida id="vistaGHU230" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>