<!-- <div style="display: flex; justify-content: center;">
  <dx-data-grid
    #Detalle id="DGDetalle"
    width="90%"
    [dataSource]="DGDetalle"
    [showBorders]="true"
    [selection]="{ mode: 'single' }"
    [(selectedRowKeys)]="selectSeccion"
    (onRowPrepared)="onRowPrepared($event)"
    (onSelectionChanged)="selectionSeccion($event)"
    (onRowRemoved)="deleteRowPro($event)"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [columnMinWidth]="100"
    [rowAlternationEnabled]="true"
    [hoverStateEnabled]="true"
  >
    <dxo-editing mode="row" [useIcons]="true" [allowDeleting]="esEdicion" ></dxo-editing>

    <dxi-column dataField="ID_SECCION"  caption="Sección" dataType="text" alignment="right" cssClass="clsEncabHis"></dxi-column>
    <dxi-column dataField="NOMBRE_SECCION"  caption="Nombre Sección" dataType="text" cssClass="clsEncabHis"></dxi-column>
    <dxi-column dataField="TIPO"  caption="Tipo" dataType="text" cssClass="clsEncabHis"></dxi-column>
    <dxi-column dataField="ID_ACTIVIDAD"  caption="Actividad" dataType="text" cssClass="clsEncabHis"></dxi-column>
  </dx-data-grid>
</div> -->