<div class="row gx-3" style="padding-top: 10px;">

  <div class="col-3" style="padding: 5px;">
    <div class="xt-panel-basico"> <h3> TITULO </h3> </div>
  </div>

  <div class="col-3" style="padding: 5px;">
    <div class="xt-panel-basico"> <h3> TITULO </h3> </div>
  </div>

  <div class="col-6" style="padding: 5px;">
    <div class="xt-panel-basico"> <h3> TITULO </h3> </div>
  </div>

  <div class="col-6" style="padding: 5px;">
    <div class="xt-panel-basico"> <h3> TITULO </h3> </div>
  </div>

</div>