<div class="general-form-container">
  <dx-form [formData]="formData" [readOnly]="readOnly" labelLocation="left" colCount="2">
    
    <dxi-item itemType="group"> 
      
      <dxi-item dataField="FORMATO" editorType="dxSelectBox">
        <dxo-label text="Formato"></dxo-label>
        <div *dxTemplate>
          <dx-select-box
            [dataSource]="[{'text':'Normal', 'value': 0}, {'text':'Manual', 'value': 1}, {'text':'Comprobante de Egreso', 'value': 2}, {'text':'Recibo de caja', 'value': 3}]"
            [value]="formData.FORMATO" 
            [readOnly]="readOnly" 
            placeholder="Seleccione un Formato"
            valueExpr="value" 
            displayExpr="text" 
            (onValueChanged)="onValueChangedForm($event, 'FORMATO')">
          </dx-select-box>
        </div>
      </dxi-item>

      <dxi-item dataField="DIAS_ATRASO">
        <dxo-label text="Días de retraso para registro"></dxo-label>
        <div *dxTemplate>
          <dx-number-box 
            [readOnly]="readOnly" 
            [value]="formData.DIAS_ATRASO" 
            [min]="0" 
            placeholder="100"
            (onValueChanged)="onValueChangedForm($event, 'DIAS_ATRASO')">
          </dx-number-box>
        </div>
      </dxi-item>
    </dxi-item>
      
    <dxi-item itemType="group">
      <dxi-item dataField="INCREMENTO" editorType="dxSelectBox">
        <dxo-label text="Incremento"></dxo-label>
        <div *dxTemplate>
          <dx-select-box 
            [dataSource]="[{text:'Automatico', value: 0}, {text:'Compuesto', value: 1}]"
            valueExpr="value" 
            displayExpr="text" 
            [value]="formData.INCREMENTO" 
            [readOnly]="readOnly"
            placeholder="Seleccione un Incremento"
            (onValueChanged)="onValueChangedForm($event, 'INCREMENTO')">
          </dx-select-box>
        </div>
      </dxi-item>

      <dxi-item dataField="DIGITOS">
        <dxo-label text="Digitos"></dxo-label>
        <div *dxTemplate>
          <dx-number-box 
            [readOnly]="readOnly" 
            [value]="formData.DIGITOS" 
            [min]="1" 
            placeholder="100"
            (onValueChanged)="onValueChangedForm($event, 'DIGITOS')">
          </dx-number-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="simple" [colSpan]="2">
      <div *dxTemplate>
        <hr style="border-top: 1px solid #c1baba; margin: 10px 0;">
      </div>
    </dxi-item>

    <dxi-item itemType="group" caption="Prefijo">
      <dxi-item dataField="EXPRESION_CONSECUTIVO" editorType="dxSelectBox">
        <dxo-label text="Tipo"></dxo-label>
        <div *dxTemplate>
          <dx-select-box 
            [readOnly]="readOnlyIncrement"
            [disabled]="readOnlyIncrement"  
            [dataSource]="['Ninguno', 'Literal', 'Anual', 'Año y mes']"
            [value]="formData.EXPRESION_CONSECUTIVO" 
            placeholder="Seleccione un Tipo"
            (onValueChanged)="onValueChangedForm($event, 'EXPRESION_CONSECUTIVO')">
          </dx-select-box>
        </div>
      </dxi-item>

      <dxi-item dataField="DATO_PREFIJO">
        <dxo-label text="Dato"></dxo-label>
        <div *dxTemplate>
          <dx-text-box 
            [readOnly]="readOnlyIncrement || readOnly"
            [disabled]="readOnlyIncrement"  
            [(value)]="formData.DATO_PREFIJO"
            (onValueChanged)="onValueChangedForm($event, 'DATO_PREFIJO')">
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Sufijo">
      <dxi-item dataField="EXPR_CONSEC_SUFIJO" editorType="dxSelectBox">
        <dxo-label text="Tipo"></dxo-label>
        <div *dxTemplate>
          <dx-select-box 
            [readOnly]="readOnlyIncrement || readOnly"
            [disabled]="readOnlyIncrement"  
            [dataSource]="['Ninguno', 'Literal', 'Anual', 'Año y mes']"
            [value]="formData.EXPR_CONSEC_SUFIJO" 
            placeholder="Seleccione un Tipo"
            (onValueChanged)="onValueChangedForm($event, 'EXPR_CONSEC_SUFIJO')">
          </dx-select-box>
        </div>
      </dxi-item>

      <dxi-item dataField="DATO_SUFIJO">
        <dxo-label text="Dato"></dxo-label>
        <div *dxTemplate>
          <dx-text-box 
            [readOnly]="readOnlyIncrement || readOnly"
            [disabled]="readOnlyIncrement"      
            [(value)]="formData.DATO_SUFIJO"
            (onValueChanged)="onValueChangedForm($event, 'DATO_SUFIJO')">
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="simple" [colSpan]="2">
      <div *dxTemplate>
        <hr style="border-top: 1px solid #c1baba; margin: 10px 0;">
      </div>
    </dxi-item>

    <dxi-item itemType="group" caption="Separador" [colCount]="1">
      <dxi-item dataField="SEPARADOR" editorType="dxSelectBox">
        <dxo-label text="Separador"></dxo-label>
        <div *dxTemplate>
          <dx-select-box 
            [readOnly]="readOnlyIncrement || readOnly"
            [disabled]="readOnlyIncrement"  
            [dataSource]="['.', '/', '_', '\\']" 
            [value]="formData.SEPARADOR"
            placeholder="Seleccione un Separador"
            (onValueChanged)="onValueChangedForm($event, 'SEPARADOR')">
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item> 

  </dx-form>
</div>