<dx-tree-list
  #treeList01506
  [dataSource]="DTreeList"
  keyExpr="ID_APLICACION"
  parentIdExpr="ID_APLICACION_PADRE"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [allowColumnResizing]="true"
  columnResizingMode="nextColumn"
  [rowAlternationEnabled]="true"
  [hoverStateEnabled]="true"
  [focusedRowEnabled]="true"
  [(focusedRowKey)]="focusedRowKey"
  [autoExpandAll]="true"
  width="100%"
  height="calc(100vh - 340px)"
>
  <dxo-scrolling mode="standard"></dxo-scrolling>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel [visible]="true" [width]="200"></dxo-search-panel>
  <dxo-selection mode="single"></dxo-selection>

  <dxo-editing
    mode="cell"
    [allowUpdating]="esEdicion"
    [allowAdding]="false"
    [allowDeleting]="false">
  </dxo-editing>

  <dxi-column dataField="ID_APLICACION" caption="Id Aplicación" [width]="150"></dxi-column>
  <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
  <dxi-column dataField="VER" caption="Ver" [width]="80" alignment="center" [allowEditing]="false" cellTemplate="verTemplate"></dxi-column>
  <!-- <dxi-column dataField="DATA_IA" caption="Data IA" dataType="boolean" [width]="80" alignment="center"></dxi-column> -->

  <div *dxTemplate="let cell of 'verTemplate'" style="text-align:center">
    <dx-check-box
      [value]="cell.data.VER"
      [disabled]="!esEdicion"
      (onValueChanged)="onCheckVer(cell.data, $event.value)">
    </dx-check-box>
  </div>
</dx-tree-list>
