
<dx-data-grid
	#gridDetalles
	id="gridDetalles"
	width="100%"
	height="500px"
	class="xt-subgrid"
	keyExpr="ITEM"
	noDataText="No hay datos"
	columnResizingMode="nextColumn"
	[columnAutoWidth]="true"
	[focusedRowEnabled]="true"
	[hoverStateEnabled]="true"
	[showBorders]="true"
	[allowColumnResizing]="true"
	[dataSource]="DgDetalles"
	[customizeColumns]="customizeColumns"
	(onContentReady)="onContentReadyGridDetalles($event)"
>
	<dxo-editing
		mode="cell"
		[useIcons]="false"
		[allowUpdating]="true"
		[allowDeleting]="false"
		[allowAdding]="false"
	>
		<dxo-texts
			confirmDeleteMessage="">
		</dxo-texts>
	</dxo-editing>
	<!-- <dxo-selection
		selectAllMode="allPages"
		[showCheckBoxesMode]="esVisibleSelecc"
		mode="multiple">
	</dxo-selection> -->
	<dxo-scrolling mode="virtual"></dxo-scrolling>

	<div *dxTemplate="let cellInfo of 'headerTemplateCheck'" style="display: flex; align-items: center;" >
    <span>{{ cellInfo.column.caption }}</span>
		<dx-check-box
			#checkAll{{cellInfo.column.dataField}}
			[id]="'checkAll'+cellInfo.column.dataField"
			style="margin-left: 5px;"
			[value]="getDataValueCheckHeader(cellInfo, 'header') | async"
			(onContentReady)="onContentReadyCheckAll($event, cellInfo)"
			(onValueChanged)="onValueChangedCheck($event, cellInfo)"
		></dx-check-box>
  </div>

	<div *dxTemplate="let cellInfo of 'editCkeckBox' ">
		<dx-check-box
			#check
			id="check"
			[readOnly]="getDataValue(cellInfo, 'readOnly') | async"
			[value]="getDataValue(cellInfo, 'value') | async"
			(onValueChanged)="onValueChangedCheck($event, cellInfo)"
		></dx-check-box>
	</div>

	<div *dxTemplate="let cellInfo of 'editTextBox' ">
		<dx-text-box
			[readOnly]="getDataValue(cellInfo, 'readOnly') | async"
			[value]="getDataValue(cellInfo, 'value') | async"
			(onValueChanged)="onValueChangedValue($event, cellInfo)"
		></dx-text-box>
	</div>

	<div *dxTemplate="let cellInfo of 'editNumberBox' ">
		<dx-number-box
			width="auto"
			[min]="0"
			[format]="getDataValue(cellInfo, 'format') | async"
			[readOnly]="getDataValue(cellInfo, 'readOnly') | async"
			[value]="getDataValue(cellInfo, 'value') | async"
			(onValueChanged)="onValueChangedValue($event, cellInfo)"
		></dx-number-box>
	</div>

	<div *dxTemplate="let cellInfo of 'editTimeBox' ">
		<dx-date-box
			#hora
			type="time"
			[inputAttr]="{ 'aria-label': 'Time' }"
			[readOnly]="getDataValue(cellInfo, 'readOnly') | async"
			[value]="getDataValue(cellInfo, 'value') | async"
		></dx-date-box>
	</div>

	<div *dxTemplate="let cellInfo of 'editDateBox' ">
		<dx-date-box
			#fecha
			type="date"
			placeholder="D/M/AA"
			[inputAttr]="{ 'aria-label': 'Date' }"
			[readOnly]="getDataValue(cellInfo, 'readOnly') | async"
			[value]="getDataValue(cellInfo, 'value') | async"
		></dx-date-box>
	</div>

</dx-data-grid>

<div style="width: 100%; height: 40px; display: flex; justify-content: flex-end; align-items: center;">
	<dx-button 
		#guardarAutorizacion
		id="guardarAutorizacion"
		stylingMode="contained"
		type="default"
		text="Guardar"
		[width]="120"
		[disabled]="btnAutorizar"
		(onClick)="opPrepararGuardar($event)"
	></dx-button>
</div>