<!-- Sub-Menú de opciones -->
<dx-popup width="800" [height]="'auto'" [maxHeight]="'90vh'" [showTitle]="true" title="Seguimiento a la Orden de compra"
    [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="visiblePopup">

    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="configBotonAceptar">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="configBotonCancelar">
    </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">

        <dx-scroll-view>

            <dx-form class="dx-form-group" id="formEgreso" [formData]="DSeguimiento" labelLocation="left"
                [colCount]="1">
                <dxi-item caption="Orden de ompra" itemType="group" [colCount]="2">
                    <dxi-item dataField="DOCUMENTO" [editorOptions]="{ readOnly: true }">
                        <dxo-label text="Orden de Compra"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="FECHA_SOLICITUD" editorType="dxDateBox"
                        [editorOptions]="{ readOnly: true, displayFormat: 'yyyy/MM/dd HH:mm' }">
                        <dxo-label text="Fecha OC"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="PROVEEDOR" [colSpan]="2" [editorOptions]="{ readOnly: true }">
                        <dxo-label text="Proveedor"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="FECHA_ENTREGA" editorType="dxDateBox"
                        [editorOptions]="{ readOnly: true, displayFormat: 'yyyy/MM/dd HH:mm' }">
                        <dxo-label text="Fecha Entrega"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="GESTIONAR" editorType="dxSwitch" (onValueChanged)="onValueChangedGes($event)"
                        *ngIf="DSeguimiento.ULT_ESTADO != 'CERRADA'">
                        <dxo-label text="Generar Gestión"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="ULT_ESTADO" *ngIf="DSeguimiento.ULT_ESTADO == 'CERRADA'"
                        [editorOptions]="{ readOnly: true }">
                    </dxi-item>
                </dxi-item>

                <dxi-item caption="Datos seguimiento" itemType="group" [colCount]="2" *ngIf="DSeguimiento.GESTIONAR">
                    <dxi-item dataField="FECHA_GESTION" editorType="dxDateBox"
                        [editorOptions]="{ readOnly: true, displayFormat: 'yyyy/MM/dd HH:mm' }">
                        <div *dxTemplate>
                            <dx-date-box type="datetime" [value]="DSeguimiento.FECHA_GESTION"
                                [disabledDates]="disableDates" [readOnly]="true"
                                (onValueChanged)="onChangeFechaGes($event)">
                            </dx-date-box>
                        </div>
                        <dxo-label text="Fecha gestión"></dxo-label>
                    </dxi-item>
                    <!-- <dxi-item dataField="FECHA_REGISTRO" editorType="dxDateBox" [editorOptions]="{ readOnly: true, displayFormat: 'yyyy/MM/dd HH:mm' }">
                        <dxo-label text="Fecha registro"></dxo-label>
                    </dxi-item> -->
                    <dxi-item dataField="CERRAR" editorType="dxSwitch" (onValueChanged)="onValueChangedCerrar($event)">
                        <dxo-label text="Cierre seguimiento"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="FECHA_REPROGRAMADA" editorType="dxDateBox"
                        [editorOptions]="configFechaEntrega">
                        <dxo-label text="Fecha Reprogramadad"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="VALOR_CAUSAL" editorType="dxSelectBox" [editorOptions]="configCausal">
                        <dxo-label text="Causal"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="OBSERVACIONES" [colSpan]="2">
                        <div *dxTemplate>
                            <dx-text-area [height]="90" [(value)]="DSeguimiento.OBSERVACIONES"
                                (onValueChanged)="onValueChangedObs($event)"></dx-text-area>
                        </div>
                        <dxo-label text="Observación"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="ENVIAR_EMAIL" editorType="dxSwitch"
                        (onValueChanged)="onValueChangedEnviarEmail($event)">
                        <dxo-label text="Enviar email al proveedor"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="EMAIL" [colSpan]="2" *ngIf="DSeguimiento.ENVIAR_EMAIL">
                        <div *dxTemplate>
                            <dx-tag-box #dxEmail placeholder="Escriba o seleccione emails..." id="dxEmail"
                                [dataSource]="DListaEmail" displayExpr="EMAIL" valueExpr="EMAIL"
                                noDataText="No se encontraron correos registrados" [acceptCustomValue]="true"
                                [(value)]="DSeguimiento.EMAIL" (onCustomItemCreating)="addCustomItem($event)"
                                (onValueChanged)="onSeleccEmail($event)" [showSelectionControls]="true"
                                [selectAllMode]="'allPages'" [hideSelectedItems]="false" [searchEnabled]="true"
                                applyValueMode="instantly">
                                <dxi-button name="btnEnviar" location="after" [options]="perfilButton"
                                    matTooltip="Enviar email..."></dxi-button>
                            </dx-tag-box>
                        </div>
                        <dxo-label text="Email(s)"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="PROGRAMAR" editorType="dxSwitch" (onValueChanged)="onValueChangedProg($event)"
                        *ngIf="!DSeguimiento.CERRAR">
                        <dxo-label text="Generar Programación"></dxo-label>
                    </dxi-item>

                </dxi-item>

                <dxi-item caption="Programación" itemType="group" [colCount]="2" *ngIf="DSeguimiento.PROGRAMAR">
                    <dxi-item dataField="FECHA_PROGRAMADA" editorType="dxDateBox"
                        [editorOptions]="{ displayFormat: 'yyyy/MM/dd HH:mm' }">
                        <div *dxTemplate>
                            <dx-date-box type="datetime" [value]="DSeguimiento.FECHA_PROGRAMADA"
                                [disabledDates]="disableDates" (onValueChanged)="onChangeFechaProg($event)">
                            </dx-date-box>
                        </div>
                        <dxo-label text="Fecha Tarea"></dxo-label>
                    </dxi-item>

                    <!-- <dxi-item dataField="ACCION" >
                        <dxo-label text="Movimiento"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box
                                #dxAccion
                                id="dxAccion"
                                [dataSource]="DListaAccion"
                                displayExpr="ACCION"
                                valueExpr="ACCION"
                                [(value)]="DSeguimiento.ACCION"
                                (onValueChanged)="onSeleccAccion($event)"
                            >
                            </dx-select-box>
                        </div>
                    </dxi-item> -->
                    <dxi-item dataField="ID_USUARIO" editorType="dxTextBox"
                        [editorOptions]="{ readOnly: true, stylingMode: 'filled' }">
                        <dxo-label text="Responsable"></dxo-label>
                    </dxi-item>

                </dxi-item>

            </dx-form>

            <div *ngIf="!DSeguimiento.GESTIONAR">

                <dx-data-grid #gridOrdenCompraItems [dataSource]="DItemsGestionCompra" [allowColumnResizing]="true"
                    columnResizingMode="widget" [focusedRowEnabled]="true" [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true" keyExpr="ITEM" noDataText="" [showBorders]="true">

                    <!-- <dxo-filter-row
                    [visible]="true"></dxo-filter-row>
                <dxo-header-filter
                    [visible]="true"></dxo-header-filter> -->

                    <dxo-paging [pageSize]="20">
                    </dxo-paging>

                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                    <dxi-column dataField="ITEM" [visible]="false">
                    </dxi-column>

                    <dxi-column dataField="FECHA_GESTION" caption="Fecha Gestión" dataType="date"
                        format="yyyy-MM-dd HH:mm">
                    </dxi-column>

                    <dxi-column dataField="USUARIO" caption="Usuario">
                    </dxi-column>

                    <dxi-column dataField="ESTADO" caption="Estado">
                    </dxi-column>

                    <dxi-column dataField="OBSERVACIONES" caption="Obs">
                    </dxi-column>

                    <dxi-column dataField="FECHA_PROGRAMADA" caption="Fecha Prog" dataType="date"
                        format="yyyy-MM-dd HH:mm">
                    </dxi-column>
                     <dxi-column dataField="PRODUCTO" caption="Item">
                    </dxi-column>
                    <dxi-column dataField="ACCION" caption="Acción">
                    </dxi-column>

                </dx-data-grid>
            </div>

        </dx-scroll-view>

    </div>

</dx-popup>