.popup-scroll-content {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 8px;
  overflow-y: scroll;
}

 ::ng-deep .btnAceptar .dx-button-content {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

::ng-deep .btnCancelar .dx-button-content {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Esto asegura que el icono herede el color del texto */
::ng-deep .btnAceptar .dx-icon {
  color: inherit !important;
}

::ng-deep .btnCancelar .dx-icon {
  color: inherit !important;
}

