::ng-deep .dx-invalid-message.dx-overlay {  
  position: fixed!important;  
  z-index: 5000!important;  
}  
::ng-deep .backa {
  background-color: red;
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort-indicator {
  color: #4c4c4c !important;
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort {
  color: #4c4c4c !important;
}

