<cdk-accordion class="accordion-container unbg-input" [multi]="true">
  <cdk-accordion-item
    *ngFor="let item of items; let index = index;"
    #accordionItem="cdkAccordionItem"
    class="accordion-item"
    role="button"
    tabindex="0"
    [expanded]="accordionExpand[index]"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <!-- ITEM PARTES, MATERIALES, MANO OBRA -->
    <div
      (click)="accordionItem.toggle()"
      class="accordion-item-header"
      [ngStyle]="{'background-color': accordionItem.expanded ? 'transparent' : '', 'border-radius': accordionItem.expanded ? '10px 10px 0 0' : '' }"
    >

      <div class="accordion-item-group" >
        <div>
          <span class="accordion-item-description" *ngIf="accordionItem.expanded">
            <i class="icon-chevron-up-xs"></i>
          </span>
          <span class="accordion-item-description" *ngIf="!accordionItem.expanded">
            <i class="icon-chevron-down-xs"></i>
          </span>
        </div>
        <span class="accordion-caption"> {{ item }} </span>
      </div>
      
      <!-- ITEM MATERIALES -->
      <div class="accordion-item-description" *ngIf="item === 'Materiales'">
        <div class="spanTotal" style="margin-right: 20px;">
          <span>
            Sub-Total:
          </span>
          <dx-number-box
            [min]="0"
            width="auto"
            format="#,##0.00"
            [readOnly]="true"
            [value]="SUBTOTAL_MA"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"
          ></dx-number-box>
        </div>
        <div class="spanTotal"  style="margin-right: 20px;">
          <span>
            Protección:
          </span>
          <dx-number-box
            [min]="0"
            width="auto"
            format="#,##0.00"
            [readOnly]="true"
            [value]="PROTECCION_MA"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"
          ></dx-number-box>
        </div>
        <div class="spanTotal">
          <span>
            Total:
          </span>
          <dx-number-box
            [min]="0"
            width="auto"
            format="#,##0.00"
            [readOnly]="true"
            [value]="TOTAL_MATERIALES"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"
          ></dx-number-box>
        </div>
      </div>

      <!-- ITEM MANO OBRA -->
      <div class="accordion-item-description" *ngIf="item === 'Mano de Obra'">
        <div class="spanTotal"  style="margin-right: 20px;">
          <span>
            Sub-Total:
          </span>
          <dx-number-box
            [min]="0"
            width="auto"
            format="#,##0.00"
            [readOnly]="true"
            [value]="SUBTOTAL_MO"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"
          ></dx-number-box>
        </div>
        <div class="spanTotal"  style="margin-right: 20px;">
          <span>
            Protección:
          </span>
          <dx-number-box
            [min]="0"
            width="auto"
            format="#,##0.00"
            [readOnly]="true"
            [value]="PROTECCION_MO"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"
          ></dx-number-box>
        </div>
        <div class="spanTotal">
          <span>
            Total:
          </span>
          <dx-number-box
            [min]="0"
            width="auto"
            format="#,##0.00"
            [readOnly]="true"
            [value]="TOTAL_MANO_OBRA"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"
          ></dx-number-box>
        </div>
      </div>

    </div>

    <!-- PESTAÑAS/COMPONENTES SECCIONES -->
    <div
      class="accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      <div *ngIf="item === 'Materiales'">
        <app-PRO01902
          [getExcGrav]="ExcGrav"
          (send_totalMateriales)="getTotalMateriales($event)"
          (send_totalGraExc)="getTotalGraExc($event)"
        ></app-PRO01902>
      </div>
      <div *ngIf="item === 'Mano de Obra'">
        <app-PRO01903
          (send_totalManoObra)="getTotalManoObra($event)"
        ></app-PRO01903>
      </div>
    </div>

  </cdk-accordion-item>
</cdk-accordion>