/* .container-principal {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-hijos {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin: 0 10px;
}

.container-bottom {
  position: absolute;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
}

.card {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.container-tareas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95%;
  padding-top: 5px;
}

.container-fechas {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  width: 100%;
}

::ng-deep .mat-card-header .mat-card-title {
  width: 100% !important;
  font-size: 20px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
  width: 100%;
}

::ng-deep .mat-card-title {
  margin-bottom: 3px !important;
}

.conten-descripcion {
  width: 100%;
  height: 40px;
}

.conten-descripcion p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */

.container-principal {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-hijos {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin: 0 10px;
}

.container-tareas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95%;
  padding-top: 5px;
}

.container-tareas .mat-card {
  width: inherit;
  margin: .25rem 0;
  box-shadow: 0px 1px 5px 0px rgba(201,201,201,0.26);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(201,201,201,0.26);
  -moz-box-shadow: 0px 1px 5px 0px rgba(201,201,201,0.26);
}

.container-tareas .mat-card:first-child {
  margin-top: 0!important;
}
