<div class="card-content" style="display: flex; flex-direction: column; min-height: 500px;">
  
  <!-- Sistema de Pestañas Superiores -->
  <dx-tab-panel
    [dataSource]="tabs"
    [(selectedIndex)]="selectedIndex"
    [animationEnabled]="true"
    [swipeEnabled]="true"
    itemTitleTemplate="title"
    itemTemplate="item">

    <div *dxTemplate="let tab of 'title'">
      <span>{{ tab.text }}</span>
    </div>

    <div *dxTemplate="let tab of 'item'">
      <div style="padding: 15px 0;">
        
        <ng-container [ngSwitch]="tab.id">
          
          <!-- Crear MDP -->
          <ng-container *ngSwitchCase="0">
            <app-pro036></app-pro036>
          </ng-container>

          <!-- Gestionar MDP (Aquí está la grilla principal que migramos a PRO03203) -->
          <ng-container *ngSwitchCase="1">
            <app-pro038></app-pro038>
          </ng-container>

          <!-- Historico MDP -->
          <ng-container *ngSwitchCase="2">
            <app-pro037></app-pro037>
          </ng-container>

        </ng-container>

      </div>
    </div>
  </dx-tab-panel>

</div>
