#HtsNotifications {
  -webkit-box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 6px 8px rgba(17, 17, 26, 0.1);
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 6px 8px rgba(17, 17, 26, 0.1);
}

.dropdown-menu-xt {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 10% !important;
  color: #23282c;
  background-clip: padding-box;
  border: 1px solid #e1e7ef;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 6px 8px rgba(17, 17, 26, 0.1);
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 6px 8px rgba(17, 17, 26, 0.1);
}

.subMenu {
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0px 0px -125px;
  width: 200px;
  padding: 0.25rem 0.25rem 0.5rem;
  border: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 6px 8px rgba(17, 17, 26, 0.1);
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05),
    0px 6px 8px rgba(17, 17, 26, 0.1);
}

.subMenu-li {
  display: flex !important;
  justify-content: flex-start !important;
  width: 100%;
  line-height: 30px;
  padding: 5px;
  cursor: pointer;
}

.subMenu-li:hover {
  border-radius: 10px;
  color: #333;
  background-color: rgba(15, 76, 129, 0.06);
}

.subMenu-a {
  width: 7%;
  display: flex;
  align-items: center;
  position: relative;
  text-align: start;
  text-decoration: none;
  color: #464849;
  cursor: pointer;
}

.subMenu-a span {
  vertical-align: middle;
  font-size: 19px;
  line-height: 18px;
}

.subMenu-a:hover {
  text-decoration: none;
}

.subMenu-i {
  margin-left: 10px;
  vertical-align: middle;
}

.subMenu-a:active,
.subMenu-a:focus {
  text-decoration: none;
}
.ntf {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
}
.ntf:hover {
  background: rgba(26, 115, 232, 0.085);
  color: rgba(10, 57, 96, 1);
}

.dateBox-fechas {
  box-shadow: inset 0 0 0 0px #33333380 !important;
  color: #0d6efd !important;
}

.avatar-content {
  width: 65px;
  height: auto !important;
  border-radius: 50%;
  /* margin-left: 10px !important; */
}

.avatar-content .dropdown-toggle::after {
  top: 12px !important;
  right: 0 !important;
  padding: 3px !important;
}

.dateBox-fechas {
  box-shadow: inset 0 0 0 0px #33333380 !important;
}

.mensaje {
  width: 95%;
  font-size: 12px;
  line-height: 1.7;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nombre_actividad {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}
.descripcion {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
}
.content_text_aplication {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  cursor: pointer;
  width: 94%;
}
.content_detalle {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.content_description {
  width: 93%;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 11px;
  line-height: 17px;
}
.content_accion {
  width: 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content_circle {
  display: flex;
  width: 10px;
  height: 10%;
}
.circle_status {
  width: 100%;
}
.btn_action {
  background-color: transparent;
  border: none;
  padding: 0;
}

.icon_check_color {
  color: #8a9caa;
  font-size: 18px;
}
.icon_doublecheck_color {
  color: blue;
  font-size: 18px;
}
.content_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: auto;
  height: 10%;
  /* padding: 14px 14px; */
}
