<!-- Sub-Menú de opciones -->
<dx-popup
    width="600"
    [height]="'auto'"
    [showTitle]="false"
    title="Acciones sobre la Orden de compra"
    [hideOnOutsideClick]="false"
    [showCloseButton]="true"
    [(visible)]="visiblePopup">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonAceptar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonCancelar"
    >
    </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">
      <!-- (onSelectionChanged)="onSelectionChanged($event)" -->
      <dx-list
        id="listaAccionesOrdenes"
        [dataSource]="listaValores"
        keyExpr="ACCION"
        selectionMode="single"
        selectByClick="true"
        height="auto"
        [showSelectionControls]="true"
        [(selectedItemKeys)]="seleccionValor"
        (onSelectionChanged)="onSelectionChanged($event)"
        (onInitialized)="onInitialized($event)"
      >
        <div *dxTemplate="let item of 'item'" 
            style="width: 100%; border-style: solid; border-width: 1px; border-color: #e0e7e0;">
            {{ item.ACCION }}
        </div>
      </dx-list>

      <div style="margin-top: 20px;">
        <span style="padding-bottom: 5px;">Justificación</span>
        <dx-text-area
          [height]="90"
          [(value)]="descJustificacion"
          (onValueChanged)="onValueChangedJust($event)"
        ></dx-text-area>
      </div>

    </div>

</dx-popup>
