<dx-popup
  #popUpPrerecaudos
  id="popUpPrerecaudos"
  [(visible)]="popupVisible"
  [width]="'75%'"
  [height]="'80vh'"
  [showTitle]="true"
  title="Pre-recaudos"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  (onResize)="onResizeEnd($event)"
>
  <div *dxTemplate="let data of 'content'" class="popup-content">

    <div class="excel-upload-container">
      <div class="uploader-row">
        <dx-file-uploader
          selectButtonText="Seleccionar archivo Excel"
          labelText="o arrastre el archivo aquí"
          accept=".xlsx,.xls"
          uploadMode="useForm"
          [multiple]="false"
          (onValueChanged)="onFileSelected($event)"
        >
        </dx-file-uploader>

        <dx-button
          #btnLimpiar
          id="btnLimpiar"
          *ngIf="DPrerecaudos.length"
          text="Limpiar"
          icon="clear"
          stylingMode="outlined"
          (onClick)="clearGrid()"
        >
        </dx-button>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div *ngIf="fileName && !errorMessage" class="file-info">
        Archivo cargado: <strong>{{ fileName }}</strong> ({{
          DPrerecaudos.length
        }}
        registros)
      </div>

      <div class='grilla-flexible'>
        <dx-data-grid
          #gridPrerecaudos
          id="gridPrerecaudos"
          [dataSource]="DPrerecaudos"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [rowAlternationEnabled]="true"
          [loadPanel]="{ enabled: isLoading }"
          [wordWrapEnabled]="true"
          [height]="'100%'"
          [wordWrapEnabled]="false"
        >
          <dxi-column
            dataField="IdCliente"
            caption="ID Cliente"
            dataType="string"
            [width]="150"
          ></dxi-column>
          <dxi-column
            dataField="Nombre"
            caption="Nombre"
            dataType="string"
          ></dxi-column>
          <dxi-column
            dataField="NroObligacion"
            caption="Nro Obligación"
            dataType="string"
          ></dxi-column>
          <dxi-column
            dataField="Cuota"
            caption="Cuota"
            dataType="number"
            format="###"
          ></dxi-column>
          <dxi-column
            dataField="Valor"
            caption="Valor"
            dataType="number"
            format="#,##0.00"
            [width]="150"
          ></dxi-column>
          <dxi-column
            dataField="Saldo"
            caption="Saldo"
            dataType="number"
            format="#,##0.00"
            [width]="150"
          ></dxi-column>
          <dxi-column
            dataField="Status"
            caption="Status"
            dataType="string"
            cellTemplate="statusTemplate"
          ></dxi-column>
          <dxi-column
            dataField="Abono"
            caption="Abono"
            dataType="number"
            format="#,##0.00"
            [width]="150"
          ></dxi-column>
          <dxi-column
            dataField="SaldoFinal"
            caption="Saldo Final"
            dataType="number"
            format="#,##0.00"
            [width]="150"
          ></dxi-column>

          <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
            <dxi-total-item
              column="Abono"
              summaryType="sum"
              [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
              displayFormat="{0}"
            >
            </dxi-total-item>
            <dxi-total-item
              name="totalPrerecaudo"
              summaryType="custom"
              showInColumn="Valor"
              [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
              displayFormat="Total: {0}">
            </dxi-total-item>
          </dxo-summary>

          <dxo-paging [pageSize]="15"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[15, 30, 50]"
            [showInfo]="true"
          ></dxo-pager>

          <div *dxTemplate="let data of 'statusTemplate'">
            <span class="badge" [ngClass]="obtenerClaseBadge(data.value)">
              {{ data.value }}
            </span>
          </div>
        </dx-data-grid>
    </div>
    </div>
  </div>

  <dxi-toolbar-item toolbar="bottom" location="before">
    <dx-select-box
      #dxBanco
      id="dxBanco"
      [dataSource]="DBancos"
      [(value)]="bancoRecaudo"
      valueExpr="BANCO"
      displayExpr="BANCO"
      width="190px"
      placeholder="Medio de Pago"
      [dropDownOptions]="dropDownOptionsBancos"
      (onValueChanged)="onSeleccBanco($event)"
    >
    </dx-select-box>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="bottom" location="before">
    <!-- <dx-text-box
      [(value)]="detalleRecaudo"
      placeholder="Descripcion pagaduría"
      width="250px"
      >
    </dx-text-box> -->
    <dx-select-box
      #dxPagaduria
      id="dxPagaduria"
      [dataSource]="DPagaduria"
      [(value)]="idPagaduria"
      valueExpr="ID_CLIENTE"
      displayExpr="NOMBRE"
      width="190px"
      placeholder="Pagaduría"
      [dropDownOptions]="dropDownOptionsBancos"
      (onValueChanged)="onSeleccPagaduria($event)"
    >
    </dx-select-box>

  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="bottom" location="before">
    <dx-date-box
      [(value)]="fechaRecaudo"
      type="date"
      displayFormat="dd/MM/yyyy"
      dateSerializationFormat="yyyy-MM-dd"
    >
    </dx-date-box>
  </dxi-toolbar-item>

  <dxi-toolbar-item location="after" toolbar="bottom">
    <dx-button
      text="Aceptar"
      type="success"
      (onClick)="aceptarRecaudo()"
      icon="check"
    ></dx-button>
    <dx-button
      text="Cancelar"
      type="danger"
      (onClick)="cancelarRecaudo()"
      [style]="{ marginLeft: '10px' }"
      icon="close"
    ></dx-button>
  </dxi-toolbar-item>

</dx-popup>
