<dx-data-grid
    #gridBodegas
    id="gridBodegas"
    class="xt-datagrid"
    noDataText="" 
    [dataSource]="DBodegas"
    keyExpr="ITEM"
    [allowColumnResizing]="true"
    columnResizingMode="nextColumn"
    [showBorders]="true"
    [focusedRowEnabled]="true"
    (onContentReady)="onContentReady($event)"
    (onInitNewRow)="onInitNewRow($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onRowInserting)="insertingRow($event)"
    (onRowInserted)="insertedRow($event)"
    (onRowUpdating)="updatingRow($event)"
    (onRowUpdated)="updatedRow($event)"
    (onRowRemoved)="removedRow($event)"
    (onEditingStart)="onEditingStart($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowValidating)="onRowValidating($event)"
    (onSelectionChanged)="selectionGrid($event)"
>   

    <dxo-editing 
        mode="row"
        [useIcons]="false" 
        [allowUpdating]="esEdicion" 
        [allowDeleting]="false" 
        [allowAdding]="esEdicion">
        <dxo-texts
            confirmDeleteMessage="">
        </dxo-texts>
    </dxo-editing>

    <dxo-selection 
        selectAllMode="allPages"
        [showCheckBoxesMode]="esVisibleSelecc" 
        mode="multiple">
    </dxo-selection>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

    <dxi-column dataField="ID_UN_ASOCIADA"
                [groupIndex]="0"
                [visible]="visibleGrupoUN"
                groupCellTemplate="grpID_UN_ASOCIADA"
    ></dxi-column>
    
    <dxi-column dataField="ID_UN_BODEGA" 
                caption="Bodega" 
                width="20%"
                calculateDisplayValue="ID_UN_BODEGA"
    ></dxi-column>
    <dxi-column dataField="DESCRIPCION" 
                calculateDisplayValue="DESCRIPCION" 
                caption="Nombre" 
                [allowEditing]="false"
    ></dxi-column>
    <dxi-column dataField="MAXIMO"
                caption="Maximo"
                alignment="left"
                editCellTemplate="editMax"
    ></dxi-column>
    <dxi-column dataField="MINIMO"
                caption="Minimo"
                alignment="left"
                editCellTemplate="editMin"
    ></dxi-column>
    <dxi-column dataField="UBICACION" caption="Ubicación" editCellTemplate="editUbicacion" ></dxi-column>

    <div *dxTemplate="let grupoObj of 'grpID_UN_ASOCIADA'"  class="tem-grupo-un">
        <div class="dx-datagrid-template">
            <div>
                <span> UN Asocida: </span>
                <span>{{ templateHtml(grupoObj, 'ID_UN_ASOCIADA') }} {{ templateHtml(grupoObj, 'NOMBRE_UN') }}</span>
            </div>
        </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editMax'">
        <dx-number-box
            [min]="0"
            [(value)]="cellInfo.data.MAXIMO"
            [readOnly]="!esEdicion"
            format="#0.##"
            (onValueChanged)="onValueChangedMinMax($event, 'maximo', cellInfo)"
        ></dx-number-box>
    </div>
    <div *dxTemplate="let cellInfo of 'editMin'">
        <dx-number-box
            [min]="0"
            [(value)]="cellInfo.data.MINIMO"
            [readOnly]="!esEdicion"
            format="#0.##"
            (onValueChanged)="onValueChangedMinMax($event, 'minimo', cellInfo)"
        ></dx-number-box>
    </div>
    <div *dxTemplate="let cellInfo of 'editUbicacion'">
        <dx-text-box
            #txtUbicacion
            id="txtUbicacion"
            placeholder="Digite Ubicación en Bodega"
            [readOnly]="!esEdicion"
            [value]="cellInfo.data.UBICACION"
            (onValueChanged)="onValueChangedUbicacion($event, cellInfo)"
        >
            <dx-validator>
                <dxi-validation-rule
                    type="stringLength"
                    [min]="5"
                    [max]="45"
                    message="Debe tener min:5 y max:45 caracteres*"
                ></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>

    <dxo-toolbar *ngIf="esEdicion">
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'edit')" *ngIf="rowEdit">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
            </dx-button>
            </div>
        </dxi-item>
        
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
            </dx-button>
            </div>
        </dxi-item>
       
    </dxo-toolbar>
    
</dx-data-grid>

<app-xc-combo-grid
    [events]="eventsSubjectComboGrid.asObservable()"
    (onRespuestaSelecc)="onRespuestaSelecc($event)"
></app-xc-combo-grid>
