<dx-data-grid
    #gkardex
    id="gkardex"
    keyExpr="ITEM_KARDEX"
    columnResizingMode="widget"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [dataSource]="DKardex"
    (onExporting)="onExporting($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onCellPrepared)="onCellPrepared($event)"
>

    <dxo-filter-row
        [visible]="true"></dxo-filter-row>
    <dxo-header-filter
        [visible]="true"></dxo-header-filter>
    <dxo-search-panel
        [visible]="true"
        [width]="240"
        placeholder="Buscar..."></dxo-search-panel>
    <dxo-group-panel [visible]="false"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

    <dxo-paging
        [pageSize]="50">
    </dxo-paging>
    <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        displayMode="full"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true">
    </dxo-pager>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-column-chooser
        [height]="340"
        #columnChooser
        [enabled]="true"
        colum
        [mode]="columnChooserModes[1].key"
    >
        <dxo-position
            my="right top"
            at="right bottom"
            of=".dx-datagrid-column-chooser-button"
        ></dxo-position>

        <dxo-selection
            [allowSelectAll]="allowSelectAll"
            [recursive]="recursive"
        ></dxo-selection>
    </dxo-column-chooser>

    <dxi-column
        dataField="ID_UN_BODEGA"
        [groupIndex]="0"
        groupCellTemplate="grpTempBodega"
        [allowEditing]="true"
        caption="Bodega"
        [width]="100"
        sortOrder="asc"
        >
    </dxi-column>

    <dxi-column
        dataField="PRODUCTO"
        [groupIndex]="1"
        groupCellTemplate="grpTempProducto"
        [allowEditing]="true"
        caption="Producto"
        [width]="150"
        [fixed]="false">
    </dxi-column>

    <dxi-column dataField="NOMBRE" [allowEditing]="false" caption="Nombre" ></dxi-column>
    <dxi-column dataField="UDM_EQUIV" [allowEditing]="false" caption="UM" ></dxi-column>
    <dxi-column dataField="TIPO_INVENTARIO" [allowEditing]="false" caption="T.Inv" ></dxi-column>
    <dxi-column dataField="ATRIBUTO" [allowEditing]="false" caption="Atr" ></dxi-column>
    <dxi-column dataField="ID_SOPORTE" [allowEditing]="false" caption="Id Sop" ></dxi-column>
    <dxi-column dataField="NC_SOPORTE" [allowEditing]="false" caption="Num Sop" cellTemplate="cellTplIrA">
    </dxi-column>
    <dxi-column dataField="TIPO_MOVIMIENTO" [allowEditing]="false" caption="Tipo Mov"></dxi-column>
    <dxi-column dataField="FECHA" [allowEditing]="false" caption="Fecha" dataType="date" format="yyyy-MM-dd" ></dxi-column>
    <dxi-column dataField="HORA" [allowEditing]="false" caption="Hora" dataType="date" format="HH:mm:ss"></dxi-column>
    <!-- <dxi-column dataField="ATRIBUTO" [allowEditing]="false" caption="Atr" ></dxi-column> -->
    <dxi-column
        dataField="CANTIDAD_ENTRADA"
        caption="Entrada"
        alignment="right"
        dataType="number"
        [editorOptions]="{format: '#,##0.00'}"
       >
        <dxo-format
            type="fixedPoint"
            [precision]="2">
        </dxo-format>
    </dxi-column>
    <dxi-column
        dataField="VALOR_ENTRADA"
        caption="Valor Entrada"
        alignment="right"
        dataType="number"
        [format]="'#,##0.00'"
        [visible]="false">
    </dxi-column>

    <dxi-column
        dataField="CANTIDAD_SALIDA"
        caption="Salida"
        alignment="right"
        dataType="number"
        [editorOptions]="{format: '#,##0.00'}"
       >
        <dxo-format
            type="fixedPoint"
            [precision]="2">
        </dxo-format>
    </dxi-column>
    <dxi-column
        dataField="VALOR_SALIDA"
        caption="Valor Salida"
        alignment="right"
        dataType="number"
        [format]="'#,##0.00'"
        [visible]="false">
    </dxi-column>

    <dxi-column
        dataField="CANTIDAD_SALDO"
        caption="Saldo"
        alignment="right"
        dataType="number"
        [editorOptions]="{format: '#,##0.00'}"
       >
        <dxo-format
            type="fixedPoint"
            [precision]="2">
        </dxo-format>
    </dxi-column>

    <dxi-column
        dataField="VALOR_PROMEDIO"
        caption="Costo"
        alignment="right"
        dataType="number"
        [format]="'#,##0.00'"
        [visible]="false">
    </dxi-column>

    <dxi-column
        dataField="VALOR_TOTAL"
        caption="Total"
        alignment="right"
        dataType="number"
        [format]="'#,##0.00'"
        [visible]="false">
    </dxi-column>

    <dxi-column dataField="USUARIO" [allowEditing]="false" [visible]="false" caption="Usuario"></dxi-column>
    <dxi-column dataField="ITM" [allowEditing]="false" caption="Ord"></dxi-column>

    <div *dxTemplate="let cellInfo of 'cellTplIrA'">
        <div style="display: inline; font-size: 16px; vertical-align: middle; position:relative; top:40%  ">
            {{cellInfo.value}}
        </div>
    </div>

    <div *dxTemplate="let grupoObj of 'grpTempBodega'" style="height: 30px; display: flex; justify-content: flex-start;">
        <div style="font-weight: bold; display: inline; font-size: 16px; vertical-align: middle; position:relative; top:40%  ">
            Bodega: {{ templateHtml(grupoObj,'ID_UN_BODEGA') }}
        </div>
    </div>

    <div *dxTemplate="let grupoObj of 'grpTempProducto'" style="height: 30px; display: flex; justify-content: space-between;">
        <div style="font-weight: bold; display: inline; font-size: 14px; vertical-align: middle; position:relative; top:40% ">
            Producto: {{ templateHtml(grupoObj,'PRODUCTO') }}
        </div>
        <div style="display: inline; float: right; font-size: 14px; padding-right: 100px; vertical-align: middle; position:relative; top:40% ">
            Existencias: {{ SALDO_PRODUCTO }}
        </div>
    </div>

    <dxo-summary>
        <dxi-total-item
            column="CANTIDAD_ENTRADA"
            summaryType="sum"
            displayFormat="{0}"
            valueFormat="#,##0.00">
        </dxi-total-item>
        <dxi-total-item
            column="CANTIDAD_SALIDA"
            summaryType="sum"
            displayFormat="{0}"
            valueFormat="#,##0.00">
        </dxi-total-item>
    </dxo-summary>

    <dxo-toolbar>
        <dxi-item name="searchPanel"></dxi-item>
        <dxi-item name="exportButton"></dxi-item>
        <dxi-item name="columnChooserButton"></dxi-item>
        <dxi-item name="groupPanel" location="before"></dxi-item>
        <!-- <dxi-item>
            <div *dxTemplate>
                <dx-button
                    icon="filter"
                    type="normal"
                    stylingMode="outlined"
                    (onClick)="verFiltroMaestro($event)">
                </dx-button>
            </div>
        </dxi-item> -->

    </dxo-toolbar>

</dx-data-grid>

<dx-popup
  [width]="500"
  [height]="400"
  [showTitle]="true"
  title="Información Movimiento"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="false"
  [(visible)]="popupVisible"
  (onShown)="popup_showing($event)"
  [position]="{ my: 'center', at: 'center', of: '#GItems' }">
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="aceptaCambios">
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="cancelaCambios">
    </dxi-toolbar-item>
    <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div>{{titMovimiento}}</div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Origen/Destino</div>
                <dx-text-box class="dx-field-value" [(value)]="asoOrigenDestino" [readOnly]="true"> </dx-text-box>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Nombre</div>
                <dx-text-box class="dx-field-value" [(value)]="asoNombre" [readOnly]="true"> </dx-text-box>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Detalle</div>
                <dx-text-area
                    [height]="90"
                    [readOnly]="true"
                    [(value)]="asoDetalle"
                >
                </dx-text-area>
            </div>
        </div>
    </div>
</dx-popup>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#gkardex' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>

<app-geninformes
  [events]="eventsSubjectInformes.asObservable()"
  >
</app-geninformes>
<app-vistarapida
  id="vistaInv209"
  [aplicacion]="prmUsrAplBarReg.aplicacion"
></app-vistarapida>
