<!--Grid Ordenes de compra-->
<div class="row gx-3">
    <div class="col-12">
        <div class="card-content hm-dx-data">
            <dx-data-grid
                #gridOrdenCompraItems
                [dataSource]="DOrdenCompraItems"
                [allowColumnResizing]="true"
                columnResizingMode="nextColumn"
                [focusedRowEnabled]="true"
                [rowAlternationEnabled]="true"
                [hoverStateEnabled]="true"
                keyExpr="ITEM"
                noDataText=""
                [showBorders]="true"
                (onRowUpdating)="updatingRow($event)"
                (onRowUpdated)="updatedRow($event)"
                (onEditingStart)="onEditingStart($event)"
                (onEditorPreparing)="onEditorPreparing($event)"
                (onToolbarPreparing)="onToolbarPreparingGrid($event)"
                (onRowPrepared)="onRowPrepared($event)"
                (onRowValidating)="onRowValidating($event)"
                (onSelectionChanged)="selectionGrid($event)"
                (onFocusedRowChanged)="onFocusedRowChanged($event)"
                (onEditCanceled)="onEditCanceled($event)"
                (onCellClick)="onCellClick($event)"
                (onCellPrepared)="onCellPrepared($event)"
                (onCellHoverChanged)="onCellHoverChanged($event)"
                (onExporting)="onExporting($event)"
            >
                <dxo-toolbar>
                    <dxi-item name="searchPanel"></dxi-item>
                    <dxi-item name="exportButton"></dxi-item>
                    <dxi-item location="before">
                        <div *dxTemplate >
                            <dx-select-box
                                [dataSource]="DFiltroOC"
                                [(value)]="filtroDefecto"
                                displayExpr="FILTRO"
                                valueExpr="FILTRO"
                                width="300"
                                (onValueChanged)="onSeleccFiltro($event)"
                            ></dx-select-box>
                        </div>
                    </dxi-item>
                </dxo-toolbar>
        
                <dxo-editing
                    mode="cell"
                    [useIcons]="false" 
                    [allowUpdating]="esEdicion"
                    [allowDeleting]="false"
                    [allowAdding]="false"
                    >
                    <dxo-texts
                        confirmDeleteMessage="">
                    </dxo-texts>
                </dxo-editing>
                <dxo-filter-row 
                    [visible]="true"></dxo-filter-row>
                <dxo-header-filter 
                    [visible]="true"></dxo-header-filter>
        
                <!--<dxo-selection mode="single"></dxo-selection>-->
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar...">
                </dxo-search-panel>
        
                <dxo-paging 
                    [pageSize]="20">
                </dxo-paging>
                <dxo-pager 
                    [visible]="true" 
                    [allowedPageSizes]="allowedPageSizes" 
                    displayMode="full"
                    [showPageSizeSelector]="true" 
                    [showInfo]="true" 
                    [showNavigationButtons]="true">
                </dxo-pager>
        
                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

                <dxi-column dataField="ITEM"
                    [visible]="false">
                </dxi-column>
        
                <dxi-column 
                    dataField="DOCUMENTO" 
                    caption="Documento" 
                    [allowEditing]="false"
                    >
                </dxi-column>
        
                <dxi-column 
                    dataField="FECHA_SOLICITUD" 
                    caption="Fecha OC"
                    dataType="date" 
                    format="yyyy-MM-dd"
                    [allowEditing]="false"
                >
                </dxi-column>

                <dxi-column dataField="NOM_USUARIO" caption="Usuario" [allowEditing]="false">
                </dxi-column>
                <dxi-column dataField="ID_UN_DESTINO" caption="UN" [allowEditing]="false">
                </dxi-column>
        
                <dxi-column dataField="PRODUCTO"
                    caption="Producto"
                    calculateDisplayValue="PRODUCTO"
                    [allowEditing]="false">
                </dxi-column>
        
                <dxi-column dataField="NOMBRE_PRODUCTO"
                    caption="Nombre del Producto"
                    [allowEditing]="false">
                </dxi-column>
        
                <dxi-column dataField="CANTIDAD"
                    caption="C.Ordenada"
                    alignment="right"
                    dataType="number"
                    [allowEditing]="especModificarCantidad"
                    [format]="especCantidadFormato"
                    [editorOptions]="{format: especMonedaFormato}">
                </dxi-column>
        
                <dxi-column dataField="CANTIDAD_PENDIENTE"
                    caption="C.Pendiente"
                    alignment="right"
                    dataType="number"
                    [allowEditing]="false"
                    [format]="especCantidadFormato"
                    [editorOptions]="{format: especMonedaFormato}">
                </dxi-column>
        
                <dxi-column dataField="ESTADO"
                    caption="Estado"
                    [allowEditing]="false"
                    cellTemplate="tempEstado">
                </dxi-column>
        
                <dxi-column dataField="NOMBRE_PROVEEDOR"
                    caption="Proveedor"
                    [allowEditing]="false">
                </dxi-column>
        
                <dxi-column dataField="FECHA_ENTREGA"
                    caption="Fecha entrega"
                    dataType="date" 
                    format="yyyy-MM-dd"
                    cellTemplate="tempFechaEntrega"
                    [allowEditing]="false">
                </dxi-column>
        
                <dxi-column dataField="GRAVAMENES"
                    caption="Gravamenes"
                    [allowEditing]="false"
                    [width]="400"
                    [visible]="false">
                </dxi-column>
                <dxi-column dataField="GRAV_ORG"
                    caption="Gravamenes"
                    [allowEditing]="false"
                    [width]="400"
                    [visible]="false">
                </dxi-column>
        
                <dxi-column dataField="VALOR_UNITARIO"
                    caption="Valor Unitario"
                    alignment="right"
                    dataType="number"
                    [format]="especMonedaFormato.split(';')[0]"
                    [editorOptions]="{format: especMonedaFormato}"
                    [visible]="false">
                </dxi-column>
        
                <dxi-column dataField="SUB_TOTAL"
                    caption="Subtotal"
                    [allowEditing]="false"
                    alignment="right"
                    dataType="number"
                    [format]="especMonedaFormato.split(';')[0]"
                    [editorOptions]="{format: especMonedaFormato}">
                </dxi-column>
        
                <dxi-column dataField="VALOR_IVA"
                    caption="IVA"
                    [allowEditing]="false"
                    alignment="right"
                    dataType="number"
                    [format]="especMonedaFormato.split(';')[0]"
                    [editorOptions]="{format: especMonedaFormato}"
                    [visible]="false">
                </dxi-column>
        
                <dxi-column dataField="TOTAL"
                    caption="Total"
                    [allowEditing]="false"
                    alignment="right"
                    dataType="number"
                    [format]="especMonedaFormato.split(';')[0]"
                    [editorOptions]="{format: especMonedaFormato}"
                    [visible]="false">
                </dxi-column>
        
                <div *dxTemplate="let cellInfo of 'tempEstado'">
                    <div class="container-estado"
                        [ngStyle]="{ 'background-color': cellInfo.data.COLOR_ESTADO1, 'color':cellInfo.data.COLOR_ESTADO2 }"
                    >
                        <span>{{ cellInfo.data.ESTADO }}</span>
                    </div>
                </div>

                <div *dxTemplate="let cellInfo of 'tempFechaEntrega'">
                    <span class="status-badge" [ngStyle]="{ 'background-color': cellInfo.data.COLOR_FECHA }" ></span>
                    <span [ngStyle]="{ 'color': cellInfo.data.COLOR_FECHA }">
                        <span> {{cellInfo.data.FECHA_ENTREGA | date: 'yyyy-MM-dd' }} </span>
                    </span>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<app-COM20201
  [visible]="visibleAcciones"
  [events]="eventsSubjectAcciones.asObservable()"
  (onRespuestaSelecc)="onSeleccAcciones($event)"
  >
</app-COM20201>

<dx-load-panel
    #loaderPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#gridOrdenCompraItems' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    message="Un momento. Cargando datos..."
    [hideOnOutsideClick]="false"
></dx-load-panel>
