<!-- <div class="container-principal">
  <div class="container-hijo">

    <div class="d-flex">

      <div style="width: 70%;">
        <dx-form 
          [formData]="FEmpleados"
          [colCount]="1"
          [readOnly]="readOnly"
          [visible]="visible"
          labelLocation="top"
          
        >
          <dxi-item itemType="group" cssClass="first-group" caption="Empleados" [editorOptions]="{ width: '80%' }">
            <dxi-item dataField="ID_EMPLEADO" editorType="dxDropDownBox" >
              <dxo-label text="Empleado"></dxo-label>
              <dx-drop-down-box 
              #Empleado
              width="70%"
              [(value)]="selectEmpleado"
              valueExpr="ID_EMPLEADO"
              displayExpr="ID_EMPLEADO"
              label="Empleado"
              
              [showClearButton]="true"
              [(opened)]="openDrop"
              [dataSource]="DEmpleados"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #GListaEmple 
                    height="100%"
                    width="100%"
                    keyExpr="ID_EMPLEADO"
                    [focusedRowEnabled]="true"
                    [dataSource]="DEmpleados"
                    [(selectedRowKeys)]="selectEmpleado"
                    [selection]="{ mode: 'single' }"
                    (onSelectionChanged)="onSelectionEmpleado($event)" 
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [columnMinWidth]="150"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                  >
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-search-panel [visible]="true" [width]="240" ></dxo-search-panel>
                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
        
                    <dxi-column dataField="ID_EMPLEADO"  caption="Empleado" cssClass="clsEncabHis" [width]="200"></dxi-column>
                    <dxi-column dataField="NOMBRE_COMPLETO"  caption="Nombre Completo" cssClass="clsEncabHis"></dxi-column>
                  </dx-data-grid>
                </div>
          
              </dx-drop-down-box>
            </dxi-item>
  
            <dxi-item dataField="NOMBRE_COMPLETO" >
              <dx-text-box
                width="70%"
                [readOnly]="true"
                label="Nombre"
                
                [value]="FEmpleados?.NOMBRE_COMPLETO">
              </dx-text-box>
            </dxi-item>
  
            <dxi-item dataField="ESTADO" editorType="dxSelectBox" >
              <dxo-label text="Estado"></dxo-label>
              <div *dxTemplate>
                <dx-select-box
                  width="70%"
                  [dataSource]="['ACTIVO','INACTIVO']"
                  [value]="FEmpleados?.ESTADO"
                  [readOnly]="readOnly"
                  label="Estado"
                  
                  (onValueChanged)="onSeleccEstado($event)"
                >
                </dx-select-box>
              </div>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>

      <div class="fotoEmpleado containerpro" *ngIf="visible === true">
        <img class="imgZoomPort" width="160" height="170" [src]="srcFotoEmp" />
        <div class="overlaypro"></div>
        <div class="buttonpro" id="botonArchivo">
          <a class="a1" id="b1" href="javascript:;" (click)="operArcImg('cargar', selectEmpleado)">
            <img class="img1" title="Cargar archivo" src="../../../../assets/img/xtein/folder.png" alt="" height="20" width="20" />
          </a>
          <a class="a1" id="b2" href="javascript:;" (click)="operArcImg('eliminar', selectEmpleado)">
            <img class="img1" title="Eliminar" src="../../../../assets/img/xtein/eliminar.png" alt=""  height="20" width="20"/>
          </a>
        </div>
      </div>

    </div>

    <dx-form 
      [formData]="FEmpleados"
      [colCount]="1"
      [readOnly]="readOnly"
      [visible]="visible"
      labelLocation="top"
      
    >
      <dxi-item itemType="group">
        <dxi-item itemType="group" cssClass="first-group" [colCount]="2" caption="Secciones">
          <dxi-item dataField="ID_SECCION" editorType="dx-drop-down-box">

            <dxo-label text="Sección"></dxo-label>

            <dx-drop-down-box 
              #Seccion
              [(value)]="selectSeccion"
              valueExpr="ID_SECCION"
              displayExpr="ID_SECCION"
              label="Sección"
              
              [showClearButton]="true"
              [(opened)]="openSeccion"
              [dataSource]="DSeccion"
            >

              <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                  #GDetalleEmple 
                  height="100%"
                  keyExpr="ID_SECCION"
                  [focusedRowEnabled]="true"
                  [dataSource]="DSeccion"
                  [selection]="{ mode: 'single' }"
                  [(selectedRowKeys)]="selectSeccion"
                  (onSelectionChanged)="onSelectionSeccion($event)"
                  [columnAutoWidth]="true"
                  [allowColumnResizing]="true"
                  [columnMinWidth]="100"
                  [rowAlternationEnabled]="true"
                  [hoverStateEnabled]="true"
                >
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
                  <dxo-search-panel [visible]="true" [width]="240" ></dxo-search-panel>
                  <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

                  <dxi-column dataField="ID_SECCION"  caption="Sección" cssClass="clsEncabHis" [width]="150"></dxi-column>
                  <dxi-column dataField="DESCRIPCION"  caption="Descripción" cssClass="clsEncabHis"></dxi-column>
                  <dxi-column dataField="ANTERIOR"  caption="Anterior" cssClass="clsEncabHis" [width]="100"></dxi-column>
                </dx-data-grid>
              </div>

            </dx-drop-down-box>
          </dxi-item>

          <dxi-item dataField="ESTADO" editorType="dxSelectBox" >
            <dxo-label text="Actividad"></dxo-label>
            <div *dxTemplate>
              <dx-select-box
                [dataSource]="['OPERARIO', 'LIDER']"
                [value]="FEmpleados?.ACTIVIDAD"
                [readOnly]="readOnly"
                label="Actividad"
                
                (onValueChanged)="onSeleccActividad($event)"
              >
              </dx-select-box>
            </div>
          </dxi-item>

          <dxi-item dataField="TIPO" editorType="dxSelectBox" >
            <dxo-label text="Tipo"></dxo-label>
            <div *dxTemplate>
              <dx-select-box
                [dataSource]="['PRINCIPAL', 'SECUNDARIO']"
                [value]="FEmpleados?.TIPO"
                [readOnly]="readOnly"
                label="Tipo"
                
                (onValueChanged)="onSeleccTipo($event)"
              >
              </dx-select-box>
            </div>
          </dxi-item>

          <dxi-item>
            <div style="margin-top: 5px;">
              <dx-button
              stylingMode="contained"
              [text]="textButton"
              type="default"
              [width]="120"
              (onClick)="agregarEmpleado($event)"
              >
              </dx-button>
            </div>
          </dxi-item>

        </dxi-item>
      </dxi-item>

    </dx-form>

    <div class="divDataGrid">
      <div itemType="group" class="divButton" *ngIf="esEdicion">
        <div class="buttonGrid">
          <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
          </dx-button>
        </div>
      </div>
      <dx-data-grid
        #gridContainer
        id="gridContainer"
        keyExpr="ID_EMPLEADO"
        width="100%"
        [dataSource]="DGEmpleados"
        [showBorders]="true"
        [focusedRowEnabled]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        [columnMinWidth]="100"
        [rowAlternationEnabled]="true"
        [hoverStateEnabled]="true"
        (onRowPrepared)="onRowPrepared($event)"
        (onSelectionChanged)="selectionGrid($event)"
        (onRowExpanding)="onRowExpanding($event)"
      >
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          placeholder="Buscar..."
          [(text)]="filterEmpleado"
        >
        </dxo-search-panel>

        <dxo-selection 
          selectAllMode="allPages"     
          [showCheckBoxesMode]="esVisibleSelecc" 
          mode="multiple">
        </dxo-selection>

        <dxo-editing
          mode="row"
          [useIcons]="false"
          [allowDeleting]="false">
          <dxo-texts
            confirmDeleteMessage="">
          </dxo-texts>
        </dxo-editing>

        <dxi-column dataField="ID_EMPLEADO"  caption="Empleado" cssClass="clsEncabHis" alignment="right" [width]="150" cellTemplate="templateFoto">
        </dxi-column>
        
        <!-- <dxi-column dataField="FOTO" caption="Imagen" ></dxi-column> -->
        <!-- <dxi-column dataField="NOMBRE_COMPLETO"  caption="Nombre" cssClass="clsEncabHis">
        </dxi-column>
        <dxi-column dataField="ESTADO"  caption="Estado" cssClass="clsEncabHis" [width]="150">
        </dxi-column>
        
        <dxo-master-detail [enabled]="true" template="detail" > </dxo-master-detail>
        <div *dxTemplate="let empleado of 'detail'">
          <detalle-component [idEmpleado]="empleado.key" [dataSeccionesEmpleado]="DSeccionesEmpleado"></detalle-component>
        </div>

        <div *dxTemplate="let empleado of 'templateFoto'">
          <span 
            id="imgEmpZoomVista{{empleado.data.ITEM}}"
            (mouseenter)="toggleWithTemplate(empleado)"
            (mouseleave)="toggleWithTemplate(empleado)">
            {{empleado.data.ID_EMPLEADO}}
          </span>
          <dx-tooltip
            target="#imgEmpZoomVista{{empleado.data.ITEM}}"
            position="right"
            [(visible)]="empleado.data.verZoom"
            [hideOnOutsideClick]="false"
          >
            <div *dxTemplate="let data = data; of: 'content'">
              <img class="imgZoomPort" width="170" height="210" [src]="empleado.data.FOTO" />
            </div>
          </dx-tooltip>
        </div>
      </dx-data-grid>

    </div>
  </div>
</div>

<dx-toast [(visible)]="toaVisible" position="top center" [type]="type" [message]="toaMessage" [width]="300"></dx-toast>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#employee' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
>
</dx-load-panel>  -->