dx-button {
  display: table-cell;
  width: auto;
}

dx-button:hover {
  color: #fff;
  background: #438ef1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.container-principal {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container-hijo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
}

.divDataGrid {
  display: flex;
  justify-content: center;
}

.divButton {
  display: flex;
  justify-content: space-around;
  position: absolute;
  z-index: 99;
  margin-right: 84%;
}

.fotoEmpleado {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 170px;
  margin-left: 15px;
  margin-top: 50px;
}

.dx-button-mode-contained.dx-button-default {
  background: #438ef1;
}

::ng-deep .dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
  display: inline-block;
}

::ng-deep .dx-checkbox-icon {
  border: 1px solid #9b9b9b !important;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}

::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}
/* 
::ng-deep .imgZoomPort {
  object-fit: contain;
} */

::ng-deep .buttonpro {
  position: absolute;
  width: 100px;
  top: 135px;
  text-align: center;
  opacity: 0;
  height: 20px !important;
  transition: opacity .35s ease;
}
  
::ng-deep .buttonpro a {
  width: 50px;
  padding: 1px 5px;
  text-align: center;
  color: white;
  z-index: 1;
  display:inline-block;
  text-decoration: none;
}

::ng-deep .containerpro {
  position: relative;
  margin-top: 0px;
  width: 100px;
  height: 100px;
}

::ng-deep .containerpro:hover .buttonpro {
  opacity: 1;
}

::ng-deep .overlaypro {
  position: absolute;
  top: 135px;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(228, 220, 220, 0);
  transition: background 0.5s ease;
}
  
::ng-deep .containerpro:hover .overlaypro {
  display: block;
  background: rgba(196, 182, 182, 0.3);
}