.container-compras-minimas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-hijo-compras-minimas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 10px;
}

.gridComrpas{
  margin-top: -40px;
}

.dx-buttom-compras{
  position: absolute;
  z-index: 2;
}

.generar{
  background-color: #0f4c81 !important;
}

.generarOrdenCompra{
  background-color: #0f4c81;
  color: #fff;
}

::ng-deep .dx-field-value:not(.dx-widget) > .dx-button, .dx-field-value:not(.dx-widget) > .dx-checkbox, .dx-field-value:not(.dx-widget) > .dx-switch {
  float: left !important;
}