 <div class="row gx-3">
    <div class="col-12">
      <div class="card-content">
        <h1>Compras Minimas</h1>
        <div class="container-compras-minimas">
          
          <div class="container-hijo-compras-minimas">
            <div>
              <span>Generar solo por comprar</span>
            </div>
            <div style="width: 60%; justify-content: flex-start;">
              <dx-check-box (onValueChanged)="checked($event)" [value]="comprasBoxValue"></dx-check-box>
            </div>
          </div>

          <div class="container-hijo-compras-minimas">
            <div>
              <span>Grupos de Productos</span>
            </div>
            <div style="width: 60%;">
              <dx-drop-down-box
                width="100%"
                valueExpr="ID_GRUPO"
                displayExpr="ID_GRUPO"
                placeholder="Seleccione grupos productos.."
                [showClearButton]="true"
                [(value)]="treeBoxValue"
                [dataSource]="treeDataSource"
                (onValueChanged)="onValueChanged($event, 'GRUPO_PRODUCTOS')"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-tree-list
                    #grupos
                    id="grupos"
                    height="100%"            
                    keyExpr="ID_GRUPO"
                    parentIdExpr="ID_GRUPO_PADRE"
                    [columnMinWidth]="150"
                    [expandedRowKeys]="[1]"
                    [showBorders]="true"
                    [showRowLines]="true"
                    [autoExpandAll]="true"
                    [columnAutoWidth]="true"
                    [hoverStateEnabled]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [dataSource]="treeDataSource"
                    [(selectedRowKeys)]="treeBoxValue"
                    (onSelectionChanged)="onSelectionChanged($event)"
                  >
                    <dxo-selection mode="multiple" [recursive]="true"></dxo-selection>
                    <dxo-scrolling showScrollbar="onScroll"></dxo-scrolling>
                    <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
                    <dxi-column dataField="ID_GRUPO" caption="Código" [width]="200" ></dxi-column>
                    <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                    <dxi-column dataField="ID_GRUPO_PADRE" caption="Grupo Padre"></dxi-column>
                  </dx-tree-list>
                </div>
              </dx-drop-down-box>
            </div>
          </div>

          <div class="container-hijo-compras-minimas">
            <div>
              <span>Productos</span>
            </div>
            <div style="width: 60%;">
              <dx-drop-down-box
                width="100%"
                valueExpr="PRODUCTO"
                displayExpr="PRODUCTO"
                placeholder="Seleccione Productos.."
                [showClearButton]="true"
                [(value)]="treeProductosValue"
                [dataSource]="treeDataProdcutos"
                (onValueChanged)="onValueChanged($event, 'PRODUCTOS')"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #gridProductos
                    id="gridProductos"
                    height="100%"            
                    keyExpr="PRODUCTO"
                    noDataText="Selecciones Grupo de Productos a filtrar"
                    [columnMinWidth]="150"
                    [showBorders]="true"
                    [showRowLines]="true"
                    [columnAutoWidth]="true"
                    [hoverStateEnabled]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [dataSource]="treeDataProdcutos"
                    [(selectedRowKeys)]="treeProductosValue"
                    (onSelectionChanged)="onSelectionChangedProducto($event)"
                  >
                    <dxo-selection mode="multiple" ></dxo-selection>
                    <dxo-scrolling showScrollbar="onScroll"></dxo-scrolling>
                    <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
                    <dxi-column dataField="PRODUCTO" caption="Producto" [width]="200" ></dxi-column>
                    <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                    <dxi-column dataField="NOMBRE_GRUPO" caption="Grupo"></dxi-column>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </div>

          <div class="container-hijo-compras-minimas">
            <div>
              <span>Grupo de Proveedores</span>
            </div>
            <div style="width: 60%;">
              <dx-drop-down-box
                width="100%"
                valueExpr="ID_PROVEEDOR"
                displayExpr="ID_PROVEEDOR"
                placeholder="Seleccione Proveedores..."
                [showClearButton]="true"
                [(value)]="gridBoxValue"
                [dataSource]="provDataSource"
                (onValueChanged)="onValueChanged($event, 'PROVEEDORES')"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #proveedor
                    id="proveedores"
                    keyExpr="ID_PROVEEDOR"
                    [dataSource]="provDataSource"
                    [columns]="['ID_PROVEEDOR', 'NOMBRE_COMPLETO']"
                    [selection]="{ mode: 'multiple' }"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    [paging]="{ enabled: true, pageSize: 10 }"
                    [filterRow]="{ visible: true }"
                    [scrolling]="{ mode: 'virtual' }"
                    [height]="345"
                    [(selectedRowKeys)]="gridBoxValue"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    (onSelectionChanged)="onSelectionChangedProveedor($event)"
                    [columnMinWidth]="150"
                  >
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </div>

          <div class="container-hijo-compras-minimas">
            <div>
              <span>Bodega</span>
            </div>
            <div style="width: 60%;">
              <dx-drop-down-box
                width="100%"
                valueExpr="ID_UN_BODEGA"
                displayExpr="ID_UN_BODEGA"
                placeholder="Seleccione Bodega..."
                [showClearButton]="true"
                [(value)]="bodegaBoxValue"
                [dataSource]="bodegaDataSource"
                (onValueChanged)="onValueChanged($event, 'BODEGAS')"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #bodega
                    id="bodegas"
                    keyExpr="ID_UN_BODEGA"
                    [dataSource]="bodegaDataSource"
                    [columns]="['ID_UN_BODEGA', 'DESCRIPCION']"
                    [selection]="{ mode: 'multiple' }"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    [paging]="{ enabled: true, pageSize: 10 }"
                    [filterRow]="{ visible: true }"
                    [scrolling]="{ mode: 'virtual' }"
                    [height]="345"
                    [(selectedRowKeys)]="bodegaBoxValue"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [columnMinWidth]="100"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    (onSelectionChanged)="onSelectionChangedBodega($event)"
                  >
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </div>

          <div style="margin-top: 15px;">
            <dx-button
              [width]="120"
              class="generar"
              type="default"
              text="GENERAR"
              stylingMode="contained"
              matTooltip="Generar"
              [disabled]="activeButton"
              (onClick)="generar()"
            ></dx-button>
          </div>
      
        </div> 
      </div>
    </div>
  </div>   

<div *ngIf="activeGrid" class="col-12">
<div class="card-content">
  <div class="tabpanel-item dx-buttom-compras">
    <!-- <dx-button
      icon="save"
      class="generarOrdenCompra"
      matTooltip="Generar Orden de Compra"
      [text]="btnOrdenCompras"
      (onClick)="generarOrdenCompra($event)"
      *ngIf="visible">
    </dx-button> -->
  </div>
  
  <dx-data-grid
    #gridCompras
    id="gridCompras"
    keyExpr="PRODUCTO"
    [dataSource]="GDMaxMin"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    (onCellPrepared)="onCellPrepared($event)"
    (onSaving)="onSaving($event)"
    (onRowRemoved)="deleteRowPro($event)"
    (onRowValidating)="onRowValidating($event)"
    (onSelectionChanged)="selectionGrid($event)"
    (onExporting)="onExporting($event)"
    (onCellPrepared)="onCellPrepared($event)"
  >
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Buscar..."
    >
    </dxo-search-panel>

    <dxo-selection
      selectAllMode="allPages"
      [showCheckBoxesMode]="esVisibleSelecc"
      mode="multiple">
    </dxo-selection>

    <dxo-editing
      mode="cell"
      [useIcons]="true"
      [allowUpdating]="false"
    >
      <dxo-texts
        confirmDeleteMessage="">
      </dxo-texts>
    </dxo-editing>

    <dxi-column dataField="PRODUCTO"  caption="Producto" cssClass="clsEncabHis" [width]="180"></dxi-column>
    <dxi-column dataField="NOMBRE"  caption="Nombre" cssClass="clsEncabHis"></dxi-column>
    <dxi-column dataField="ID_UN_BODEGA" caption="Id. Bodega" cssClass="clsEncabHis" [width]="80" *ngIf="bodegaBoxValue.length !== 1"></dxi-column>
    <dxi-column dataField="CANT_BODEGA"  caption="C. Bodega"  cssClass="clsEncabHis" [width]="100" format="#,##0.00"></dxi-column>
    
    <dxi-column dataField="EN_TRANSITO" caption="En Transito" alignment="right"  cssClass="clsEncabHis" [width]="100"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column dataField="ICD" caption="I.C.D." alignment="right"  cssClass="clsEncabHis" [width]="80"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column dataField="PUNTO_MINIMO" caption="Minimo" alignment="right"  cssClass="clsEncabHis" [width]="80"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column dataField="PUNTO_MAXIMO" caption="Maximo" alignment="right"  cssClass="clsEncabHis" [width]="80"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column dataField="ID_PROVEEDOR" caption="Nombre Proveedor"  cssClass="clsEncabHis" editCellTemplate="tempProveedores" [width]="150">
    </dxi-column>

    <dxi-column dataField="NOMBRE_PROVEEDOR" caption="Nombre Proveedor"  cssClass="clsEncabHis" [width]="200" [visible]="false"></dxi-column>
    
    <dxi-column dataField="TRP" caption="T.R.P." alignment="right"  cssClass="clsEncabHis" [width]="80"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column dataField="CANT_COMPRAR" caption="C. Comprar" alignment="right"  cssClass="clsEncabHis" [width]="100"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column dataField="ULTIMA_CANTIDAD" caption="Ult. Cantidad" alignment="right"  cssClass="clsEncabHis" [width]="100"
      [editorOptions]="{ format: '#,##0.00'}" [setCellValue]="setCellvalor" >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <div *dxTemplate="let cellInfo of 'tempProveedores'">
      <dx-drop-down-box
      [(value)]="provResValue"
      [width]="450"
      valueExpr="ID_PROVEEDOR"
      displayExpr="ID_PROVEEDOR"
      placeholder="Seleccionar..."
      [showClearButton]="true"
      [dataSource]="provDataSource"
      [(opened)]="openDrop"
      (onValueChanged)="onValueChangedProv($event, cellInfo)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #proveedor
            height="100%"
            id="proveedores"
            keyExpr="ID_PROVEEDOR"
            [dataSource]="provDataSource"
            [(selectedRowKeys)]="provResValue"
            [selection]="{ mode: 'single' }"
            (onRowClick)="onSeleccProv($event, cellInfo)"
            [focusedRowEnabled]="true"
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-search-panel [width]="250" [visible]="true" [(text)]="filterEmpleado"></dxo-search-panel>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

            <dxi-column dataField="ID_PROVEEDOR"  caption="Id Proveedor" cssClass="clsEncabHis" [width]="150"></dxi-column>
            <dxi-column dataField="NOMBRE"  caption="Nombre" cssClass="clsEncabHis"></dxi-column>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>

    <dxo-export
      matTooltip="Exportar"
      text="Exportar"
      [enabled]="true"
      matTooltip="Exportar archivo"
      [allowExportSelectedData]="true"
    >
    </dxo-export>

  </dx-data-grid>
</div>
</div>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
>
</dx-load-panel>