<div id="splitterMain" class="row gx-3 h-250" style="height: 100%;">
  <div class="col-12">
    <div class="card-content">
      <dx-form
        #formLayout
        id="formLayout"
        labelLocation="left"
        colCount="1"
        [formData]="DataDistriPlanta"
        [readOnly]="ReadOnlyEncabDP"
      >
        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item dataField="ID_RUTA" [editorOptions]="{placeholder:'Id Ruta'}">
          <dxo-label text="Id Ruta"></dxo-label>
          <div *dxTemplate >
            <dx-text-box
              #textIDRuta
              placeholder="Código de Ruta"
              [(value)]="DataDistriPlanta.ID_RUTA"
              [readOnly]="true"
              (onValueChanged)="ValideExistencia($event)"
            ></dx-text-box>
          </div>
        </dxi-item>
        <dxi-item dataField="ESTADO" editorType="dxSelectBox">
          <dxo-label text="Estado"></dxo-label>
          <div *dxTemplate>
            <dx-select-box
              [dataSource]="['ACTIVO','INACTIVO']"
              [value]="DataDistriPlanta.ESTADO"
              [readOnly]="ReadOnlyEncabDPEstado"
              placeholder="Estado de Ruta"
              (onValueChanged)="onSeleccEstado($event)"
            ></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="DESCRIPCION" [editorOptions]="{placeholder:'Descripción de ruta', readOnly: ReadOnlyEncabDPDescripcion}">
          <dxo-label text="Descripción"></dxo-label>
        </dxi-item>
      </dx-form>
    </div>
  </div>

  <as-split
    direction="horizontal"
    (dragEnd)="dragEnd('percent', $event)"
    #split="asSplit"
    class="col-12"
  >
    <as-split-area class="col-4" [size]="30" #area1="asSplitArea" (resized)="onResized($event)">
      <dx-tree-list
        #seccionesrutasdp
        id="seccionesrutasdp"
        width="100%"
        height="100%"
        keyExpr="ITEM"
        parentIdExpr="ANTERIOR"
        [dataSource]="DatosSeccRutasDP"
        [(selectedRowKeys)]="selectedRowKeysSecciones"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        columnResizingMode="nextColumn"
        [expandedRowKeys]="[1]"
        [autoExpandAll]="false"
        [columnHidingEnabled]="true"
        [columnMinWidth]="150"
        (onCellPrepared)="onCellPrepared($event)"
        (onContentReady)="onContentReady($event)"
        (onRowPrepared)="onRowPrepared($event)"
        (onToolbarPreparing)="onToolbarPreparing($event)"
        (onSelectionChanged)="selecSeccion($event)"
      >
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
        <dxo-header-filter [visible]="true" [width]="300" [allowSearch]="true"></dxo-header-filter>
        <dxo-selection mode="multiple" [recursive]="true"></dxo-selection>
        <dxo-export [enabled]="true"></dxo-export>

        <dxi-column dataField="ID_SECCION" caption="Id Sección"></dxi-column>
        <dxi-column dataField="DESCRIPCION" caption="Descripción" [hidingPriority]="0"></dxi-column>

      </dx-tree-list>
    </as-split-area>

    <as-split-area class="col-8 ml-0" [size]="70" #area2="asSplitArea">
      <div class="card-content-clean" style="padding: 5px; margin-bottom: 0 !important;">

        <dx-diagram
          #diagram
          id="diagram"
          units="px"
          viewunits="px"
          class="dx-diagram-background"
          autoZoomMode="fitWidth"
          pageOrientation="landscape"
          [simpleView]="true"
          [readOnly]="diagReadOnly"
          [elementAttr]="{ class: 'diagram-nodes' }"
          (initialized)="onIniDiagrama($event)"
          (onContentReady)="onContentReady($event)"
          (onOptionChanged)="diagramCambios($event)"
          (onSelectionChanged)="selectionChangedHandler($event)"
          (onRequestEditOperation)="requestEditOperationHandler($event)"
          (onRequestLayoutUpdate)="requestLayoutUpdateHandler($event)"
        >
          <dxo-default-item-properties style="stroke-width: 1px"></dxo-default-item-properties>
          <dxo-main-toolbar [visible]="true">
            <dxi-command name="toolbox"></dxi-command>
            <dxi-command name="undo"></dxi-command>
            <dxi-command name="redo"></dxi-command>
            <dxi-command name="separator"></dxi-command>
            <dxi-command name="fontName"></dxi-command>
            <dxi-command name="fontSize"></dxi-command>
            <dxi-command name="separator"></dxi-command>
            <dxi-command name="bold"></dxi-command>
            <dxi-command name="italic"></dxi-command>
            <dxi-command name="underline"></dxi-command>
            <dxi-command name="separator"></dxi-command>
            <dxi-command name="fontColor"></dxi-command>
            <dxi-command name="lineColor"></dxi-command>
            <dxi-command name="fillColor"></dxi-command>
            <dxi-command name="separator"></dxi-command>
            <dxi-command name="zoomLevel"></dxi-command>
            <dxi-command name="clear" icon="clearsquare" text="Clear Diagram"></dxi-command>
            <dxi-command name="cambio" icon="repeat" text="Cambio forma"></dxi-command>
          </dxo-main-toolbar>
          
          <dxi-custom-shape
            *ngFor="let svgId of NodosSvg; let i = index"
            category="produccion"
            [type]="svgId.id"
            title="proceso"
            [backgroundImageUrl]="svgId.svg"
            [defaultWidth]="100"
            [defaultHeight]="60"
            defaultText=""
            [allowEditText]="false"
            [textWidth]=".55"
            [textLeft]="(1 - 0.55) / 2"
          >
            <dxi-connection-point [x]="0.25" [y]="0"></dxi-connection-point>
            <dxi-connection-point [x]="0.5" [y]="0"></dxi-connection-point>
            <dxi-connection-point [x]="0.75" [y]="0"></dxi-connection-point>
            <dxi-connection-point [x]="1" [y]="0.25"></dxi-connection-point>
            <dxi-connection-point [x]="1" [y]="0.5"></dxi-connection-point>
            <dxi-connection-point [x]="1" [y]="0.75"></dxi-connection-point>
            <dxi-connection-point [x]="0.25" [y]="1"></dxi-connection-point>
            <dxi-connection-point [x]="0.5" [y]="1"></dxi-connection-point>
            <dxi-connection-point [x]="0.75" [y]="1"></dxi-connection-point>
            <dxi-connection-point [x]="0" [y]="0.25"></dxi-connection-point>
            <dxi-connection-point [x]="0" [y]="0.5"></dxi-connection-point>
            <dxi-connection-point [x]="0" [y]="0.75"></dxi-connection-point>
          </dxi-custom-shape>

          <dxo-nodes
            [dataSource]="seccNodosDataSource"
            keyExpr="id"
            textExpr="text"
            typeExpr="type"
            leftExpr="x"
            topExpr="y"
            widthExpr="width"
            heightExpr="height"
            textStyleExpr="textStyle"
            lockedExpr="bloqSeccion"
            styleExpr="itemStyleExpr"
          >
            <dxo-auto-layout type="off"></dxo-auto-layout>
          </dxo-nodes>
          <dxo-edges
            [dataSource]="seccConecDataSource"
            keyExpr="id"
            fromExpr="fromId"
            toExpr="toId"
            textExpr="text"
            fromPointIndexExpr="fromPoint"
            toPointIndexExpr="toPoint"
            pointsExpr="pointsConec"
            styleExpr="conecStyle"
            lockedExpr="bloqConn"
          ></dxo-edges>
          <dxo-toolbox visibility="hidden">
            <dxi-group category="general" title="General"></dxi-group>
            <dxi-group category="produccion" title="Producción"></dxi-group>
          </dxo-toolbox>
        </dx-diagram>
      </div>
    </as-split-area>
  </as-split>

</div>


<dx-popup
  #popUpAddSecciones
  id="popUpAddSecciones"
  [maxWidth]="725"
  [minWidth]="680"
  [height]="450"
  [(title)]="popupMode"
  [(visible)]="popupVisible"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  (onInitialized)="onInitialized($event)" 
  (onResizeEnd)="onResizeEnd($event)"
>
  <div *dxTemplate="let data of 'content'">
    <div *ngIf="ModoPopUp === 'treelist'" class="flex-grow-1 min-h-0">
      <dx-tree-list
        #secciones
        id="secciones"
        [dataSource]="DatosSecciones"
        keyExpr="ITEM"
        parentIdExpr="ANTERIOR"
        [showRowLines]="true"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [expandedRowKeys]="[1]"
        [autoExpandAll]="true"
        [(selectedRowKeys)]="SelNodoLP"
        (onContentReady)="onContentReadySecciones($event)"
        (onCellPrepared)="onCellPreparedLP($event)"
        (onSelectionChanged)="onSeleccNodo($event)"
        (onInitialized)="onInitialized($event)" 
        (onResizeEnd)="onResizeEnd($event)"
        (onRowDblClick)="onRowDblClick($event)"
      >
        <dxo-selection mode="single"></dxo-selection>
        <dxo-scrolling mode="standard"></dxo-scrolling>
        <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>

        <dxi-column dataField="ID_SECCION" caption="Id Sección"></dxi-column>
        <dxi-column dataField="DESCRIPCION" caption="Descripción"></dxi-column>
      </dx-tree-list>
      
      <div style="position: absolute; bottom: 10px">
        <dx-button
          id="btnAceptarPT"
          stylingMode="contained"
          text="Aceptar"
          type="default"
          [width]="100"
          (onClick)="confirmClick($event)"
        ></dx-button>
        <dx-button
          id="btnCancelarPT"
          stylingMode="contained"
          text="Cancelar"
          type="normal"
          [width]="110"
          [style.margin-left]="'20px'"
          (onClick)="cancelClick($event)"
        ></dx-button>
      </div>
    </div>
  </div>
</dx-popup>

<app-vistarapida id="vistapro012" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-popover
  [target]="targetIdTooltip"
  showEvent="mouseenter"
  hideEvent="mouseleave"
  position="bottom"
  [width]="300"
  [showTitle]="true"
  [title]="infoSeccionTooltip[0]"
  (onShowing)="onShowingInfoSecc($event)"
  class="xt-popup"
  >
  <div *dxTemplate="let data = model; of: 'content'">
    <div [innerHTML]="infoSeccionTooltip[1]"></div><br />
    <div [innerHTML]="infoSeccionTooltip[2]"></div>
  </div>
</dx-popover>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>