.img-container {
    height:100%;
}

.img-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media screen and (max-width:1366.98px) {
    .img-container img {
        /* height: 880px; */
    }  
  }

.loading-logo img {
    max-width: 200px;
    margin: 0 auto;
}

.contenedor-form {
    display: flex;
    align-self: center;
}

.icon-size {
    height: 38px;
    border-top: 1px solid;
    border-right: 0px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: rgba(180,191,204, .35);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.nombres{
    width: auto;
    text-align: right;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

select {
    width:100%;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
}

select option {
    width:100px;
    text-overflow:ellipsis;
    overflow:hidden;
}

.xt-text-input-login {
    background-color: #fff;
    border-radius: 6px;
    border: 0;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(180,191,204, .35);
}

::ng-deep .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(180,191,204, .35);
}

/*CELULARES*/
@media screen and (min-width: 320px) and (max-width: 767px) { 
    .img-container{
        display: none;
    }
    .contenedor-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        padding: 1rem;
    }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) { 
    .img-container{
        display: none;
    }
    .contenedor-form {
        display: flex;
        align-self: center;
        padding: 1rem;
    }
}

/*PC*/
@media screen and (min-width: 1024px) { 
    .img-container{
        /* width:80%;
        height:90%; */
    }
    .contenedor-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
    }
}
