$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/fonts/fonts-xtein" !default;

$icon-doc-ol: "\ea1a";
$icon-image-ol: "\ea1b";
$icon-adjuntar-ol: "\ea18";
$icon-link-ol: "\ea19";
$icon-cambio-ol: "\ea10";
$icon-comprar-ol: "\ea11";
$icon-expandir-ol: "\ea12";
$icon-seleccionada-alt-sl: "\ea13";
$icon-seleccionada-ol: "\ea14";
$icon-seleccionar-todas-alt-ol: "\ea15";
$icon-seleccionar-todas-alt-sl: "\ea16";
$icon-pdf-doc-sl: "\ea17";
$icon-smile-ol: "\ea20";
$icon-lista-num-ol: "\ea21";
$icon-lista-ol: "\ea22";
$icon-filtro-ol: "\ea23";
$icon-info-sl: "\ea0e";
$icon-info-ol: "\ea0f";
$icon-aceptar-ol: "\e94b";
$icon-aceptar-sl: "\e94c";
$icon-acreedores: "\e92e";
$icon-acreedores-ol: "\e978";
$icon-adelante-ol: "\ea03";
$icon-adelante-sl: "\e90d";
$icon-agregar-foto-sl: "\e92f";
$icon-ajustar: "\e98c";
$icon-ajustes-de-usuario-sl: "\e9c1";
$icon-alert-ol: "\e928";
$icon-alert-sl: "\e926";
$icon-all-day-sl: "\ea05";
$icon-anterior: "\e910";
$icon-arrow-left-ol: "\e9bb";
$icon-arrow-left-sl: "\e98d";
$icon-arrow-right-ol: "\e9bc";
$icon-arrow-right-sl: "\e98e";
$icon-atras-ol: "\ea04";
$icon-atras-sl: "\e90c";
$icon-atributos: "\e931";
$icon-ayuda-ol: "\ea08";
$icon-ayuda-sl: "\ea09";
$icon-backup-ol: "\e9d2";
$icon-backup-ol-alt: "\e9d0";
$icon-backup-sl: "\e9d3";
$icon-backup-sl-alt: "\e9d1";
$icon-bases-del-costo: "\e93f";
$icon-bell-ol: "\e98f";
$icon-bell-sl: "\e941";
$icon-bellring-ol: "\e9a7";
$icon-bellring-sl: "\e9b0";
$icon-bodega-ol: "\e9d8";
$icon-bodega-oll-alt: "\e9d6";
$icon-bodega-sl: "\e9d7";
$icon-building-ol: "\e967";
$icon-building-sl: "\e968";
$icon-buscar-documentos-alt-ol: "\e97b";
$icon-buscar-documentos-ol: "\e91d";
$icon-buscar-ol: "\e990";
$icon-buscar-opciones: "\e991";
$icon-buscar-opciones-sl: "\e938";
$icon-buscar-sl: "\e904";
$icon-calendar-ol: "\e9ed";
$icon-calendar-sl: "\e9de";
$icon-cancelar: "\e915";
$icon-cancelar-ol: "\e94d";
$icon-cancelar-sl: "\e94e";
$icon-car-ol: "\e9b1";
$icon-car-sl: "\e9b2";
$icon-cerrar-ol: "\e932";
$icon-cerrar-ol-xl: "\e922";
$icon-cerrar-sl: "\e946";
$icon-chat-m-ol: "\e9ae";
$icon-chat-m-sl: "\e9af";
$icon-chat-sl: "\e933";
$icon-chats-m-ol: "\e99e";
$icon-chats-m-sl: "\e9a8";
$icon-chats-ol: "\e961";
$icon-chats-sl: "\e9a9";
$icon-check-ol: "\e916";
$icon-chevron-down: "\e94a";
$icon-chevron-down-xs: "\e947";
$icon-chevron-left: "\ea0a";
$icon-chevron-left-xs: "\ea0b";
$icon-chevron-right: "\ea0c";
$icon-chevron-right-xs: "\ea0d";
$icon-chevron-up: "\e949";
$icon-chevron-up-xs: "\e948";
$icon-cif: "\e91e";
$icon-code-sl: "\e969";
$icon-coin: "\e962";
$icon-coin-ol: "\e993";
$icon-coin-outline: "\e963";
$icon-coin-sl: "\e995";
$icon-coins-al-ol: "\e994";
$icon-coins-ol: "\e996";
$icon-compartir: "\e90e";
$icon-compra-exitosa-ol: "\e9b3";
$icon-compra-exitosa-sl: "\e9b4";
$icon-configuracion-de-la-gestion: "\e919";
$icon-configuraciones-ol: "\e99d";
$icon-configuraciones-sl: "\e956";
$icon-configurar-ol: "\e992";
$icon-cop: "\e964";
$icon-copiar: "\e90b";
$icon-correo: "\e997";
$icon-crear-fila-sl: "\e923";
$icon-crear-ol: "\e94f";
$icon-crear-sl: "\e950";
$icon-descargar-ol: "\e983";
$icon-descargar-sl: "\e998";
$icon-disminuir-ol: "\e952";
$icon-disminuir-sl: "\e953";
$icon-divisor-light: "\e924";
$icon-documentos-legales-ol: "\e999";
$icon-documentos-legales-sl: "\e99a";
$icon-editar-ol: "\e980";
$icon-editar-sl: "\e9ea";
$icon-eliminar-fila-sl: "\e99c";
$icon-eliminar-ol: "\e960";
$icon-eliminar-sl: "\e901";
$icon-eliminar-todo-minus-sl: "\e988";
$icon-eliminar-todo-ol: "\e989";
$icon-eliminar-todo-sl: "\e987";
$icon-empleados-secciones: "\e935";
$icon-empresa-ol: "\e979";
$icon-empresa-sl: "\e91f";
$icon-entrada-ol: "\e9b5";
$icon-entrada-ol-alt: "\e9b6";
$icon-entrada-sl: "\e9b7";
$icon-exportar-ol: "\e9c2";
$icon-exportar-sl: "\e9c7";
$icon-facebook: "\e936";
$icon-factory-ol: "\e9e5";
$icon-factory-sl: "\e9e6";
$icon-factura: "\e91a";
$icon-factura-ol: "\e95f";
$icon-filtro: "\e940";
$icon-filtro-doc: "\e942";
$icon-foto-h: "\e937";
$icon-foto-sl: "\e939";
$icon-gespro: "\e95b";
$icon-grafico-alt-ol: "\e9db";
$icon-grafico-cr-alt-ol: "\e9ef";
$icon-grafico-cr-alt-sl: "\e99f";
$icon-grafico-cr-ol: "\e95a";
$icon-grafico-cr-sl: "\e9dd";
$icon-grafico-mnl-ol: "\e9dc";
$icon-grafico-ol: "\e9da";
$icon-importar-ol: "\e9c8";
$icon-importar-sl: "\e9c9";
$icon-imprimir-ol: "\e914";
$icon-imprimir-ol-alt: "\e9be";
$icon-imprimir-sl: "\e9bd";
$icon-imprimir-sl-alt: "\e908";
$icon-inbox-ol: "\e907";
$icon-inbox-sl: "\e943";
$icon-informes: "\e93a";
$icon-inicio: "\e944";
$icon-inicio-apps: "\e93b";
$icon-innovacionydesarrollo-sl: "\e981";
$icon-instagram: "\e93c";
$icon-layout-planta: "\e921";
$icon-library-sl: "\e9a0";
$icon-mano-de-obra: "\e93d";
$icon-mas-opciones: "\e902";
$icon-matriz: "\e95d";
$icon-matriz-sl: "\e95c";
$icon-menu: "\e955";
$icon-menu-alt: "\e9f6";
$icon-menus: "\e951";
$icon-minimos-y-maximos: "\e93e";
$icon-mirror-ol: "\e99b";
$icon-mover: "\e957";
$icon-mover-horizontal-sl: "\e97a";
$icon-mover-variante: "\e958";
$icon-mover-vertical-sl: "\e929";
$icon-nueva-tarea-ol: "\e974";
$icon-nuevo-doc-sl: "\e945";
$icon-nuevo-usuario-ol: "\e9d9";
$icon-nuevo-usuario-sl-alt: "\e9c3";
$icon-nuevo-usuario-sl-alt-plus: "\ea02";
$icon-objetivos-ol: "\e9e0";
$icon-objetivos-sl: "\e9e1";
$icon-ocultar-alt-ol: "\e9e8";
$icon-ocultar-cr-ol: "\e9e9";
$icon-ocultar-ol: "\e982";
$icon-ocultar-sl: "\e925";
$icon-opciones: "\e959";
$icon-operaciones-alt-ol: "\e96c";
$icon-operaciones-alt-sl: "\e96d";
$icon-operaciones-ol: "\e96f";
$icon-operaciones-sl: "\e970";
$icon-orden: "\e9a1";
$icon-ordenar: "\e905";
$icon-ordenar-a-z: "\e9a2";
$icon-ordenar-z-a: "\e9a3";
$icon-papers-alt: "\e9a5";
$icon-papers-alt-ol: "\e9a6";
$icon-papers-ol: "\e9a4";
$icon-password-ol: "\e96b";
$icon-password-sl: "\e96a";
$icon-pedido-ol: "\e9c6";
$icon-pedido-ol-alt: "\e9b8";
$icon-pedido-sl: "\e9c5";
$icon-pedido-sl-alt: "\e9b9";
$icon-pedido-sl-r: "\e9bf";
$icon-pintura: "\e9fc";
$icon-pintura-sl: "\e918";
$icon-plus-ol: "\e900";
$icon-postit-alt-ol: "\e975";
$icon-postit-ol: "\e976";
$icon-prefactura: "\e91b";
$icon-prefactura-ol: "\e95e";
$icon-preguntas-ol: "\ea06";
$icon-preguntas-sl: "\ea07";
$icon-price-list-alt-ol: "\e9f8";
$icon-price-list-alt-sl: "\e9f9";
$icon-price-list-ol: "\e9fa";
$icon-price-list-sl: "\e9fb";
$icon-primero: "\e90f";
$icon-procesos-ol: "\e972";
$icon-procesos-sl: "\e971";
$icon-productos: "\e92a";
$icon-programacion-ol: "\e9ee";
$icon-programacion-sl: "\e9df";
$icon-refrescar: "\e906";
$icon-repetir-ol: "\e977";
$icon-reporte-ol: "\e9ba";
$icon-reporte-sl: "\e9e2";
$icon-resize: "\e98a";
$icon-rocket: "\e9fd";
$icon-rocket-sl: "\e934";
$icon-roles-sl: "\e9c4";
$icon-roles-sl-alt: "\e9c0";
$icon-ruta-de-producto-ol: "\e9f1";
$icon-ruta-de-producto-sl: "\e920";
$icon-rutas-de-partes-alt-ol: "\e9fe";
$icon-rutas-de-partes-alt-sl: "\e9ff";
$icon-rutas-de-partes-ol: "\e9f0";
$icon-rutas-de-partes-sl: "\e91c";
$icon-salir: "\e903";
$icon-salir-alt-ol: "\ea00";
$icon-salir-ol: "\ea01";
$icon-save-ol: "\e9ca";
$icon-save-sl: "\e9cb";
$icon-secciones-ol: "\e9d5";
$icon-secciones-sl: "\e9d4";
$icon-secure-ol: "\e966";
$icon-secure-sl: "\e965";
$icon-send-alt-ol: "\e9f2";
$icon-send-alt-sl: "\e9f3";
$icon-send-ol: "\e9f4";
$icon-send-sl: "\e9f5";
$icon-siguiente: "\e911";
$icon-tarea-ol: "\e9e3";
$icon-tarea-sl: "\e9e4";
$icon-turno-sl: "\e9f7";
$icon-ubicacion-map: "\e9aa";
$icon-ubicacion-map-ol: "\e9ab";
$icon-ultimo: "\e912";
$icon-unidades-de-medida-alt-ol: "\e9cc";
$icon-unidades-de-medida-alt-sl: "\e9cd";
$icon-unidades-de-medida-ol: "\e9ce";
$icon-unidades-de-medida-sl: "\e9cf";
$icon-upload-file-ol: "\e98b";
$icon-upload-file-sl: "\e986";
$icon-upload-ol: "\e984";
$icon-upload-sl: "\e985";
$icon-usuario: "\e909";
$icon-usuario-rd: "\e97c";
$icon-usuario-sl: "\e97d";
$icon-usuarios-ol: "\e9ac";
$icon-usuarios-sl: "\e97e";
$icon-usuarios-sl-al: "\e9ad";
$icon-usuarios-sl-rd: "\e97f";
$icon-ver-alt-ol: "\e96e";
$icon-ver-cr-ol: "\e9e7";
$icon-ver-ol: "\e973";
$icon-ver-sl: "\e917";
$icon-viewer-ol: "\e9ec";
$icon-viewer-sl: "\e9eb";
$icon-vista-de-lista: "\e927";
$icon-vista-grip: "\e913";
$icon-vista-rapida-ol: "\e90a";
$icon-vista-rapida-sl: "\e954";
$icon-web-ol: "\e92c";
$icon-web-sl: "\e92b";
$icon-whatsapp: "\e92d";
$icon-zoom: "\e930";