<div class="row gx-3">
  <div class="col-12">
    <dx-data-grid
      #gridCondicionesCargo
      id="gridCondicionesCargo"
      keyExpr="ID_RESPONSABLE"
      [dataSource]="DCondicionesCargo"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [rowAlternationEnabled]="true"
      [focusedRowEnabled]="true"
      [hoverStateEnabled]="true"
      [columnMinWidth]="120"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-search-panel [visible]="true" [width]="380" ></dxo-search-panel>
      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

      <dxi-column dataField="ID_CONDICION" caption="Condición" alignment="left"></dxi-column>
      <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                    
    </dx-data-grid>

  </div>
</div>