.grid-container {
    margin-top: 5px;
    border-radius: 6px;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

::ng-deep .dx-datagrid-header-panel {
    padding: 8px;
    background-color: #f8f9fa;
}

::ng-deep .dx-datagrid-headers {
    background-color: #f1f3f5;
    color: #495057;
    font-weight: 600;
}

::ng-deep .dx-datagrid-rows-view .dx-selection.dx-row>td {
    background-color: rgba(67, 142, 241, 0.1);
}

/* Flexbox logic to move grid total summary to the top and align with toolbar */
::ng-deep #gridProductos .dx-datagrid {
    display: flex;
    flex-direction: column;
}

::ng-deep #gridProductos .dx-datagrid-header-panel {
    order: 1;
    margin-bottom: -42px;
    /* Empuja el footer hacia arriba para compartir el mismo espacio */
    z-index: 10;
    position: relative;
    background-color: transparent;
}

::ng-deep #gridProductos .dx-datagrid-header-panel .dx-toolbar {
    background-color: transparent;
}

::ng-deep #gridProductos .dx-datagrid-total-footer {
    order: 2;
    border-top: none;
    border-bottom: 2px solid #ddd;
    background-color: #f8f9fa;
    min-height: 45px;
}

::ng-deep #gridProductos .dx-datagrid-total-footer .dx-datagrid-summary-item {
    font-weight: bold;
    color: #707070;
    padding-top: 10px;
    /* Alineación vertical para coincidir con el toolbar */
}

::ng-deep #gridProductos .dx-datagrid-headers {
    order: 3;
}

::ng-deep #gridProductos .dx-datagrid-filter-panel {
    order: 4;
}

::ng-deep #gridProductos .dx-datagrid-rowsview {
    order: 5;
}

::ng-deep #gridProductos .dx-datagrid-pager {
    order: 6;
}

::ng-deep .dx-toolbar .dx-toolbar-before:has(.dx-toolbar-button .dx-button):not(.dx-toolbar-button .dx-button .dx-button-content .dx-icon-redo) {

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background: #f8f9fa !important;
    box-shadow: none !important
}

.text-danger {
    color: #df3e3e !important;
}

.text-success {
    color: #2e8b57 !important;
}