<div class="row gx-3" id="PRO033" #PRO033>
  <div class="col-12">
    <div class="card-content">

      <dx-form #formPlanesProd id="formPlanesProd" [formData]="FPlanes" [colCount]="1" [readOnly]="readOnly"
        class="col-12" labelLocation="left">
        <dxo-col-count-by-screen [xs]="1"></dxo-col-count-by-screen>
        <dxi-item dataField="CONSECUTIVO">
          <dxo-label text="Consecutivo"></dxo-label>
          <div *dxTemplate>
            <dx-number-box placeholder="Consecutivo" [readOnly]="true" [(value)]="FPlanes.CONSECUTIVO"></dx-number-box>
          </div>
        </dxi-item>
        <dxi-item dataField="NOMBRE">
          <dxo-label text="Nombre"></dxo-label>
          <div *dxTemplate>
            <dx-text-box placeholder="Nombre" [readOnly]="readOnly" [(value)]="FPlanes.NOMBRE"
              style="text-transform: uppercase;" (onValueChanged)="onValueChanged($event, 'NOMBRE')"></dx-text-box>
          </div>
        </dxi-item>
        <dxi-item dataField="ESTADO">
          <dxo-label text="Estado"></dxo-label>
          <div *dxTemplate>
            <dx-select-box placeholder="Seleccion Estado" [readOnly]="readOnly" [(value)]="FPlanes.ESTADO"
              [dataSource]="['ACTIVO','INACTIVO']" (onValueChanged)="onValueChanged($event, 'ESTADO')"></dx-select-box>
          </div>
        </dxi-item>
        <!-- <dxi-item itemType="group" [colSpan]="2" [colCount]="2"> -->

        <dxi-item dataField="FECHA_INICIO">
          <dxo-label text="Fecha Inicial"></dxo-label>
          <div *dxTemplate>
            <dx-date-box #DxtFechaInicio type="date" width="100%" pickerType="calendar" [(value)]="FPlanes.FECHA_INICIO"
              [readOnly]="readOnly" [inputAttr]="{ readonly: true }"
              (onValueChanged)="onValueChanged($event, 'FECHA_INICIO')"></dx-date-box>
          </div>
        </dxi-item>
        <dxi-item dataField="FECHA_FINAL">
          <dxo-label text="Fecha Final"></dxo-label>
          <div *dxTemplate>
            <dx-date-box #DxtFechaFin type="date" width="100%" pickerType="calendar" [(value)]="FPlanes.FECHA_FINAL"
              [min]="FPlanes.FECHA_INICIO" [readOnly]="readOnly" [inputAttr]="{ readonly: true }"
              (onValueChanged)="onValueChanged($event, 'FECHA_FINAL')"></dx-date-box>
          </div>
        </dxi-item>
        <!-- </dxi-item> -->

      </dx-form>

    </div>
  </div>
</div>


<app-filtrobusq [events]="eventsSubjectFiltro.asObservable()" (onRespuestaSelecc)="onRespuestaFiltro($event)">
</app-filtrobusq>