<dx-data-grid
    #gridMovimientosItems
    id="gridMovimientosItems"
    [dataSource]="DMovimientosItems"
    [allowColumnResizing]="true"
    columnResizingMode="nextColumn"
    [focusedRowEnabled]="true"
    [rowAlternationEnabled]="true"
    [hoverStateEnabled]="true"
    keyExpr="ITEM"
    noDataText=""
    [showBorders]="true"
    (onInitNewRow)="initNewRow($event)"
    (onRowInserting)="insertingRow($event)"
    (onRowInserted)="insertedRow($event)"
    (onRowUpdating)="updatingRow($event)"
    (onRowUpdated)="updatedRow($event)"
    (onRowRemoved)="removedRow($event)"
    (onEditingStart)="onEditingStart($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onToolbarPreparing)="onToolbarPreparingGrid($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowValidating)="onRowValidating($event)"
    (onSelectionChanged)="selectionGrid($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)"
    (onEditCanceled)="onEditCanceled($event)"
    (onCellClick)="onCellClick($event)"
    (onCellPrepared)="onCellPrepared($event)"
    >

    <dxo-editing
        mode="cell"
        [useIcons]="false" 
        [allowUpdating]="esEdicion"
        [allowDeleting]="false"
        [allowAdding]="esEdicion"
        >
        <dxo-texts
            confirmDeleteMessage="">
        </dxo-texts>
    </dxo-editing>      
    <dxo-selection
        selectAllMode="allPages"
        [showCheckBoxesMode]="esVisibleSelecc"
        mode="multiple">
    </dxo-selection>

    <dxi-column dataField="ITEM"
        [visible]="false">
    </dxi-column>

    <dxi-column dataField="SOPORTE"
        caption="Soporte"
        [allowEditing]="especModificarSoporte"
        [visible]="visibleCols.SOPORTE"
        calculateDisplayValue="SOPORTE">
    </dxi-column>

    <dxi-column dataField="PRODUCTO"
        caption="Producto"
        calculateDisplayValue="PRODUCTO"
        [allowEditing]="especModificarProducto"
        editCellTemplate="listaProductos">
    </dxi-column>

    <dxi-column dataField="NOMBRE_PRODUCTO"
        caption="Nombre del Producto"
        [allowEditing]="false">
    </dxi-column>

    <dxi-column dataField="ATRIBUTO"
        caption="Atr"
        calculateDisplayValue="ATRIBUTO"
        editCellTemplate="listaAtributos">
    </dxi-column>

    <dxi-column dataField="TIPO_INVENTARIO"
        caption="Tipo Inv"
        calculateDisplayValue="TIPO_INVENTARIO"
        editCellTemplate="listaTipoInv">
    </dxi-column>

    <dxi-column dataField="PRODUCTO_KIT"
        caption="Pro/Kit"
        calculateDisplayValue="PRODUCTO_KIT"
        [allowEditing]="false"
        [width]="50"
        cellTemplate="verKit">
    </dxi-column>

    <dxi-column dataField="UDM_PRESENTACION"
        caption="UM Pres."
        [allowEditing]="especModificarUMPres"
        calculateDisplayValue="UDM_PRESENTACION"
        [visible]="visibleCols.UDM_PRESENTACION"
        editCellTemplate="listaUDMPres">
    </dxi-column>

    <dxi-column dataField="UDM_PRES"
        [visible]="false">
    </dxi-column>

    <dxi-column dataField="CANTIDAD_PRES"
        [visible]="false">
    </dxi-column>
    
    <dxi-column 
        dataField="UBICACION" 
        caption="Ubicación" >
    </dxi-column>

    <dxi-column dataField="CANTIDAD"
        caption="Cantidad"
        [setCellValue]="onChangeCantidad"
        alignment="right"
        dataType="number"
        [format]="especCantidadFormato"
        [editorOptions]="{format: especCantidadFormato}">
    </dxi-column>

    <dxi-column dataField="UDM_EQUIV"
        caption="UM Equiv"
        [allowEditing]="false"
        cellTemplate="verUMEquiv"
        calculateDisplayValue="UDM_EQUIV">
    </dxi-column>

    <dxi-column dataField="CANTIDAD_EQUIV"
        [visible]="false">
    </dxi-column>

    <dxi-column dataField="CANTIDAD_REAL"
        caption="Can Equiv"
        alignment="right"
        dataType="number"
        [allowEditing]="false"
        [format]="especCantidadFormato">
    </dxi-column>

    <dxi-column dataField="SERIALES"
        caption="S/N"
        calculateDisplayValue="SERIALES"
        [allowEditing]="false"
        [width]="50"
        cellTemplate="verSeriales">
    </dxi-column>

    <dxi-column dataField="GRAVAMENES"
        caption="Gravamenes"
        [allowEditing]="false"
        [width]="400"
        [visible]="false">
    </dxi-column>
    <dxi-column dataField="GRAV_ORG"
        caption="Gravamenes"
        [allowEditing]="false"
        [width]="400"
        [visible]="false">
    </dxi-column>

    <dxi-column dataField="VALOR_UNITARIO"
        caption="Valor Unitario"
        [setCellValue]="onChangeValorUnitario"
        [allowEditing]="especModificarPrecio"
        alignment="right"
        dataType="number"
        [visible]="visibleCols.VALOR_UNITARIO"
        [format]="especMonedaFormato.split(';')[0]"
        [editorOptions]="{format: especMonedaFormato}">
    </dxi-column>

    <dxi-column dataField="VALOR_DESCUENTO"
        [setCellValue]="onChangeValorDescuento"
        caption="Descuento"
        alignment="right"
        dataType="string"
        [format]="especMonedaFormato.split(';')[0]"
        [visible]="visibleCols.VALOR_UNITARIO"
        >
    </dxi-column>

    <dxi-column dataField="SUB_TOTAL"
        caption="Subtotal"
        [allowEditing]="false"
        alignment="right"
        dataType="number"
        [visible]="visibleCols.SUB_TOTAL"
        [format]="especMonedaFormato.split(';')[0]"
        [editorOptions]="{format: especMonedaFormato}">
    </dxi-column>

    <dxi-column dataField="VALOR_IVA"
        caption="IVA"
        [allowEditing]="false"
        alignment="right"
        dataType="number"
        [visible]="visibleCols.VALOR_IVA"
        [format]="especMonedaFormato.split(';')[0]"
        [editorOptions]="{format: especMonedaFormato}">
    </dxi-column>

    <dxi-column dataField="TOTAL"
        caption="Total"
        [allowEditing]="false"
        alignment="right"
        dataType="number"
        [visible]="visibleCols.TOTAL"
        [format]="especMonedaFormato.split(';')[0]"
        [editorOptions]="{format: especMonedaFormato}">
    </dxi-column>

    <div *dxTemplate="let cellInfo of 'listaProductos'">
        <!-- <dx-select-box 
            #xs_PRODUCTOS
            id="xs_PRODUCTOS"
            [dataSource]="DProductos" 
            [(value)]="cellInfo.data.PRODUCTO" 
            valueExpr="PRODUCTO"
            displayExpr="PRODUCTO"
            [searchEnabled]="true"
            searchMode="contains"
            [searchExpr]="['PRODUCTO', 'NOMBRE']"
            [dropDownOptions]="dropDownOptions"
            (onOpened)="onOpenedProducto($event)"
            (onValueChanged)="onSeleccRowProducto($event, cellInfo)">

            <div *dxTemplate="let data of 'item'">
                <div style="width: 20%; float:left">
                    {{ data.PRODUCTO }}
                </div>
                
                <div style="width: 20%; float:right; text-align: right;">
                    {{ data.PRECIO | number:'1.0-2':'en-US' }}
                </div>
                
                <div style="width: 60%; float:right; 
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: ellipsis; "
                >
                    {{ data.NOMBRE }}
                </div>
            </div>
            <div *dxTemplate="let data of 'tempEncab'" style="width: 100%">
                <div id="btnCompoRefreshSbox">
                    <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                </div>
                <dx-check-box 
                    #checkProSoloPrecio
                    text="Solo con precio"
                    (onValueChanged)="onSoloProPrecio($event)"
                    [style.margin-left]="'20px'"
                ></dx-check-box>
                <dx-check-box 
                    #checkProProveedor
                    text="Productos del proveedor"
                    (onValueChanged)="onSoloProProveedor($event)"
                    [style.margin-left]="'20px'"
                ></dx-check-box>
            </div>
        </dx-select-box> -->
        <dx-drop-down-box   
            #ddProductos
            id="ddProductos"
            [(value)]="cellInfo.data.PRODUCTO"
            valueExpr="PRODUCTO"
            displayExpr="PRODUCTO"
            placeholder="Producto"
            [showClearButton]="true"
            [dataSource]="DProductos"
            [acceptCustomValue]="true"
            [dropDownOptions]="dropDownOptions"
            [inputAttr]="{style: 'text-transform: uppercase'}"
            (onOpened)="onDropdownOpenedPro($event)"
            (onKeyDown)="onKeyDownListaPro($event, cellInfo)"
            (onInput)="onInputListaPro($event, cellInfo)"
            contentTemplate="contentTemplate"
            >
            <div *dxTemplate="let data of 'contentTemplate'">
                <dx-data-grid 
                    #gridProLista 
                    id="gridProLista"
                    keyExpr="PRODUCTO"
                    [dataSource]="DProductos"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    [autoNavigateToFocusedRow]="true"
                    height="100%"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [customizeColumns]="customizeColumnsSearch"
                    (onOptionChanged)="onSearchChanged($event)"
                    (onSelectionChanged)="onSeleccRowProducto($event, cellInfo)"
                    >
                    <dxo-paging [pageSize]="100"> </dxo-paging>
                    <dxo-pager
                        [visible]="true"
                        allowedPageSizes="[50, 100, 'all']"
                        [showPageSizeSelector]="true"
                        [showInfo]="true"
                        [showNavigationButtons]="true">
                    </dxo-pager>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search"></dxo-search-panel>
                    <dxi-column 
                        dataField="PRODUCTO" 
                        caption="Producto"
                        width="17%"
                    >
                    </dxi-column>
                    <dxi-column 
                        dataField="NOMBRE" 
                        caption="Nombre" 
                        width="65%"
                    >
                    </dxi-column>
                    <!-- <dxi-column 
                        dataField="PRECIO" 
                        caption="Precio" 
                        dataType="number"
                        [format]="especMonedaFormato.split(';')[0]"
                    >
                    </dxi-column> -->

                    <dxo-toolbar>
                        <dxi-item name="searchPanel"></dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                            <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                            <dx-check-box 
                                #checkProSoloPrecio
                                text="Solo con precio"
                                (onValueChanged)="onSoloProPrecio($event)"
                            ></dx-check-box>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                            <dx-check-box 
                                #checkProProveedor
                                text="Productos del proveedor"
                                (onValueChanged)="onSoloProProveedor($event)"
                                [style.margin-left]="'20px'"
                            ></dx-check-box>
                            </div>
                        </dxi-item>
                    </dxo-toolbar>

                </dx-data-grid>
            </div>
        </dx-drop-down-box>                    

    </div>

    <div *dxTemplate="let cellInfo of 'listaAtributos'">
        <dx-select-box 
            #xs_ATRIBUTO
            id="xs_ATRIBUTO"
            [dataSource]="DAtributos" 
            [(value)]="cellInfo.data.ATRIBUTO" 
            valueExpr="ATRIBUTO"
            displayExpr="ATRIBUTO"
            [searchEnabled]="false"
            [searchExpr]="['ATRIBUTO']"
            (onValueChanged)="onSeleccRowAtributo($event, cellInfo)">

            <div *dxTemplate="let data of 'tempEncab'" style="width: 100%;">
                <div id="btnCompoRefreshSbox">
                    <dx-button icon="refresh" (onClick)="refreshClick('atributos')"></dx-button>
                </div>
            </div>

        </dx-select-box>

    </div>

    <div *dxTemplate="let cellInfo of 'listaTipoInv'">
        <dx-select-box 
            #xs_TIPO_INVENTARIO
            id="xs_TIPO_INVENTARIO"
            [dataSource]="DTiposInv" 
            [(value)]="cellInfo.data.TIPO_INVENTARIO" 
            valueExpr="TIPO_INVENTARIO"
            displayExpr="TIPO_INVENTARIO"
            [searchEnabled]="false"
            [searchExpr]="['TIPO_INVENTARIO']"
            (onValueChanged)="onSeleccRowTipoInv($event, cellInfo)">
        </dx-select-box>

    </div>

    <div *dxTemplate="let cellInfo of 'verKit'">
        <i class="dx-icon-product"></i>
    </div>

    <div *dxTemplate="let cellInfo of 'verSeriales'">
        <!-- <i class="dx-icon-bookmark"></i> -->
        <div class="xs-ir-a-clientes">
            <dx-button 
                width="30x" 
                height="15px" 
                type="success"
            >
                Ver
            </dx-button>
        </div>
    </div>

    <div *dxTemplate="let cellInfo of 'listaUDMPres'">
        <dx-select-box 
            #xs_UDM_COMPRA
            id="xs_UDM_COMPRA"
            [dataSource]="DListaUMCompra" 
            [searchEnabled]="true"
            [(value)]="cellInfo.data.UDM_PRES"
            displayExpr="UDM_COMPRA"
            valueExpr="UDM_COMPRA"
            searchMode="contains"
            [dropDownOptions]="{ width: 600 }"
            (onValueChanged)="onValueChangedUMCompra($event, cellInfo)"
            >
            <div *dxTemplate="let data of 'item'">
                <div style="width: 20%; float:left">
                    {{ data.UDM_COMPRA }}
                </div>
                <div style="width: 40%; float:right">
                    {{ data.CANTIDAD_EQUIV }}
                </div>
                <div style="width: 20%; float:right; ">
                    Equiv: {{ data.UDM_EQUIV }}
                </div>
                <div style="width: 20%; float:right">
                    {{ data.CANTIDAD_PRES }}
                </div>
            </div>

        </dx-select-box>
    </div>

    <div *dxTemplate="let cellInfo of 'verUMEquiv'">
        {{ cellInfo.data.UDM_EQUIV + ' ≡ ' + cellInfo.data.CANTIDAD_EQUIV }}
    </div>

    <dxo-toolbar *ngIf="esEdicion">
        <dxi-item name="searchPanel"></dxi-item>
        <dxi-item name="exportButton">
        </dxi-item>
        <dxi-item location="before" >
            <div *dxTemplate >
                <dx-text-box
                    [value]="codigoBarrasPro"
                    placeholder="Código de barras"
                    width="300"
                    (onValueChanged)="onValueChangedCBarras($event)"
                    >
                </dx-text-box>
            </div>
        </dxi-item>

        <dxi-item location="before" *ngIf="verAcciones">
            <div *dxTemplate >
                <dx-select-box
                    [dataSource]="DAccionesMov"
                    [(value)]="accionesItems"
                    displayExpr="FILTRO"
                    valueExpr="FILTRO"
                    width="300"
                    placeholder="Acción Movimiento"
                    (onItemClick)="onSeleccAccion($event)"
                ></dx-select-box>
            </div>
        </dxi-item>

        <dxi-item location="before">
            <div *dxTemplate>
            <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
            </dx-button>
        </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
                </dx-button>
            </div>
        </dxi-item>
    </dxo-toolbar>

</dx-data-grid>

<!-- Seriales -->
<app-COM20303
    [events]="eventsSubjectSeriales.asObservable()"
    (onRespuestaSeriales)="onRespuestaSeriales($event)"
    [(DMovimientos)]="DMovimientos"
>
</app-COM20303>

<app-xc-combo-grid
    [events]="eventsSubjectGrid.asObservable()"
    (onRespuestaSelecc)="onRespuestaGrid($event)"
  >
</app-xc-combo-grid>

<dx-tooltip #tipKit id="tipKit" position="right">
    <div *dxTemplate="let data of 'content'">
      <div class='tooltipContent'>
  
        <span class="xt-text-sm-l"><strong>Productos del Combo</strong></span>
        <table class="tabKits">
            <tr>
                <td>Producto</td>
                <td>Nombre</td>
                <td>Cantidad</td>
            </tr>
            <tr *ngFor="let item of infoKit; let index = index;">
                <td><b>{{ item.PRODUCTO_KIT }}</b></td>
                <td>{{ item.NOMBRE }}</td>
                <td>{{ item.CANTIDAD }}</td>
            </tr>
        </table>
        
      </div>
    </div>
</dx-tooltip>
  
<dx-tooltip #tipIva id="tipIva" position="right">
    <div *dxTemplate="let data of 'content'">
      <div class='tooltipContent'>
        <!-- <div><b>Tasa: {{ infoIva.ID_TASA }}</b></div><br>
        <div>Tasa: {{ infoIva.DESCRIPCION }}</div><br>
        <div>%: {{ infoIva.PORCENTAJE }}</div><br>
        <div>Valor Base: {{ infoIva.VALOR_BASE }}</div><br> -->
  
        <table class="tabIvas">
          <tr>
            <td>Tasa</td>
            <td><b>{{ infoIva.ID_TASA }}</b></td>
          </tr>
          <tr>
            <td>Nombre</td>
            <td>{{ infoIva.DESCRIPCION }}</td>
          </tr>
          <tr>
            <td>%</td>
            <td>{{ infoIva.PORCENTAJE }}</td>
          </tr>
          <tr>
            <td>Base</td>
            <td>{{ infoIva.VALOR_BASE }}</td>
          </tr>
        </table>
        <span class="xt-text-sm-l"><strong>CLIC</strong> sobre la columna para <br>
              modificar tasa de <strong>IVA</strong></span>
        
      </div>
    </div>
</dx-tooltip>
  
<dx-tooltip #tipExis id="tipExis" position="right">
    <div *dxTemplate="let data of 'content'">
      <div class='tooltipContent'>
  
        <span class="xt-text-sm-l"><strong>Existencia para el Producto</strong></span><br >
        <span class="xt-text-sm-l" style="font-size: 14px;"><strong>{{ productoExis }}</strong></span>
        <table class="tabExis">
            <tr>
                <td>Bodega</td>
                <td>Cantidad</td>
                <td>UM</td>
                <td>Can Pres</td>
                <td>UM Pres</td>
            </tr>
            <tr *ngFor="let item of infoExis; let index = index;">
                <td>{{ item.ID_UN_BODEGA }} {{ item.DESCRIPCION_BODEGA }}</td>
                <td style="text-align: right;">{{ item.CANTIDAD_SALDO | number:'1.2-2' }}</td>
                <td>{{ item.UDM_PRO }}</td>
                <td style="text-align: right;">{{ item.CANTIDAD_CONV | number:'1.2-2' }}</td>
                <td>{{ item.UDM_PRES }}</td>
            </tr>
        </table>
        
      </div>
    </div>
</dx-tooltip>
  
