::ng-deep #splitterMain > as-split {
  height: calc(100vh - 120px);
}

.tem-grpHorarios {
  display: flex;
  justify-content: flex-start;
}

.tem-grpHorarios > span {
  display: flex;
  align-items: center;
}

.tem-grpHorarios > span > p {
  margin: 0 1rem 0 0;
}

.container-icon-secc {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

::ng-deep .dx-checkbox-icon {
  border: 1px solid #9b9b9b !important;
}

.control-gestion {
  display: flex;
}

::ng-deep #form > div > div > div > div:nth-child(4) > div > div:nth-child(1) > div > div > div > div {
  width: 205% !important;
}

::ng-deep .dx-field-item-label-location-top {
  padding: 0 !important;
}


::ng-deep .xt-container {
  background-color: #fff;
  border-radius: 10px;
}

.constainer-expan {
  display: flex !important;
  align-items: center;
  padding: 5px;
}

::ng-deep #form > div > div > div > div:nth-child(4) > div > div:nth-child(1) > div > div > div > div > div > div > div > div > div > div > div:nth-child(3) > div > div {
  z-index: 9988;
}

::ng-deep #idSeccion > div > div.dx-texteditor-input-container > input {
  text-transform: uppercase;
  font-weight: bold; 
  font-size: 18px;
}                            

::ng-deep .dx-editor-filled.dx-texteditor-with-floating-label .dx-texteditor-label, .dx-editor-filled.dx-texteditor-with-label .dx-texteditor-label  {
  top: -14px;
  font-size: 14px;
}
::ng-deep .dx-editor-filled.dx-texteditor-with-floating-label.dx-dropdowneditor-active .dx-texteditor-label, .dx-editor-filled.dx-texteditor-with-floating-label.dx-state-focused .dx-texteditor-label, .dx-editor-filled.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused .dx-texteditor-label {
  top: -14px;
  font-size: 14px;
}
