<dx-data-grid
    #gridCubicaje
    id="gridCubicaje"
    class="xts-datagrid"
    [dataSource]="DCubicaje"
    keyExpr="ITEM"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    columnResizingMode="widget"
    [showBorders]="true"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    (onInitNewRow)="onInitNewRow($event)"
    (onRowInserting)="insertingRow($event)"
    (onRowInserted)="insertedRow($event)"
    (onRowUpdating)="updatingRow($event)"
    (onRowUpdated)="updatedRow($event)"
    (onRowRemoved)="removedRow($event)"
    (onEditingStart)="onEditingStart($event)"
    (onToolbarPreparing)="onToolbarPreparingGrid($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowValidating)="onRowValidating($event)"
    (onSelectionChanged)="selectionGrid($event)"
    (onCellPrepared)="onCellPrepared($event)"
>
    <dxo-editing 
        mode="cell"
        [useIcons]="false" 
        [allowUpdating]="esEdicion" 
        [allowDeleting]="false" 
        [allowAdding]="esEdicion">
        <dxo-texts
            confirmDeleteMessage="">
        </dxo-texts>
    </dxo-editing>

    <dxo-selection 
        selectAllMode="allPages"     
        [showCheckBoxesMode]="esVisibleSelecc" 
        mode="multiple">
    </dxo-selection>

    <dxi-column dataField="ITEM" [visible]="false"></dxi-column>
    <dxi-column caption="Información">
        <dxi-column 
            dataField="CONCEPTO" 
            caption="Concepto" 
            dataType="text" 
            width="260" 
            [editorOptions]="{ maxLength: 50 }"  
            >
        </dxi-column>
        <dxi-column 
            dataField="CANTIDAD" 
            caption="Cant." 
            width="70"
            alignment="right"
            dataType="number"
            [editorOptions]="{format: '#,##0.00', min: 0}" 
            [setCellValue]="setCambio_cantidad" >
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
    </dxi-column>
    <dxi-column caption="Dimensiones de empaque (cm)" alignment="center" >
        <dxi-column dataField="DE_ALTO" caption="Alto (H)" alignment="right" width="90"
                    dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_de_alto" >
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
        <dxi-column dataField="DE_LARGO" caption="Largo (L)" alignment="right" width="90"
                    dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_de_largo">
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
        <dxi-column dataField="DE_ANCHO" caption="Ancho (W)" alignment="right" width="90"
                    dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_de_ancho">
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
        <dxi-column dataField="DE_VOLUMEN" caption="Mts Cubicos" alignment="right" width="90"
                    dataType="number" [allowEditing]="false" [editorOptions]="{format: '#,##0.00', min: 0}" >
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
    </dxi-column>
    <dxi-column caption="Espacio muerto (cm)" alignment="center">
        <dxi-column dataField="EM_ALTO" caption="Alto (H)" alignment="right" width="90"
                    dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_em_alto">
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
        <dxi-column dataField="EM_LARGO" caption="Largo (L)" alignment="right" width="90"
                    dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_em_largo">
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
        <dxi-column dataField="EM_ANCHO" caption="Ancho (W)" alignment="right" width="90"
                    dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_em_ancho">
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
        <dxi-column dataField="EM_VOLUMEN" caption="Mts Cubicos" alignment="right" width="90"
                    dataType="number" [allowEditing]="false" [editorOptions]="{format: '#,##0.00', min: 0}" >
            <dxo-format
                type="fixedPoint"
                [precision]="2">
            </dxo-format>
        </dxi-column>
    </dxi-column>
    <dxi-column caption="Dimención y Peso">
        <dxi-column dataField="CUBICAJE_NETO" caption="Cubicaje Neto" alignment="right" width="90" 
                        dataType="number" [allowEditing]="false" [editorOptions]="{format: '#,##0.00', min: 0}" >
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
        </dxi-column>
        <dxi-column dataField="PESO" caption="Peso - Kg / Unidad" alignment="right" width="90" 
                        dataType="number" [editorOptions]="{format: '#,##0.00', min: 0}" [setCellValue]="setCambio_peso" >
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
        </dxi-column >
        <dxi-column dataField="PESO_TOTAL" 
                    caption="Peso - Kg / Total" 
                    alignment="right" 
                    width="90" [allowEditing]="false" 
                    dataType="number" 
                    [editorOptions]="{format: '#,##0.00', min: 0}" 
                    calculateDisplayValue="PESO_TOTAL"
                    >
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
        </dxi-column >
    </dxi-column>


    <div *dxTemplate="let grupoObj of 'grpParte'">
        <p class="headergrupo m-0">{{grupoObj.row.data.items[0].ID_PARTE}} {{grupoObj.row.data.items[0].NOMBRE_PARTE}}</p>
    </div>

    <dxo-summary>  
        <dxi-total-item  
            summaryType="count"  
            alignment="left"  
            showInColumn="CONCEPTO"  
            cssClass="summaryRow"  
            [customizeText]="customTotCub">
        </dxi-total-item>  
        <dxi-total-item
            column="CANTIDAD"
            summaryType="sum"
            cssClass="summaryRow"  
            valueFormat="decimal"
            [customizeText]="customTotales"
        >
        </dxi-total-item>
        <dxi-total-item
            column="DE_VOLUMEN"
            summaryType="sum"
            cssClass="summaryRow"  
            valueFormat="decimal"
            [customizeText]="customTotales"
        >
        </dxi-total-item>
        <dxi-total-item
            column="EM_VOLUMEN"
            summaryType="sum"
            cssClass="summaryRow"  
            valueFormat="decimal"
            [customizeText]="customTotales"
        >
        </dxi-total-item>
        <dxi-total-item
            column="CUBICAJE_NETO"
            summaryType="sum"
            valueFormat="decimal"
            cssClass="summaryRow"  
            [customizeText]="customTotales"
        >
        </dxi-total-item>
        <dxi-total-item
            column="PESO_TOTAL"
            summaryType="sum"
            valueFormat="decimal"
            cssClass="summaryRow"  
            [customizeText]="customTotales"
        >
        </dxi-total-item>
    </dxo-summary>  

    <dxo-toolbar *ngIf="esEdicion">
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
            </dx-button>
            </div>
        </dxi-item>
    </dxo-toolbar>
    
</dx-data-grid>