<dx-popup #popUpFechaEvento id="popUpFechaEvento" width="auto" height="auto" [showTitle]="false" [dragEnabled]="false"
  [hideOnOutsideClick]="true" [showCloseButton]="false" [(visible)]="popupVisible" [dragEnabled]="true">
  <dxo-position my="center" at="center" of="window"> </dxo-position>

  <div *dxTemplate="let data of 'content'">
    <dx-form id="formFechaEvento" [formData]="DFechaPlan" [colCount]="visibleRepetir ? 2 : 1"
      style="margin-bottom: 70px">
      <dxi-item itemType="group" caption="" [colCount]="1">
        <dxi-item itemType="group" caption="" [colCount]="2">
          <dxi-item dataField="FECHA_INICIO">
            <dxo-label text="Fecha Inicia*"></dxo-label>
            <div *dxTemplate>
              <dx-date-box [type]="visibleAllDay === true ? 'date' : 'datetime'" [value]="DFechaPlan.FECHA_INICIO"
                [inputAttr]="{ 'aria-label': 'Date And Time' }" (onValueChanged)="onChangeFechaDesde($event)"
                [disabledDates]="disableDates">
              </dx-date-box>
            </div>
          </dxi-item>

          <dxi-item dataField="FECHA_FIN">
            <dxo-label text="Fecha final*"></dxo-label>
            <div *dxTemplate>
              <dx-date-box [type]="visibleAllDay === true ? 'date' : 'datetime'" [value]="DFechaPlan.FECHA_FIN"
                (onValueChanged)="onChangeFechaHasta($event)" [disabledDates]="disableDates"
                [inputAttr]="{ 'aria-label': 'Date And Time' }">
              </dx-date-box>
            </div>
          </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" caption="" [colCount]="3">
          <dxi-item dataField="TODO_DIA">
            <dxo-label text="Todo el día"></dxo-label>
            <div *dxTemplate>
              <dx-switch [value]="DFechaPlan.TODO_DIA" (onValueChanged)="onTodoDia($event)"></dx-switch>
            </div>
          </dxi-item>

          <dxi-item dataField="REPETIR">
            <dxo-label text="Repetir"></dxo-label>
            <div *dxTemplate>
              <dx-switch [value]="DFechaPlan.REPETIR" (onValueChanged)="onRepetir($event)"></dx-switch>
            </div>
          </dxi-item>

          @if (CLASE === 'TAREAS' || CLASE === 'EVENTOS') {
            <dxi-item dataField="RECORDATORIO">
              <dxo-label text="Recordatorio"></dxo-label>
              <div *dxTemplate>
                <dx-switch [value]="DFechaPlan.RECORDATORIO" (onValueChanged)="onRecordar($event)"></dx-switch>
              </div>
            </dxi-item>
          }
        </dxi-item>

        @if (DFechaPlan.RECORDATORIO) {
          <dxi-item itemType="group" caption="" [colCount]="countColRecord">
            @if (visibleRecordatorio === true) {
              <dxi-item dataField="INTERVALO_REC">
                <dxo-label [text]="text_intervalo"></dxo-label>
                <div *dxTemplate>
              <dx-number-box [width]="100" format="#" [value]="
                  DFechaPlan.INTERVALO_REC ? DFechaPlan.INTERVALO_REC : 1
                " [showSpinButtons]="true" [min]="1" [max]="maxCountValue"
                  (onValueChanged)="setHoraRecordatorio($event)"></dx-number-box>
                </div>
              </dxi-item>
            }
            <dxi-item dataField="TIPO_RECORDATORIO">
              <dxo-label text="Recordar"></dxo-label>
              <div *dxTemplate>
                <dx-select-box displayExpr="textTIPO_RECORDATORIO" valueExpr="TIPO_RECORDATORIO"
                  [items]="ItemsSeguimiento" [(value)]="DFechaPlan.TIPO_RECORDATORIO"
                  (onValueChanged)="onValueRecordar($event)"
                [width]="visibleRecordatorio === true ? '105px' : 'auto'"></dx-select-box>
              </div>
            </dxi-item>
            @if (visibleRecordatorio === true) {
              <dxi-item>
                <div *dxTemplate style="display: flex; margin-top: 34px">
                  {{ "Antes" }}
                </div>
              </dxi-item>
            }
            @if (visibleRecordatorio === false) {
              <dxi-item dataField="INTERVALO_REC_FECHA">
                <dxo-label text="A las"></dxo-label>
                <div *dxTemplate>
                  <dx-date-box [(value)]="DFechaPlan.INTERVALO_REC_FECHA" type="time" [showClearButton]="true"
                    [inputAttr]="{ 'aria-label': 'Clear Buttom' }" displayFormat="hh:mm a"
                    (onValueChanged)="setHoraRecordatorioTD($event)">
                  </dx-date-box>
                </div>
              </dxi-item>
            }
          </dxi-item>
        }
      </dxi-item>

      @if (visibleRepetir) {
        <dxi-item itemType="group" caption="">
          <dxi-item dataField="FRECUENCIA">
            <dxo-label text="Repetir"></dxo-label>
            <div *dxTemplate>
              <dx-select-box displayExpr="textFRECUENCIA" valueExpr="FRECUENCIA" [items]="ItemsFrecuencia"
              [value]="DFechaPlan.FRECUENCIA" (onValueChanged)="onValueRepetirModo($event)"></dx-select-box>
            </div>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="1">
            <dxi-item dataField="INTERVALO_FRECUENCIA">
              <dxo-label [text]="tit1RepetirFrec"></dxo-label>
              <div *dxTemplate style="display: flex; flex-direction: row; gap: 50px">
                <dx-number-box [width]="100" format="#" [value]="DFechaPlan.INTERVALO_FRECUENCIA" [showSpinButtons]="true"
                [min]="1" [max]="9999" (onValueChanged)="onValueRepetirFrec($event)"></dx-number-box>
                {{ titRepetirFrec }}
              </div>
            </dxi-item>
            @if (DFechaPlan.FRECUENCIA == 'WEEKLY') {
              <dxi-item dataField="PERIODO_FRECUENCIA_DIA">
                <dxo-label text="Repetir en"></dxo-label>
                <div *dxTemplate>
                  <!-- stylingMode="" -->
                  <dx-button-group style="width: 100%" [items]="DDiaSemana" buttonTemplate="tempBtnDias"
                    selectionMode="multiple" keyExpr="id" [(selectedItemKeys)]="selectedDiasSemana"
                    (onSelectionChanged)="selectDia($event)">
                    <div *dxTemplate="let buttonData of 'tempBtnDias'">
                      {{ buttonData.text }}
                    </div>
                  </dx-button-group>
                </div>
              </dxi-item>
            }
            @if (DFechaPlan.FRECUENCIA == 'MONTHLY') {
              <dxi-item dataField="PERIODO_FRECUENCIA_DIA">
                <dxo-label text="Repetir En"></dxo-label>
                <div *dxTemplate>
                  <dx-number-box [width]="100" format="#" [value]="1" [showSpinButtons]="true" [min]="1" [max]="31"
                    [value]="DFechaPlan.PERIODO_FRECUENCIA_DIA" [inputAttr]="{ 'aria-label': 'Integer Format' }"
                  (onValueChanged)="changePeriodoFrecuDia($event)"></dx-number-box>
                </div>
              </dxi-item>
            }
            @if (DFechaPlan.FRECUENCIA == 'YEARLY') {
              <dxi-item>
                <dxo-label text="Repetir en"></dxo-label>
                <div *dxTemplate>
                  <div style="display: inline">
                    <div style="display: inline-block">
                      <dx-select-box [items]="DMeses" [value]="DFechaPlan.PERIODO_FRECUENCIA_MES"
                        [inputAttr]="{ 'aria-label': 'Simple Product' }"
                      (onValueChanged)="onValueRepetirMes($event)"></dx-select-box>
                    </div>
                    <div style="display: inline-block; padding-left: 20px">
                      <dx-number-box format="#" [width]="100" [showSpinButtons]="true" [min]="1" [max]="maxDiaMes"
                        [value]="DFechaPlan.PERIODO_FRECUENCIA_DIA" [inputAttr]="{ 'aria-label': 'Integer Format' }"
                      (onValueChanged)="changePeriodoFrecuDia($event)"></dx-number-box>
                    </div>
                  </div>
                </div>
              </dxi-item>
            }
          </dxi-item>
          <dxi-item itemType="group" caption="" style="width: 50%">
            <dxi-item dataField="TIPO_FIN_FRECUENCIA">
              <dxo-label text="Finalizar repetición"></dxo-label>
              <div *dxTemplate>
                <dx-radio-group displayExpr="text" valueExpr="id" [items]="DListaFinRepeticion"
                  [value]="DFechaPlan.TIPO_FIN_FRECUENCIA" (onValueChanged)="onChangeFechaFinFrec($event.value, '')">
                  <div *dxTemplate="let valorFin of 'item'">
                    <div class="radio-group">
                      {{ valorFin.id === "UNTIL" ? "El" : valorFin.text }}
                      <!-- {{ valorFin === "Hasta" ? "El" : valorFin }} -->
                      @if (valorFin.id == 'UNTIL') {
                        <div style="display: inline-block; padding-left: 20px">
                          <dx-date-box type="date" [value]="fechaFinFrec" [inputAttr]="{ 'aria-label': 'Date' }"
                            class="box-date" (onValueChanged)="onChangeFechaFinFrec('UNTIL', $event)">
                          </dx-date-box>
                        </div>
                      }
                      @if (valorFin.id == 'COUNT') {
                        <div style="display: inline-block; padding-left: 20px">
                          <dx-number-box [width]="100" format="#" [(value)]="count_fin_frecuencia" [showSpinButtons]="true"
                            [min]="1" [max]="9999" [inputAttr]="{ 'aria-label': 'Integer Format' }" class="box-count"
                          (onValueChanged)="onChangeFechaFinFrec('COUNT', $event)"></dx-number-box>
                        </div>
                      }
                      @if (valorFin.id == 'COUNT') {
                        <div style="display: inline-block; padding-left: 20px">
                          ocurrencia(s)
                        </div>
                      }
                    </div>
                  </div>
                </dx-radio-group>
              </div>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      }
    </dx-form>
    <div class="btns_actions">
      <dx-button text="Aceptar" stylingMode="contained" type="success" (onClick)="clickAccionFecha('aceptar')">
      </dx-button>
      <dx-button text="Cancelar" stylingMode="contained" type="normal" (onClick)="clickAccionFecha('cancelar')">
      </dx-button>
    </div>
  </div>
</dx-popup>