<dx-popup
  width="450"
  [height]="'100%'"
  [showTitle]="true"
  [(title)]="FUser.NOMBRE_COMPLETO"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  [shading]="true"
  [(visible)]="visiblePopup"
  [position]="{ my: 'right top', at: 'right top', of: '#container-body' }"
  >
  <div *dxTemplate="let data of 'content'" style="display: flex; flex-direction: column;" >
    <div style="width: 100%; height: 30%; max-height: 170px; display: flex; justify-content: center;" >
      @if (!activeIconPerfil) {
        <div id="headerDropdown" >
          <img [src]="FUser.FOTO" [alt]="FUser.NOMBRE_COMPLETO" width="150px" height="160px" class="foto-xt"/>
        </div>
      }
      @if (activeIconPerfil) {
        <span class="foto-content-name" id="headerDropdown" >
          <span>{{ iconNameUser }}</span>
        </span>
      }
    </div>
    <br>
      <div style="width: 100%; height: 70%;" >
        <dx-scroll-view width="100%" height="100%">
          <!-- <div class="container-info-user"> -->

          <dx-form
            #formMatriz
            id="formMatriz"
            [formData]="FUser"
            [colCount]="1"
            [readOnly]="readOnly"
            labelLocation="top"
            >
            <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
            <dxi-item dataField="PRIMER_NOMBRE" >
              <dxo-label text="Primer Nombre"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Primer Nombre"
                  [readOnly]="true"
                  [value]="FUser.PRIMER_NOMBRE">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="SEGUNDO_NOMBRE" >
              <dxo-label text="Segundo Nombre"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Segundo Nombre"
                  [readOnly]="true"
                  [value]="FUser.SEGUNDO_NOMBRE">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="PRIMER_APELLIDO" >
              <dxo-label text="Primer Apellido"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Primer Apellido"
                  [readOnly]="true"
                  [value]="FUser.PRIMER_APELLIDO">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="SEGUNDO_APELLIDO" >
              <dxo-label text="Segundo Apellido"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Segundo Apellido"
                  [readOnly]="true"
                  [value]="FUser.SEGUNDO_APELLIDO">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="AREA" >
              <dxo-label text="Area asignada"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Area asignada"
                  [readOnly]="true"
                  [value]="FUser.AREA">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="ROL" >
              <dxo-label text="Cargo"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Cargo"
                  [readOnly]="true"
                  [value]="FUser.ROL">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="TELEFONO" >
              <dxo-label text="Telefono"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Telefono"
                  [readOnly]="true"
                  [value]="FUser.TELEFONO">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="EMAIL" >
              <dxo-label text="E-Mail"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="E-Mail"
                  [readOnly]="true"
                  [value]="FUser.EMAIL">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="DIRECCION" [colSpan]="2">
              <dxo-label text="Dirección"></dxo-label>
              <div *dxTemplate>
                <dx-text-box
                  placeholder="Dirección"
                  [readOnly]="true"
                  [value]="FUser.DIRECCION">
                </dx-text-box>
              </div>
            </dxi-item>
          </dx-form>
          <br>
            <hr style="border: 1px solid; width: 100%;" />
            <div style="width: 100%; display: flex; flex-direction: column;">
              <dx-button icon="icon-refrescar" text="Solicitar actualización de datos" ></dx-button>
              <br>
                <dx-button icon="icon-refrescar" text="Salir" (onClick)="logout()"></dx-button>
              </div>

            <!-- </div> -->
          </dx-scroll-view>
        </div>
      </div>
    </dx-popup>