<div class="row gx-3">
    <div class="col-12">

      <div class="card-content row">
        <div id="idfac" class="col">
          
          <dx-form
            #formPrefacturaBasico
            id="formPrefacturaBasico"
            class="dx-form-group"
            [formData]="DPrefactura"
            [readOnly]="readOnly"
            labelLocation="left"
            [colCount]="1"
            (onEditorEnterKey)="onEditorEnterKey"
          > 
            <!-- Datos de la Prefactura -->
            <dxi-item itemType="group">
              <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
              <dxi-item itemType="group" cssClass="group-idfac">
    
                <dxi-item dataField="DOCUMENTO"
                  editorType="dxSelectBox"
                  [editorOptions]="{placeholder:'Id documento'}"
                >
                  <!-- <dxo-label text="Prefactura Numero" [style]="{'font-size': '18px', 'width': '40%'}"></dxo-label> -->
                  <dxo-label template="labelDoc"></dxo-label>
                  <div *dxTemplate>
                    <dx-select-box
                      id="xs__DOCUMENTO"
                      [dataSource]="DDocumentos"
                      displayExpr="DOCUMENTO"
                      valueExpr="DOCUMENTO"
                      [value]="sbDocumento"
                      [inputAttr]="{ name: 'DOCUMENTO' }"
                      [searchEnabled]="true"
                      [readOnly]="readOnly"
                      [stylingMode]="stylingMode"
                      [acceptCustomValue]="true" 
                      [dropDownOptions]="dropDownOptionsListBox"
                      (onValueChanged)="onSeleccDocumento($event)"
                      [inputAttr]="{'style': 'font-size: 18px; font-weight: 500; text-transform: uppercase; padding: 4px 11px 1px;'}"
                      >
                    </dx-select-box>
                  </div>
                </dxi-item>

                <dxi-item dataField="FECHA" editorType="dxDateBox" >
                  <dxo-label text="Fecha"></dxo-label>
                </dxi-item>
    
                <dxi-item dataField="FECHA_REGISTRO"
                  editorType="dxDateBox"
                  [editorOptions]="{ readOnly: true }"
                >
                  <dxo-label text="Fecha de Registro"></dxo-label>
                </dxi-item>

              </dxi-item>
      
              <dxi-item itemType="group" >
    
                <dxi-item dataField="ESTADO">
                  <dxo-label text="Estado"></dxo-label>
                  <div *dxTemplate>
                    <dx-text-box
                      #xs__ESTADO
                      id="xs__ESTADO"
                      placeholder="Estado"
                      [readOnly]="true"
                      [elementAttr]="{ style: setBackgroundStyle(DPrefactura.ESTADO) }"
                      [value]="DPrefactura.ESTADO"
                    ></dx-text-box>
                  </div>
                </dxi-item>

                <dxi-item dataField="USUARIO" [editorOptions]="{ readOnly: true }" >
                  <dxo-label text="Usuario"></dxo-label>
                  <div *dxTemplate> 
                    <dx-text-box
                      #xs__USUARIO
                      id="xs__USUARIO"
                      placeholder="Usuario"
                      [readOnly]="true"
                      [value]="DPrefactura.USUARIO"
                    ></dx-text-box>
                  </div>
                </dxi-item>

              </dxi-item>

            </dxi-item>

            <div *dxTemplate="let data of 'labelDoc'">
                <span>Prefactura Numero</span>
                <span class="help-icon material-icons" title="Ingrese el documento">!</span>
            </div>                  


            <!-- Datos del Cliente -->
            <dxi-item caption="Cliente" itemType="group" cssClass="group-with-line group-cliente">

              <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
              <dxi-item dataField="ID_CLIENTE" >
                <dxo-label text="Documento del Cliente"></dxo-label>
                <div *dxTemplate> 
                  <dx-drop-down-box
                    #ddProducto
                    [(value)]="gridBoxCliente"
                    valueExpr="ID_CLIENTE"
                    displayExpr="ID_CLIENTE"
                    placeholder="Documento"
                    [readOnly]="readOnly"
                    [(opened)]="isGridBoxCliOpened"
                    [dataSource]="DClientes"
                    [dropDownOptions]="{width:600, height: 300, hideOnParentScroll: true, container: '#router-container'}"
                    columnResizingMode="widget">
                    <div id="containerClientes" *dxTemplate="let data of 'content'">
                      <dx-data-grid
                        #GClientes
                        height="100%"
                        width="100%"
                        keyExpr="ID_CLIENTE"
                        [dataSource]="DClientes"
                        [(selectedRowKeys)]="gridBoxCliente"
                        [selection]="{ mode: 'single' }"
                        (onSelectionChanged)="onSelectionCliente($event)" 
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        [columnMinWidth]="100"
                        [rowAlternationEnabled]="true"
                        [focusedRowEnabled]="true"
                        [hoverStateEnabled]="true">
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxi-column dataField="ID_CLIENTE" caption="Documento del Cliente" cssClass="clsEncabHis" [width]="130"></dxi-column>
                        <dxi-column dataField="NOMBRE_COMPLETO" caption="Nombre del Cliente" cssClass="clsEncabHis"></dxi-column>
                      </dx-data-grid>
                    </div>
                  </dx-drop-down-box>
                </div>  
              </dxi-item>
      
              <dxi-item dataField="NOMBRE_CLIENTE" [editorOptions]="{ readOnly: true, placeholder:'Nombre' }" >
                <dxo-label text="Nombre de Cliente"></dxo-label>
              </dxi-item>
      
              <dxi-item dataField="DIRECCION" >
                <dxo-label text="Dirección"></dxo-label>
                <div *dxTemplate> 
                  <dx-select-box
                    #ddDireccion
                    [dataSource]="DDirecciones"
                    displayExpr="DIRECCION"
                    valueExpr="DIRECCION"
                    placeholder="Dirección"
                    [value]="sbIdDireccion"
                    [readOnly]="readOnly"
                    [inputAttr]="{ name: 'DIRECCION' }"
                    [searchEnabled]="true"
                    [acceptCustomValue]="true"
                    [readOnly]="readOnly"
                    [stylingMode]="stylingMode"
                    [dropDownOptions]="dropDownOptionsListBox"
                    (onValueChanged)="onSeleccDireccion($event)">
                  </dx-select-box>
                </div>
              </dxi-item>
      
              <dxi-item dataField="ID_DOC_SOPORTE" placeholder="OC-000">
                <dxo-label text="Orden de Compra"></dxo-label>
              </dxi-item>
      
              <dxi-item dataField="FECHA_OC" editorType="dxDateBox">
                <dxo-label text="Fecha Orden de Compra"></dxo-label>
                <div *dxTemplate> 
                  <dx-date-box
                    [readOnly]="readOnly">
                  </dx-date-box>
                </div>  
              </dxi-item>

            </dxi-item>

          </dx-form>
        </div>
 
        <!-- Totales y Gravamenes -->
        <div id="totfac" class="col">
          <div class="tot-actions">
            <button class="btn btn-light btn-sm" title="Configuración">
              <i class="dx-icon-menu"></i>
            </button>
          </div>
          <div class="tot-content">
            <div>
                <dx-data-grid
                #gridSubTotales
                id="gridSubTotales"
                class="xt-totales"
                [dataSource]="GridSubTotales"
                [showBorders]="true"
                [columnAutoWidth]="true"
                [allowColumnResizing]="true"
                [showColumnHeaders]="false"
                [focusedRowEnabled]="true"
                >

                <dxi-column dataField="key"
                    caption="Código"
                    [allowEditing]="false">
                </dxi-column>

                <dxi-column dataField="value"
                    caption="Valor"
                    [allowEditing]="false"
                    alignment="right"
                    dataType="number"
                    [format]="MONEDA_FORMATO"
                    [style]="{'font-size': '18px'}" 
                    [editorOptions]="{format: MONEDA_FORMATO}">
                </dxi-column>
                </dx-data-grid>
            </div>

            <div style="margin-top: 10px; margin-bottom: 10px;">
                <dx-data-grid
                #griDPrefacturaGrav
                id="griDPrefacturaGrav"
                class="xt-Prefactura"
                [dataSource]="DPrefacturaGrav"
                [showBorders]="true"
                [columnAutoWidth]="true"
                [allowColumnResizing]="true"
                [showColumnHeaders]="false"
                (onContentReady)="onGridContReadyGrav($event)"
                noDataText=""
                >

                <dxi-column dataField="CLASE"
                    caption="Grav."
                    [allowEditing]="false">
                </dxi-column>

                <dxi-column dataField="POR_TASA"
                    caption="%"
                    format="##0.##'%';(##0.##'%')"
                    [allowEditing]="false">
                </dxi-column>

                <dxi-column dataField="VALOR"
                    caption="Valor"
                    [allowEditing]="false"
                    alignment="right"
                    dataType="number"
                    format="#,##0;(#,##0)"
                    [editorOptions]="{format: MONEDA_FORMATO}">
                </dxi-column>
                <dxo-summary>
                    <dxi-total-item
                        name="SelectedRowsSummary"
                        summaryType="sum"
                        column="VALOR"
                        displayFormat="{0}"
                        valueFormat="#,###;(#,###)"
                    >
                    </dxi-total-item>
                </dxo-summary>
              </dx-data-grid>
            </div>

            <!-- <div class="xt-text-editor">
                <span class="text-editor-caption"> Total Gravámenes </span>
                <dx-number-box
                dataType="number"
                format="#,##0.00"
                [value]="TOT_GRAV"
                [format]="MONEDA_FORMATO"
                [readOnly]="true"
                >
                </dx-number-box>
            </div> -->

            <div class="xt-text-editor">
                <span style="font-size: 18px; padding-top: 5px; padding-left: 5px; z-index: 100"> TOTAL </span>
                <dx-number-box
                  dataType="number"
                  format="#,###.00"
                  [readOnly]="true"
                  [value]="DPrefactura.TOTAL"
                  [format]="MONEDA_FORMATO"
                  [inputAttr]="{ style: 'font-size:18px; font-weight:700;' }"
                  [readOnly]="true"
                ></dx-number-box>
            </div>

            <!-- <div class="xt-label-container text-center mt-5">
                <span class="xt-caption-label"> Datos de Cartera </span>
            </div>
            <div>
                <div class="xt-text-editor">
                <span class="text-editor-caption"> Valor Cuota </span>
                <dx-number-box
                    dataType="number"
                    format="fixedPoint"
                    [readOnly]="true"
                    [value]="TOT_GRAV"
                    [format]="MONEDA_FORMATO"
                    [readOnly]="true"
                ></dx-number-box>
                </div>

                <div class="xt-text-editor">
                <span class="text-editor-caption"> Fecha Vencimiento </span>
                <dx-date-box
                    [readOnly]="readOnly">
                </dx-date-box>
                </div>
            </div> -->
          </div>
        </div>

      </div> 

      <!-- Datos Adicionales de la Prefactura -->
      <div class="card-content row dat-adifac">
        <div id="trfac" class="col">
          <dx-form
            #formPrefacturaAdicional
            class="dx-form-group"
            id="formPrefacturaAdicional"
            [formData]="DPrefactura"
            [readOnly]="readOnly"
            labelLocation="left"
            [colCount]="2"
            (onEditorEnterKey)="onEditorEnterKey"
          >

            <!-- Datos de la Venta -->
            <dxi-item itemType="group" caption="Datos de la venta" cssClass="group-with-line group-venta">
              <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>

              <dxi-item dataField="ID_UN_ITEM" editorType="dxSelectBox">
                <dxo-label text="Unidad de Negocio"></dxo-label>
                <div *dxTemplate> 
                  <dx-drop-down-box
                    #ddProducto
                    [(value)]="gridBoxUN"
                    valueExpr="ID_UN"
                    displayExpr="UN_NOMBRE"
                    placeholder="Unidad de Negocio"
                    [readOnly]="readOnly"
                    [showClearButton]="true"
                    [(opened)]="isGridBoxUNOpened"
                    [dataSource]="DUnidadesNegocios"
                    [dropDownOptions]="{width:400, height: 300, hideOnParentScroll: true, container: '#router-container'}"
                    columnResizingMode="widget">
                    <div id="containerUN" *dxTemplate="let data of 'content'">
                      <dx-data-grid
                        #GClientes
                        height="100%"
                        width="100%"
                        keyExpr="ID_UN"
                        [dataSource]="DUnidadesNegocios"
                        [(selectedRowKeys)]="gridBoxUN"
                        [selection]="{ mode: 'single' }"
                        (onSelectionChanged)="onSelectionUN($event)" 
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        [columnMinWidth]="100"
                        [rowAlternationEnabled]="true"
                        [focusedRowEnabled]="true"
                        [hoverStateEnabled]="true">
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxi-column dataField="ID_UN" caption="Código" cssClass="clsEncabHis" [width]="130"></dxi-column>
                        <dxi-column dataField="NOMBRE" caption="Nombre de Unidad de Negocio" cssClass="clsEncabHis"></dxi-column>
                      </dx-data-grid>
                    </div>
                  </dx-drop-down-box>
                </div>  
              </dxi-item>

              <dxi-item dataField="ID_MONEDA" >
                <dxo-label text="Moneda"></dxo-label>
                <div *dxTemplate> 
                  <dx-drop-down-box
                    #ddMoneda
                    [(value)]="gridBoxMoneda"
                    valueExpr="ID_MONEDA"
                    displayExpr="DESCRIPCION"
                    [readOnly]="readOnly"
                    [showClearButton]="true"
                    [(opened)]="isGridBoxMonedaOpened"
                    [dataSource]="DMonedas"
                    [dropDownOptions]="{width:400, height: 300, hideOnParentScroll: true, container: '#router-container'}"
                    columnResizingMode="widget">
                    <div id="containerMoneda" *dxTemplate="let data of 'content'">
                      <dx-data-grid
                        #GMoneda
                        height="100%"
                        width="100%"
                        keyExpr="ID_MONEDA"
                        [dataSource]="DMonedas"
                        [(selectedRowKeys)]="gridBoxMoneda"
                        [selection]="{ mode: 'single' }"
                        (onSelectionChanged)="onSelectionMoneda($event)" 
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        [columnMinWidth]="100"
                        [rowAlternationEnabled]="true"
                        [focusedRowEnabled]="true"
                        [hoverStateEnabled]="true">
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxi-column dataField="ID_MONEDA" caption="Código" cssClass="clsEncabHis" [width]="130"></dxi-column>
                        <dxi-column dataField="DESCRIPCION" caption="Nombre de Moneda" cssClass="clsEncabHis"></dxi-column>
                      </dx-data-grid>
                    </div>
                  </dx-drop-down-box>
                </div>
              </dxi-item>

              <dxi-item dataField="TASA_CAMBIO"
                class="dx-number-align"
                alignment="right"
                dataType="number"
                format="fixedPoint"
                *ngIf="false"
                [editorOptions]="{format: MONEDA_FORMATO, inputAttr: {'style': 'text-align: right;'}}">
                <dxo-label text="Tasa de Cambio"></dxo-label>
              </dxi-item>

              <dxi-item dataField="ID_ADC">
                <dxo-label text="ADC / Vendedor"></dxo-label>
                <div *dxTemplate> 
                  <dx-drop-down-box
                    #ddADC
                    [(value)]="gridBoxADC"
                    valueExpr="ID_ADC"
                    displayExpr="NUM_NOMBRE"
                    [readOnly]="readOnly"
                    [showClearButton]="true"
                    [(opened)]="isGridBoxADCOpened"
                    [dataSource]="DADC"
                    [dropDownOptions]="{width:500, height: 400, hideOnParentScroll: true, container: '#router-container'}"
                    columnResizingMode="widget">
                    <div id="containerADC" *dxTemplate="let data of 'content'">
                      <dx-data-grid
                        #GMoneda
                        height="100%"
                        width="100%"
                        keyExpr="ID_ADC"
                        [dataSource]="DADC"
                        [(selectedRowKeys)]="gridBoxADC"
                        [selection]="{ mode: 'single' }"
                        (onSelectionChanged)="onSelectionADC($event)" 
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        [columnMinWidth]="100"
                        [rowAlternationEnabled]="true"
                        [focusedRowEnabled]="true"
                        [hoverStateEnabled]="true">
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxi-column dataField="ID_ADC" caption="Código de Vendedor" cssClass="clsEncabHis" [width]="130"></dxi-column>
                        <dxi-column dataField="NOMBRE_COMPLETO" caption="Nombre de Vendedor" cssClass="clsEncabHis"></dxi-column>
                      </dx-data-grid>
                    </div>
                  </dx-drop-down-box>
                </div>  
              </dxi-item>
                
              <dxi-item dataField="TIPO_VENTA" editorType="dxSelectBox" >
                <dxo-label text="Tipo de Venta"></dxo-label>
                <div *dxTemplate> 
                  <dx-select-box
                    #ddTipoVenta
                    [dataSource]="DTiposVenta"
                    displayExpr="VALOR2"
                    valueExpr="VALOR2"
                    placeholder="Tipo Venta"
                    [(value)]="sbTipoVenta"
                    [readOnly]="readOnly"
                    [inputAttr]="{ name: 'VALOR2' }"
                    [searchEnabled]="true"
                    [readOnly]="readOnly"
                    [stylingMode]="stylingMode"
                    [dropDownOptions]="dropDownOptionsListBox"
                    (onValueChanged)="onSeleccTipoVenta($event)">
                  </dx-select-box>
                </div>  
              </dxi-item>

            </dxi-item>

          <dxi-item itemType="group" caption="Liquidación" cssClass="group-with-line group-liq">
            <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>

            <dxi-item dataField="ID_CONDICION" >
              <dxo-label text="Condición/Lista"></dxo-label>
              <div *dxTemplate> 
                <dx-drop-down-box
                  #ddCondicion
                  [(value)]="gridBoxCondicion"
                  valueExpr="CODIGO"
                  displayExpr="CODIGO"
                  placeholder="Condición/Lista"
                  [readOnly]="readOnlyCond"
                  [(opened)]="isGridBoxCondicionOpened"
                  [dataSource]="DCondicionLista"
                  [dropDownOptions]="{width:400, height: 300, hideOnParentScroll: true, container: '#router-container'}"
                  columnResizingMode="widget">
                  <div id="containerCondicion" *dxTemplate="let data of 'content'">
                    <dx-data-grid
                      #GCondicion
                      height="100%"
                      width="100%"
                      keyExpr="CODIGO"
                      [dataSource]="DCondicionLista"
                      [(selectedRowKeys)]="gridBoxCondicion"
                      [selection]="{ mode: 'single' }"
                      (onSelectionChanged)="onSelectionCondicion($event)" 
                      [columnAutoWidth]="true"
                      [allowColumnResizing]="true"
                      [columnMinWidth]="100"
                      [rowAlternationEnabled]="true"
                      [focusedRowEnabled]="true"
                      [hoverStateEnabled]="true">
                      <dxo-scrolling mode="virtual"></dxo-scrolling>
                      <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>
                      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                      <dxi-column dataField="CODIGO" caption="Código" cssClass="clsEncabHis" [width]="130"></dxi-column>
                      <dxi-column dataField="NOMBRE" caption="Nombre de Condición/Lista" cssClass="clsEncabHis"></dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>  
            </dxi-item>
    
            <dxi-item dataField="PLAZO"
              class="dx-number-align" 
              alignment="right"
              dataType="number">
              <dxo-label text="Plazo"></dxo-label>
              <div *dxTemplate> 
                <dx-select-box
                  id="xs__PLAZO"
                  #xs__PLAZO
                  [dataSource]="DPlazos"
                  displayExpr="PLAZO"
                  valueExpr="PLAZO"
                  placeholder="Plazo"
                  [(value)]="sbPlazo"
                  [inputAttr]="{ name: 'PLAZO' }"
                  [searchEnabled]="true"
                  [acceptCustomValue]="true"
                  [readOnly]="readOnly || DPrefactura.TIPO_VENTA == 'CONTADO' || DPrefactura.TIPO_VENTA == ''"
                  [stylingMode]="stylingMode"
                  [dropDownOptions]="dropDownOptionsListBox"
                  (onValueChanged)="onSeleccPlazo($event)">
                </dx-select-box>
              </div>  
            </dxi-item>
            
            <dxi-item dataField="FECHA_PRIMER_VENC" editorType="dxDateBox">
              <dxo-label text="Vencimiento"></dxo-label>
              <div *dxTemplate>
                <dx-date-box
                  #xs_FECHA_VENC
                  id="xs_FECHA_VENC"
                  [value]="DPrefactura.FECHA_PRIMER_VENC" 
                  [readOnly]="readOnly || DPrefactura.TIPO_VENTA == 'CONTADO' || DPrefactura.TIPO_VENTA == ''"
                  [disabledDates]="disableDates"
                  (onValueChanged)="onValueChangedFechaVenc($event)">
                </dx-date-box>
              </div>
            </dxi-item>

            <dxi-item dataField="CUOTA_INICIAL"
              class="dx-number-align" 
              alignment="right"
              dataType="number"
              format="fixedPoint"
              [editorOptions]="{readOnly: readOnlyUdp ,format: MONEDA_FORMATO, inputAttr: {'style': 'text-align: right;'}}">
              <dxo-label text="Cuota Inicial"></dxo-label>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" colSpan="2" colCount="3" >

            <dxi-item dataField="ID_UN_BODEGA" >
              <dxo-label text="Bodega"></dxo-label>
              <div *dxTemplate>
                <app-xc-selectbox
                    nombreObj="ID_UN_BODEGA"
                    [readOnly]="readOnly"
                    [valorDefecto]="DPrefactura.ID_UN_BODEGA"
                    [events]="eventsSubjectSboxBodega.asObservable()"
                    (onRespuestaSelecc)="onSelectionBodega($event)"
                ></app-xc-selectbox>
              </div>
            </dxi-item>

            <dxi-item dataField="DESCRIPCION" [colSpan]="2">
              <dxo-label text="Descripción Prefactura"></dxo-label>
              <div *dxTemplate> 
                <dx-text-box
                  placeholder="Descripción"
                  [readOnly]="readOnly"
                  [value]="DPrefactura.DESCRIPCION">
                </dx-text-box>
              </div>
            </dxi-item>

          </dxi-item>

        </dx-form>

      </div>

      <!-- Datos de la Liquidación de la Venta -->
      <!-- <div id="liqfac" class="col">
        <dx-form
          class="dx-form-group"
          id="formPrefactura"
          [formData]="DPrefactura"
          [readOnly]="readOnly"
          labelLocation="left"
          [colCount]="1"
          (onEditorEnterKey)="onEditorEnterKey"
        >

        </dx-form>
      </div> -->

      <!-- Datos de la Bodega y descripción -->
      <!-- <div id="boddes" class="col">
        <dx-form
          class="dx-form-group"
          id="formPrefacturaBodDes"
          [formData]="DPrefactura"
          [readOnly]="readOnly"
          labelLocation="left"
          [colCount]="2"
          (onEditorEnterKey)="onEditorEnterKey"
        >
        </dx-form>
  
    </div> -->

    <div>
      <!--Grid Items-->
      <div>
        <dx-data-grid
          #gridPrefacturaItems
          id="gridPrefacturaItems"
          [columnAutoWidth]="true"
          [dataSource]="DPrefacturaItems"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          columnResizingMode="widget"
          [focusedRowEnabled]="true"
          [rowAlternationEnabled]="true"
          [hoverStateEnabled]="true"
          keyExpr="ITEM"
          noDataText=""
          [showBorders]="true"
          (onInitNewRow)="initNewRow($event)"
          (onRowInserting)="insertingRow($event)"
          (onRowInserted)="insertedRow($event)"
          (onRowUpdating)="updatingRow($event)"
          (onRowUpdated)="updatedRow($event)"
          (onRowRemoved)="removedRow($event)"
          (onEditingStart)="onEditingStart($event)"
          (onToolbarPreparing)="onToolbarPreparingGrid($event)"
          (onRowPrepared)="onRowPrepared($event)"
          (onRowValidating)="onRowValidating($event)"
          (onSelectionChanged)="selectionGrid($event)"
          (onFocusedRowChanged)="onFocusedRowChanged($event)"
        >
      
          <dxo-editing
            mode="cell"
            [useIcons]="false" 
            [allowUpdating]="esEdicion"
            [allowDeleting]="false"
            [allowAdding]="esEdicion">
            <dxo-texts
              confirmDeleteMessage="">
            </dxo-texts>
          </dxo-editing>      
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>      
          <dxo-selection
              selectAllMode="allPages"
              [showCheckBoxesMode]="esVisibleSelecc"
              mode="multiple">
          </dxo-selection>
      
          <dxi-column dataField="ITEM"
            [visible]="false">
          </dxi-column>
      
          <dxi-column dataField="SOPORTE"
            caption="Soporte"
            [visible]="visibleColSoporte"
            [allowEditing]="false"
            calculateDisplayValue="SOPORTE">
          </dxi-column>

          <dxi-column dataField="PRODUCTO"
            caption="Producto"
            editCellTemplate="listaProductos"
            calculateDisplayValue="PRODUCTO">
          </dxi-column>
      
          <dxi-column dataField="NOMBRE_PRODUCTO"
            caption="Nombre del Producto"
            [allowEditing]="false">
          </dxi-column>
      
          <dxi-column dataField="CANTIDAD"
            caption="Cantidad"
            [setCellValue]="onChangeCantidad"
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: MONEDA_FORMATO}">
          </dxi-column>
      
          <dxi-column dataField="UDM_VENTA"
            caption="UM"
            calculateDisplayValue="UDM_VENTA"
            editCellTemplate="listaUDMVenta">
          </dxi-column>
      
          <dxi-column dataField="GRAVAMENES"
            caption="Gravamenes"
            [allowEditing]="false"
            [width]="400"
            [visible]="false">
          </dxi-column>
      
          <dxi-column dataField="VALOR_UNITARIO"
            caption="Valor Unitario"
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: MONEDA_FORMATO}">
          </dxi-column>
      
          <dxi-column dataField="SUB_TOTAL"
            caption="Subtotal"
            [allowEditing]="false"
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: MONEDA_FORMATO}">
          </dxi-column>
      
          <dxi-column dataField="VALOR_IVA"
            caption="IVA"
            [allowEditing]="false"
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: MONEDA_FORMATO}">
          </dxi-column>

          <dxi-column dataField="PORC_IVA"
            caption="%"
            [allowEditing]="false">
          </dxi-column>
      
          <dxi-column dataField="TOTAL"
            caption="Total"
            [allowEditing]="false"
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: MONEDA_FORMATO}">
          </dxi-column>

          <dxi-column 
            dataField="FECHA_ENTREGA"
            caption="Fecha entrega"
            dataType="date"
            [width]="120"
            alignment="right"
            editCellTemplate="tempDateFechaEntrega">
          ></dxi-column>
      
          <dxi-column 
            dataField="ESTADO"
            caption="Estado"
            [allowEditing]="false"
            [width]="100"
            cellTemplate="cellEstado">
          ></dxi-column>
      
          <div *dxTemplate="let cellInfo of 'listaProductos'">
            <dx-drop-down-box   
                #ddProductos
                id="ddProductos"
                [(value)]="cellInfo.data.PRODUCTO"
                valueExpr="PRODUCTO"
                displayExpr="PRODUCTO"
                placeholder="Producto"
                [showClearButton]="true"
                [dataSource]="DProductos"
                [acceptCustomValue]="true"
                [dropDownOptions]="dropDownOptions"
                [inputAttr]="{style: 'text-transform: uppercase'}"
                (onOpened)="onDropdownOpenedPro($event)"
                (onKeyDown)="onKeyDownListaPro($event, cellInfo)"
                (onInput)="onInputListaPro($event, cellInfo)"
                contentTemplate="contentTemplate"
                >
                <div *dxTemplate="let data of 'contentTemplate'">
                    <dx-data-grid 
                        #gridProLista 
                        id="gridProLista"
                        keyExpr="PRODUCTO"
                        [dataSource]="DProductos"
                        [focusedRowEnabled]="true"
                        [hoverStateEnabled]="true"
                        [rowAlternationEnabled]="true"
                        [hoverStateEnabled]="true"
                        [autoNavigateToFocusedRow]="true"
                        height="100%"
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        [customizeColumns]="customizeColumnsSearch"
                        (onOptionChanged)="onSearchChanged($event)"
                        (onSelectionChanged)="onSeleccRowProducto($event, cellInfo, data.component)"
                        >
                        <dxo-paging [pageSize]="100"> </dxo-paging>
                        <dxo-pager
                            [visible]="true"
                            allowedPageSizes="[50, 100, 'all']"
                            [showPageSizeSelector]="true"
                            [showInfo]="true"
                            [showNavigationButtons]="true">
                        </dxo-pager>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search"></dxo-search-panel>
                        <dxi-column 
                            dataField="PRODUCTO" 
                            caption="Producto"
                            width="17%"
                        >
                        </dxi-column>
                        <dxi-column 
                            dataField="NOMBRE" 
                            caption="Nombre" 
                            width="65%"
                        >
                        </dxi-column>
                        <dxi-column 
                            dataField="PRECIO" 
                            caption="Precio" 
                            dataType="number"
                            [format]="especMonedaFormato.split(';')[0]"
                        >
                        </dxi-column>
                        <dxi-column 
                            dataField="CAN_INV" 
                            caption="Inventario" 
                            dataType="number"
                            [visible]="conExistencias"
                            [format]="especCantidadFormato.split(';')[0]"
                        >
                        </dxi-column>

                        <dxo-toolbar>
                          <dxi-item name="searchPanel"></dxi-item>
                          <dxi-item location="before">
                              <div *dxTemplate>
                              <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                              </div>
                          </dxi-item>
                          <dxi-item location="before">
                            <div *dxTemplate>
                              <dx-check-box 
                                  #checkConExistencias
                                  text="Solo con Existencias"
                                  (onValueChanged)="onSoloConExistencias($event)"
                              ></dx-check-box>
                            </div>
                          </dxi-item>
                        </dxo-toolbar>

                    </dx-data-grid>
                </div>
              </dx-drop-down-box>                    

          </div>
      
          <div *dxTemplate="let cellInfo of 'listaUDMVenta'">
            <dx-select-box 
                #xs_UDM_VENTA
                id="xs_UDM_VENTA"
                [dataSource]="DListaUMVenta" 
                [searchEnabled]="true"
                [(value)]="cellInfo.data.UDM_VENTA"
                displayExpr="UDM_VENTA"
                valueExpr="UDM_VENTA"
                searchMode="contains"
                [dropDownOptions]="{ width: 600 }"
                (onValueChanged)="onValueChangedUMVenta($event, cellInfo)"
                >
                <div *dxTemplate="let data of 'item'"
                  style="display: flex;
                        height: 40px;
                        justify-content: space-between;
                        align-items: center;"
                >
                  <div style="width: 20%; height: 100%; align-content: center;">
                    {{ data.UDM_VENTA }}
                  </div>
                  <div style="width: 20%; height: 100%; align-content: center;">
                    {{ data.CANTIDAD_EQUIV }}
                  </div>
                  <div style="width: 20%; height: 100%; align-content: center; ">
                    Equiv: {{ data.UDM_EQUIV }}
                  </div>
                  <div style="width: 20%; height: 100%; align-content: center;">
                    {{ data.CANTIDAD_PRES }}
                  </div>
                  <div style="width: 20%; height: 100%; align-content: center; text-align: end;">
                    {{ data.PRECIO | number:'1.0-2':'en-US' }}
                  </div>
                </div>

            </dx-select-box>
          </div>

          <div *dxTemplate="let cellInfo of 'tempDateFechaEntrega'">
            <dx-date-box
              #DxtFechaEntrega
              id="DxtFechaEntrega"
              type="date"
              pickerType="calendar"
              displayFormat="dd/MM/yyyy"
              placeholder="Fecha Entrega"
              [min]="NOW < FECHA_MIN ? FECHA_MIN : NOW"
              [max]="FECHA_MAX"
              [(value)]="cellInfo.data.FECHA_ENTREGA"
              (onValueChanged)="onValueChangedFechaEntrega($event, cellInfo)"
            ></dx-date-box>
          </div>
      
          <div *dxTemplate="let cellInfo of 'cellEstado'">
            <div class="container-estado"
                [ngStyle]="{ 'background-color': estiloEstado(cellInfo.data.ESTADO,'background'), 
                             'color': estiloEstado(cellInfo.data.ESTADO,'color'),
                             'font-size': '10px' }"
            >
                <span>{{ cellInfo.data.ESTADO }}</span>
            </div>
          </div>

          <dxo-toolbar *ngIf="esEdicion">
            <dxi-item location="before">
              <div *dxTemplate>
                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
                </dx-button>
              </div>
            </dxi-item>
            <dxi-item location="before">
              <div *dxTemplate>
                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
                </dx-button>
              </div>
            </dxi-item>
            <dxi-item location="before">
              <div *dxTemplate>
                <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
                </dx-button>
              </div>
            </dxi-item>
            <dxi-item location="before">
              <div *dxTemplate>
                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
                </dx-button>
              </div>
            </dxi-item>
            <dxi-item location="before">
              <div *dxTemplate>
                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
              </dx-button>
                </div>
            </dxi-item>
          </dxo-toolbar>
          
        </dx-data-grid>
      </div>
    </div>
      
  </div>

</div>

<app-vistarapida id="vistaVen155" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>
<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando consulta..."
  [hideOnOutsideClick]="false">
</dx-load-panel>

<app-COM20001 
  [visible]="visibleIvas"
  [events]="eventsSubjectIvas.asObservable()"
  (onRespuestaSelecc)="onSeleccIvas($event)"
  >ssh 
</app-COM20001>

<app-xc-combo-grid
  [events]="eventsSubjectSettings.asObservable()"
  (onRespuestaSelecc)="onRespuestaSettings($event)"
>
</app-xc-combo-grid>

<app-docelec
  [events]="eventsSubjectDocElec.asObservable()"
  (onRespuestaDocelec)="onRespuestaDocelec($event)">
</app-docelec>

<app-geninformes
  [events]="eventsSubjectInformes.asObservable()" 
  >
</app-geninformes>
