<!-- Sub-Menú de opciones -->
<dx-popup
    width="600"
    [height]="'auto'"
    [showTitle]="true"
    title="Dashboards"
    [hideOnOutsideClick]="false"
    [showCloseButton]="true"
    allowItemDeleting="true"
    [(visible)]="visiblePopup">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonAceptar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonCancelar"
    >
    </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">
        <dx-list
            #listaOpciones
            id="listaOpciones"
            [dataSource]="listaValores"
            keyExpr="ID"
            selectionMode="single"
            [selectByClick]="true"
            [showSelectionControls]="false"
            (onSelectionChanged)="onSelectionChanged($event)"
            (onInitialized)="onInitialized($event)"
            (onItemDeleting)="onItemDeleting($event)"
            (onItemDeleted)="onItemDeleted($event)"
        >
            <div *dxTemplate="let item of 'item'" >
                <div style="width: 20%; float:left;">{{ item.ID }}</div>
                <div style="width: 80%; float:right;">{{ item.NOMBRE }}</div>
            </div>
        </dx-list>
    </div>
</dx-popup>
