<div id="container-default" class="container-default" (window:resize)="onResized($event)">
  <div id="container-leftvar" [ngClass]="collapsed ? 'tamano-leftvar-uno':'tamano-leftvar-dos' " > 
    <leftvar-component></leftvar-component>
  </div>
  <div id="container-leftvar-movil" class="d-block d-md-none" [ngClass]="collapsed ? 'leftvar-movil-uno':'leftvar-movil-dos' " >
    <leftvar-component></leftvar-component>
  </div>

  <div id="container-body" [ngClass]="collapsed ? 'tamano-header-uno':'tamano-header-dos' ">
    <div id="container-header" class="row container-header-row mb-1 mb-md-0 ">
      <div class="col-2 d-block d-md-none">
      </div>
      <div class="col-8 col-sm-5 col-md-3 col-xl-2 align-self-center p-0" style="display: flex; justify-content: flex-start;">
        <img src="../../../../assets/img/Artdecon---logo.png" class="logo-container mb-0 justify-content-center justify-content-center">
      </div>
      <div class="col-2 col-sm-7 col-md-9 col-xl-10 align-self-center p-0">
        <header-component></header-component>
      </div>
    </div>
    <div id="router-container" style="width: 100%;">
      <router-outlet></router-outlet>
    </div>
    <app-user-profile></app-user-profile>
  </div>

  <!-- <app-CHAT></app-CHAT> -->
</div>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#body-chat' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Cargando..."
  [hideOnOutsideClick]="false"
></dx-load-panel>

<app-password></app-password>