<!-- generic-tree-list.component.html -->
<div class="generic-tree-list-container">

    <dx-tree-list        
        [dataSource]="treeData"        
        [rootValue]="rootValue"
        [keyExpr]="keyExpr"       
        [parentIdExpr]="parentIdExpr"
        [showBorders]="showBorders"
        [columnAutoWidth]="true"
        [wordWrapEnabled]="true"
        [autoExpandAll]="true"
        (onRowClick)="handleRowClick($event)"
        (onSelectionChanged)="handleSelectionChanged($event)"
        (onRowExpanded)="handleRowExpanded($event)"
        (onRowCollapsed)="handleRowCollapsed($event)">

        <dxo-tree-list-search-panel
            [visible]="true"
            width="300">
        </dxo-tree-list-search-panel>

        <dxo-tree-list-selection
            mode="single">
        </dxo-tree-list-selection>

        <!-- Usar dxi-tree-list-column en lugar de dxi-column -->
        <dxi-tree-list-column
            *ngFor="let column of columns"
            [dataField]="column.dataField"
            [caption]="column.caption || column.dataField"            >
        </dxi-tree-list-column>

    </dx-tree-list>

</div>