<div class="solicitud-credito-container">
  
  <!-- Buscar Cliente -->
  <dx-form [colCount]="2" class="mb-3">
    <dxi-item>
      <dxo-label text="Buscar cliente"></dxo-label>
      <dx-select-box
        [dataSource]="DLSolicitud"
        displayExpr="DOCUMENTO"
        valueExpr="DOCUMENTO"
        [searchEnabled]="true"
        searchMode="contains"
        [dropDownOptions]="dropDownOptions"
        (onSelectionChanged)="onSolicitudSeleccionada($event)">
        <dxo-drop-down-options [height]="300"></dxo-drop-down-options>
        <!-- <div *dxTemplate="let data of 'item'">
          <div><strong>{{ data.ID_CLIENTE }}</strong> - {{ data.NOMBRES }}</div>
          <div class="text-muted">{{ data.CALIDAD }} | Sol: {{ data.CONSECUTIVO }}</div>
        </div> -->
        <div *dxTemplate="let data of 'item'">
            <div style="width: 20%; float:left">
                {{ data.DOCUMENTO }}
            </div>
            <div style="width: 13%; float:right">
                {{ data.CALIDAD }}
            </div>
            <div style="width: 67%; float:right; 
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis; "
            >
                {{ data.CLIENTE }}
            </div>
        </div>
      </dx-select-box>
    </dxi-item>
  </dx-form>

  <!-- Botones principales -->
  <div class="button-group mb-3">
    <dx-button
      *ngIf="!modoEdicion"
      text="Nueva Solicitud" 
      (onClick)="nuevaSolicitud()" 
      type="default"
      icon="add">
    </dx-button>

    <dx-button 
      *ngIf="modoEdicion"
      text="Cancelar" 
      (onClick)="cancelarSolicitud()" 
      type="danger"
      stylingMode="contained"
      class="button-danger"
      icon="close">
    </dx-button>

    <dx-button 
      text="Eliminar" 
      (onClick)="eliminarAsociado()" 
      type="danger"
      stylingMode="contained"
      class="button-delete"
      icon="delete">
    </dx-button>
    
    <div class="codeudor-buttons">
      <!-- <dx-hyperlink 
        *ngIf="mostrarAnotaciones" 
        text="Tiene Anotaciones" 
        class="text-danger hyperlink-anotaciones">
      </dx-hyperlink> -->

      <!-- <dx-select-box
        [value]="nItemSolicitud"
        class="readonly-purple"
        [dataSource]="listaAsociados"
        displayExpr="ASOCIADO"
        valueExpr="ITEM"
        placeholder="Seleccione persona"
        [readOnly]="readOnly"
        [width]="400"
        [dropDownOptions]="dropDownOptions"
        (onValueChanged)="onAsociadoSeleccionado($event)"
        >
      </dx-select-box> -->

      <app-CXC22003
        *ngIf="modoEdicion"
        [events]="eventsSubjectAsociados.asObservable()" 
        (tagAdded)="onTagAdded($event)">
      </app-CXC22003>

      <!-- <dx-button 
        text="Titular" 
        (onClick)="cargarTitular()" 
        [stylingMode]="'contained'"
        type="default">
      </dx-button>
      <dx-button 
        text="Codeudor 1" 
        (onClick)="cargarCodeudor(1)"
        icon="user">
      </dx-button>
      <dx-button 
        text="Codeudor 2" 
        (onClick)="cargarCodeudor(2)"
        icon="user">
      </dx-button>
      <dx-button 
        text="Codeudor 3" 
        (onClick)="cargarCodeudor(3)"
        icon="user">
      </dx-button>
      <dx-button 
        text="Codeudor 4" 
        (onClick)="cargarCodeudor(4)"
        icon="user">
      </dx-button>
      <dx-button 
        text="Codeudor 5" 
        (onClick)="cargarCodeudor(5)"
        icon="user">
      </dx-button> -->
    </div>
  </div>

  <!-- Datos básicos solicitud -->
  <dx-form 
    #formDatosBasicos
    id="formDatosBasicos"
    [(formData)]="solicitud" 
    [colCount]="4" 
    [showColonAfterLabel]="false"
    [minColWidth]="minColWidth"
    [readOnly]="readOnly"
    class="mb-4 seccion-datos-basicos">
    
    <dxi-item caption="Datos básicos solicitud" itemType="group" [colSpan]="4" [colCount]="3" cssClass="grupoStyle">
      <dxi-item dataField="DOCUMENTO" [editorOptions]="{readOnly: true}">
        <dxo-label text="Nro. Solicitud"></dxo-label>
        <div *dxTemplate>
          <dx-text-box 
            [value]="solicitud.DOCUMENTO!" 
            [readOnly]="true" 
            [stylingMode]="'filled'" 
            class="readonly-blue">
          </dx-text-box>
        </div>
      </dxi-item>
      
      <dxi-item dataField="CALIDAD">
        <dxo-label text="Calidad"></dxo-label>
        <div *dxTemplate>
          <dx-text-box 
            [value]="solicitud.CALIDAD!" 
            [readOnly]="true" 
            [stylingMode]="'filled'" 
            class="readonly-green">
          </dx-text-box>
        </div>
      </dxi-item>
      
      <dxi-item dataField="ESTADO">
        <dxo-label text="Estado"></dxo-label>
        <div *dxTemplate>
          <dx-text-box 
            [value]="solicitud.ESTADO!" 
            [readOnly]="true" 
            [stylingMode]="'filled'" 
            class="readonly-orange">
          </dx-text-box>
        </div>
      </dxi-item>
      
      <dxi-item dataField="ID_UN_ITEM" editorType="dxSelectBox">
        <dxo-label text="Almacén"></dxo-label>
        <div *dxTemplate>
          <dx-select-box 
            [(value)]="solicitud.ID_UN_ITEM!"
            [readOnly]="true" 
            [stylingMode]="'filled'" 
            class="readonly-blue"
            [readOnly]="readOnly"
            [dataSource]="DUnidadesNegocios"
            displayExpr="UN_NOMBRE"
            valueExpr="ID_UN"
            [searchEnabled]="true"
            searchMode="contains"
            (onSelectionChanged)="onUNSelecc($event)">
            >
          </dx-select-box>
        </div>
      </dxi-item>
      
      <dxi-item dataField="FECHA_SOLICITUD" editorType="dxDateBox" readOnly="true">
        <dxo-label text="Fecha solicitud"></dxo-label>
        <!-- <dxo-editor-options [readOnly]="true"></dxo-editor-options> -->
      </dxi-item>
      
      <dxi-item dataField="FECHA_REGISTRO" editorType="dxDateBox" readOnly="true">
        <dxo-label text="Fecha registro"></dxo-label>
        <!-- <dxo-editor-options [readOnly]="true"></dxo-editor-options> -->
      </dxi-item>
      
      <dxi-item [colSpan]="2">
        <dxo-label text="Titular"></dxo-label>
        <div *dxTemplate>
          <dx-text-box 
            [value]="nombreTitular" 
            [readOnly]="true" 
            [stylingMode]="'filled'" 
            class="readonly-blue"
            [width]="'100%'">
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item dataField="OFICINA_PAGO" editorType="dxSelectBox">
        <dxo-label text="Pagaduría"></dxo-label>
        <div *dxTemplate>
          <dx-select-box 
            [(value)]="solicitud.OFICINA_PAGO"
            [readOnly]="readOnly" 
            [stylingMode]="'filled'" 
            [dataSource]="DOficinasPago"
            displayExpr="CLIENTE"
            valueExpr="ID_CLIENTE"
            [searchEnabled]="true"
            searchMode="contains"
            (onSelectionChanged)="onOficinaPagoSelecc($event)">
            >
          </dx-select-box>
        </div>
      </dxi-item>

    </dxi-item>

  </dx-form>

    <div class="content-body">

      <dx-tab-panel 
        #tabEspecApp
        id="tabEspecApp"
        [height]="'auto'"
        [selectedIndex]="0"
        (onSelectionChanged)="onSelectionChangedPanel($event)"
        (onInitialized)="onInitializedPanel($event)"
        >
        
        <!-- Principal -->
        <dxi-item title="Datos del cliente">
          <div class="tab-content">

            <!-- Datos del cliente -->
            <dx-form 
              #formDatosCliente
              id="formDatosCliente"
              [(formData)]="itemSolicitud[nItemSolicitud]" 
              [colCount]="4" 
              [readOnly]="readOnly"
              [showColonAfterLabel]="false"
              (onFieldDataChanged)="onDatosCambio()"
              class="mb-4 seccion-datos-cliente">

              <dxi-item caption="Datos del cliente" itemType="group" [colSpan]="4" [colCount]="3">
                <dxi-item dataField="ID_CLIENTE" >
                  <dxo-label text="Cédula/Nit"></dxo-label>
                  <dxi-validation-rule type="required" message="Se requiere una cédula/Nit/Id"></dxi-validation-rule>
                  <div *dxTemplate>
                    <dx-select-box 
                      [(value)]="itemSolicitud[nItemSolicitud].ID_CLIENTE"
                      [readOnly]="readOnly" 
                      [stylingMode]="'filled'" 
                      [dataSource]="DClientes"
                      displayExpr="CLIENTE"
                      valueExpr="ID_CLIENTE"
                      [searchEnabled]="true"
                      searchMode="contains"
                      [acceptCustomValue]="customValue"
                      (onCustomItemCreating)="onCustomItemCreating($event)"
                      (onSelectionChanged)="onClienteSelecc($event)">
                      >
                    </dx-select-box>
                  </div>
                </dxi-item>
                
                <dxi-item dataField="ID_UBICACION" editorType="dxSelectBox" >
                  <dxo-label text="De"></dxo-label>
                  <div *dxTemplate>
                    <dx-select-box 
                      [(value)]="itemSolicitud[nItemSolicitud].ID_UBICACION"
                      [readOnly]="readOnly" 
                      [stylingMode]="'filled'" 
                      [dataSource]="DCiudades"
                      displayExpr="CIUDAD"
                      valueExpr="ID_UBICACION"
                      [searchEnabled]="true"
                      searchMode="contains">
                      >
                    </dx-select-box>
                  </div>
                  <dxi-validation-rule type="required" message="Se requiere una Ubicación de origen"></dxi-validation-rule>
                </dxi-item>
                
                <dxi-item dataField="CORREO_LABORA">
                  <dxo-label text="Correo electrónico"></dxo-label>
                  <dxi-validation-rule type="email" message="Ingrese un correo electrónico válido"></dxi-validation-rule>
                  <dxi-validation-rule type="required" message="Se requiere un correo electrónico"></dxi-validation-rule>
                </dxi-item>
                
                <dxi-item itemType="group" [colSpan]="3" [colCount]="4">
                  <dxi-item dataField="NOMBRE1">
                    <dxo-label text="1er Nombre"></dxo-label>
                    <dxi-validation-rule type="required" message="Se requiere un Nombre"></dxi-validation-rule>
                  </dxi-item>
                  
                  <dxi-item dataField="NOMBRE2">
                    <dxo-label text="2do Nombre"></dxo-label>
                  </dxi-item>
                  
                  <dxi-item dataField="APELLIDO1">
                    <dxo-label text="1er Apellido"></dxo-label>
                    <dxi-validation-rule type="required" message="Se requiere un Apellido"></dxi-validation-rule>
                  </dxi-item>
                  
                  <dxi-item dataField="APELLIDO2">
                    <dxo-label text="2do Apellido"></dxo-label>
                  </dxi-item>
                </dxi-item>
                
                <dxi-item dataField="DIR_RESIDENCIA" [colSpan]="2">
                  <dxo-label text="Dirección residencia"></dxo-label>
                  <dxi-validation-rule type="required" message="Se requiere una dirección de residencia"></dxi-validation-rule>
                </dxi-item>
                
                <dxi-item dataField="TEL_RESIDENCIA" >
                  <dxo-label text="Teléfono"></dxo-label>
                  <dxi-validation-rule type="required" message="Se requiere un teléfono"></dxi-validation-rule>
                </dxi-item>
                
                <dxi-item dataField="ID_UBICACION_RES" editorType="dxSelectBox">
                  <dxo-label text="Ciudad"></dxo-label>
                  <div *dxTemplate>
                    <dx-select-box 
                      [(value)]="itemSolicitud[nItemSolicitud].ID_UBICACION_RES"
                      [readOnly]="readOnly" 
                      [stylingMode]="'filled'" 
                      [dataSource]="DCiudades"
                      displayExpr="CIUDAD"
                      valueExpr="ID_UBICACION"
                      [searchEnabled]="true"
                      searchMode="contains"
                      (onSelectionChanged)="onCiudadResSelecc($event)">
                      >
                    </dx-select-box>
                  </div>
                  <dxi-validation-rule type="required" message="Se requiere una ciudad de residencia"></dxi-validation-rule>
                </dxi-item>
                
                <dxi-item dataField="BARRIO" editorType="dxSelectBox">
                  <dxo-label text="Barrio"></dxo-label>
                  <div *dxTemplate>
                    <dx-select-box 
                      [(value)]="itemSolicitud[nItemSolicitud].BARRIO"
                      [readOnly]="readOnly" 
                      [stylingMode]="'filled'" 
                      [dataSource]="DBarrios"
                      displayExpr="BARRIO"
                      valueExpr="ID_UBICACION"
                      [searchEnabled]="true"
                      searchMode="contains"
                      (onSelectionChanged)="onBarrioSelecc($event)">
                      >
                    </dx-select-box>
                  </div>
                  <dxi-validation-rule type="required" message="Se requiere un barrio de residencia"></dxi-validation-rule>
                </dxi-item>
                
                <dxi-item dataField="EDAD">
                  <dxo-label text="Edad" type="number"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="ESTADO_CIVIL" editorType="dxSelectBox">
                  <dxo-label text="Estado civil"></dxo-label>
                  <div *dxTemplate>
                    <dx-select-box 
                      [(value)]="itemSolicitud[nItemSolicitud].ESTADO_CIVIL"
                      [dataSource]="estadoCivilOptions" 
                      displayExpr="text" 
                      valueExpr="text"
                      [readOnly]="readOnly">
                    </dx-select-box>
                  </div>
                </dxi-item>
                
                <dxi-item dataField="ZONA" editorType="dxSelectBox">
                  <dxo-label text="Zona"></dxo-label>
                  <div *dxTemplate>
                    <dx-select-box 
                      [(value)]="itemSolicitud[nItemSolicitud].ZONA"
                      [readOnly]="readOnly" 
                      [stylingMode]="'filled'" 
                      [dataSource]="DZonas"
                      displayExpr="ZONA"
                      valueExpr="ID_UBICACION"
                      [searchEnabled]="true"
                      searchMode="contains"
                      [acceptCustomValue]="customValue">
                    </dx-select-box>
                  </div>
                </dxi-item>
                
                <dxi-item dataField="PERSONAS_CARGO">
                  <dxo-label text="Personas a cargo"></dxo-label>
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </dxi-item> 

        <!-- Información laboral -->
        <dxi-item title="Info Laboral">
          <div class="tab-content">

            <dx-form [(formData)]="itemSolicitud[nItemSolicitud]" [colCount]="3" class="mb-4">
              <dxi-item caption="Información laboral" itemType="group" [colSpan]="3">
                <dxi-item dataField="ENTIDAD_LABORA" [colSpan]="3">
                  <dxo-label text="Entidad donde trabaja"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="DIR_LABORA" [colSpan]="2">
                  <dxo-label text="Dirección"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="CARGO_TRABAJA">
                  <dxo-label text="Cargo"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TEL_LABORA">
                  <dxo-label text="Teléfono"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TIEMPO_LABORA">
                  <dxo-label text="Tiempo"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="UM_TIEMPO" editorType="dxSelectBox" [label]="{visible: false}">
                  <!-- <dxo-editor-options 
                    [dataSource]="tiempoOptions" 
                    displayExpr="text" 
                    valueExpr="value">
                  </dxo-editor-options> -->
                </dxi-item>
                
                <dxi-item dataField="SUELDO_LABORA">
                  <dxo-label text="Sueldo"></dxo-label>
                </dxi-item>
              </dxi-item>
            </dx-form>

          </div>
        </dxi-item> 

        <!-- Datos cónyugue -->
        <dxi-item title="Datos conyugue">
          <div class="tab-content">

            <dx-form [(formData)]="itemSolicitud[nItemSolicitud]" [colCount]="3" class="mb-4">
              <dxi-item caption="Datos cónyugue" itemType="group" [colSpan]="3">
                <dxi-item dataField="NOMBRE_CONYUGUE" [colSpan]="3">
                  <dxo-label text="Nombre"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="ID_CONYUGUE">
                  <dxo-label text="Cédula"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="ID_UBICACION_CONY">
                  <dxo-label text="de"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="EDAD_CONYUGUE">
                  <dxo-label text="Edad"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="OCUPACION_CONY" [colSpan]="2">
                  <dxo-label text="Ocupación"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="SUELDO_CONY">
                  <dxo-label text="Sueldo mensual"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="DIR_LABORA_CONY" [colSpan]="2">
                  <dxo-label text="Dirección trabajo"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TEL_LABORA_CONY">
                  <dxo-label text="Teléfono"></dxo-label>
                </dxi-item>
              </dxi-item>
            </dx-form>

          </div>
        </dxi-item> 

        <!-- Propiedades -->
        <dxi-item title="Garantías">
          <div class="tab-content">

            <dx-form [(formData)]="itemSolicitud[nItemSolicitud]" [colCount]="2" class="mb-4">
              <dxi-item caption="Propiedades" itemType="group" [colSpan]="2">
                <dxi-item dataField="TIPO_CASA" editorType="dxSelectBox" [colSpan]="2">
                  <dxo-label text="Tipo de casa"></dxo-label>
                  <!-- <dxo-editor-options 
                    [dataSource]="tipoCasaOptions" 
                    displayExpr="text" 
                    valueExpr="value">
                  </dxo-editor-options> -->
                </dxi-item>
                
                <dxi-item dataField="NOMBRE_ARRENDADOR">
                  <dxo-label text="Nombre arrendador"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TEL_ARRENDADOR">
                  <dxo-label text="Teléfono"></dxo-label>
                </dxi-item>
              </dxi-item>
            </dx-form>

          </div>
        </dxi-item> 

        <!-- Referencias -->
        <dxi-item title="Referencias">
          <div class="tab-content">

            <dx-form [(formData)]="itemSolicitud[nItemSolicitud]" [colCount]="2" class="mb-4">
              <dxi-item caption="Referencias" itemType="group" [colSpan]="2">
                <!-- Referencia 1 -->
                <dxi-item dataField="NOMBRE_REF1">
                  <dxo-label text="Nombre"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="CLASE_REF1" editorType="dxSelectBox">
                  <dxo-label text="Clase"></dxo-label>
                  <!-- <dxo-editor-options 
                    [dataSource]="tiposReferenciaDataSource" 
                    displayExpr="VALOR1" 
                    valueExpr="VALOR1">
                  </dxo-editor-options> -->
                </dxi-item>
                
                <dxi-item dataField="DIR_REF1">
                  <dxo-label text="Dirección"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TEL_REF1">
                  <dxo-label text="Teléfono"></dxo-label>
                </dxi-item>
                
                <!-- Referencia 2 -->
                <dxi-item dataField="NOMBRE_REF2">
                  <dxo-label text="Nombre"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="CLASE_REF2" editorType="dxSelectBox">
                  <dxo-label text="Clase"></dxo-label>
                  <!-- <dxo-editor-options 
                    [dataSource]="tiposReferenciaDataSource" 
                    displayExpr="VALOR1" 
                    valueExpr="VALOR1">
                  </dxo-editor-options> -->
                </dxi-item>
                
                <dxi-item dataField="DIR_REF2">
                  <dxo-label text="Dirección"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TEL_REF2">
                  <dxo-label text="Teléfono"></dxo-label>
                </dxi-item>
                
                <!-- Referencia 3 -->
                <dxi-item dataField="NOMBRE_REF3">
                  <dxo-label text="Nombre"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="CLASE_REF3" editorType="dxSelectBox">
                  <dxo-label text="Clase"></dxo-label>
                  <!-- <dxo-editor-options 
                    [dataSource]="tiposReferenciaDataSource" 
                    displayExpr="VALOR1" 
                    valueExpr="VALOR1">
                  </dxo-editor-options> -->
                </dxi-item>
                
                <dxi-item dataField="DIR_REF3">
                  <dxo-label text="Dirección"></dxo-label>
                </dxi-item>
                
                <dxi-item dataField="TEL_REF3">
                  <dxo-label text="Teléfono"></dxo-label>
                </dxi-item>
              </dxi-item>
            </dx-form>

          </div>
        </dxi-item> 

        <!-- Referencias -->
        <dxi-item title="Documentos Adjuntos">
          <div class="tab-content">

            <dx-form [(formData)]="solicitud" [colCount]="2" class="mb-4">
                <dxi-item [template]="'imagenesTemplate'" [colSpan]="2"></dxi-item>
                <dxi-item [template]="'pdfTemplate'" [colSpan]="2"></dxi-item>

                <!-- Template para Diagrama ER -->
                <div *dxTemplate="let data of 'imagenesTemplate'">
                  <app-img-manager  
                    [(images)]="documentosImg"
                    [itemImage]="solicitud.DOCUMENTO!+'__'+nItemSolicitud"
                    [maxImages]="3"
                    [maxFileSize]="5242880"
                    (imagesChange)="onImagenChanged($event)">
                  </app-img-manager>
                </div>

                <!-- Template para Documentos PDF -->
                <div *dxTemplate="let data of 'pdfTemplate'">
                  <app-pdf-manager
                    [(pdfs)]="documentosPdf"
                    [itemPdf]="solicitud.DOCUMENTO!+'__'+nItemSolicitud"
                    [maxPdfs]="5"
                    [maxFileSize]="10485760"
                    (pdfsChange)="onDocumentosPdfChanged($event)">
                  </app-pdf-manager>
                </div>

            </dx-form>

          </div>
        </dxi-item> 

      </dx-tab-panel> 

  <!-- Productos y Liquidación -->
  <dx-form [colCount]="2" class="mb-4" [formData]="productos">
    <dxi-item caption="Productos y Liquidación del Negocio" itemType="group" [colSpan]="2" [colCount]="2">
      <dxi-item>
        <dxo-label text="Vendedor"></dxo-label>
        <dx-select-box
          [(value)]="solicitud.ID_ADC"
          [dataSource]="vendedoresDataSource"
          displayExpr="ADC"
          valueExpr="ID_ADC"
          [readOnly]="readOnly"
          [searchEnabled]="true"
          searchMode="contains"
          [acceptCustomValue]="customValue"
          (onValueChanged)="onVendedorChanged($event)">
        </dx-select-box>
      </dxi-item>
      
      <dxi-item>
        <dxo-label text="Condición de ventas"></dxo-label>
        <dx-select-box
          [(value)]="solicitud.ID_CONDICION"
          [dataSource]="condicionesDataSource"
          displayExpr="CONDICION"
          [readOnly]="readOnly"
          [acceptCustomValue]="customValue"
          valueExpr="CODIGO"
          (onValueChanged)="onCondicionChanged($event)"
          >
        </dx-select-box>
      </dxi-item>
      
      <!-- Grid Productos -->
      <dxi-item [colSpan]="2" [label]="{visible: false}">
        <dx-data-grid
          #gridProductos
          id="gridProductos"
          [dataSource]="productos"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          keyExpr="PRODUCTO"
          columnResizingMode="widget"
          (onInitNewRow)="initNewRow($event)"
          (onRowInserted)="onProductoInserted($event)"
          (onRowInserting)="onProductoInserting($event)"
          (onRowUpdated)="onProductoUpdated($event)"
          (onRowUpdating)="onProductoUpdating($event)"
          (onRowRemoved)="onProductoDeleted($event)">
          <dxo-editing
            mode="row"
            [allowAdding]="!readOnly"
            [allowUpdating]="!readOnly"
            [allowDeleting]="!readOnly">
          </dxo-editing>
          <dxo-paging [pageSize]="5"></dxo-paging>
          <dxo-pager 
            [showPageSizeSelector]="true" 
            [allowedPageSizes]="[5, 10, 20]">
          </dxo-pager>
          
          <dxi-column 
            dataField="CANTIDAD" 
            caption="Cantidad"
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [setCellValue]="onChangeCantidad"
            [width]="100">
          </dxi-column>
          <dxi-column 
            dataField="PRODUCTO" 
            caption="Producto"
            cellTemplate="nomProducto"
            editCellTemplate="productoTemplate"
            >
          </dxi-column>
          <dxi-column 
            dataField="NOMBRE" 
            [visible]="false"
            >
          </dxi-column>
          <dxi-column 
            dataField="VALOR" 
            caption="Valor" 
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: '#,##0'}"
            >
          </dxi-column>
          <dxi-column dataField="SERIAL" caption="Serie"></dxi-column>

          <div *dxTemplate="let cellInfo of 'nomProducto'">
            {{ cellInfo.data.NOMBRE }}
          </div>
          <div *dxTemplate="let cellInfo of 'productoTemplate'">
            <dx-drop-down-box   
                #ddProductos
                id="ddProductos"
                [(value)]="cellInfo.data.PRODUCTO"
                valueExpr="PRODUCTO"
                displayExpr="NOMBRE_PRODUCTO"
                placeholder="Producto"
                [showClearButton]="true"
                [dataSource]="productosDataSource"
                [acceptCustomValue]="true"
                [dropDownOptions]="dropDownOptions"
                [inputAttr]="{style: 'text-transform: uppercase'}"
                contentTemplate="contentTemplate"
                >
                <div *dxTemplate="let data of 'contentTemplate'">
                    <dx-data-grid 
                        #gridProLista 
                        id="gridProLista"
                        keyExpr="PRODUCTO"
                        [dataSource]="productosDataSource"
                        [focusedRowEnabled]="true"
                        [hoverStateEnabled]="true"
                        [rowAlternationEnabled]="true"
                        [hoverStateEnabled]="true"
                        [autoNavigateToFocusedRow]="true"
                        height="100%"
                        [columnAutoWidth]="true"
                        [allowColumnResizing]="true"
                        (onSelectionChanged)="onSeleccRowProducto($event, cellInfo, data.component)"
                        >
                        <dxo-paging [pageSize]="100"> </dxo-paging>
                        <dxo-pager
                            [visible]="true"
                            [allowedPageSizes]="[50, 100, 'all']"
                            [showPageSizeSelector]="true"
                            [showInfo]="true"
                            [showNavigationButtons]="true">
                        </dxo-pager>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search"></dxo-search-panel>
                        <dxi-column 
                            dataField="PRODUCTO" 
                            caption="Producto"
                            width="17%"
                        >
                        </dxi-column>
                        <dxi-column 
                            dataField="NOMBRE" 
                            caption="Nombre" 
                            width="65%"
                        >
                        </dxi-column>
                        <dxi-column 
                            dataField="PRECIO" 
                            caption="Precio" 
                            dataType="number"
                            format="#,##0"
                        >
                        </dxi-column>

                        <dxo-toolbar>
                          <dxi-item name="searchPanel"></dxi-item>
                          <dxi-item location="before">
                              <div *dxTemplate>
                              <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                              </div>
                          </dxi-item>
                        </dxo-toolbar>

                    </dx-data-grid>
                </div>
              </dx-drop-down-box>       
            </div>             

        </dx-data-grid>
      </dxi-item>
      
      <!-- Grid Descuentos/Cargos -->
      <dxi-item>
        <dxo-label text="Cargos y Descuentos"></dxo-label>
        <dx-data-grid
          #gridDescuentos
          [dataSource]="descuentosCargos"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          columnResizingMode="widget"
          (onInitNewRow)="initNewRow($event)"
          (onRowInserted)="onDescuentoInserted($event)"
          (onRowInserting)="onDescuentoInserting($event)"
          (onRowUpdated)="onDescuentoUpdated($event)"
          (onRowUpdating)="onDescuentoUpdating($event)"
          (onRowRemoved)="onDescuentoDeleted($event)">
          <dxo-editing
            mode="row"
            [allowAdding]="!readOnly"
            [allowUpdating]="!readOnly"
            [allowDeleting]="!readOnly">
          </dxo-editing>
          <dxo-editing mode="row" [allowUpdating]="true"></dxo-editing>
          <dxo-paging [pageSize]="5"></dxo-paging>
          
          <dxi-column dataField="CONCEPTO" caption="Concepto" ></dxi-column>
          <dxi-column 
            dataField="TIPO" 
            caption="Dcto/Cargo"
            [lookup]="{ 
                dataSource: [ {'VALOR1': 'Descuento'}, {'VALOR1': 'Cargo'} ], 
                displayExpr: 'VALOR1', 
                valueExpr: 'VALOR1' 
              }" 
            [allowEditing]="true">
          </dxi-column>
          <dxi-column 
            dataField="VALOR" 
            caption="Valor" 
            alignment="right"
            dataType="number"
            format="fixedPoint"
            [editorOptions]="{format: '#,##0'}"
            >
          </dxi-column>

        </dx-data-grid>
      </dxi-item>
      
      <!-- Grid Fianzas/Seguros -->
      <dxi-item>
        <dxo-label text="Fianzas/Seguros"></dxo-label>
        <dx-data-grid
          #gridFianzas
          id="gridFianzas"
          [dataSource]="fianzasSeguros"
          keyExpr="CONCEPTO"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          columnResizingMode="widget"
          (onRowUpdated)="onFianzaUpdated($event)"
          (onRowUpdating)="onFianzaUpdating($event)"
          (onEditorPreparing)="onEditorPreparing($event)">
          <dxo-editing
            mode="cell"
            [allowUpdating]="!readOnly">
          </dxo-editing>
          <dxo-paging [pageSize]="5"></dxo-paging>
          
          <dxi-column 
            dataField="CONCEPTO" 
            caption="Concepto" 
            [allowEditing]="false">
          </dxi-column>
          <dxi-column 
            dataField="APLICAR" 
            caption="Aplicar" 
            type="boolean"
            [allowEditing]="true"
            cellTemplate="switchActivar"
            editCellTemplate="switchActivar"
            [width]="70"
            >
          </dxi-column>
          <dxi-column 
            dataField="PORCENTAJE" 
            caption="Porcentaje"
            alignment="right"
            dataType="number"
            format="#,##0.00"
            [width]="100"
            [allowEditing]="true">
          </dxi-column>
          <dxi-column 
            dataField="VALOR" 
            caption="Valor" 
            alignment="right"
            dataType="number"
            format="#,##0"
            [editorOptions]="{format: '#,##0'}"
            >
          </dxi-column>
          <dxi-column 
            dataField="ID_PROVEEDOR" 
            caption="Entidad"
            editCellTemplate="editEntidad">
          </dxi-column>

          <div *dxTemplate="let cell of 'switchActivar'">
              <dx-switch 
                  [value]="cell.value" 
                  (onValueChanged)="onActivarChanged($event, cell)">
              </dx-switch>
          </div>

          <div *dxTemplate="let cellInfo of 'editEntidad'">
            <dx-select-box
                [(value)]="cellInfo.value"
                [stylingMode]="'filled'" 
                [dataSource]="DEntidades"
                displayExpr="PROVEEDOR"
                valueExpr="ID_PROVEEDOR"
                [searchEnabled]="true"
                searchMode="contains"
                [readOnly]="!cellInfo.data.APLICAR"
                [dropDownOptions]="{ width: 400 }"
                (onValueChanged)="onEntidadSelecc($event, cellInfo)">
                >
            </dx-select-box>
          </div>

        </dx-data-grid>
      </dxi-item>

      <!-- Liquidación -->
      <dxi-item itemType="group" caption="Liquidación">
        <dxi-item>
          <dxo-label text="Valor Base"></dxo-label>
          <dx-number-box 
            [value]="solicitud.VALOR_BASE!" 
            format="#,##0" 
            [readOnly]="true">
          </dx-number-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="Otros gastos"></dxo-label>
          <dx-number-box 
            [value]="solicitud.OTROS_GASTOS!" 
            format="#,##0"
            [readOnly]="true"
            (onValueChanged)="onOtrosGastosChanged($event)">
          </dx-number-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="IVA"></dxo-label>
          <dx-number-box 
            [value]="solicitud.VALOR_IVA!" 
            format="#,##0" 
            [readOnly]="true">
          </dx-number-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="Financiación"></dxo-label>
          <dx-number-box 
            [value]="solicitud.VALOR_FIN!" 
            format="#,##0" 
            [readOnly]="true">
          </dx-number-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="Valor Total"></dxo-label>
          <dx-number-box 
            [value]="solicitud.TOTAL!" 
            format="#,##0" 
            [readOnly]="true"
            [stylingMode]="'filled'"
            class="total-value">
          </dx-number-box>
        </dxi-item>
      </dxi-item>
      
      <!-- Forma de Pago -->
      <dxi-item itemType="group" caption="Forma de Pago">
        <dxi-item>
          <dxo-label text="Cuota Inicial"></dxo-label>
          <dx-number-box 
            [value]="solicitud.CUOTA_INICIAL!" 
            format="#,##0"
            [readOnly]="readOnly"
            (onValueChanged)="onCuotaInicialChanged($event)">
          </dx-number-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="Plazo"></dxo-label>
          <div *dxTemplate>
            <dx-select-box 
              [(value)]="solicitud.PLAZO"
              [dataSource]="DPlazos"
              displayExpr="PLAZO"
              valueExpr="PLAZO"
              [readOnly]="readOnly"
              [acceptCustomValue]="customValue"
              (onValueChanged)="onPlazoChanged($event)">
            </dx-select-box>
          </div>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="Valor Cuota"></dxo-label>
          <dx-number-box 
            [value]="solicitud.VALOR_CUOTA!" 
            format="#,##0" 
            [readOnly]="true">
          </dx-number-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="1er Vencimiento"></dxo-label>
          <dx-date-box [value]="solicitud.FECHA_PRIMER_VENC!" [readOnly]="true"></dx-date-box>
        </dxi-item>
        
        <dxi-item>
          <dxo-label text="Dcto pronto pago"></dxo-label>
          <dx-number-box 
            [value]="solicitud.VALOR_DPPP!" 
            format="#,##0" 
            [readOnly]="true">
          </dx-number-box>
        </dxi-item>

      </dxi-item>
      
      <!-- Detalle Cuota -->
      <dxi-item [colSpan]="2" itemType="group" [label]="{visible: false}" caption="Financiación" [colCount]="3">
        <dxi-item [colSpan]="3">
          <div *dxTemplate>
            <dx-data-grid
              #gridFinanciacion
              id="gridFinanciacion"
              [dataSource]="datosFinanciacion"
              [customizeColumns]="customizeColumnsFin"
              [showBorders]="true">
              <dxo-paging [pageSize]="5"></dxo-paging>
              
              <!-- <dxi-column dataField="CUOTA" caption="Cuota#" [allowEditing]="false"></dxi-column>
              <dxi-column dataField="FECHA_VENCIMIENTO" caption="Vencimiento" [allowEditing]="false"></dxi-column>
              <dxi-column dataField="VALOR" caption="Valor" format="#,##0"></dxi-column>
              <dxi-column dataField="CAPITAL" caption="Capital" format="#,##0"></dxi-column>
              <dxi-column dataField="INTERESES" caption="Intereses" format="#,##0"></dxi-column> -->
            </dx-data-grid>
          </div>
        </dxi-item>

      </dxi-item>
    </dxi-item>
  </dx-form>

  <!-- Documentos y Requisitos -->
  <!-- <dx-form [colCount]="3" class="mb-4"> -->
      <!-- <dxi-item [colSpan]="2" [label]="{visible: false}">
        <dx-data-grid
          [dataSource]="[]"
          [showBorders]="true">
          <dxo-editing
            mode="popup"
            [allowAdding]="true"
            [allowUpdating]="true"
            [allowDeleting]="true">
          </dxo-editing>
          
          <dxi-column dataField="ID_DOCUMENTO" caption="Nombre documento"></dxi-column>
          <dxi-column dataField="EXT" caption="Tipo archivo"></dxi-column>
          <dxi-column type="buttons">
            <dxi-button name="edit"></dxi-button>
            <dxi-button name="delete"></dxi-button>
            <dxi-button text="Abrir" icon="download"></dxi-button>
          </dxi-column>
        </dx-data-grid>
      </dxi-item> -->
      
  <div class="button-group mb-3">
      <dx-button 
        text="Actualizar datos" 
        type="success"
        [width]="203"
        (onClick)="actualizarDatos()"
        icon="save">
      </dx-button>

      <dx-button 
        #btnCancelar2
        *ngIf="modoEdicion"
        text="Cancelar Solicitud" 
        (onClick)="cancelarSolicitud()" 
        type="danger"
        stylingMode="contained"
        class="button-danger"
        icon="close">
      </dx-button>

      <dx-button 
        text="Acciones..." 
        type="success"
        [width]="203"
        (onClick)="mostrarPopupAcciones()"
        icon="menu">
      </dx-button>
  </div>
      
      <!-- <dxi-item>
        <dxo-label text="Requisitos"></dxo-label>
        <dx-tag-box
          [value]="requisitos"
          [dataSource]="requisitosOptions"
          [showSelectionControls]="true"
          applyValueMode="useButtons">
        </dx-tag-box>
      </dxi-item> -->
  <!-- </dx-form> -->

  <!-- Popup Autorización -->
  <dx-popup
    #popupAutorizacion
    [width]="421"
    [height]="'auto'"
    [showTitle]="true"
    title="Clave de autorización"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="true">
    <div *dxTemplate="let data of 'content'">
      <div class="popup-content">
        <dx-select-box
          [value]="usuarioAutorizacion"
          [dataSource]="usuariosAutorizacionDataSource"
          displayExpr="NOMBRE"
          valueExpr="USUARIO"
          placeholder="Seleccione usuario">
        </dx-select-box>
        
        <br><br>
        
        <dx-text-box
          [value]="claveAutorizacion"
          mode="password"
          placeholder="Ingrese clave">
        </dx-text-box>
        
        <br><br>
        
        <div class="popup-buttons">
          <dx-button 
            text="Aceptar" 
            type="success"
            [width]="123"
            [height]="41"
            (onClick)="aceptarAutorizacion()"
            icon="check">
          </dx-button>
          <dx-button 
            text="Cancelar" 
            type="normal"
            [width]="123"
            [height]="41"
            (onClick)="cancelarAutorizacion()"
            icon="close">
          </dx-button>
          <dx-button 
            text="Reliquidar" 
            (onClick)="reliquidar()" 
            [width]="300" 
            [height]="50"
            type="success"
            icon="refresh">
          </dx-button>
        </div>
      </div>
    </div>
  </dx-popup>

  <!-- Loading Panel -->
  <dx-load-panel
    [visible]="false"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    shadingColor="rgba(0,0,0,0.4)"
    message="Cargando...">
  </dx-load-panel>
</div>
