<div class="container-principal card-color-grey" style="justify-content: center !important;">
  <mat-card
    id="cardTotales"
    #cardTotales
    class="card"
    *ngFor="let item of DGTotales"
    [ngStyle]="{'background-color': (item.TOTAL_DESCRIPCION==='Costo' ? '#EEF3FC' : '') || (item.TOTAL_DESCRIPCION==='Total Matriz' ? 'rgba(10,57,96,.95)':''),
                'color': (item.TOTAL_DESCRIPCION==='Costo' ? '#7F96B2' : '') || (item.TOTAL_DESCRIPCION==='Total Matriz' ? 'rgba(204,221,238,1)':'') 
    }"
  >
    <mat-card-title>{{ item.TOTAL_DESCRIPCION }}</mat-card-title>

    <mat-card-content 
      *ngIf="item.TOTAL_DESCRIPCION !== 'Ajuste de Precio' && 
            item.TOTAL_DESCRIPCION !== 'Contribución operativa' && 
            item.TOTAL_DESCRIPCION !== 'Total Matriz' && 
            item.TOTAL_DESCRIPCION !== 'Costo' && 
            item.TOTAL_DESCRIPCION !== 'Variación' "
    >
      <i class="{{ item.ICON }}"></i>
      <dx-number-box
        [min]="0"
        width="100%"
        [readOnly]="true"
        format="$ #,##0.00"
        [value]="item.TOTAL_VALOR"
        [inputAttr]="{style: 'font-size: 1rem; font-weight:700 !important; text-align: center !important;'}"
      ></dx-number-box>
    </mat-card-content>

    <mat-card-content *ngIf="item.TOTAL_DESCRIPCION === 'Contribución operativa'">
      <i class="dx-icon-percent"></i>
      <dx-number-box
        width="100%"
        [min]="0"
        [readOnly]="true"
        format="#0.00%"
        [step]="0.01"
        [value]="item.TOTAL_VALOR"
        [inputAttr]="{style: 'font-weight: bold; font-size: 1rem; font-weight:700 !important; text-align: center !important;'}"
      ></dx-number-box>
    </mat-card-content>

    <mat-card-content *ngIf="item.TOTAL_DESCRIPCION === 'Ajuste de Precio' ">
      <i class="dx-icon-percent"></i>
      <dx-number-box
        width="100%"
        format="#0.00%"
        [step]="0.01"
        [readOnly]="readOnly"
        [value]="item.TOTAL_VALOR"
        [inputAttr]="{style: 'font-weight: bold; font-size: 1rem; font-weight:700 !important; text-align: center !important;'}"
        (onValueChanged)="onCalculateTotal($event)"
      ></dx-number-box>
    </mat-card-content>

    <mat-card-content *ngIf="item.TOTAL_DESCRIPCION === 'Variación' ">
      <i class="dx-icon-percent"></i>
      <dx-number-box
        width="100%"
        format="#0.00%"
        [step]="0.01"
        [readOnly]="readOnly"
        [value]="item.TOTAL_VALOR"
        [inputAttr]="{style: 'font-weight: bold; font-size: 1rem; font-weight:700 !important; text-align: center !important;'}"
      ></dx-number-box>
    </mat-card-content>

    <mat-card-content *ngIf="item.TOTAL_DESCRIPCION === 'Total Matriz'">
      <!-- <i class="{{ item.ICON }}" *ngIf="_sdatos.conCambios > 0 && _sdatos.accion !== 'modificar' " ></i> -->
      <div style="display: flex; align-items: center; justify-content: center;" >
        <i class="{{ item.ICON }}" style="font-size: 1.75rem;" ></i>
        <dx-button 
          *ngIf="_sdatos.conCambios > 0 && _sdatos.accion === 'modificar' "
          icon="pulldown"
          width="28"
          style="margin-left: 10px; background-color: #fff;"
          (onClick)="asignarTotal($event)"
        ></dx-button>
      </div>
      <dx-number-box
        width="100%"
        [min]="0"
        [readOnly]="true"
        format="$ #,##0.00"
        [value]="item.TOTAL_VALOR"
        [inputAttr]="{style:'font-weight: bold; font-size: 18px; text-align: center !important; color: rgba(204,221,238,1);' }"
      ></dx-number-box>
    </mat-card-content>

  </mat-card>

</div>