<div class="d-none d-lg-block col-lg-12 col-xl-12 m-2">
  <dx-form #formContabilidad id="formContabilidad" [(formData)]="FContabilidad" [readOnly]="readOnly"
    labelLocation="left" colCount="1">
    <dxi-item itemType="group">
      <dxi-item dataField="ID_TRIBUTARIA">
        <dxo-label text="Perfil Tributario"></dxo-label>
        <div *dxTemplate>
          <dx-text-box [value]="FContabilidad.ID_TRIBUTARIA" placeholder="Perfil tributario" stylingMode="filled"
            [readOnly]="readOnly" (onKeyDown)="onKeyDownPerfil($event)"
            (onValueChanged)="onValueChangedForm($event, 'ID_TRIBUTARIA')">
            <dxi-button name="btnPerfil" location="after" [options]="perfilButton"></dxi-button>
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item dataField="FECHA_CREACION" editorType="dxSelectBox">
        <dxo-label text="Fecha de creación"></dxo-label>
        <div *dxTemplate>
          <dx-date-box type="date" [readOnly]="readOnly" [value]="FContabilidad.FECHA_CREACION"
            (onValueChanged)="onValueChangedForm($event, 'FECHA_CREACION')">
          </dx-date-box>
        </div>
      </dxi-item>
      <dxi-item dataField="FECHA_INIC_CONTABLE" editorType="dxSelectBox">
        <dxo-label text="Fecha de inicio de contabilidad"></dxo-label>
        <div *dxTemplate>
          <dx-date-box type="date" [readOnly]="readOnly" [value]="FContabilidad.FECHA_INIC_CONTABLE"
            (onValueChanged)="onValueChangedForm($event, 'FECHA_INIC_CONTABLE')">
          </dx-date-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item caption="Retención compras Acumuladas" itemType="group">
      <dxi-item dataField="BASE_ACUMULADA" editorType="dxSelectBox">
        <dxo-label text="Aplica Base"></dxo-label>
        <div *dxTemplate>
          <dx-select-box [dataSource]="['Si', 'No']" [value]="FContabilidad.BASE_ACUMULADA" [readOnly]="readOnly"
            placeholder="Seleccione Tipo" (onValueChanged)="onValueChangedForm($event, 'BASE_ACUMULADA')">
          </dx-select-box>
        </div>
      </dxi-item>
      <dxi-item dataField="PERIODO" editorType="dxSelectBox">
        <dxo-label text="Periodo ( Dias [0 - 100] )"></dxo-label>
        <div *dxTemplate>
          <dx-number-box [readOnly]="readOnly" [value]="FContabilidad.PERIODO" [min]="0" [max]="100" placeholder="100"
            (onValueChanged)="onValueChangedForm($event, 'PERIODO')">
          </dx-number-box>
        </div>
      </dxi-item>
    </dxi-item>
  </dx-form>
</div>

<app-xc-combo-grid [events]="eventsSubjectPerfilTrib.asObservable()"
  (onRespuestaSelecc)="onRespuestaPerfilTrib($event)">
</app-xc-combo-grid>