.contenedor{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}
input,
textarea {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1rem 0.15rem 0rem 0.1rem;
  margin-left: 10px;
  text-align: center;
}
.in-totreg {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.icon_active {
  background-color:#f2f2f2 !important;
  border-radius:6px !important;
}


.BtnNoVisible {
  display: none !important;
}
