
<div class="xt-gesptreelist xt-gespdatagrid" id="allInfo">
	<dx-toolbar style="position: absolute;
    z-index: 1000;
    width: 200px;">
		<dxi-item location="before" >
			<dx-drop-down-button
				id="dropDownFiltro"
				width="105px"
				icon="filter"
				text="Agrupar"
				keyExpr="ID"
				displayExpr="DESCRIPCION"
				[splitButton]="true"
				[useSelectMode]="false"
				[items]="filtroMaestro"
				[(opened)]="openDropFiltro"
				[dropDownOptions]="{ width: 150, hideOnParentScroll: true, container:'#PRO029' }"
				dropDownContentTemplate="contentTemplateFiltroMaestro"
				(onButtonClick)="openDropFiltro = !openDropFiltro"
			>
				<div *dxTemplate="let data of 'contentTemplateFiltroMaestro'">
					<div class="custom-color-picker xt-gescheckbox-m">
						<dxi-item location="before" >
							<dx-check-box
								#checkCliente
								id="checkCliente"
								text="Cliente"
								class="check-filtro"
								(onValueChanged)="onValuechangedFiltro($event, 'Cliente');"
							></dx-check-box>
						</dxi-item>
						<dxi-item location="before" >
							<dx-check-box
								#checkPlan
								id="checkPlan"
								text="Plan"
								class="check-filtro"
								(onValueChanged)="onValuechangedFiltro($event, 'Plan');"
							></dx-check-box>
						</dxi-item>
						<dxi-item location="before" >
							<dx-check-box
								#checProducto
								id="checProducto"
								text="Producto"
								class="check-filtro"
								(onValueChanged)="onValuechangedFiltro($event, 'Producto');"
							></dx-check-box>
						</dxi-item>
					</div>
				</div>
			</dx-drop-down-button>
		</dxi-item>
		<dxi-item location="before" >
			<div *dxTemplate style="margin-left: 10px;">
				<dx-button
					stylingMode="contained"
					text="Generar OP"
					type="success"
					class="align-self-end"
					[width]="'auto'"
					[disabled]="selectedRowKeysGrid.length > 0 ? false : true"
					(onClick)="generarOrdenOP($event)"
				></dx-button>
			</div>
		</dxi-item>
	</dx-toolbar>


	<dx-tree-list
		#treeListAgenda
		id="treeListAgenda"
		width="100%"
		style="min-height: 600px; max-height: 750px; padding: 0px 10px;"
		columnResizingMode="widget"
		rootValue="RAIZ"
		keyExpr="ID_PARTE"
		parentIdExpr="PRODUCTO"
		[dataSource]="DGAgenda"
		[selectedRowKeys]="selectedRowKeysGrid"
		[showBorders]="true"
		[autoExpandAll]="true"
		[columnAutoWidth]="true"
		[hoverStateEnabled]="true"
		[focusedRowEnabled]="true"
		[allowColumnResizing]="true"
		[columnHidingEnabled]="true"
		[rowAlternationEnabled]="true"
		[allowColumnReordering]="false"
		(onCellPrepared)="onCellPrepared($event)"
		(onContentReady)="onContentReady($event)"
		(onContextMenuPreparing)="onContextMenuPreparing($event)"
	>
		<dxo-scrolling mode="virtual"></dxo-scrolling>
		<dxo-search-panel [visible]="false" [width]="250" ></dxo-search-panel>
		<dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
		<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
		<dxo-header-filter [visible]="true" [allowSearch]="true" ></dxo-header-filter>
		<dxo-column-fixing [enabled]="true"></dxo-column-fixing>
		<dxo-column-chooser #columnChooser [enabled]="true" mode="select" [allowSearch]="true"></dxo-column-chooser>
	
		<dxo-selection
			mode="multiple"
			selectAllMode="allPages"
			showCheckBoxesMode="always"
		></dxo-selection>
		<dxo-column-fixing [enabled]="true"> </dxo-column-fixing>
		<dxi-column 
			type="selection" 
			caption="" 
			[width]="70" 
			[fixed]="true" 
			fixedPosition="left"
			[allowResizing]="false"
		></dxi-column>
	
		<dxi-column 
			dataField="FECHA_PEDIDO"
			caption="Fecha pedido"
			dataType="date"
			[width]="130"
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>
	
		<dxi-column 
			dataField="ID_PLAN"
			caption="Id. PLan"
			
			[visible]="false"
			[allowGrouping]="false"
		></dxi-column>

		<dxi-column 
			dataField="NOMBRE_PLAN"
			caption="Plan"
			alignment="right"
			[allowGrouping]="true"
			groupCellTemplate="groupCellTemplatePlan"
		></dxi-column>

		<dxi-column 
			dataField="FECHA_ENTREGA"
			caption="Fecha comprometida"
			dataType="date"
			
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>

		<dxi-column 
			dataField="DOCUMENTO_PEDIDO"
			caption="Pedido"
			
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>
		
		<dxi-column 
			dataField="NOMBRE_CLIENTE"
			caption="Cliente"
			
			[allowGrouping]="true"
			alignment="right"
			groupCellTemplate="groupCellTemplateCliente"
		></dxi-column>
		
		<dxi-column 
			dataField="TIPO_INVENTARIO"
			caption="Tipo inventario"
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>
	
		<dxi-column 
			dataField="DESTINO"
			caption="Destino"
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>

		<dxi-column 
			dataField="ORDEN_PRODUCCION"
			caption="Orden prod."
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>

		<dxi-column
			dataField="CODIGO_ASOCIADO"
			caption="Cod.asociado"
		></dxi-column>

		<dxi-column
			dataField="ID_PARTE"
			caption="Producto"
			[width]="100"
			alignment="left"
			[allowGrouping]="true"
			groupCellTemplate="groupCellTemplateProducto"
			[fixed]="true" 
			fixedPosition="left"
			[allowGrouping]="false"
		></dxi-column>

		<dxi-column
			dataField="NOMBRE_PARTE"
			caption="Nombre"
			[allowGrouping]="false"
			cellTemplate="tempNombreParte"
			alignment="left"
			[fixed]="true" 
        	fixedPosition="left"
		></dxi-column>

		<dxi-column 
			dataField="ATRIBUTOS" 
			caption="Atributos" 
			alignment="center" 
			cellTemplate="attrTemplate" 
			headerCellTemplate="myHeaderTemp" 
			[allowHeaderFiltering]="false"
		>
			<div *dxTemplate="let cellInfo of 'myHeaderTemp'" >
				<div class="dx-datagrid-action">
							{{cellInfo.column.caption}}
							<dx-button icon="filter" (onClick)="openPopup()"></dx-button>
				</div>
			</div>
    	</dxi-column>
	
		<dxi-column
			dataField="COMPROMETIDO"
			caption="Comprometido"
			[width]="90"
			dataType="number"
			format="#0.##"
			alignment="right"
			[allowGrouping]="false"
		></dxi-column>

		<dxi-column 
			dataField="FLUJO_SECCIONES"
			caption="Flujo de Producción"
			[minWidth]="600"
			alignment="left"
			[allowGrouping]="false"
			[allowFiltering]="false"
			cellTemplate="flujoTemplate"
		></dxi-column>

		<div *dxTemplate="let grupoObj of 'groupCellTemplateProducto'">
			<div class="dx-datagrid-template">
				<div class="col-12" style="display: flex; justify-content: space-between; align-items: center; font-size: 14px;">
					<div>
						<span> Producto: </span>
						<span>{{ templateHtml(grupoObj, 'PRODUCTO') }} -- {{ templateHtml(grupoObj, 'NOMBRE_PRODUCTO') }} </span>
					</div>
				</div>
			</div>
		</div>
		<div *dxTemplate="let grupoObj of 'groupCellTemplateCliente'">
			<div class="dx-datagrid-template">
				<div class="col-12" style="display: flex; justify-content: space-between; align-items: center; font-size: 14px;">
					<div>
						<span> Cliente: </span>
						<span>{{ templateHtml(grupoObj, 'NOMBRE_CLIENTE') }} </span>
					</div>
				</div>
			</div>
		</div>
		<div *dxTemplate="let grupoObj of 'groupCellTemplatePlan'">
			<div class="dx-datagrid-template">
				<div class="col-12" style="display: flex; justify-content: space-between; align-items: center; font-size: 14px;">
					<div>
						<span> Plan: </span>
						<span>{{ templateHtml(grupoObj, 'NOMBRE_PLAN') }} </span>
					</div>
				</div>
			</div>
		</div>

		<div *dxTemplate="let cellInfo of 'tempNombreParte' " style="display: flex">
			<div class="span_title">
				<span>{{ cellInfo.data.NOMBRE_PARTE }}</span>
			</div>
		</div>
		

		<div *dxTemplate="let cellInfo of 'attrTemplate' ">
			<span *ngFor="let element of cellInfo.data.ATRIBUTOS" 
				style="background:#e0e0e0; border-radius:12px; padding:2px 8px; margin-right:4px; display:inline-block;"
			>
				{{element.VALOR}}
			</span>
		</div> 

		<div *dxTemplate="let cellInfo of 'flujoTemplate'">
			<div style="display: flex; gap: 10px; align-items: center; padding: 5px;">
				
				<ng-container *ngFor="let seccion of cellInfo.data.SECCIONES; let i = index">
					
					<div 
						style="display: flex; flex-direction: column; text-align: left; padding: 5px; border-radius: 4px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);"
						[ngStyle]="{
							'background-color': getSectionColor(seccion.ESTADO, 'background'),
							'color': getSectionColor(seccion.ESTADO, 'color'),
							'min-width': '180px',
							'border': '1px solid #707070'
						}"
						(click)=" seccion.ESTADO != 'EN PROCESO' && cellInfo.data.PRODUCTO === 'RAIZ' && finalizarSeccion(seccion, cellInfo.data)"
					>
					<!--  -->
						
						<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 4px; column-gap:10px;">
							<span style="font-weight: bold; font-size: 13px;">
								{{ seccion.NOMBRE_SECCION }}
							</span>
							<!-- <span 
								style="border-radius: 4px; padding: 2px 5px; font-size: 10px; font-weight: bold; border: 1px solid currentColor;"
								[ngStyle]="{'color': getSectionColor(seccion.ESTADO, 'color')}"
							>
								{{ seccion.ESTADO }}
							</span> -->
						</div>

						<div style="font-size: 10px;">
							{{ formatSingleSectionDates(seccion) }}
						</div>
					</div>
					
					<span 
						*ngIf="i < cellInfo.data.SECCIONES.length - 1" 
						class="flow-arrow"
						style="font-size: 20px; color: #999; margin: 0 5px;"
					>
						&#10145; 
					</span>

				</ng-container>
			</div>
		</div>
		

	</dx-tree-list>


</div>


<!-- Popup con la grid de selección -->
<dx-popup 
	[width]="600"
	[height]="400"
	[showTitle]="true" 
	[(visible)]="popupFiltroAtrVisible" 
	title="Seleccionar atributos/valores" 
>
	<div *dxTemplate="let d of 'content'">
		<div style="display: flex; width: 100%; padding: 0px 0px 10px 10px;">
			<dx-button text="Aplicar" type="success" (onClick)="applyFilter(treeListAgenda, filterGrid)"></dx-button>
			<dx-button text="Cancelar" (onClick)="popupFiltroAtrVisible=false" style="margin-left: 10px;" ></dx-button>
		</div>

		<dx-data-grid 
			#filterGrid
			width="100%"
			height="90%"
			keyExpr="ITEM"
			[showBorders]="true"
			[dataSource]="ATRIBUTOS_PMP" 
			[selection]="{ mode: 'multiple' }" 
		>
			<dxo-scrolling mode="virtual"></dxo-scrolling>
			<dxi-column dataField="ATRIBUTO" groupIndex="0" groupCellTemplate="groupTemplate"></dxi-column>
			<dxi-column dataField="VALOR"></dxi-column>
			
			<div *dxTemplate="let group of 'groupTemplate'">
				{{ templatefiltroAtr(group) }}
			</div>
		</dx-data-grid>
	</div>
</dx-popup>



<dx-tooltip
	#tooltipInfoDetalles
	id="tooltipInfoDetalles"
	class="xt-tootips"
	position="top"
	showEvent="mouseenter"
	[target]='targetIdTooltip'
	[wrapperAttr]="wrapperAttr"
	[hideOnOutsideClick]="false"
>
	<div *dxTemplate="let data = data; of: 'content'">
		<table class="tabIvas" *ngIf="tooltipInfo[0].ErrMesaje === '' || tooltipInfo[0].ErrMesaje === null || tooltipInfo[0].ErrMesaje === undefined ">
			<tr>
				<td>Orden de Producción</td>
				<td><b>{{ tooltipInfo[0].ORDEN_PRO }}</b></td>
			</tr>
			<tr>
				<td>Cantidad</td>
				<td><b>{{ tooltipInfo[0].CANTIDAD }}</b></td>
			</tr>
			<tr>
				<td>Pendiente</td>
				<td>{{ tooltipInfo[0].CANTIDAD_PENDIENTE }}</td>
			</tr>
			<tr>
				<td>Producida</td>
				<td>{{ tooltipInfo[0].CANTIDAD_PRODUCIDA }}</td>
			</tr>
			<tr>
				<td>Inicio</td>
				<td><b>{{ tooltipInfo[0].FECHA_INICIO_PRODUCCION ? tooltipInfo[0].FECHA_INICIO_PRODUCCION : tooltipInfo[0].FECHA_INICIO_PROGRAMADA | date : "dd/MM/yyyy"  }}</b></td>
			</tr>
			<tr>
				<td>Finaliza</td>
				<td><b>{{ tooltipInfo[0].FECHA_FIN_PRODUCCION ? tooltipInfo[0].FECHA_FIN_PRODUCCION : tooltipInfo[0].FECHA_FIN_PROGRAMADA | date : "dd/MM/yyyy"  }}</b></td>
			</tr>
		</table>
		<div *ngIf="tooltipInfo[0].ErrMesaje !== '' || tooltipInfo[0].ErrMesaje !== null || tooltipInfo[0].ErrMesaje !== undefined ">
			<span><b>{{ tooltipInfo[0].ErrMesaje }}</b></span>
		</div>
	</div>
</dx-tooltip>




<dx-popup
  #popupReprogramar
  id="popupReprogramar"
  [width]="500"
  [height]="popupAccion === 'reprogramar' ? 480 : popupAccion === 'cancelar' ? 200 : 250"
  [showTitle]="true"
  [dragEnabled]="true"
  [hideOnOutsideClick]="true"
  [title]="popupTitulo"
  [(visible)]="popupReprogramarVisible"
>
  <div style="padding: 1rem;">
    <ng-container>
      <div *ngIf="popupAccion !== '' " style="width: 100%; display: flex; align-items: flex-start; flex-direction: column; box-sizing: border-box; justify-content: space-between;">
        <!-- Datos Actuales -->
        <div class="form-item-column-data" style="display: flex; align-items: flex-end; justify-content: space-between; width: 100%;">
          <div style="display: flex;">
            <div style="flex: 1 1 0; padding: 0px 5px;">
              <div class="form-item-label-data">Pedido:</div>
              <div class="form-input-box-data">
                <span>{{ popupData.DOCUMENTO_PEDIDO }}</span>
              </div>
            </div>
          </div>
          <div style="display: flex;">
            <div style="flex: 1 1 0;">
              <div class="form-item-label-data">Comprometida:</div>
              <div class="form-input-box-data">
                <span>{{ popupData.COMPROMETIDO }}</span>
              </div>
            </div>
          </div>
          <!-- <div style="display: flex;">
            <div style="flex: 1 1 0;">
              <div class="form-item-label-data">Pendiente:</div>
              <div class="form-input-box-data">
                <span>{{ popupData.CANTIDAD_PENDIENTE }}</span>
              </div>
            </div>
          </div> -->
          <div style="display: flex;">
            <div style="flex: 1 1 0; padding: 0px 5px;">
              <div class="form-item-label-data">Programada:</div>
              <div class="form-input-box-data">
                <span>{{ popupData.FECHA_ENTREGA ? templateHtmlRepro(popupData.FECHA_ENTREGA, 'POPUP_FECHA_ENTREGA', 'SPAN') : '--' }}</span>
              </div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="popupAccion === 'reprogramar'" [vertical]="false" style="width: 100%;"></mat-divider>
        <br *ngIf="popupAccion === 'reprogramar'" />

        <!-- Nuevo a Programar -->
        <div *ngIf="popupAccion === 'reprogramar'" class="form-item-column-data" style="display: flex; flex-wrap: wrap; gap: 16px 24px; align-items: flex-end; justify-content: flex-start; width: 100%;">
          <div style="flex: 1 1 100%; padding: 0px 5px;">
            <div class="form-item-label-data">Plan</div>
            <div class="form-input-box-data">
              <dx-drop-down-box
                #dropDownPlanes
                width="100%"
                valueExpr="CONSECUTIVO"
                displayExpr="NOMBRE"
                placeholder="Seleccione Plan"
                [showClearButton]="true"
                [readOnly]="false"
                [dataSource]="DGplanes"
                [(value)]="selectPlanPopup"
                [(opened)]="openPlanPopup"
                [dropDownOptions]="{ width: 500, height: 300, hideOnParentScroll: true, container: '#router-container'}"
								(onSelectionChanged)="onSelectionChangedPlan($event, 'DROP_POPUP')"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    width="100%"
                    keyExpr="CONSECUTIVO"
                    columnResizingMode="nextColumn"
                    [selection]="{ mode: 'single' }"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [dataSource]="DGplanes"
                    [(selectedRowKeys)]="selectPlanPopup"
										(onSelectionChanged)="onSelectionChangedPlan($event, 'GRID_POPUP')"
                  >
                    <dxi-column dataField="CONSECUTIVO" caption="Consecutivo" width="100"></dxi-column>
                    <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                    <dxi-column dataField="FECHA_INICIO" caption="Fecha Inicio" dataType="date" [width]="110" alignment="right"></dxi-column>
                    <dxi-column dataField="FECHA_FINAL" caption="Fecha Final" dataType="date" [width]="110" alignment="right"></dxi-column>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </div>
          <div style="display: flex; gap: 24px; width: 100%;">
            <div style="flex: 1 1 45%; padding: 0px 5px;">
              <div class="form-item-label-data">Fecha Inicio</div>
              <div class="form-input-box-data">
                <span>{{ FECHA_INICIO_POPUP ? templateHtmlRepro(FECHA_INICIO_POPUP, 'FECHA_INICIO_POPUP', 'SPAN') : '--' }}</span>
              </div>
            </div>
            <div style="flex: 1 1 45%; padding: 0px 5px;">
              <div class="form-item-label-data">Fecha Final</div>
              <div class="form-input-box-data">
                <span>{{ FECHA_FIN_POPUP ? templateHtmlRepro(FECHA_FIN_POPUP, 'FECHA_FIN_POPUP', 'SPAN') : '--' }}</span>
              </div>
            </div>
          </div>
          <div style="flex: 1 1 100%; padding: 0px 5px; border-radius: 5px; background: rgba(18, 94, 220, .1);">
            <div class="form-item-label-data">Fecha Programada</div>
            <div class="form-input-box-data">
              <dx-date-box
                #DxtFechaFinal
                type="date"
                width="100%"
                pickerType="calendar"
                [min]="NOW < FECHA_INICIO_POPUP ? FECHA_INICIO_POPUP : NOW"
                [max]="FECHA_FIN_POPUP"
                [(value)]="FECHA_DIA_POPUP"
                [readOnly]="false"
                (onValueChanged)="onValueChangedFecha($event, 'POPUP')"v
              ></dx-date-box>
            </div>
          </div>
          <div style="display: flex; gap: 24px; width: 100%;">
            <div style="flex: 1 1 0;">
              <div class="form-item-label-data">Cantidad A Programar:</div>
              <div class="form-input-box-data">
                <dx-number-box
                  format="#0.##"
                  [min]="0"
                  [max]="popupData.COMPROMETIDO > 0 ? popupData.COMPROMETIDO : popupData.CANTIDAD"
									[readOnly]="true"
                  [value]="popupData.COMPROMETIDO"
                  (onValueChanged)="onValueChangedCP($event, {data: popupData}, 'POPUP')"
                ></dx-number-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div style="display: flex; justify-content: flex-end; gap: 1rem; margin-top: 2rem;">
      <dx-button text="Salir" (onClick)="onConfirmarAccionPopup('salir', popupData)"></dx-button>
      <dx-button
        *ngIf="popupAccion === 'cancelar'"
        text="Cancelar"
        type="success"
        [disabled]="popupData !== '' ? false : true"
        (onClick)="onConfirmarAccionPopup('cancelar', popupData)"
      ></dx-button>
      <dx-button
        *ngIf="popupAccion === 'disponible'"
        text="Disponible"
        type="success"
        [disabled]="popupData !== '' ? false : true"
        (onClick)="onConfirmarAccionPopup('disponible', popupData)"
      ></dx-button>
      <dx-button
        *ngIf="popupAccion === 'reprogramar'"
        text="Reprogramar"
        type="success"
        [disabled]="selectPlanPopup.length > 0 &&
                    FECHA_DIA_POPUP && 
                    popupData.COMPROMETIDO > 0
                    ? false : true"
        (onClick)="onConfirmarAccionPopup('reprogramar', popupData)"
      ></dx-button>
    </div>
  </div>
</dx-popup>


<dx-popup
  [title]="'Fechas y Horas - ' + nameSeccion"
  [width]="500"
  [height]="400"
  [showTitle]="true"
  [closeOnOutsideClick]="true"
  [(visible)]="popupVisibleSeccion"
>
    <div *dxTemplate="let data of 'content'" style="display: flex; flex-direction: column; gap: 20px; height: 100%;">
    
        <div style="display: flex; gap: 20px; flex-direction: column;">
            <dx-date-box 
                [(value)]="fechaInicioSeccion!" 
                [type]="'datetime'"
                [placeholder]="'Selecciona fecha y hora de inicio'"
                [label]="'Inicio ' + nameSeccion"  [labelMode]="'static'" [stylingMode]="'outlined'"
                [width]="'100%'"
            >
            </dx-date-box>

            <dx-date-box
                [(value)]="fechaFinSeccion!"
                [type]="'datetime'"
                [placeholder]="'Selecciona fecha y hora de finalización'"
                [label]="'Fin ' + nameSeccion" [labelMode]="'static'" [stylingMode]="'outlined'"
                [width]="'100%'"
            >
            </dx-date-box>
        </div>

        <!-- Lista de elementos hijos con checkboxes -->
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                <label style="font-weight: bold;">
                    Seleccionar productos relacionados:
                </label>
                <dx-check-box
                    [value]="todoSeleccionado"
                    text="Seleccionar todo"
                    (onValueChanged)="onSeleccionarTodo($event)"
                    style="font-size: 12px;"
                >
                </dx-check-box>
            </div>
            <div style="flex: 1; max-height: 200px; overflow-y: auto; border: 1px solid #ddd; border-radius: 4px; padding: 10px;">
                <div *ngFor="let hijo of elementosHijosSeccion" 
                     style="display: flex; align-items: center; margin-bottom: 8px; padding: 4px;">
                    <dx-check-box
                        [(value)]="hijo.SELECCIONADO"
                        [text]="hijo.ID_PARTE + ' - ' + hijo.NOMBRE_PARTE"
                        (onValueChanged)="onSeleccionarHijo($event, hijo)"
                        style="margin-right: 10px;"
                    >
                    </dx-check-box>
                </div>
                <div *ngIf="elementosHijosSeccion.length === 0" 
                     style="text-align: center; color: #999; padding: 20px;">
                    No hay productos relacionados
                </div>
            </div>
        </div>

    </div>

    <dxi-toolbar-item 
        widget="dxButton" 
        toolbar="bottom" 
        location="after" 
        [options]="{ text: 'Guardar', type: 'default', onClick: guardarFechas }">
    </dxi-toolbar-item>

    <dxi-toolbar-item 
        widget="dxButton" 
        toolbar="bottom" 
        location="after" 
        [options]="{ text: 'Cancelar', type: 'normal', onClick: cancelar }">
    </dxi-toolbar-item>
</dx-popup>


<app-femail
  [events]="eventsSubjectEnvioCorreo.asObservable()"
  (onRespuestaSelecc)="onRespuestaEnvioCorreo($event)"
></app-femail>


<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#treeListAgenda' }"
  [visible]="true"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>