<dx-popup
  #popupGesproInfo
  id="popupGesproInfo"
  width="auto"
  minWidth="40px"
  maxWidth="50%"
  height="auto"
  minHeight="400px"
  maxHeight="70%"
  [showTitle]="true"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [showCloseButton]="true"
  [hideOnOutsideClick]="false"
  [container]="container"
  [title]="tituloGesproInfo"
  [(visible)]="visibleGesproInfo"
  titleTemplate="titleTemplate"
  >
  <dxo-position at="center"> </dxo-position>

  <div
    *dxTemplate="let data of 'titleTemplate'"
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
    "
    >
    <div style="width: 80%">
      <dx-text-box
        id="txtNombreTarea"
        placeholder="Nombre de la actividad..."
        width="100%"
        height="90%"
        maxLength="100"
        [readOnly]="readOnly"
        [(value)]="new_data.NOMBRE"
        >
        <dx-validator>
          <dxi-validation-rule
            type="stringLength"
            [min]="5"
            [max]="100"
            message="Debe tener min:5 y max:100 caracteres*"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <div
      style="
        width: 10%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
      "
      >
      <dx-button
        icon="overflow"
        (onClick)="ocultarInfoAct = !ocultarInfoAct"
      ></dx-button>
    </div>
    <div
      style="
        width: 10%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
      "
      >
      <dx-button icon="close" (onClick)="closeBottom($event)"></dx-button>
    </div>
  </div>

  <div *dxTemplate="let data of 'content'">
    <div class="popup-content">
      <!-- <div class="item-space-between"> -->
      @if (!ocultarInfoAct) {
        <div class="form-content ges-info">
          <div class="form-item-column">
            <!-- <div class="form-item-data">
            <div class="form-item-label">Actividad</div>
            <div class="form-input-box">
              <dx-text-box
                id="txtNombreTarea"
                placeholder="Nombre de la actividad..."
                class="xt-gestitlex"
                width="100%"
                height="100%"
                maxLength="100"
                [readOnly]="readOnly"
                [(value)]="new_data.NOMBRE"
                (onValueChanged)="onValueChangedNombre($event)"
                >
                <dx-validator>
                  <dxi-validation-rule
                    type="stringLength"
                    [min]="5"
                    [max]="100"
                    message="Debe tener min:5 y max:100 caracteres*"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div> -->
          <div class="form-item-data">
            <div class="form-item-label">Responsable</div>
            <div class="form-input-box">
              <dx-select-box
                #selectResponsables
                id="selectResponsables"
                placeholder="Seleccione Responsables..."
                stylingMode="filled"
                displayExpr="NOMBRE"
                valueExpr="ID_RESPONSABLE"
                [searchEnabled]="true"
                [readOnly]="readOnly"
                [(value)]="new_data.RESPONSABLE"
                [dataSource]="DResponsables"
                  [dropDownOptions]="{
                    hideOnParentScroll: true,
                    container: '#router-container'
                  }"
                (onValueChanged)="onValueRESPONSABLE($event)"
              ></dx-select-box>
            </div>
          </div>
          <div class="form-item-data">
            <div class="form-item-label">Colaboradores</div>
            <div class="form-input-box">
              <dx-tag-box
                #tagBoxColaboradores
                id="tagBoxColaboradores"
                displayExpr="NOMBRE"
                valueExpr="ID_RESPONSABLE"
                width="100%"
                height="75px"
                applyValueMode="useButtons"
                [showSelectionControls]="true"
                [searchEnabled]="true"
                [maxDisplayedTags]="2"
                [dataSource]="DResponsables"
                [(value)]="new_data.COLABORADORES"
                [disabled]="new_data.ANULADO ? true : readOnly"
                  [dropDownOptions]="{
                    width: 400,
                    hideOnParentScroll: true,
                    container: '#router-container'
                  }"
                (onValueChanged)="onValueCOLABORADORES($event)"
              ></dx-tag-box>
            </div>
          </div>
          <div class="form-item-data">
            <div class="form-item-label">Rango de Fechas</div>
            <div class="form-input-box">
              <dx-date-box
                width="48%"
                [readOnly]="readOnly"
                [value]="new_data.FECHA_INICIO"
                placeholder="Fecha inicial..."
                type="datetime"
                pickerType="calendar"
                (onValueChanged)="onValueChangedFechaInicial($event)"
              ></dx-date-box>
              <dx-date-box
                width="48%"
                [readOnly]="readOnly"
                [value]="new_data.FECHA_FIN"
                placeholder="Fecha final..."
                type="datetime"
                pickerType="calendar"
                (onValueChanged)="onValueChangedFechaFinal($event)"
              ></dx-date-box>
            </div>
          </div>
          <div class="form-item-data">
            <div class="form-item-label">Prioridad</div>
            <div class="form-input-box">
              <dx-select-box
                #selectBox
                [readOnly]="readOnly"
                [items]="listPrioridad"
                [(value)]="new_data.PRIORIDAD"
                (onValueChanged)="onSelectionPrioridad($event)"
                class="xt-tag-urgente"
                >
              </dx-select-box>
            </div>
          </div>
          <div class="form-item-data">
            <div class="form-item-label">Estado</div>
            <div class="form-input-box">
              <dx-select-box
                #selectEstado
                [readOnly]="readOnly"
                [dataSource]="DLEstados"
                displayExpr="VALOR1"
                valueExpr="VALOR1"
                [value]="new_data.ESTADO"
                placeholder="Seleccione..."
                (onValueChanged)="onSeleccEstado($event)"
              ></dx-select-box>
            </div>
          </div>
          <div class="form-item-data">
            <div class="form-item-label">Descripción</div>
            <div class="form-input-box">
              <dx-text-area
                [height]="90"
                [readOnly]="readOnly"
                [(value)]="new_data.DESCRIPCION"
                (onValueChanged)="onValueChangedDescripcion($event)"
              ></dx-text-area>
            </div>
          </div>
        </div>
        <div class="popup-footer">
          <div class="popup-footer-content form-item-row">
            <dx-button
              id="btnAceptarPT"
              stylingMode="contained"
              text="Aceptar"
              type="default"
              [width]="100"
              (onClick)="aceptarBottom($event)"
            ></dx-button>
            <dx-button
              id="btnCancelarPT"
              stylingMode="contained"
              text="Cancelar"
              type="normal"
              [width]="110"
              [style.margin-left]="'20px'"
              (onClick)="closeBottom($event)"
            ></dx-button>
          </div>
        </div>
      </div>
    }

    <!-- <hr class="class-hr"> -->
    @if (!ocultarInfoAct) {
      <mat-divider recuadro vertical> </mat-divider>
    }

    <div
      class="form-content"
      [ngStyle]="{ width: ocultarInfoAct ? '100%' : '50%' }"
      >
      <div class="timeline-body">
        <dx-scroll-view
          #scrollViewBodyChat
          id="scrollViewBodyChat"
          width="100%"
          height="100%"
          >
          <p-timeline
            [value]="DTimeline"
            align="left"
            styleClass="customized-timeline"
            >
            <ng-template pTemplate="marker" let-evento>
              <span
                class="custom-marker p-shadow-2"
                [style.backgroundColor]="evento.color"
                >
                <!-- <i [ngClass]="evento.ICON"></i> -->
                <i class="icon-programacion-sl"></i>
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-evento>
              <p-card [header]="evento.NOMBRE">
                <div class="container-fechas xt-texteditor-clear-x">
                  <dx-date-box
                    #fechaInicio
                    type="datetime"
                    [readOnly]="true"
                    class="dateBox-fechas"
                    [(value)]="evento.FECHA"
                  ></dx-date-box>
                </div>
                <br />
                <p>{{ evento.DESCRIPCION }}</p>
                <br />
                @if (evento.ARCHIVOS.length > 0) {
                  <div>
                    <p>
                      @if (evento.ARCHIVOS.length === 1) {
                        <b
                          >Un archivo adjunto.</b
                          >
                        }
                        @if (evento.ARCHIVOS.length > 1) {
                          <b
                            >{{ evento.ARCHIVOS.length }} archivos adjuntos.</b
                            >
                          }
                          <i
                            class="icon-adjuntar-ol"
                            style="margin-left: 5px"
                          ></i>
                        </p>
                        <div class="form-item-flow-wrap">
                          <!-- <dx-scroll-view #scrollArchivos id="scrollArchivos" width="100%" height="100%" > -->
                          @for (archivo of evento.ARCHIVOS; track archivo) {
                            <div
                          style="
                            width: 150px;
                            height: 150px;
                            overflow: hidden;
                            margin: 5px;
                            cursor: pointer;
                          "
                              (click)="onClickAbrir(archivoDoc, archivo)"
                              >
                              <img
                                width="100%"
                                height="100%"
                                [src]="archivo.IMAGEN"
                                [alt]="archivo.ARCHIVO"
                                />
                              </div>
                            }
                          <!-- </dx-scroll-view> -->
                        </div>
                      </div>
                    }
                  </p-card>
                </ng-template>
              </p-timeline>
            </dx-scroll-view>
          </div>
          @if (mostrarSubirArchivos) {
            <div class="form-toolbox-cotainer">
              <div class="form-upload-box">
                <dx-scroll-view width="100%" height="100%">
                  <!-- <div
                  id="idArchivo"
                  class="form-fileuploader-file-container"
                  *ngFor="let archivo of Darchivos"
                  >
                  <div
                    (click)="onClickAbrir(archivoDoc, archivo)"
                    style="
                      height: 25px;
                      width: 94%;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      overflow: hidden;
                      white-space: nowrap;
                    "
                    >
                    <div class="form-fileuploader-icon-container">
                      <i [ngClass]="archivo.icon"></i>
                    </div>
                    <div class="form-fileuploader-file-label">
                      {{ archivo.ARCHIVO }}
                    </div>
                  </div>
                  <div class="form-fileuploader-button-container">
                    <dx-button
                      icon="close"
                      (onClick)="onClickEliminarArchivo($event, archivo)"
                    ></dx-button>
                  </div>
                </div> -->
                <div class="container-img-chat" >
                  @for (archivo of Darchivos; track archivo) {
                    <div
                      class="image-container"
                      >
                      @if (archivo.TYPE.includes('image')) {
                        <div class="image-wrapper">
                          <img
                            [src]="archivo.IMAGEN"
                            [alt]="archivo.ARCHIVO"
                            (click)="onClickAbrir(archivoDoc, archivo)"
                            />
                            <dx-button
                              class="close-btn"
                              (onClick)="onClickEliminarArchivo($event, archivo)"
                            >x</dx-button>
                          </div>
                        }
                        @if (!archivo.TYPE.includes('image')) {
                          <div class="image-wrapper" >
                            <div
                              (click)="onClickAbrir(archivoDoc, archivo)"
                        style="
                          width: 100%;
                          height: 100%;
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          justify-content: flex-start;
                          overflow: hidden;
                          white-space: nowrap;
                        "
                              >
                              <div class="form-fileuploader-icon-container">
                                <i [ngClass]="archivo.icon" style="font-size: xx-large;"></i>
                              </div>
                              <div class="form-fileuploader-file-label">
                                {{ archivo.ARCHIVO }}
                              </div>
                            </div>
                            <dx-button
                              class="close-btn"
                              (onClick)="onClickEliminarArchivo($event, archivo)"
                            >x</dx-button>
                          </div>
                        }
                      </div>
                    }
                  </div>
                </dx-scroll-view>
              </div>
            </div>
          }
          <div style="margin: 10px 0px 0px;">
            <div class="popup-footer-content form-item-column">
              <div class="form-item-data">
                <div class="form-input-chatbox">
                  <dx-text-box
                    placeholder="Escribe Mensaje..."
                    [showClearButton]="true"
                    [(value)]="mesajeText"
                    (onPaste)="onPasteMsj($event)"
                  ></dx-text-box>
                </div>

                <div class="form-input-chatsendbox">
                  <dx-button
                    icon="icon-adjuntar-ol"
                    style="margin: 0 0.15rem"
                    (onClick)="onClickCargar(new_data)"
                    >
                    <i class="icon-adjuntar-ol"></i>
                  </dx-button>

                  <span
                    style="width: 80%; height: 28px; padding: 5px"
                    class="style-icon send-icon"
                    (click)="guardarComentarios()"
                    >
                    Enviar
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->

      <!-- <div class="popup-footer">
      <div class="popup-footer-content form-item-row vertical-divider-br">
        <dx-button
          id="btnAceptarPT"
          stylingMode="contained"
          text="Aceptar"
          type="default"
          [width]="100"
          (onClick)="aceptarBottom($event)"
        ></dx-button>
        <dx-button
          id="btnCancelarPT"
          stylingMode="contained"
          text="Cancelar"
          type="normal"
          [width]="110"
          [style.margin-left]="'20px'"
          (onClick)="closeBottom($event)"
        ></dx-button>
      </div>

      <div class="popup-footer-content form-item-column">

        <div class="form-item-data">
          <div class="form-input-chatbox">
            <dx-text-box
              placeholder="Escribe Mensaje..."
              [showClearButton]="true"
              [(value)]="mesajeText"
            ></dx-text-box>
          </div>

          <div class="form-input-chatsendbox">
            <dx-button
              icon="icon-adjuntar-ol"
              style="margin: 0 .15rem"
              (onClick)="onClickCargar(new_data)"
              >
              <i class="icon-adjuntar-ol" ></i>
            </dx-button>

            <span style="width: 80%; height: 28px; padding: 5px;" class="style-icon send-icon" (click)="guardarComentarios()"> Enviar </span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
</dx-popup>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#div-container-mensaje' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Cargando historial..."
  [hideOnOutsideClick]="false"
></dx-load-panel>
