<div class="row gx-3">
	<div class="col-12">
		<div class="card-content" id="PRO029" #PRO029>
			<div class="container-child-dos-app xt-gesptabs">

				<!-- <div class="d-flex justify-content-end overflow-hidden xt-tabs-container">
					<dx-tabs class="xt-tabs-agenda" [scrollByContent]="true" [showNavButtons]="true" [selectedIndex]="0"
						(onItemClick)="onTabChanged($event)">
						<dxi-item>
							<div *dxTemplate>
								<i class="icon-postit-ol"></i>
								<span style="margin-left: 5px;"> Tabla </span>
							</div>
						</dxi-item>
						<dxi-item>
							<div *dxTemplate>
								<i class="icon-matriz"></i>
								<span style="margin-left: 5px;"> DashBoard </span>
							</div>
						</dxi-item>
						<dxi-item>
							<div *dxTemplate>
								<i class="icon-tarea-sl"></i>
								<span style="margin-left: 5px;"> Diagrama </span>
							</div>
						</dxi-item>
						<dxi-item>
							<div *dxTemplate>
								<i class="icon-grafico-mnl-ol"></i>
								<span style="margin-left: 5px;"> Gantt </span>
							</div>
						</dxi-item>
					</dx-tabs>
				</div>
				<div id="tabsContentGespro" class="content dx-fieldset">
					<div *ngIf="tabsAgenda[0].content">
						<div style="margin-top: 20px;"> -->
							<app-PRO02902 [events]="eventsDatos02.asObservable()"
								(onRespuestaComponent)="onRespuestaComponent($event, 'TABLA')"></app-PRO02902>
						<!-- </div>
					</div>
					<div *ngIf="tabsAgenda[1].content">
						<div style="margin-top: 20px;">
							<app-PRO02901 [events]="eventsDatos01.asObservable()"
								(onRespuestaComponent)="onRespuestaComponent($event, 'DASHBOARD')"></app-PRO02901>
						</div>
					</div>
					<div *ngIf="tabsAgenda[2].content">
						<div style="margin-top: 20px;">
							<app-PRO02903 [events]="eventsDatos03.asObservable()"
								(onRespuestaComponent)="onRespuestaComponent($event, 'DIAGRAMA')"></app-PRO02903>
						</div>
					</div>
					<div *ngIf="tabsAgenda[3].content">
						<div>
							<app-PRO02904></app-PRO02904>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>

<dx-popup #popUpProgramacion id="popUpProgramacion" width="65%" height="50%" [showTitle]="true" [dragEnabled]="true"
	[showCloseButton]="true" [hideOnOutsideClick]="false" [title]="tituloPopupProgramacion"
	[(visible)]="popupVisibleProgramacion" (onHidden)="onHidden($event)">
	<dxo-position my="center" at="center" of="window"> </dxo-position>
	<div *dxTemplate="let data of 'content'">
		<dx-data-grid #gridProgramacion id="gridProgramacion" width="100%" height="100%" keyExpr="ITEM"
			columnResizingMode="widget" [showBorders]="true" [columnAutoWidth]="true" [hoverStateEnabled]="true"
			[focusedRowEnabled]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true"
			[rowAlternationEnabled]="true" [selection]="{ mode: 'single' }" [dataSource]="DataPopupProgramacion">
			<dxo-scrolling mode="standard"></dxo-scrolling>
			<dxo-search-panel [visible]="true" [width]="400"></dxo-search-panel>
			<dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
			<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>

			<dxi-column dataField="DOCUMENTO_PEDIDO" caption="Pedido" [width]="120" [groupIndex]="0"></dxi-column>
			<dxi-column dataField="PRODUCTO" caption="Producto" [width]="140" [groupIndex]="1"
				groupCellTemplate="groupCellTemplate"></dxi-column>
			<!-- <dxi-column dataField="NOMBRE_PRODUCTO" caption="Nombre producto" ></dxi-column> -->
			<dxi-column dataField="ID_PARTE" caption="Parte" [width]="140"></dxi-column>
			<dxi-column dataField="NOMBRE_PARTE" caption="Nombre"></dxi-column>
			<!-- <dxi-column dataField="FECHA_ENTREGA" caption="Fecha entrega" dataType="date"></dxi-column> -->
			<dxi-column dataField="FECHA_INICIO_PROGRAMADA" caption="Fecha inicio" dataType="datetime"></dxi-column>
			<dxi-column dataField="FECHA_FIN_PROGRAMADA" caption="Fecha final" dataType="datetime"></dxi-column>
			<dxi-column dataField="CANTIDAD" caption="Cant." format="#0.00"></dxi-column>
			<dxi-column dataField="CANTIDAD_PENDIENTE" caption="Pendiente" format="#0.00"></dxi-column>
			<dxi-column dataField="CANTIDAD_PRODUCIDA" caption="Producido" format="#0.00"></dxi-column>

			<div *dxTemplate="let grupoObj of 'groupCellTemplate'" class="tem-grupo-un">
				<div class="dx-datagrid-template">
					<div>
						<span> Producto: </span>
						<span>{{ templateHtml(grupoObj, 'PRODUCTO') }} - {{ templateHtml(grupoObj, 'NOMBRE_PRODUCTO')
							}}</span>
					</div>
				</div>
			</div>

		</dx-data-grid>
	</div>
</dx-popup>


<dx-load-panel #loaderPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#router-container' }"
	[(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
	message="Un momento. Cargando datos..." [hideOnOutsideClick]="false"></dx-load-panel>