<div class="contenido-panel" [class.fullscreen]="dashboardFullscreen">
    <dx-button
        class="btn-fullscreen"
        [icon]="dashboardFullscreen ? 'chevrondown' : 'fullscreen'"
        hint="{{ dashboardFullscreen ? 'Restaurar' : 'Pantalla completa' }}"
        stylingMode="contained"
        type="default"
        (onClick)="dashboardFullscreen = !dashboardFullscreen">
    </dx-button>
    <app-dashboard-viewer
        *ngIf="dashboardId"
        [dashboardId]="dashboardId"
        [dashboardType]="dashboardType">        
    </app-dashboard-viewer>    
</div>
