<div class="xt-tabs xt-tabs-icon">
  <mat-tab-group id="tabsPrincipal" #tabsPrincipal [(selectedIndex)]="selectedTab"
    (selectedTabChange)="onTabClick($event)" animationDuration="0s"
    (cdkDropListDropped)="dropped($event, tabsPrincipal)">
    @if (tabPpalVisible) {
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button [matMenuTriggerFor]="ddListaApl" [style.border]="'0'">
            <i class="icon-opciones"></i>
          </button>
        </ng-template>
      </mat-tab>
    }

    @for (tab of tabs; track tab; let tabIndex = $index) {
      <mat-tab class="titulos v-hidden">
        <ng-template mat-tab-label>
          @if (tab.tabla !== 'reporte') {
            <i class="{{ tab.icon }}"></i>
          }
          @if (tab.tabla === 'reporte') {
            <i class="icon-imprimir-ol"></i>
          }
          <div class="d-none d-md-flex mat-icon-cerrar xt-tabs-label-content">
            <span class="xt-tabs-label"> {{ tab.title }} </span>
            <i (click)="removeTab(tabIndex)" class="icon-cerrar-ol-xl"
              [ngStyle]="{'display': (tab.aplicacion==='ADM-300' ? 'none' : 'block') }">
            </i>
          </div>
          <div class="d-flex d-md-none mat-icon-cerrar xt-tabs-label-content">
            @if (tab.active) {
              <span class="xt-tabs-label"> {{ tab.title }} </span>
            }
            @if (tab.active) {
              <i (click)="removeTab(tabIndex)" class="icon-cerrar-ol-xl"
                [ngStyle]="{'display': (tab.aplicacion==='ADM-300' ? 'none' : 'block') }">
              </i>
            }
          </div>
        </ng-template>
        <span class="d-flex d-md-none cls-reg-barra">
          <app-regbarra></app-regbarra>
        </span>
        <div id="container-tabs-principal" class="container-tabs-principal" (scroll)="onWindowScroll($event)">
          <app-tab-content [tab]="tab"></app-tab-content>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</div>

<app-filtro></app-filtro>

<mat-menu #ddListaApl="matMenu" [overlapTrigger]="false">
  @for (tab of tabs; track tab; let tabIndex = $index) {
    <button mat-menu-item
      (click)="this.tabsPrincipal.selectedIndex = tabIndex+1">
      {{tab.title}}
    </button>
  }
</mat-menu>
