<div class="row gx-3">

	<div class="col-12 col-xl-8">
		<div class="card-content">
			<dx-form #formMatriz id="formMatriz" [formData]="FMatriz" [colCount]="1" [readOnly]="readOnly"
				labelLocation="left">
				<dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>

				<dxi-item dataField="PRODUCTO" editorType="dxDropDownBox">
					<dxo-label text="Producto"></dxo-label>
					<div *dxTemplate>
						<dx-drop-down-box #dropSelectProducto id="dropSelectProducto" [(value)]="selectProducto"
							valueExpr="PRODUCTO" displayExpr="PRODUCTO" placeholder="Selecciones Producto"
							[readOnly]="readOnly" [showClearButton]="true" [(opened)]="openProductos"
							[dataSource]="DGProductos" [dropDownOptions]="dropDownProductos" columnResizingMode="widget"
							[inputAttr]="{name: 'PRODUCTO', style: 'font-size: 18px; font-weight: 700; text-transform: uppercase; padding: 4px 11px 1px;'}"
							(onOpened)="onResized($event, 'producto')"
							(onValueChanged)="onValueChangedProducto($event)">
							<div id="containerFMProductos" *dxTemplate="let data of 'content'">
								<dx-data-grid #FMProductos height="100%" width="100%" keyExpr="PRODUCTO"
									[dataSource]="DGProductos" [(selectedRowKeys)]="selectProducto"
									[selection]="{ mode: 'single' }" [columnAutoWidth]="true"
									[allowColumnResizing]="true" [columnMinWidth]="120" [rowAlternationEnabled]="true"
									[focusedRowEnabled]="true" [hoverStateEnabled]="true"
									(onSelectionChanged)="onSelectionProducto($event)">
									<dxo-scrolling mode="virtual"></dxo-scrolling>
									<dxo-search-panel [visible]="true" [width]="widthSerchProductos"></dxo-search-panel>

									<dxi-column dataField="PRODUCTO" caption="Producto" cssClass="clsEncabHis"
										[width]="130"></dxi-column>
									<dxi-column dataField="NOMBRE" caption="Nombre" cssClass="clsEncabHis"
										[width]="180"></dxi-column>
									<dxi-column dataField="CLASE" caption="Clase" cssClass="clsEncabHis"></dxi-column>

								</dx-data-grid>
							</div>
						</dx-drop-down-box>
					</div>
				</dxi-item>

				
        <dxi-item dataField="ESTADO" editorType="dxSelectBox">
          <dxo-label text="Estado"></dxo-label>
          <div *dxTemplate>
            <dx-select-box
							placeholder="Estado"
              [readOnly]="readOnly"
              [value]="FMatriz.ESTADO"
              [dataSource]="['ACTIVO','INACTIVO']"
              (onValueChanged)="onSeleccEstado($event)"
            ></dx-select-box>
          </div>
        </dxi-item>

				<dxi-item dataField="NOMBRE">
					<dxo-label text="Nombre"></dxo-label>
					<div *dxTemplate>
						<dx-text-box placeholder="Nombre Producto" [readOnly]="true" [value]="FMatriz.NOMBRE">
						</dx-text-box>
					</div>
				</dxi-item>

				<dxi-item dataField="MARGEN_RENTABILIDAD">
					<dxo-label text="% Margen Rentabilidad"></dxo-label>
					<div *dxTemplate>
						<dx-number-box [min]="0" [readOnly]="readOnlyMargen" [value]="FMatriz.MARGEN_RENTABILIDAD"
							[showSpinButtons]="true" [showClearButton]="true" (onValueChanged)="onSelectMargen($event)">
							<dxo-format type="fixedPoint" [precision]="2">
							</dxo-format>
						</dx-number-box>
					</div>
				</dxi-item>

				<dxi-item dataField="ETAPA">
					<dxo-label text="Etapa"></dxo-label>
					<div *dxTemplate>
						<dx-text-box placeholder="Etapa del producto" [readOnly]="true" [value]="FMatriz.ETAPA">
						</dx-text-box>
					</div>
				</dxi-item>

				<dxi-item dataField="RUTAS" editorType="dxDropDownBox" *ngIf="FMatriz.CLASE !== 'Juego' ">
					<dxo-label text="Rutas de Producción"></dxo-label>
					<div *dxTemplate>
						<dx-drop-down-box #dropRuta id="dropRuta" valueExpr="ID_RUTA" displayExpr="INFO"
							placeholder="Selecciones Ruta" [showClearButton]="true" columnResizingMode="widget"
							[(opened)]="openRutas" [dataSource]="DRutasProductos" [dropDownOptions]="dropDownRutas"
							[(value)]="selectRutasProductos" [readOnly]="true" (onOpened)="onResized($event, 'rutas')"
							(onValueChanged)="onValueChangedRuta($event)">
							<!-- <div id="containerGRutas" *dxTemplate="let data of 'content'">
								<dx-data-grid
									#GRutas
									height="100%"
									width="100%"
									keyExpr="ID_RUTA"
									[dataSource]="DRutasProductos"
									[(selectedRowKeys)]="selectRutasProductos"
									[selection]="{ mode: 'single' }"
									[columnAutoWidth]="true"
									[allowColumnResizing]="true"
									[rowAlternationEnabled]="true"
									[focusedRowEnabled]="true"
									[hoverStateEnabled]="true"
									columnResizingMode="widget"
									(onSelectionChanged)="onSelectionRuta($event)" 
								>
									<dxo-scrolling mode="virtual"></dxo-scrolling>
									<dxo-search-panel [visible]="true" [width]="widthSerchRutas" ></dxo-search-panel>
									<dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

									<dxi-column dataField="ID_RUTA"  caption="Id Ruta" cssClass="clsEncabHis" [width]="110"></dxi-column>
									<dxi-column dataField="DESCRIPCION"  caption="Nombre" cssClass="clsEncabHis"></dxi-column>
									<dxi-column alignment="center" cssClass="clsEncabHis" cellTemplate="temLoyoutRuta" [width]="50">
									</dxi-column>
									
									<div *dxTemplate="let cellInfo of 'temLoyoutRuta'">
										<dx-button id="btnLoyoutRuta" #btnLoyoutRuta
											icon="icon-ver-ol"
											(mouseover)="showVistaRutas($event, cellInfo)"
										>
											<i class="icon-ver-ol" ></i>
										</dx-button>
									</div>
	
								</dx-data-grid>
							</div> -->
						</dx-drop-down-box>
					</div>
				</dxi-item>


				<dxi-item dataField="BASES_COSTOS">
					<dxo-label text="Bases Costos"></dxo-label>
					<div *dxTemplate>
						<dx-text-box placeholder="Bases de Costo" [readOnly]="true" [value]="FMatriz.BASES_COSTOS">
						</dx-text-box>
					</div>
				</dxi-item>

				<dxi-item dataField="CLASE">
					<dxo-label text="Clase"></dxo-label>
					<div *dxTemplate>
						<dx-text-box placeholder="Clase del Producto" [readOnly]="true" [value]="FMatriz.CLASE">
						</dx-text-box>
					</div>
				</dxi-item>

				<dxi-item dataField="PERFIL_TRIBUTARIO">
					<dxo-label text="Perfil Tributario"></dxo-label>
					<div *dxTemplate>
						<dx-text-box placeholder="Perfil Tributario" [readOnly]="true"
							[value]="FMatriz.PERFIL_TRIBUTARIO">
						</dx-text-box>
					</div>
				</dxi-item>

			</dx-form>
		</div>
	</div>

	<div id="containerGAtributos" class="col-12 col-xl-4">
		<div class="card-content-clean" style="max-height: 170.69px;" (resized)="onResized($event, 'atributos')">
			<div id="xt-title" class="xt-title">
				<span class="xt-caption"> Atributos </span>
			</div>
			<div *ngIf="clase===1" style="width: 100%; height: 100%;">
				<dx-data-grid #GAtributos height="170.69" width="100%" keyExpr="PRODUCTO"
					[dataSource]="DGAtributosSimple" [selection]="{ mode: 'single' }" [columnAutoWidth]="true"
					[allowColumnResizing]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="true"
					[hoverStateEnabled]="true" columnResizingMode="nextColumn">
					<dxo-scrolling mode="virtual"></dxo-scrolling>
					<dxo-search-panel [visible]="true" [width]="widthSerchAtributos"></dxo-search-panel>

					<dxi-column dataField="PRODUCTO" caption="Código" cssClass="clsEncabHis" [width]="150"></dxi-column>
					<dxi-column dataField="NOMBRE" caption="Nombre" cssClass="clsEncabHis" [width]="150"></dxi-column>
					<dxi-column dataField="CANTIDAD" caption="Cant." cssClass="clsEncabHis" alignment="right"
						[width]="80"></dxi-column>
					<dxi-column dataField="ATRIBUTO" caption="Atributo" cssClass="clsEncabHis"
						[width]="150"></dxi-column>
					<dxi-column dataField="VALOR" caption="Valor" cssClass="clsEncabHis" alignment="right"
						[width]="100"></dxi-column>
				</dx-data-grid>
			</div>
			<div *ngIf="clase===2" style="width: 100%; height: 100%;">
				<dx-tree-list #treeListAtributos id="treeListAtributos" height="170.69" width="100%"
					[dataSource]="DGAtributosCompuesto" keyExpr="ATRIBUTO" parentIdExpr="ANTERIOR" [showRowLines]="true"
					[showBorders]="true" [columnAutoWidth]="true" [expandedRowKeys]="[1,2]"
					[rowAlternationEnabled]="true" [hoverStateEnabled]="true" [focusedRowEnabled]="true"
					[autoExpandAll]="true" [allowColumnResizing]="true" columnResizingMode="nextColumn"
					rootValue="RAIZ">
					<dxo-scrolling mode="virtual"></dxo-scrolling>
					<dxo-search-panel [width]="widthSerchAtributos" [visible]="true"></dxo-search-panel>

					<dxi-column dataField="ATRIBUTO" caption="Código" cssClass="clsEncabHis" [width]="170"></dxi-column>
					<dxi-column dataField="NOMBRE" caption="Nombre" cssClass="clsEncabHis" [width]="170"></dxi-column>
					<dxi-column dataField="VALOR" caption="Valor" cssClass="clsEncabHis" alignment="right"
						[width]="150"></dxi-column>

					<div *dxTemplate="let item of 'temAtributo'">
						<span *ngIf="item.data.CODIGO === ''">{{ item.data.ATRIBUTO + ' -- ' + item.data.NOMBRE
							}}</span>
						<span *ngIf="item.data.CODIGO !== ''">{{ item.data.CODIGO + ' -- ' + item.data.NOMBRE }}</span>
					</div>

				</dx-tree-list>
			</div>
		</div>
	</div>


	<div class="col-12" *ngIf="activeItems">
		<div class="card-content-secondary">
			<div class="container-radio-bottom xt-radiobutton-align-left xt-radiobutton-top-0 mb-2"
				*ngIf="!mnuAccion.match('new|update')">
				<!-- <dx-radio-group
					[items]="modoGrid"
					[(value)]="modoGridValue"
					layout="horizontal"
					(onValueChanged)="onValueChangedModo($event)"
				></dx-radio-group> -->
			</div>

			<cdk-accordion class="accordion-container unbg-input" [multi]="true">
				<cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
					class="accordion-item" role="button" tabindex="0" [expanded]="accordionExpand[index]"
					[attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
					[attr.aria-controls]="'accordion-body-' + index">
					<!-- ITEM PARTES, MATERIALES, MANO OBRA, CIF, TOTAL COSTOS -->
					<div (click)="accordionItem.toggle()" class="accordion-item-header"
						[ngStyle]="{'background-color': accordionItem.expanded ? 'transparent' : '', 'border-radius': accordionItem.expanded ? '10px 10px 0 0' : '' }">

						<div class="accordion-item-group">
							<div>
								<span class="accordion-item-description" *ngIf="accordionItem.expanded">
									<i class="icon-chevron-up-xs"></i>
								</span>
								<span class="accordion-item-description" *ngIf="!accordionItem.expanded">
									<i class="icon-chevron-down-xs"></i>
								</span>
							</div>
							<span class="accordion-caption"> {{ item }} </span>
							<span>
								<!-- <dx-button
									*ngIf="item !== 'PRODUCTOS / PARTES'"
									icon="icon-refrescar"
									[disabled]="readOnly"
									(onClick)="updateTotales($event, item)"
								>
									<i class="icon-refrescar" ></i>
								</dx-button> -->
							</span>
						</div>

						<!-- ITEM PARTES -->
						<!-- <div
							*ngIf="item === 'PRODUCTOS / PARTES'"
							class="accordion-item-group"
							
						>
							<div class="spanTotal">
								<span>
								</span>
							</div>
						</div> -->

						<!-- COSTOS DIRECTOS -->
						<div class="accordion-item-description" *ngIf="item === 'COSTOS DIRECTOS'">
							<div class="spanTotal">
								<span>
									Total:
								</span>
								<dx-number-box [min]="0" width="auto" format="#,##0.00" [readOnly]="true"
									[value]="TOTAL_COSTO_DIRECTO"
									[inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"></dx-number-box>
							</div>
						</div>

						<!-- ITEM CIF -->
						<div class="accordion-item-description" *ngIf="item === 'COSTOS INDIRECTOS'">
							<div class="spanTotal">
								<span>
									Total:
								</span>
								<dx-number-box [min]="0" width="auto" format="#,##0.00" [readOnly]="true"
									[value]="TOTAL_CIF"
									[inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"></dx-number-box>
							</div>
						</div>


						<!-- ITEM TOTAL COSTOS -->
						<div class="accordion-item-description" *ngIf="item === 'TOTAL COSTOS'">
							<div class="spanTotal">
								<span>
									Total:
								</span>
								<dx-number-box [min]="0" width="auto" format="#,##0.00" [readOnly]="true"
									[value]="TOTAL_COSTO"
									[inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7; text-align: end; cursor: pointer;'}"></dx-number-box>
							</div>
						</div>

					</div>

					<!-- PESTAÑAS/COMPONENTES SECCIONES -->
					<div class="accordion-item-body" role="region"
						[style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
						[attr.aria-labelledby]="'accordion-header-' + index">
						<div *ngIf="item === 'PRODUCTOS / PARTES'">
							<app-PRO01901 [infoPartes]="_sdatos.DPartes"></app-PRO01901>
						</div>
						<div *ngIf="item === 'COSTOS DIRECTOS'">
							<app-COSTOS-DIRECTOS [getDataTotales]="getDataTotales"
								(send_CostoDirecto)="getTotalCostoDirecto($event)"></app-COSTOS-DIRECTOS>
						</div>
						<div *ngIf="item === 'COSTOS INDIRECTOS'">
							<app-PRO01904 (send_totalCIF)="getTotalCIF($event)"></app-PRO01904>
						</div>
						<div *ngIf="item === 'TOTAL COSTOS'" class="total-cards">
							<app-PRO01905></app-PRO01905>
						</div>

					</div>

				</cdk-accordion-item>
			</cdk-accordion>
		</div>
	</div>

</div>

<app-menufloat *ngIf="activaMenuFloat" [popupVisible]="activaMenuFloat" [targetElem]="targetMenuFloat"
	[data]="dataMenuFloat" [events]="eventsSubject.asObservable()"
	(cerrarMenu)="activaMenuFloat = false"></app-menufloat>

<app-vistarapida id="vistapro019" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<app-lista-opciones [itemVisible]="visibleListaConfig" [incomingData]="listaConfigData"
	(saveData)="saveCopyData($event)" (cerrarLista)="cancelCopyData($event)"></app-lista-opciones>

<app-visor-img></app-visor-img>

<dx-load-panel #loadPanelPro shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#router-container' }"
	[(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
	message="Un momento. Cargando consulta..." [hideOnOutsideClick]="false"></dx-load-panel>