  <div class="row gx-3">
    <div class="col-12">
      <div class="card-content">
        <div class="row gx-3">
          <div class="col-8 col-xl-9">
            <span class="xt-caption" id="empleados">Empleados</span>
            <dx-form
              #formEmpleados
              id="formEmpleados"
              [formData]="FEmpleados"
              colCount="1"
              labelLocation="left"
              [screenByWidth]="getSizeQualifier"
            >
              <dxi-item itemType="group">
                <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
                <dxi-item dataField="ID_EMPLEADO" editorType="dxDropDownBox" >
                  <dxo-label text="Id Empleado"></dxo-label>
                  <div *dxTemplate>
                    <dx-text-box
                      placeholder="Id Empleado"
                      [readOnly]="true"
                      [value]="FEmpleados.ID_EMPLEADO">
                    </dx-text-box>
                  </div>
                </dxi-item>

                <dxi-item dataField="ESTADO" editorType="dxSelectBox" >
                  <dxo-label text="Estado del Empleado"></dxo-label>
                  <div *dxTemplate>
                    <dx-text-box
                      placeholder="Estado del Empleado"
                      [readOnly]="true"
                      [value]="FEmpleados.ESTADO">
                    </dx-text-box>
                  </div>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group">
                <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
                <dxi-item dataField="NOMBRE_COMPLETO" >
                  <dxo-label text="Nombre"></dxo-label>
                  <div *dxTemplate>
                    <dx-text-box
                      placeholder="Nombre Empleado"
                      [readOnly]="true"
                      [value]="FEmpleados.NOMBRE_COMPLETO">
                    </dx-text-box>
                  </div>
                </dxi-item>

                <dxi-item dataField="TURNO" >
                  <dxo-label text="Turno empleado"></dxo-label>
                  <div *dxTemplate>
                    <dx-drop-down-box
                      id="DROPTurnos"
                      #DROPTurnos
                      [(value)]="selectTurno"
                      valueExpr="ID_HORARIO"
                      displayExpr="INFO"
                      placeholder="Seleccione Turno..."
                      [readOnly]="readOnly"
                      [showClearButton]="true"
                      [dropDownOptions]="{width:400, hideOnParentScroll: true, container:'#router-container'}"
                      [(opened)]="openIdHorarios"
                      [dataSource]="DTurnos"
                    >
                      <div *dxTemplate="let data of 'content'">
                        <dx-data-grid
                          id="GTurnos"
                          #GTurnos
                          height="100%"
                          width="100%"
                          keyExpr="ID_HORARIO"
                          [dataSource]="DTurnos"
                          [selection]="{ mode: 'single' }"
                          [(selectedRowKeys)]="selectTurno"
                          [columnAutoWidth]="true"
                          [allowColumnResizing]="true"
                          [columnMinWidth]="100"
                          [rowAlternationEnabled]="true"
                          [focusedRowEnabled]="true"
                          [hoverStateEnabled]="true"
                          (onSelectionChanged)="onSelectHorario($event, '')" 
                        >
                          <dxo-scrolling mode="virtual"></dxo-scrolling>
                          <dxo-search-panel [visible]="true"  [width]="350" ></dxo-search-panel>
                          <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

                          <dxi-column dataField="ID_HORARIO" caption="Id Turno" cssClass="clsEncabHis"  [width]="150"></dxi-column>
                          <dxi-column dataField="DESCRIPCION" aption="Nombre" cssClass="clsEncabHis"></dxi-column>
                        </dx-data-grid>
                      </div>
                    </dx-drop-down-box>
                  </div>
                </dxi-item>
              </dxi-item>
            </dx-form>

            <br>

            <dx-data-grid class="d-none d-lg-block"
              #DSecciones
              id="DSecciones"
              keyExpr="ID_SECCION"
              [dataSource]="DGSecciones"
              [showBorders]="true"
              [(selectedRowKeys)]="selectSeccion"
              [allowColumnResizing]="true"
              [rowAlternationEnabled]="true"
              [focusedRowEnabled]="true"
              [hoverStateEnabled]="true"
              [columnMinWidth]="100"
              (onContentReady)="onContentReady($event)"
              (onInitNewRow)="initNewRow($event, 'SECCIONES')"
              (onRowPrepared)="onRowPrepared($event, 'SECCIONES')"
              (onSelectionChanged)="selectionGrid($event, 'SECCIONES')"
              (onRowValidating)="onRowValidatingSecciones($event, 'SECCIONES')"
              (onRowInserting)="onRowInserting($event, 'SECCIONES')"
            >
              <dxo-editing
                mode="row"
                [useIcons]="false"
                [allowUpdating]="!readOnly"
                [allowDeleting]="false"
                [allowAdding]="!readOnly">
                <dxo-texts
                  confirmDeleteMessage="">
                </dxo-texts>
              </dxo-editing>

              <dxo-selection
                selectAllMode="allPages"
                [showCheckBoxesMode]="esVisibleSelecc"
                mode="multiple">
              </dxo-selection>

              <dxi-column dataField="ID_ACTIVIDAD"  caption="Actividad" cssClass="clsEncabHis" width="20%" editCellTemplate="temActividad" >
              </dxi-column>
              <dxi-column dataField="ID_SECCION"  caption="Sección" cssClass="clsEncabHis" width="20%" editCellTemplate="temDGSecciones" >
              </dxi-column>
              <dxi-column dataField="DESCRIPCION"  caption="Nombre Sección" cssClass="clsEncabHis" width="30%" editCellTemplate="temNombre">
              </dxi-column>
              <dxi-column dataField="TIPO"  caption="Tipo" cssClass="clsEncabHis" width="15%" editCellTemplate="temTipo" >
              </dxi-column>
              <dxi-column dataField="ESTADO"  caption="Estado" cssClass="clsEncabHis" width="15%" editCellTemplate="temEstado" >
              </dxi-column>
      
              <div *dxTemplate="let cellInfo of 'temDGSecciones'"  >
                <dx-drop-down-box 
                  #DGinfoSeccion
                  id="DGinfoSeccion"
                  [(value)]="cellInfo.data.SECCION"
                  valueExpr="ID_SECCION"
                  displayExpr="ID_SECCION"
                  placeholder="Seleccionar..."
                  [showClearButton]="true"
                  [(opened)]="openSeccion"
                  [dataSource]="DSeccion"
                  [dropDownOptions]="{width:500, height: 400, hideOnParentScroll: true, container: '#router-container'}"
                  (onValueChanged)="onValueChangedSeccion($event, cellInfo)"
                >
                  <div *dxTemplate="let data of 'content'" >
                    <dx-data-grid
                      #GDetalleEmple
                      height="100%"
                      keyExpr="ID_SECCION"
                      [dataSource]="DSeccion"
                      [selection]="{ mode: 'single' }"
                      [(selectedRowKeys)]="cellInfo.data.SECCION"
                      [columnAutoWidth]="true"
                      [allowColumnResizing]="true"
                      [rowAlternationEnabled]="true"
                      [focusedRowEnabled]="true"
                      [hoverStateEnabled]="true"
                      (onRowClick)="onSelectionSeccion($event, cellInfo)"
                    >
                      <dxo-scrolling mode="virtual"></dxo-scrolling>
                      <dxo-search-panel [visible]="true" [width]="350" ></dxo-search-panel>
                      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
      
                      <dxi-column dataField="ID_SECCION"  caption="Sección" cssClass="clsEncabHis" [width]="150"></dxi-column>
                      <dxi-column dataField="DESCRIPCION"  caption="Descripción" cssClass="clsEncabHis"></dxi-column>
                      <dxi-column dataField="TIPO"  caption="Tipo" cssClass="clsEncabHis" [width]="150"></dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>
      
              <div *dxTemplate="let cellInfo of 'temNombre'">
                <dx-text-box
                  id="txtNombreSeccion"
                  [value]="cellInfo.data.DESCRIPCION"
                  [readOnly]="true"
                ></dx-text-box>
              </div>

              <div *dxTemplate="let cellInfo of 'temTipo'">
                <dx-select-box
                  [dataSource]="['PRINCIPAL', 'SECUNDARIO']"
                  [value]="cellInfo.data.TIPO"
                  (onValueChanged)="onSeleccTipo($event, cellInfo)"
                ></dx-select-box>
              </div>
              
              <div *dxTemplate="let cellInfo of 'temActividad'">
                <dx-select-box
                  [dataSource]="['FACILITADOR','OPERARIO','LIDER']"
                  [value]="cellInfo.data.ID_ACTIVIDAD"
                  (onValueChanged)="onSeleccActividad($event, cellInfo)"
                ></dx-select-box>
              </div>
              
              <div *dxTemplate="let cellInfo of 'temEstado'">
                <dx-select-box
                  [dataSource]="['ACTIVO','INACTIVO']"
                  [value]="cellInfo.data.ESTADO"
                  (onValueChanged)="onSeleccEstado($event, cellInfo)"
                ></dx-select-box>
              </div>
      
              <dxo-toolbar *ngIf="!readOnly">
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new','SECCIONES')" *ngIf="rowNew">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'edit','SECCIONES')" *ngIf="rowEdit">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete','SECCIONES')" *ngIf="rowDelete">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save','SECCIONES')" *ngIf="rowApplyChanges">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel','SECCIONES')" *ngIf="rowApplyChanges">
                    </dx-button>
                  </div>
                </dxi-item>
              </dxo-toolbar>
    
            </dx-data-grid>
          </div>
          
          <div class="col-4 col-xl-3 d-flex justify-content-end">
            <div class="Container-foto-empleado" #fotoEmpleado id="fotoEmpleado">
              <img [src]="srcFotoEmp" />
            </div>
          </div>

          <div class="col-12 d-block d-lg-none mt-3">
            <dx-data-grid
              #DSecciones
              id="DSecciones"
              keyExpr="ID_SECCION"
              [dataSource]="DGSecciones"
              [showBorders]="true"
              [(selectedRowKeys)]="selectSeccion"
              [allowColumnResizing]="true"
              [rowAlternationEnabled]="true"
              [focusedRowEnabled]="true"
              [hoverStateEnabled]="true"
              [columnMinWidth]="100"
              (onContentReady)="onContentReady($event)"
              (onInitNewRow)="initNewRow($event, 'SECCIONES')"
              (onRowPrepared)="onRowPrepared($event, 'SECCIONES')"
              (onSelectionChanged)="selectionGrid($event, 'SECCIONES')"
              (onRowValidating)="onRowValidatingSecciones($event, 'SECCIONES')"
              (onRowInserting)="onRowInserting($event, 'SECCIONES')"
            >
              <dxo-editing
                mode="row"
                [useIcons]="false"
                [allowUpdating]="!readOnly"
                [allowDeleting]="false"
                [allowAdding]="!readOnly">
                <dxo-texts
                  confirmDeleteMessage="">
                </dxo-texts>
              </dxo-editing>
      
              <dxo-selection
                selectAllMode="allPages"
                [showCheckBoxesMode]="esVisibleSelecc" 
                mode="multiple">
              </dxo-selection>
      
      
              <dxi-column dataField="ID_ACTIVIDAD"  caption="Actividad" cssClass="clsEncabHis" width="20%" editCellTemplate="temActividad" >
              </dxi-column>
              <dxi-column dataField="ID_SECCION"  caption="Sección" cssClass="clsEncabHis" width="20%" editCellTemplate="temDGSecciones" >
              </dxi-column>
              <dxi-column dataField="DESCRIPCION"  caption="Nombre Sección" cssClass="clsEncabHis" width="30%" editCellTemplate="temNombre">
              </dxi-column>
              <dxi-column dataField="TIPO"  caption="Tipo" cssClass="clsEncabHis" width="15%" editCellTemplate="temTipo" >
              </dxi-column>
              <dxi-column dataField="ESTADO"  caption="Estado" cssClass="clsEncabHis" width="15%" editCellTemplate="temEstado" >
              </dxi-column>
      
              <div *dxTemplate="let cellInfo of 'temDGSecciones'"  >
                <dx-drop-down-box 
                  #DGinfoSeccion
                  id="DGinfoSeccion"
                  [(value)]="cellInfo.data.ID_SECCION"
                  valueExpr="ID_SECCION"
                  displayExpr="ID_SECCION"
                  placeholder="Seleccionar..."
                  [showClearButton]="true"
                  [(opened)]="openSeccion"
                  [dataSource]="DSeccion"
                  [dropDownOptions]="{width:500, height: 400, hideOnParentScroll: true, container: '#router-container'}"
                  (onValueChanged)="onValueChangedSeccion($event, cellInfo)"
                >
                  <div *dxTemplate="let data of 'content'" >
                    <dx-data-grid
                      #GDetalleEmple
                      height="100%"
                      keyExpr="ID_SECCION"
                      [dataSource]="DSeccion"
                      [selection]="{ mode: 'single' }"
                      [(selectedRowKeys)]="cellInfo.data.ID_SECCION"
                      [columnAutoWidth]="true"
                      [allowColumnResizing]="true"
                      [rowAlternationEnabled]="true"
                      [focusedRowEnabled]="true"
                      [hoverStateEnabled]="true"
                      (onRowClick)="onSelectionSeccion($event, cellInfo)"
                    >
                      <dxo-scrolling mode="virtual"></dxo-scrolling>
                      <dxo-search-panel [visible]="true" [width]="350" ></dxo-search-panel>
                      <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
      
                      <dxi-column dataField="ID_SECCION"  caption="Sección" cssClass="clsEncabHis" [width]="150"></dxi-column>
                      <dxi-column dataField="DESCRIPCION"  caption="Descripción" cssClass="clsEncabHis"></dxi-column>
                      <dxi-column dataField="TIPO"  caption="Tipo" cssClass="clsEncabHis" [width]="150"></dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>
      
              <div *dxTemplate="let cellInfo of 'temNombre'">
                <dx-text-box
                  id="txtNombreSeccion"
                  [value]="cellInfo.data.DESCRIPCION"
                  [readOnly]="true"
                ></dx-text-box>
              </div>
      
              <div *dxTemplate="let cellInfo of 'temTipo'">
                <dx-select-box
                  [dataSource]="['PRINCIPAL','SECUNDARIO']"
                  [value]="cellInfo.data.TIPO"
                  (onValueChanged)="onSeleccTipo($event, cellInfo)"
                ></dx-select-box>
              </div>
              
              <div *dxTemplate="let cellInfo of 'temActividad'">
                <dx-select-box
                  [dataSource]="['FACILITADOR','OPERARIO','LIDER']"
                  [value]="cellInfo.data.ID_ACTIVIDAD"
                  (onValueChanged)="onSeleccActividad($event, cellInfo)"
                ></dx-select-box>
              </div>
              
              <div *dxTemplate="let cellInfo of 'temEstado'">
                <dx-select-box
                  [dataSource]="['ACTIVO','INACTIVO']"
                  [value]="cellInfo.data.ESTADO"
                  (onValueChanged)="onSeleccEstado($event, cellInfo)"
                ></dx-select-box>
              </div>
      
              <dxo-toolbar *ngIf="!readOnly">
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new','SECCIONES')" *ngIf="rowNew">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'edit','SECCIONES')" *ngIf="rowEdit">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete','SECCIONES')" *ngIf="rowDelete">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save','SECCIONES')" *ngIf="rowApplyChanges">
                    </dx-button>
                  </div>
                </dxi-item>
                <dxi-item location="before">
                  <div *dxTemplate>
                    <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel','SECCIONES')" *ngIf="rowApplyChanges">
                    </dx-button>
                  </div>
                </dxi-item>
              </dxo-toolbar>
    
            </dx-data-grid>
          </div>

        </div>
      </div>
    </div>
  </div>

<app-barraimg (onClick)="imagenClick($event,selectEmpleado)" [events]="eventsBarraImg.asObservable()"></app-barraimg>

<app-vistarapida id="vistapro009" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
>
</dx-load-panel>