<div class="xt-sidebar">

  <!-- XTEIN brand -->
  <div class="xt-sidebar__brand">

    <img
      class="xt-sidebar__logo"
      src="/assets/img/logo/xtein.svg"
      alt="XTEIN">

  </div>


  <!-- Search -->
  <div class="xt-sidebar__search">
    Buscar...
  </div>


  <!-- Navigation -->
  <div class="xt-sidebar__menu">

    <div class="xt-sidebar__group">
      Administrador
    </div>

    <div class="xt-sidebar__item">
      Consultas y Verificación
    </div>

    <div class="xt-sidebar__item">
      Diseñador Dashboards y KPIs
    </div>

    <div class="xt-sidebar__item">
      Diseñador KPIs
    </div>

    <div class="xt-sidebar__item">
      Mentor Maestro
    </div>

    <div class="xt-sidebar__item">
      Orígenes de Datos
    </div>

    <div class="xt-sidebar__item">
      Tablero
    </div>

  </div>

</div>