<div style="margin-top: 20px;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
      <h4 style="margin: 0;">Asignación de Consecutivos</h4>
  </div>


    <dx-data-grid 
    #gridRefUSU
    id="" 
    [dataSource]="dataSource"
    [showBorders]="true" 
    [columnAutoWidth]="true" 
    [showRowLines]="true"
    (onSelectionChanged)="selectionGridRA($event)"
    (onRowInserting)="onGridRowInsertingRA($event)"
  >
      
    <dxo-editing 
        mode="row"
        [allowUpdating]="false"
        [allowAdding]="false"   
        [allowDeleting]="false"
        [useIcons]="false"
    >
      <dxo-texts 
          confirmDeleteMessage=""
          cancelRowChanges=""
          saveRowChanges=""
          deleteRow=""
          editRow=""
          saveAllChanges=""
          cancelAllChanges="">
      </dxo-texts>
    </dxo-editing>
    
    
    <dxo-selection
      selectAllMode="allPages"
      [showCheckBoxesMode]="!readOnly ? 'always' : 'none'"
      mode="multiple">
    </dxo-selection>
    
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-search-panel [visible]="true" [width]="380" ></dxo-search-panel>
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

    <dxi-column dataField="USUARIO" caption="USUARIO" alignment="left" dataType="string" >
        <dxi-validation-rule type="required" ></dxi-validation-rule>
    </dxi-column>
    
    <dxi-column dataField="ID_APLICACION" caption="ID_APLICACION" alignment="left" dataType="string">
        <dxi-validation-rule type="required" ></dxi-validation-rule>
    </dxi-column>
    
    <dxo-toolbar *ngIf="!readOnly">
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGridRA($event,'new')" *ngIf="rowNewUSU">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGridRA($event,'edit')" *ngIf="rowEditUSU"></dx-button>
          </div>
        </dxi-item> 
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGridRA($event,'delete')" *ngIf="rowDeleteUSU">
            </dx-button>
          </div>
        </dxi-item>
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGridRA($event,'save')" *ngIf="rowApplyChangesUSU">
            </dx-button>
          </div>
        </dxi-item>
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGridRA($event,'cancel')" *ngIf="rowApplyChangesUSU"></dx-button>
          </div>
        </dxi-item>
    </dxo-toolbar>

  </dx-data-grid>  
</div>