<div #contentComponente id="contentComponente" class="xt-gesptreelist xt-gespdatagrid" style="background-color: #fff">
  <dx-tree-list #TreeListTareas id="TreeListTareas" keyExpr="ID_ACTIVIDAD" parentIdExpr="ID_ACTIVIDAD_PADRE"
    columnResizingMode="widget" noDataText="No hay datos configurados" [rootValue]="-1" [columnMinWidth]="100"
    [showBorders]="true" [showRowLines]="true" [columnAutoWidth]="true" [focusedRowEnabled]="true"
    [hoverStateEnabled]="false" [allowColumnResizing]="true" [allowColumnReordering]="true" [dataSource]="DTareas"
    [focusedRowIndex]="focusedRowIndex" [customizeColumns]="customizeColumns" [expandedRowKeys]="[-10]"
    (onInitNewRow)="initNewRow($event)" (onCellDblClick)="onRowClick($event)" (onCellClick)="onRowClickChange($event)"
    (onRowUpdated)="onRowUpdated($event)" (onRowInserted)="onRowInserted($event)"
    (onRowPrepared)="onRowPrepared($event)" (onEditingStart)="onEditingStart($event)"
    (onEditCanceled)="onEditCanceled($event)" (onRowValidating)="onRowValidating($event)"
    (onCellHoverChanged)="onCellHoverChanged($event)" (onContextMenuPreparing)="onContextMenuPreparing($event)"
    [repaintChangesOnly]="true">
    <dxo-editing mode="row" [useIcons]="false" [allowAdding]="false" [allowUpdating]="false"
      [allowDeleting]="false"></dxo-editing>
    <dxo-keyboard-navigation [editOnKeyPress]="editOnkeyPress" [enterKeyAction]="enterKeyAction"
      [enterKeyDirection]="enterKeyDirection"></dxo-keyboard-navigation>
    <dxo-scrolling mode="standard"></dxo-scrolling>
    <!-- <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling> -->
    <dxo-header-filter [visible]="true" width="280" [allowSearch]="true"></dxo-header-filter>

    <dxo-state-storing [enabled]="true" type="custom" [customSave]="saveState"></dxo-state-storing>

    <!-- <dxo-state-storing
      [enabled]="true"
      type="localStorage"
      storageKey="storage"
    ></dxo-state-storing> -->

    <dxo-row-dragging *ngIf="JsonAcciones.DRAG" [allowDropInsideItem]="true" [allowReordering]="true"
      [showDragIcons]="true" [onDragStart]="onDragStart" [onDragChange]="onDragChange"
      [onReorder]="onReorder"></dxo-row-dragging>

    <div [id]="'cellTempNombre' + cellInfo.data.ID_ACTIVIDAD" *dxTemplate="let cellInfo of 'cellTempNombre'"
      style="display: flex">
      <i *ngIf="
          cellInfo.data.CLASE !== 'NODOS' &&
          cellInfo.data.focus_actividad === true
        " class="icon-info-sl parpadea"></i>
      <!-- <i
        *ngIf="cellInfo.data.CLASE !== 'NODOS'"
        class="icon-alert-sl parpadea"
      ></i> -->
      <div [id]="'containerBtnNuevoTarea' + cellInfo.data.ID_ACTIVIDAD" style="
          display: flex;
          align-items: center;
          transition: all 0.3s ease;
          opacity: 0;
        ">
        <dx-button #btnNuevoTareaHijo [id]="'btnNuevoTareaHijo' + cellInfo.data.ID_ACTIVIDAD" icon="plus"
          (onClick)="opPrepararNuevaFila(cellInfo, 'new')"></dx-button>
      </div>
      <span [id]="'txtNombre' + cellInfo.data.ID_ACTIVIDAD" class="span_title" [ngStyle]="{
          color: cellInfo.data.ANULADO ? 'rgba(98,121,140,.75)' : ''
        }">
        <div>{{ cellInfo.data.NOMBRE }}</div>
      </span>
    </div>
    <div *dxTemplate="let cellInfo of 'editTempNombre'" style="display: flex">
      <div style="display: flex; align-items: center">
        <dx-button class="btn-width-m btn-guardar" id="btnGuardarCambios" #btnGuardarCambios icon="todo"
          (onClick)="opPrepararNuevaFila(cellInfo, 'save')"></dx-button>
        <dx-button class="btn-width-m btn-cancelar" id="btnCancelarCambios" #btnCancelarCambios icon="undo"
          (onClick)="opPrepararNuevaFila(cellInfo, 'cancel')"></dx-button>
      </div>
      <dx-text-box #txtNombreTarea+cellInfo.data.ID_ACTIVIDAD [id]="'txtNombreTarea' + cellInfo.data.ID_ACTIVIDAD"
        placeholder="Nombre..." height="auto" width="100%" maxLength="100" [spellcheck]="true"
        [(value)]="cellInfo.data.NOMBRE" (onValueChanged)="onValueChangedNombre($event, cellInfo)">
        <dx-validator>
          <dxi-validation-rule type="stringLength" [min]="5" [max]="100"
            message="Debe tener min:5 y max:100 caracteres*"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>

    <div *dxTemplate="let cellInfo of 'cellTempResponsable'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <div class="avatar-container">
          <div class="avatar-wrapper">
            <div class="avatar">
              {{ getInitials(cellInfo.data.RESPONSABLE) }}
            </div>
            <div class="tooltip">
              <span>
                <span style="font-size: 13px">{{ "► " }}</span>
                {{ getNameComplete(cellInfo.data.RESPONSABLE) }} <br />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTempResponsable'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-select-box #selectResponsables id="selectResponsables" height="100%" placeholder="Buscar..."
          [searchEnabled]="true" placeholder="Seleccione Responsables..." stylingMode="filled" displayExpr="NOMBRE"
          valueExpr="ID_RESPONSABLE" [(value)]="cellInfo.data.RESPONSABLE"
          [readOnly]="getDataReadOnly(cellInfo, 'RESPONSABLE') | async" [disabled]="cellInfo.data.ANULADO"
          style="border: 0px" [dataSource]="getDataSource(cellInfo) | async" [dropDownOptions]="{
            width: '350px',
            height: 'auto',
            hideOnParentScroll: true,
            closeOnOutsideClick: false,
            container: '#contentComponente'
          }" (onValueChanged)="onSelectionChangedResponsable($event, cellInfo)"></dx-select-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'cellTempColaboradores'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <div class="avatar-container">
          <ng-container *ngFor="let colaborador of cellInfo.data.COLABORADORES">
            <div class="avatar-wrapper">
              <div class="avatar">
                {{ getInitials(colaborador) }}
              </div>
              <div class="tooltip" *ngIf="cellInfo.data.COLABORADORES.length === 1">
                <span style="font-size: 13px">{{ "► " }}</span>
                {{ getNameComplete(colaborador) }} <br />
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'temEditColaboradores'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-drop-down-box [(value)]="cellInfo.data.COLABORADORES" [(opened)]="dropdownOpen"
              valueExpr="ID_RESPONSABLE" displayExpr="NOMBRE" [deferRendering]="false"
              placeholder="Selecciona uno o más..." [inputAttr]="{ 'aria-label': 'item' }" [showDropDownButton]="true"
              [dataSource]="usuarios">

              <div *dxTemplate="let data of 'content'">
                <div class="dropdown-content-container">
                  <dx-radio-group [items]="['colaboradores', 'grupos']" [(value)]="selectedType" layout="horizontal"
                    (onValueChanged)="onTypeChanged($event.value)">
                  </dx-radio-group>

                  <dx-data-grid [dataSource]="usuarios" [columns]="gridColumns" [hoverStateEnabled]="true"
                    (onSelectionChanged)="onValueChange($event, cellInfo)" keyExpr="ID_RESPONSABLE"
                    [(selectedRowKeys)]="cellInfo.data.COLABORADORES" [height]="250">
                    <dxo-selection mode="multiple"></dxo-selection>
                    <dxo-search-panel [width]="300" [visible]="true"></dxo-search-panel>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                  </dx-data-grid>
                </div>
              </div>
            </dx-drop-down-box>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *dxTemplate="let cellInfo of 'cellTempGrupos'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-tag-box #tagBoxGrupos id="tagBoxGrupos" displayExpr="NOMBRE" valueExpr="ID_RESPONSABLE"
          applyValueMode="useButtons" [height]="getDataHeight(cellInfo, 'GRUPOS') | async"
          [maxDisplayedTags]="dynamicMaxDisplayedTags()" [showMultiTagOnly]="false" [searchEnabled]="true"
          [showSelectionControls]="true" [dataSource]="DGrupos" [(value)]="cellInfo.data.GRUPOS"
          [disabled]="getDataReadOnly(cellInfo, 'GRUPOS') | async" style="border: 0" [dropDownOptions]="{
            width: 400,
            height: 310,
            hideOnParentScroll: true,
            closeOnOutsideClick: false,
            container: '#contentComponente'
          }" (onValueChanged)="onValueGrupos($event, cellInfo)">
        </dx-tag-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTemEdiGrupos'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-tag-box #tagBoxGrupos id="tagBoxGrupos" displayExpr="NOMBRE" valueExpr="ID_RESPONSABLE"
          applyValueMode="useButtons" [height]="getDataHeight(cellInfo, 'GRUPOS') | async"
          [maxDisplayedTags]="dynamicMaxDisplayedTags()" [showMultiTagOnly]="false" [searchEnabled]="true"
          [showSelectionControls]="true" [dataSource]="DGrupos" [(value)]="cellInfo.data.GRUPOS"
          [disabled]="getDataReadOnly(cellInfo, 'GRUPOS') | async" style="border: 0" [dropDownOptions]="{
            width: 400,
            height: 310,
            hideOnParentScroll: true,
            closeOnOutsideClick: false,
            container: '#contentComponente'
          }" (onValueChanged)="onValueGrupos($event, cellInfo)">
        </dx-tag-box>
      </div>
    </div> -->

    <!-- <div *dxTemplate="let cellInfo of 'temEditColaboradores'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">

        <dx-drop-down-button icon="group" text="Seleccionar" [splitButton]="false" [showArrowIcon]="true"
          [disabled]="getDataReadOnly(cellInfo, 'COLABORADORES') | async" dropDownContentTemplate="dropDownContent"
          [useSelectMode]="false"
          [dropDownOptions]="{ width: 450, height: 300, deferRendering: false }"
          [useSelectMode]="false" [items]="[]">
          <div #dropDownContent id="dropDownContent" *dxTemplate="let data of 'dropDownContent'" (click)="$event.stopPropagation()">
            <div class="d-none d-xl-block custom-color-picker">
              <dx-tabs [selectedIndex]="getTabIndex(cellInfo)"
                (onSelectionChanged)="onDropdownTabChanged($event, cellInfo)" class="mb-2">
                <dxi-item text="Colaboradores"></dxi-item>
                <dxi-item text="Grupos"></dxi-item>
              </dx-tabs>
            </div>

            <div *ngIf="getTabIndex(cellInfo) === 0">
              <dx-tag-box displayExpr="NOMBRE" valueExpr="ID_RESPONSABLE" [dataSource]="getDataSource(cellInfo) | async"
                [(value)]="cellInfo.data.COLABORADORES" [showSelectionControls]="true" [searchEnabled]="true"
                [maxDisplayedTags]="4"
                [dropDownOptions]="{height:300, maxHeight: 600, hideOnParentScroll: true, container:'#dropDownContent' }"
                (onValueChanged)="onValueColaboradores($event, cellInfo)">
              </dx-tag-box>
            </div>

            <div *ngIf="getTabIndex(cellInfo) === 1">
              <dx-tag-box displayExpr="NOMBRE" valueExpr="ID_RESPONSABLE" [dataSource]="DGrupos"
                [(value)]="cellInfo.data.COLABORADORES" [showSelectionControls]="true" [searchEnabled]="true"
                [maxDisplayedTags]="4"
                [dropDownOptions]="{height:300, maxHeight: 600, hideOnParentScroll: true, container:'#dropDownContent' }"
                (onValueChanged)="onValueColaboradoresGrupos($event, cellInfo)">
              </dx-tag-box>
            </div>
          </div>
        </dx-drop-down-button>


      </div>
    </div> -->


    <div *dxTemplate="let cellInfo of 'cellTempPrecedentes'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-tag-box #tagBoxPrecedentes id="tagBoxPrecedentes" displayExpr="NOMBRE" valueExpr="ID_ACTIVIDAD"
          applyValueMode="useButtons" [height]="getDataHeight(cellInfo, 'PRECEDENTES') | async"
          [maxDisplayedTags]="dynamicMaxDisplayedTags()" [showMultiTagOnly]="false" [searchEnabled]="true"
          [showSelectionControls]="true" [dataSource]="getDataSource(cellInfo) | async"
          [(value)]="cellInfo.data.PRECEDENTES" [disabled]="getDataReadOnly(cellInfo, 'PRECEDENTES') | async"
          style="border: 0" [dropDownOptions]="{
            width: 400,
            height: 310,
            hideOnParentScroll: true,
            closeOnOutsideClick: false,
            container: '#contentComponente'
          }">
        </dx-tag-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'temEditPrecedentes'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'" style="width: 100%">
        <dx-drop-down-box [(value)]="cellInfo.data.PRECEDENTES" width="100%" valueExpr="ID_ACTIVIDAD"
          displayExpr="NOMBRE" placeholder="Seleccione Precedentes.." [showClearButton]="true" [dataSource]="DTareas"
          [(opened)]="openDropFiltroAreas" [dropDownOptions]="{
            width: 600,
            height: 480,
            }" [showDropDownButton]="false">
          <div *dxTemplate="let data of 'content'">
            <dx-tree-list #treeListPrece id="treeListPrece" height="95%" width="100%" keyExpr="ID_ACTIVIDAD"
              parentIdExpr="ID_ACTIVIDAD_PADRE" [showRowLines]="true" [rootValue]="-1" [expandedRowKeys]="[1]"
              [showBorders]="true" [autoExpandAll]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true"
              [columnAutoWidth]="true" [allowColumnResizing]="true" [columnMinWidth]="100"
              [(selectedRowKeys)]="cellInfo.data.PRECEDENTES" [dataSource]="DTareas">
              <dxo-selection mode="multiple" [recursive]="false"></dxo-selection>
              <dxo-scrolling mode="normal"></dxo-scrolling>
              <dxo-search-panel [width]="400" [visible]="true"></dxo-search-panel>
              <dxi-column dataField="ID_ACTIVIDAD" caption="Código" [width]="200"></dxi-column>
              <dxi-column dataField="NOMBRE" caption="Nombre" [width]="280"></dxi-column>
            </dx-tree-list>
            <div style="
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 5px;
              ">
              <dx-button id="btnAceptarPT" stylingMode="contained" text="Aceptar" type="default" [width]="100"
                (onClick)="aceptarBottomPrec(cellInfo)"></dx-button>
              <dx-button id="btnCancelarPT" stylingMode="contained" text="Cerrar" type="normal" [width]="110"
                [style.margin-left]="'20px'" (onClick)="closeBottomPrec()"></dx-button>
            </div>
          </div>
        </dx-drop-down-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTempFecha'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-date-box #fechaInicio placeholder="Fecha..." [(value)]="cellInfo.data.FECHA"></dx-date-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'cellTemProgramacion'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'" [ngClass]="
          cellInfo.data.REPETIR
            ? 'programacion-repetir'
            : 'programacion-sin-repetir'
        " (click)="showProgramarFechas($event, cellInfo)">
        <span *ngIf="cellInfo.data.PROGRAMACION !== ''" [ngStyle]="{
            'font.size': '.735rem',
            color: cellInfo.data.ANULADO
              ? 'rgba(98,121,140,.75)'
              : 'rgba(10,57,96,.55)'
          }">
          {{ cellInfo.data.PROGRAMACION }}
        </span>
        <i *ngIf="cellInfo.data.RECORDATORIO" class="icon-configuracion-de-la-gestion" style="font-size: 15px"></i>
        <i *ngIf="cellInfo.data.REPETIR" class="icon-repetir-ol" style="font-size: 15px"></i>
        <dx-button id="btnProgramarFechas" #btnProgramarFechas icon="icon-calendar-sl"
          (click)="showProgramarFechas($event, cellInfo)"
          *ngIf="!cellInfo.data.ANULADO && cellInfo.data.PROGRAMACION === ''">
          <i class="icon-programacion-ol" style="font-size: 15px"></i>
        </dx-button>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'cellTempEstado'" [ngStyle]="{
        'background-color':
          (cellInfo.data.ESTADO === 'Sin Iniciar'
            ? 'rgba(15,76,129,.05)'
            : '') ||
          (cellInfo.data.ESTADO === 'En Proceso'
            ? 'rgba(26,115,232,.2)'
            : '') ||
          (cellInfo.data.ESTADO === 'En Pausa' ? 'rgba(200,78,224,.2)' : '') ||
          (cellInfo.data.ESTADO === 'Ejecutada' ? 'rgba(53,204,172,.2)' : '') ||
          (cellInfo.data.ESTADO === 'Completada'
            ? 'rgb(79 140 27 / 97%)'
            : '') ||
          (cellInfo.data.ESTADO === 'Finalizado'
            ? 'rgba(53,204,172,.2)'
            : '') ||
          (cellInfo.data.ESTADO === 'Descartada' ? 'rgba(98,121,140, .3)' : ''),
        color:
          (cellInfo.data.ESTADO === 'Sin Iniciar'
            ? 'rgba(98,121,140,.9)'
            : '') ||
          (cellInfo.data.ESTADO === 'En Proceso' ? 'rgba(26,115,232,1)' : '') ||
          (cellInfo.data.ESTADO === 'En Pausa' ? 'rgba(200,78,224,1)' : '') ||
          (cellInfo.data.ESTADO === 'Ejecutada' ? 'rgba(53,204,172,1)' : '') ||
          (cellInfo.data.ESTADO === 'Completada' ? 'rgb(255 255 255)' : '') ||
          (cellInfo.data.ESTADO === 'Finalizado' ? 'rgba(53,204,172,1)' : '') ||
          (cellInfo.data.ESTADO === 'Descartada' ? 'rgba(98,121,140,.75)' : '')
      }" class="estado_tarea">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <div class="container-estado" *ngIf="!cellInfo.data.ANULADO">
          <span [ngStyle]="{
              'background-color':
                (cellInfo.data.ESTADO === 'Sin Iniciar'
                  ? 'rgba(98,121,140,.9)'
                  : '') ||
                (cellInfo.data.ESTADO === 'En Proceso'
                  ? 'rgba(26,115,232,1)'
                  : '') ||
                (cellInfo.data.ESTADO === 'En Pausa'
                  ? 'rgba(200,78,224,1)'
                  : '') ||
                (cellInfo.data.ESTADO === 'Ejecutada'
                  ? 'rgba(200,78,224,1)'
                  : '') ||
                (cellInfo.data.ESTADO === 'Completada'
                  ? 'rgb(255 255 255)'
                  : '') ||
                (cellInfo.data.ESTADO === 'Finalizado'
                  ? 'rgba(53,204,172,1)'
                  : '') ||
                (cellInfo.data.ESTADO === 'Descartada'
                  ? 'rgba(98,121,140,.75)'
                  : '')
            }"></span>
          <div style="display: flex; gap: 10px;">
            <i [ngClass]="getIconEstatus(cellInfo.data.ESTADO)" style="font-size: 13px"></i>
            <span>{{ cellInfo.data.ESTADO }}</span>
          </div>
        </div>
        <span *ngIf="cellInfo.data.ANULADO" [ngStyle]="{
            color: cellInfo.data.ANULADO ? 'rgba(98,121,140,.75)' : ''
          }">
          {{ cellInfo.data.ESTADO }}
        </span>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTempEstado'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-select-box #selectEstado id="" displayExpr="VALOR1" valueExpr="VALOR1" placeholder="Seleccione..."
          [searchEnabled]="true" [value]="cellInfo.data.ESTADO" [dataSource]="getDataSource(cellInfo) | async"
          [dropDownOptions]="{
            hideOnParentScroll: true,
            closeOnOutsideClick: false,
            container: '#contentComponente'
          }" (onValueChanged)="onSelectionEstado($event, cellInfo)">
        </dx-select-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'cellTempAvance'" [id]="'cellTempAvance' + cellInfo.data.ID_ACTIVIDAD">
      <div *ngIf="
          cellInfo.data.CLASE !== 'NODOS' &&
          cellInfo.data.CLASE !== 'RESPONSABILIDADES'
        ">
        <dx-progress-bar #progressBar id="progress-bar-status" width="100%" style="display: flex;"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }" [class.complete]="cellInfo.data.AVANCE == maxValue" [min]="0"
          [max]="maxValue" [statusFormat]="format" [value]="cellInfo.data.AVANCE">
        </dx-progress-bar>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTempAvance'">
      <div *ngIf="
          cellInfo.data.CLASE !== 'NODOS' &&
          cellInfo.data.CLASE !== 'RESPONSABILIDADES'
        ">
        <dx-select-box [readOnly]="cellInfo.data.parent" #selectAvance id="selectAvance" displayExpr="NOMBRE"
          valueExpr="AVANCE" placeholder="Seleccione..." [searchEnabled]="true" [value]="cellInfo.data.AVANCE"
          [dataSource]="DAvance" [dropDownOptions]="{
            hideOnParentScroll: true,
            closeOnOutsideClick: false,
            container: '#contentComponente'
          }" (onValueChanged)="onSelectionAvance($event, cellInfo)">
        </dx-select-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'cellTempDescripcion'" (click)="onFocusIn($event, cellInfo)"
      style="cursor: pointer">
      <div [id]="'cellDescripcion' + cellInfo.data.ITEM">
        <span [ngStyle]="{
            color: cellInfo.data.ANULADO ? 'rgba(98,121,140,.75)' : ''
          }" class="descripcion_tarea">
          {{ cellInfo.data.DESCRIPCION }}
        </span>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTempDescripcion'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <div [id]="'cellEditDescripcion' + cellInfo.data.ITEM">
          <dx-text-area id="txtDescripcionTarea" placeholder="Descripción..." [height]="35" [spellcheck]="true"
            [autoResizeEnabled]="false" [(value)]="cellInfo.data.DESCRIPCION" (onFocusIn)="onFocusIn($event, cellInfo)"
            (onValueChanged)="onValueChangedDescripcion($event, cellInfo)"></dx-text-area>
        </div>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'temPrioridad'" [ngStyle]="{
        'border-radius': '20px',
        'min-width': '97px',
        height: '3.5vh',
        display: 'flex',
        'place-content': 'center',
        'align-items': 'center',
        'background-color':
          (cellInfo.data.PRIORIDAD === 'Inmediato'
            ? 'rgba(223,62,62,.075)'
            : '') ||
          (cellInfo.data.PRIORIDAD === 'Alta' ? 'rgba(237,104,69,.075)' : '') ||
          (cellInfo.data.PRIORIDAD === 'Media' ? 'rgba(252,204,72,.1)' : '') ||
          (cellInfo.data.PRIORIDAD === 'Baja' ? 'rgba(26,115,232,.2)' : ''),
        color:
          (cellInfo.data.PRIORIDAD === 'Inmediato'
            ? 'rgba(223,62,62,1)'
            : '') ||
          (cellInfo.data.PRIORIDAD === 'Alta' ? 'rgba(237,104,69,1)' : '') ||
          (cellInfo.data.PRIORIDAD === 'Media' ? 'rgba(252,204,72,1)' : '') ||
          (cellInfo.data.PRIORIDAD === 'Baja' ? 'rgba(26,115,232,1)' : '')
      }">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <div class="container-estado" *ngIf="!cellInfo.data.ANULADO">
          <div class="status-badge" [ngStyle]="{
              'background-color':
                (cellInfo.data.PRIORIDAD === 'Inmediato'
                  ? 'rgba(223,62,62,1)'
                  : '') ||
                (cellInfo.data.PRIORIDAD === 'Alta'
                  ? 'rgba(237,104,69,1)'
                  : '') ||
                (cellInfo.data.PRIORIDAD === 'Media'
                  ? 'rgba(252,204,72,1)'
                  : '') ||
                (cellInfo.data.PRIORIDAD === 'Baja' ? 'rgba(26,115,232,1)' : '')
            }"></div>
          <span> {{ cellInfo.data.PRIORIDAD }} </span>
        </div>
        <span *ngIf="cellInfo.data.ANULADO" [ngStyle]="{
            color: cellInfo.data.ANULADO ? 'rgba(98,121,140,.75)' : ''
          }">
          {{ cellInfo.data.PRIORIDAD }}
        </span>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'editTemPrioridad'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS'">
        <dx-select-box #selectPrioridad id="selectPrioridad" displayExpr="VALOR1" valueExpr="VALOR1"
          placeholder="Seleccione..." [searchEnabled]="true" [dataSource]="getDataSource(cellInfo) | async"
          [value]="cellInfo.data.PRIORIDAD" placeholder="Seleccione..."
          (onValueChanged)="onSelectionPrioridad($event, cellInfo)"></dx-select-box>
      </div>
    </div>

    <div *dxTemplate="let cellInfo of 'temVerComentariosTareas'">
      <div *ngIf="cellInfo.data.CLASE !== 'NODOS' && accionLocal !== 'new'">
        <dx-button id="btnChatsComentariosTareas" #btnChatsComentariosTareas icon="icon-chat-m-sl"
          (onClick)="showChatsComentarios($event, cellInfo)" [matBadge]="
            cellInfo.data.count_actividad > 0
              ? cellInfo.data.count_actividad
              : ''
          ">
          <i class="icon-chat-m-sl"></i>
        </dx-button>
      </div>
    </div>
  </dx-tree-list>

  <app-fechaplan [events]="eventsSubjectProg.asObservable()" (onRespuestaProg)="onRespuestaProg($event)">
  </app-fechaplan>

  <dx-load-panel #loaderPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#contentComponente' }"
    [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
    message="Un momento. Cargando datos..." [hideOnOutsideClick]="false"></dx-load-panel>
</div>

<dx-tooltip id="tooltipProgramacion" position="bottom" showEvent="mouseenter" hideEvent="mouseleave"
  [width]="widthTooltip" [target]="targetIdTooltip" [(visible)]="toolTipVisible" [hideOnOutsideClick]="false">
  <div *dxTemplate="let data = data; of: 'content'" class="content_tooltip">
    <!-- Actividad -->
    <span *ngIf="tooltipInfo.TITULO === 'Actividad'">
      <span style="font-size: 13px">{{ "► " }}</span>
      {{ tooltipInfo.NOMBRE }} <br /></span>
    <!-- Colaboradores -->
    <div *ngIf="tooltipInfo.TITULO === 'Colaboradores'"
      style="display: flex; flex-direction: column; align-items: flex-start">
      <span *ngFor="let emple of tooltipInfo.NOMBRE">
        <span style="font-size: 13px">{{ "► " }}</span>
        {{ emple.NOMBRE }} <br /></span>
    </div>
    <!-- Precedentes -->
    <div *ngIf="tooltipInfo.TITULO === 'Precedentes'"
      style="display: flex; flex-direction: column; align-items: flex-start">
      <span *ngFor="let prec of tooltipInfo.NOMBRE">
        <span style="font-size: 13px">{{ "► " }}</span>
        <span>{{ prec.NOMBRE }} <br /></span>
      </span>
    </div>
    <!-- Programación -->
    <b style="font-size: 13px" *ngIf="tooltipInfo.TITULO === 'Programación'">{{ tooltipInfo.TITULO }} <br />
    </b>
    <span *ngIf="tooltipInfo.TITULO === 'Programación'">
      <span style="font-size: 13px">{{ "► " }}</span>
      Fecha Inicial: {{ tooltipInfo.FECHA_INICIO }} <br />
    </span>
    <span *ngIf="tooltipInfo.TITULO === 'Programación'">
      <span style="font-size: 13px">{{ "► " }}</span>
      Fecha Final: {{ tooltipInfo.FECHA_FIN }} <br />
    </span>
    <span *ngIf="tooltipInfo.TITULO === 'Programación'">
      <span style="font-size: 13px">{{ "► " }}</span>
      Todo el día: {{ tooltipInfo.TODO_DIA ? "Activo" : "Inactivo" }} <br />
    </span>
    <span *ngIf="tooltipInfo.TITULO === 'Programación'">
      <span style="font-size: 13px">{{ "► " }}</span>
      Repetir: {{ tooltipInfo.REPETIR ? "Activo" : "Inactivo" }} <br />
    </span>
    <span *ngIf="tooltipInfo.TITULO === 'Programación' && tooltipInfo.REPETIR">
      <span style="font-size: 13px">{{ "► " }}</span>
      Periodo: {{ tooltipInfo.PERIODO_FRECUENCIA_DIA }} <br />
    </span>
    <span *ngIf="tooltipInfo.TITULO === 'Programación' && tooltipInfo.REPETIR">
      <span style="font-size: 13px">{{ "► " }}</span>
      Intervalo: {{ tooltipInfo.INTERVALO_FRECUENCIA }} <br />
    </span>
    <span *ngIf="tooltipInfo.TITULO === 'Programación' && tooltipInfo.REPETIR">
      <span style="font-size: 13px">{{ "► " }}</span>
      Frecuencia:
      <label *ngIf="tooltipInfo.FRECUENCIA === 'HOURLY'">Cada Hora</label>
      <label *ngIf="tooltipInfo.FRECUENCIA === 'DAILY'"> Diario </label>
      <label *ngIf="tooltipInfo.FRECUENCIA === 'WEEKLY'">Semanal </label>
      <label *ngIf="tooltipInfo.FRECUENCIA === 'MONTHLY'">Mensual </label>
      <label *ngIf="tooltipInfo.FRECUENCIA === 'YEARLY'">Anual ></label>
      <br />
    </span>
  </div>
</dx-tooltip>

<dx-popup #popupGesproHistorial id="popupGesproHistorial" width="35%" height="60%" [showTitle]="true"
  [dragEnabled]="true" [resizeEnabled]="true" [showCloseButton]="true" [hideOnOutsideClick]="false"
  [container]="container" [title]="tituloHistorial" [(visible)]="visibleGesproHistorial">
  <dxo-position at="center"> </dxo-position>
  <div *dxTemplate="let data of 'content'" style="
      background: rgba(18, 94, 220, 0.05);
      border-radius: 10px;
      padding-top: 10px;
    ">
    <dx-scroll-view height="100%">
      <p-timeline [value]="DTimeline" align="left" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-evento>
          <span class="custom-marker p-shadow-2" [style.backgroundColor]="evento.color">
            <!-- <i [ngClass]="evento.ICON"></i> -->
            <i class="icon-programacion-sl"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-evento>
          <p-card [header]="evento.NOMBRE">
            <div class="container-fechas xt-texteditor-clear-x">
              <dx-date-box #fechaInicio type="datetime" [readOnly]="true" class="dateBox-fechas"
                [(value)]="evento.FECHA"></dx-date-box>
            </div>
            <br />
            <p>{{ evento.DESCRIPCION }}</p>
            <br />
            <div *ngIf="evento.ARCHIVOS.length > 0">
              <p>
                <b *ngIf="evento.ARCHIVOS.length === 1">Un archivo adjunto.</b>
                <b *ngIf="evento.ARCHIVOS.length > 1">{{ evento.ARCHIVOS.length }} archivos adjuntos.</b>
                <i class="icon-adjuntar-ol" style="margin-left: 5px"></i>
              </p>
              <div class="form-item-flow-wrap">
                <div *ngFor="let archivo of evento.ARCHIVOS" style="
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    margin: 5px;
                    cursor: pointer;
                  ">
                  <img width="100%" height="100%" [src]="archivo.IMAGEN" [alt]="archivo.ARCHIVO" />
                </div>
                <!-- </dx-scroll-view> -->
              </div>
            </div>
          </p-card>
        </ng-template>
      </p-timeline>
    </dx-scroll-view>
  </div>
</dx-popup>

<dx-popup #popupGesproEditor id="popupGesproEditor" width="35%" height="60%" [showTitle]="true" [dragEnabled]="true"
  [resizeEnabled]="true" [showCloseButton]="false" [hideOnOutsideClick]="false" [title]="tituloEditor"
  [container]="container" [(visible)]="visibleEditorTexto">
  <dxo-position at="center"> </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <dx-html-editor #htmlEditorTextGespro id="htmlEditorTextGespro" width="100%" height="95%"
      [value]="valueContentDescripcion" (onValueChanged)="onValueChangedEditorText($event)">
      <dxo-toolbar [multiline]="true" [disabled]="!esEdicionFila">
        <dxi-item name="undo" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="redo" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item [disabled]="!esEdicionFila" name="size" [acceptedValues]="[
            '8pt',
            '10pt',
            '12pt',
            '14pt',
            '18pt',
            '24pt',
            '36pt'
          ]" [options]="{ inputAttr: { 'aria-label': 'Font size' } }"></dxi-item>
        <dxi-item [disabled]="!esEdicionFila" name="font" [acceptedValues]="[
            'Arial',
            'Courier New',
            'Georgia',
            'Impact',
            'Lucida Console',
            'Tahoma',
            'Times New Roman',
            'Verdana'
          ]" [options]="{ inputAttr: { 'aria-label': 'Font family' } }"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="bold" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="italic" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="strike" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="underline" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="alignLeft" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="alignCenter" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="alignRight" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="alignJustify" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="orderedList" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="bulletList" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item [disabled]="!esEdicionFila" name="header" [acceptedValues]="[false, 1, 2, 3, 4, 5]"
          [options]="{ inputAttr: { 'aria-label': 'Header' } }"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="color" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="background" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="link" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="clear" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="codeBlock" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="blockquote" [disabled]="!esEdicionFila"></dxi-item>
        <dxi-item name="separator" [disabled]="!esEdicionFila"></dxi-item>
      </dxo-toolbar>
      <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
    </dx-html-editor>
    <div style="display: flex; justify-content: center; width: 100%; padding: 5px">
      <dx-button [disabled]="!esEdicionFila" id="btnAceptarPT" stylingMode="contained" text="Aceptar" type="default"
        [width]="100" (onClick)="aceptarBottom($event)"></dx-button>
      <dx-button id="btnCancelarPT" stylingMode="contained" text="Cancelar" type="normal" [width]="110"
        [style.margin-left]="'20px'" (onClick)="closeBottom($event)"></dx-button>
    </div>
  </div>
</dx-popup>