.container-estado {
  border-radius: 15px;
  padding: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

/* ::ng-deep .dx-tag-content {
  background-color: rgb(231, 197, 166);
} */

.mat-tab-label, .mat-tab-link {
  background: transparent !important;
}

::ng-deep .mat-tab-label-container {
  flex-grow: 0 !important;
  width: 100%;
}

::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label {
  flex-basis: content !important;
  flex-grow: 0 !important;
}

::ng-deep app-ges003 > div > div.container-child-dos-app .mat-tab-label, .mat-tab-link {
  background: transparent !important;
}