::ng-deep .dx-treelist-rowsview .dx-row>td, .dx-treelist-rowsview .dx-row>tr>td {
  padding: 3px 9px !important;
}

:host ::ng-deep .dx-datagrid-headers table td div.dx-datagrid-text-content {
  white-space: normal;
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

.estado {
  border-radius: 20px;
  min-width: 97px;
  height: 2.5vh;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 13px !important;
}

.tabIvas {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.spinner-container {
  position: relative;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gear-icon {
  font-size: 24px;
  color: #1d3b60;
  position: absolute;
  top: -8px;
  z-index: 2;
}

.spinner {
  border-radius: 50%;
  animation: spin 2.5s linear infinite;
}

.base-dots {
  background-color: #a8b3c5;
  border-radius: 20px;
  padding: 5px 12px;
  display: flex;
  width: 80%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  margin: 0px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
