
<div class="row gx-3">
  <div class="col-12">
    <div class="card-content">
      <dx-form
        #fromConfigurador
        id="fromConfigurador"
        [formData]="FConfigurador"
        [colCount]="1"
        [readOnly]="readOnly"
        labelLocation="left"
      >
        <dxi-item itemType="group" caption="Información General">
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>

          <dxi-item dataField="ID_APLICACION" editorType="dxDropDownBox">
            <dxo-label text="Aplicación"></dxo-label>
            <div *dxTemplate>
              <dx-drop-down-box 
                #dropSelectAplicacion
                id="dropSelectAplicacion"
                [(value)]="selectAplicacion"
                valueExpr="ID_APLICACION"
                displayExpr="NOMBRE"
                placeholder="Seleccione Aplicación"
                [readOnly]="readOnly"
                [showClearButton]="true"
                [(opened)]="openAplicacion"
                [dataSource]="DGAplicacion"
                [dropDownOptions]="{width:'500px', height:350, hideOnParentScroll: true, container:'#fromConfigurador'}"
                columnResizingMode="widget"
                [inputAttr]="{name: 'ID_APLICACION', style: 'font-size: 18px; font-weight: 700; text-transform: uppercase; padding: 4px 11px 1px;'}"
              >
                <div id="containerFMAplicacion" *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #FMaplicaciones
                    height="100%"
                    width="100%"
                    keyExpr="ID_APLICACION"
                    [dataSource]="DGAplicacion"
                    [(selectedRowKeys)]="selectAplicacion"
                    [selection]="{ mode: 'single' }"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [columnMinWidth]="120"
                    [rowAlternationEnabled]="true"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    (onSelectionChanged)="onSelectionAplicacion($event)"
                  >
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>

                    <dxi-column dataField="ID_APLICACION"  caption="Cod. Aplicación" class="clsEncabHis" [width]="130"></dxi-column>
                    <dxi-column dataField="NOMBRE" caption="Nombre" cssClass="clsEncabHis" [width]="180"></dxi-column>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </dxi-item>

          <dxi-item dataField="ESTADO" editorType="dxSelectBox">
            <dxo-label text="Estado"></dxo-label>
              <div *dxTemplate>
                <dx-select-box
                  [dataSource]="['ACTIVO','INACTIVO']"
                  [value]="FConfigurador.ESTADO"
                  [readOnly]="readOnly"
                  placeholder="Seleccion Estado"
                  (onValueChanged)="onSeleccEstado($event)">
                </dx-select-box>
              </div>
          </dxi-item>

          <dxi-item dataField="NOMBRE" >
            <dxo-label text="Nombre"></dxo-label>
            <div *dxTemplate>
              <dx-text-box
                placeholder="Nombre"
                [readOnly]="readOnly"
                [value]="FConfigurador.NOMBRE"
                (onValueChanged)="onValueChangedNombre($event)"
              ></dx-text-box>
            </div>
          </dxi-item>

          <dxi-item dataField="EVENTO" >
            <dxo-label text="Evento"></dxo-label>
            <div *dxTemplate>
              <dx-select-box
                [dataSource]="['Crear','Modificar','Eliminar']"
                [value]="FConfigurador.EVENTO"
                [readOnly]="readOnly"
                placeholder="Seleccion Evento"
                (onValueChanged)="onSeleccEvento($event)">
              </dx-select-box>
            </div>
          </dxi-item>

          <dxi-item dataField="REGLA" >
            <dxo-label text="Condición / Regla"></dxo-label>
            <div *dxTemplate>
              <dx-text-box
                placeholder="Condición ó Regla"
                [readOnly]="readOnly"
                [value]="FConfigurador.REGLA">
              </dx-text-box>
            </div>
          </dxi-item>

          <dxi-item dataField="USUARIO_ENV" >
            <dxo-label text="Usuario que envia"></dxo-label>
            <div *dxTemplate>
              <dx-drop-down-box 
                #dropSelectUsuarioEnv
                id="dropSelectUsuarioEnv"
                [(value)]="selectUsuarioEnv"
                valueExpr="ID_EMPLEADO"
                displayExpr="NOMBRE_COMPLETO"
                placeholder="Seleccione Usuario"
                [readOnly]="readOnly"
                [showClearButton]="true"
                [(opened)]="openUsuarioEnv"
                [dataSource]="DGUsuarios"
                [dropDownOptions]="{width:'500px', height:350, hideOnParentScroll: true, container:'#fromConfigurador'}"
                columnResizingMode="widget"
              >
                <div id="containerFMUsuarioEnv" *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #FMUsuarioEnv
                    height="100%"
                    width="100%"
                    keyExpr="ID_EMPLEADO"
                    [dataSource]="DGUsuarios"
                    [(selectedRowKeys)]="selectUsuarioEnv"
                    [selection]="{ mode: 'single' }"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [columnMinWidth]="120"
                    [rowAlternationEnabled]="true"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    (onSelectionChanged)="onSelectionUsuario($event, 'USUARIO_ENV', dropSelectUsuarioEnv.instance)"
                  >
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-search-panel [visible]="true" [width]="150" ></dxo-search-panel>

                    <dxi-column dataField="ID_EMPLEADO"  caption="Id. Empleado" class="clsEncabHis" [width]="130"></dxi-column>
                    <dxi-column dataField="NOMBRE_COMPLETO" caption="Nombre" cssClass="clsEncabHis" [width]="180"></dxi-column>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </dxi-item>

          <dxi-item dataField="USUARIO_REC" >
            <dxo-label text="Usuario que recibe"></dxo-label>
            <div *dxTemplate>
              <dx-drop-down-box 
                #dropSelectUsuarioRec
                id="dropSelectUsuarioRec"
                [(value)]="selectUsuarioRec"
                valueExpr="ID_EMPLEADO"
                displayExpr="PRIMER_NOMBRE"
                placeholder="Seleccione Usuario"
                [readOnly]="readOnly"
                [showClearButton]="true"
                [(opened)]="openUsuarioRec"
                [dataSource]="DGUsuarios"
                [dropDownOptions]="{width:'500px', height:350, hideOnParentScroll: true, container:'#fromConfigurador'}"
                columnResizingMode="widget"
              >
                <div id="containerFMUsuarioRec" *dxTemplate="let data of 'content'">
                  <dx-list
                    #listUsuarios
                    id="listUsuarios"
                    [dataSource]="DGUsuarios"
                    keyExpr="ID_EMPLEADO"
                    width="100%"
                    height="90%"
                    [searchEnabled]="true"
                    searchExpr="NOMBRE_COMPLETO"
                    searchMode="contains"
                    selectionMode="all"
                    selectAllMode="allPages"
                    [showSelectionControls]="true"
                    [(selectedItemKeys)]="selectUsuarioRec"
                  >
                    <div *dxTemplate="let data of 'item'">
                      <div>{{ data.ID_EMPLEADO +' -- '+ data.NOMBRE_COMPLETO }}</div>
                    </div>
                  </dx-list>
                  <div style="position: absolute; bottom: 10px">
                    <dx-button
                      id="btnAceptarPT"
                      stylingMode="contained"
                      text="Aceptar"
                      type="default"
                      [width]="100"
                      (onClick)="aceptarCambios($event)"
                    ></dx-button>
                    <dx-button
                      id="btnCancelarPT"
                      stylingMode="contained"
                      text="Cancelar"
                      type="normal"
                      [width]="110"
                      [style.margin-left]="'20px'"
                      (onClick)="cancelarCambios($event)"
                    ></dx-button>
                  </div>
                </div>
              </dx-drop-down-box>
            </div>
          </dxi-item>

          <dxi-item dataField="DESCRIPCION" >
            <dxo-label text="Descripción"></dxo-label>
            <div *dxTemplate>
              <dx-text-area
                placeholder="Descripción de la notificación."
                [height]="90"
                [readOnly]="readOnly"
                [(value)]="FConfigurador.DESCRIPCION"
                (onValueChanged)="onValueChangedDescripcion($event)"
              ></dx-text-area>
            </div>
          </dxi-item>

        </dxi-item>

        <dxi-item itemType="group" caption="Programación" >
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>

          <dxi-item dataField="SIEMPRE" [colSpan]="2">
            <dxo-label text="Siempre activado"></dxo-label>
            <div *dxTemplate>
              <dx-switch
                class="mx-2"
                [readOnly]="readOnly"
                [(value)]="FConfigurador.SIEMPRE"
                (onValueChanged)="onValueChangedTodoElDia($event, 'SIEMPRE')"
              ></dx-switch>
            </div>
          </dxi-item>

          <dxi-item dataField="FECHA_INICIO" *ngIf="FConfigurador.SIEMPRE === false " >
            <dxo-label text="Fecha Inicio"></dxo-label>
            <div *dxTemplate>
              <dx-date-box
                #fechaInicio
                placeholder="Fecha inicial..."
                [min]="minDateValue"
                [type]="typeDateTime"
                [value]="FConfigurador.FECHA_INICIO"
                [readOnly]="readOnly"
                (onValueChanged)="getCalculateDuracion($event, 'fecha inicio')"
              ></dx-date-box>
            </div>
          </dxi-item>

          <dxi-item dataField="FECHA_FIN" *ngIf="FConfigurador.SIEMPRE === false " >
            <dxo-label text="Fecha final"></dxo-label>
            <div *dxTemplate>
              <dx-date-box
                #fechaInicio
                placeholder="Fecha final..."
                [min]="minDateValue"
                [type]="typeDateTime"
                [value]="FConfigurador.FECHA_FIN"
                [readOnly]="readOnly"
                (onValueChanged)="getCalculateDuracion($event, 'fecha fin')"
              ></dx-date-box>
            </div>
          </dxi-item>

          <dxi-item dataField="TODO_DIA" *ngIf="FConfigurador.SIEMPRE === false " >
            <dxo-label text="Todo el día"></dxo-label>
            <div *dxTemplate>
              <dx-switch
                class="mx-2"
                [readOnly]="readOnly"
                [(value)]="FConfigurador.TODO_DIA"
                (onValueChanged)="onValueChangedTodoElDia($event, 'TODO_DIA')"
              ></dx-switch>
            </div>
          </dxi-item>

          <dxi-item dataField="REPETIR" *ngIf="FConfigurador.SIEMPRE === false " >
            <dxo-label text="Repetir"></dxo-label>
            <div *dxTemplate>
              <dx-switch
                class="mx-2"
                [readOnly]="readOnly"
                [(value)]="FConfigurador.REPETIR"
                (onValueChanged)="onValueChangedTodoElDia($event, 'REPETIR')"
              ></dx-switch>
            </div>
          </dxi-item>

          <dxi-item dataField="FRECUENCIA" *ngIf="FConfigurador.SIEMPRE === false && FConfigurador.REPETIR === true " >
            <dxo-label text="Frecuencia"></dxo-label>
            <div *dxTemplate>
              <dx-select-box
                #selectFrecuencia
                [readOnly]="readOnly"
                [dataSource]="['Horas','Diario','Semanal','Mensual','Anual']"
                [(value)]="FConfigurador.FRECUENCIA"
                placeholder="Seleccione..."
                (onValueChanged)="onSeleccFrecuencia($event)"
              ></dx-select-box>
            </div>
          </dxi-item>

          <dxi-item dataField="INTERVALO_FRECUENCIA" *ngIf="FConfigurador.SIEMPRE === false && FConfigurador.REPETIR === true ">
            <dxo-label text="Cada"></dxo-label>
            <div *dxTemplate style="display: flex; align-items: center; ">
              <dx-number-box
                width="30%"
                [min]="0"
                [value]="FConfigurador.INTERVALO_FRECUENCIA"
                [readOnly]="readOnlyBtnCada"
                [showSpinButtons]="true"
                [showClearButton]="true"
                (onValueChanged)="onSeleccIntervaloFrecuencia($event)"
              ></dx-number-box>
              <small style="margin-left: 6px;">{{ periodoSeleccionado }}</small>
            </div>
          </dxi-item>

          <dxi-item dataField="PERIODO_FRECUENCIA"
            *ngIf="FConfigurador.SIEMPRE === false && (FConfigurador.INTERVALO_FRECUENCIA > 0 && FConfigurador.FRECUENCIA.match('Semanal|Mensual|Anual')) "
          >
            <dxo-label text="Periodo de la Frecuendia"></dxo-label>
            <div *dxTemplate>
              <div *ngIf="FConfigurador.FRECUENCIA === 'Semanal'" class="form-item-data" style="width: max-content;">
                <mat-button-toggle-group
                  #group="matButtonToggleGroup"
                  name="diasSemana"
                  aria-label="Dias Semana"
                  multiple
                  [disabled]="readOnly"
                  [value]="FConfigurador.PERIODO_FRECUENCIA"
                  (change)="onValueChangedPeriodoFrecuencia($event, 'semana')"
                >
                  <mat-button-toggle matTooltip="Domingo" value="Domingo">DOM</mat-button-toggle>
                  <mat-button-toggle matTooltip="Lunes" value="Lunes">LUN</mat-button-toggle>
                  <mat-button-toggle matTooltip="Martes" value="Martes">MAR</mat-button-toggle>
                  <mat-button-toggle matTooltip="Miercoles" value="Miercoles">MIÉ</mat-button-toggle>
                  <mat-button-toggle matTooltip="Jueves" value="Jueves">JUE</mat-button-toggle>
                  <mat-button-toggle matTooltip="Viernes" value="Viernes">VIE</mat-button-toggle>
                  <mat-button-toggle matTooltip="Sabado" value="Sabado">SAB</mat-button-toggle>
                </mat-button-toggle-group>
              </div>

              <div *ngIf="FConfigurador.FRECUENCIA === 'Mensual'" class="form-item-data">
                <mat-button-toggle-group
                  #group="matButtonToggleGroup"
                  name="diasMes"
                  aria-label="Dias mes"
                  multiple
                  [disabled]="readOnly"
                  [value]="FConfigurador.PERIODO_FRECUENCIA"
                  (change)="onValueChangedPeriodoFrecuencia($event, 'mes')"
                >
                  <mat-button-toggle *ngFor="let item of numDiasMes" class="calendar-item" matTooltip="{{item}}" value="{{item}}">{{item}}</mat-button-toggle>
                </mat-button-toggle-group>
              </div>

              <div *ngIf="FConfigurador.FRECUENCIA === 'Anual'" class="form-item-data">
                <mat-button-toggle-group
                  #group="matButtonToggleGroup"
                  name="mesAno"
                  aria-label="Meses año"
                  multiple
                  [disabled]="readOnly"
                  [value]="FConfigurador.PERIODO_FRECUENCIA"
                  (change)="onValueChangedPeriodoFrecuencia($event, 'ano')"
                >
                  <mat-button-toggle matTooltip="{{item}}" value="{{item}}" *ngFor="let item of mesAno">{{item}}</mat-button-toggle>
                </mat-button-toggle-group>
              </div>

            </div>
          </dxi-item>

        </dxi-item>
  
        <dxi-item itemType="group" caption="Mensaje" >
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>

          <dxi-item dataField="TIPO_NOTIFICADOR" >
            <dxo-label text="Tipo de notificador"></dxo-label>
            <div *dxTemplate>
              <dx-select-box
                #selectNotificador
                [readOnly]="readOnly"
                [dataSource]="['Email','Notificacion','Mensaje a Chat','Mensaje de Texto']"
                [(value)]="FConfigurador.TIPO_NOTIFICADOR"
                placeholder="Seleccione..."
                (onValueChanged)="onSeleccTipoNotificador($event)"
              ></dx-select-box>
            </div>
          </dxi-item>

          <dxi-item dataField="TIPO_MENSAJE" >
            <dxo-label text="Tipos de Mensaje"></dxo-label>
            <div *dxTemplate>
              <dx-radio-group
                layout="horizontal"
                [dataSource]="DTiposMensaje"
                [(value)]="FConfigurador.TIPO_MENSAJE"
                [readOnly]="readOnly"
                (onValueChanged)="onSeleccTipoMensaje($event)"
              ></dx-radio-group>
            </div>
          </dxi-item>

          <dxi-item dataField="MENSAJE" 
            *ngIf="FConfigurador.TIPO_MENSAJE !== '' "
          >
            <dxo-label text="Contenido del Mensaje" ></dxo-label>
            <div *dxTemplate>
              <!-- MENSAJES DE TEXTO && NOTIFICACIONES -->
              <dx-text-box
                *ngIf="FConfigurador.TIPO_MENSAJE === 'Texto' "
                placeholder="Contenido del Mensaje"
                [readOnly]="readOnly"
                [(value)]="FConfigurador.MENSAJE"
                (onValueChanged)="onValueChangedMensaje($event)"
              ></dx-text-box>
              <!-- EMAIL && REPORTES -->
              <dx-html-editor
                *ngIf="FConfigurador.TIPO_MENSAJE.match('Template HTML|Reporte') "
                height="725px"
                [(value)]="FConfigurador.MENSAJE" 
              >
                <dxo-toolbar [multiline]="true">
                  <dxi-item name="undo"></dxi-item>
                  <dxi-item name="redo"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item
                    name="size"
                    [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                    [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                  ></dxi-item>
                  <dxi-item
                    name="font"
                    [acceptedValues]="[
                      'Arial',
                      'Courier New',
                      'Georgia',
                      'Impact',
                      'Lucida Console',
                      'Tahoma',
                      'Times New Roman',
                      'Verdana'
                    ]"
                    [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                  ></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="bold"></dxi-item>
                  <dxi-item name="italic"></dxi-item>
                  <dxi-item name="strike"></dxi-item>
                  <dxi-item name="underline"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="alignLeft"></dxi-item>
                  <dxi-item name="alignCenter"></dxi-item>
                  <dxi-item name="alignRight"></dxi-item>
                  <dxi-item name="alignJustify"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="orderedList"></dxi-item>
                  <dxi-item name="bulletList"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item
                    name="header"
                    [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                    [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                  ></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="color"></dxi-item>
                  <dxi-item name="background"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="link"></dxi-item>
                  <dxi-item name="image"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="clear"></dxi-item>
                  <dxi-item name="codeBlock"></dxi-item>
                  <dxi-item name="blockquote"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="insertTable"></dxi-item>
                  <dxi-item name="deleteTable"></dxi-item>
                  <dxi-item name="insertRowAbove"></dxi-item>
                  <dxi-item name="insertRowBelow"></dxi-item>
                  <dxi-item name="deleteRow"></dxi-item>
                  <dxi-item name="insertColumnLeft"></dxi-item>
                  <dxi-item name="insertColumnRight"></dxi-item>
                  <dxi-item name="deleteColumn"></dxi-item>
                </dxo-toolbar>
                <dxo-media-resizing [enabled]="true"></dxo-media-resizing>
                <dxo-image-upload  fileUploadMode="base64"></dxo-image-upload>
              </dx-html-editor>
              <!-- ARCHIVO ADJUNTO -->
              <div 
                *ngIf="FConfigurador.TIPO_MENSAJE.match('Archivo Adjunto') "
                style="display: flex; width: 100%; align-items: flex-start;"
              >
                <!-- btn -->
                <div class="form-input-chatsendbox" style="width: 15%; cursor: pointer;" (click)="onClickCargar(FConfigurador)">
                  <dx-button
                    icon="icon-adjuntar-ol"
                    style="margin: 0 .15rem"
                  >
                    <i class="icon-adjuntar-ol" ></i>
                  </dx-button>
                  <span> Subir Archivo </span>
                </div>
                <!-- container -->
                <div class="form-upload-box" style="width: 85%;" >
                  <dx-scroll-view width="100%" height="100%" >
                    <div id="idArchivo" class="form-fileuploader-file-container" *ngFor="let archivo of FConfigurador.MENSAJE">
                      <div (click)="onClickAbrir(archivo)" style="height: 25px; width: 94%; display: flex; align-items: center; justify-content: flex-start;" >
                        <div class="form-fileuploader-icon-container">
                          <i [ngClass]="archivo.icon"></i>
                        </div>
                        <div class="form-fileuploader-file-label">
                          {{ archivo.ARCHIVO }}
                        </div> 
                      </div>
                      <div class="form-fileuploader-button-container">
                        <dx-button
                          icon="close"
                          (onClick)="onClickEliminarArchivo($event, archivo)"
                        ></dx-button>
                      </div>
                    </div>
                  </dx-scroll-view>
                </div>
              </div>
            </div>
          </dxi-item>

        </dxi-item>

      </dx-form>
    </div>
  </div>
</div>


<app-vistarapida id="vistaADM410" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel
  #loadPanelPro
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"    
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando consulta..."
  [hideOnOutsideClick]="false"
></dx-load-panel>