@if (visible()) {

  <nav
    class="xt-platform-toolbar"
    aria-label="Barra de operaciones">

    <div
      class="xt-platform-toolbar__actions">

      @for (
        item of items();
        track item.action
      ) {

        @if (item.separatorBefore) {

          <span
            class="xt-platform-toolbar__separator"
            aria-hidden="true">
          </span>

        }


        <button
          type="button"
          class="xt-platform-toolbar__button"
          [class.xt-platform-toolbar__button--disabled]="!item.enabled"
          [disabled]="!item.enabled"
          [attr.title]="item.label"
          [attr.aria-label]="item.label"
          (click)="execute(item.action)">

          <i
            class="xt-platform-toolbar__icon"
            [class]="
              'xt-platform-toolbar__icon ' +
              item.iconClass
            "
            aria-hidden="true">
          </i>

        </button>

      }

    </div>

  </nav>

}