<div id="container_principal" class="d-none d-md-flex container-principal card-color-blueclean">
  <div id="Tareas_pendientes" class="container-hijos">
    <div class="header-board-container">
      <div class="board-header" [ngStyle]="{
          'background-color': 'rgba(0,0,0,.05)',
          color: 'rgba(98,121,140,.9)'
        }">
        <span>Sin Iniciar</span>
      </div>
    </div>
    <div class="container-tareas scroll-hidden">
      <mat-card class="card" *ngFor="let proyecto of PSinIniciar" (dblclick)="dblclick($event, proyecto)">
        <mat-card-header>
          <mat-card-title>
            <p class="title_card">
              {{ proyecto.NOMBRE | uppercase }}
            </p>
            <li id="icon-inbox-ol-header" class="class-li">
              <i class="icon-opciones i-option" role="button" data-bs-toggle="dropdown" id="actionsDropdown"
                aria-expanded="false"></i>

              <ul class="dropdown-menu subMenu" aria-labelledby="actionsDropdown">
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="gestionProyect(proyecto)">
                    <i class="icon-grafico-mnl-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Gestionar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="viewProyect(proyecto)">
                    <i class="icon-tarea-sl subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Ver</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="opEliminar(proyecto)">
                    <i class="icon-eliminar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Eliminar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="FNChangeStatus(proyecto)">
                    <i *ngIf="changeStatus === 'Activar'" class="icon-aceptar-sl subMenu-i" aria-hidden="true"></i>
                    <i *ngIf="changeStatus === 'Inactivar'" class="icon-aceptar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">{{changeStatus}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="content-body">
            <p class="content-title">{{ "Responsable: " }}</p>
            <p class="content-description">{{ proyecto.NOMBRE_RESPONSABLE }}</p>
          </div>
          <div class="content-body">
            <p class="content-title">{{ "Duración: " }}</p>
            <p class="content-description">
              {{ proyecto.FECHA_INICIO | date : "dd/MM/yyyy" }} -
              {{ proyecto.FECHA_FIN | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="content-descripcion scroll-hidden" [ngClass]="
              proyecto.DESCRIPCION !== '' && proyecto.DESCRIPCION !== null
                ? 'visible_descripcion'
                : 'novisible_descripcion'
            ">
            <p>{{ proyecto.DESCRIPCION }}</p>
          </div>
        </mat-card-content>
        <dx-progress-bar #progressBar id="progress-bar-status" width="90%"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }" [class.complete]="proyecto.AVANCE == maxValue" [min]="0"
          [max]="maxValue" [statusFormat]="format" [value]="proyecto.AVANCE">
        </dx-progress-bar>
      </mat-card>
    </div>
    <div *ngIf="PSinIniciar.length > 6" class="footer-board-container">
      <div class="board-footer" [ngStyle]="{
          'background-color': 'rgba(0,0,0,.05)',
          color: 'rgba(98,121,140,.9)'
        }">
        <span>Total:</span>
        <label>{{ PSinIniciar.length }}</label>
      </div>
    </div>
  </div>

  <div id="En_Curso" class="container-hijos">
    <div class="header-board-container">
      <div class="board-header" [ngStyle]="{
          'background-color': 'rgba(18,94,220,.1)',
          color: 'rgba(18,94,220,1)'
        }">
        <span>En Proceso</span>
      </div>
    </div>
    <div class="container-tareas scroll-hidden">
      <mat-card class="card" *ngFor="let proyecto of PEnProceso" (dblclick)="dblclick($event, proyecto)">
        <mat-card-header>
          <mat-card-title>
            <p class="title_card">
              {{ proyecto.NOMBRE | uppercase }}
            </p>
            <li id="icon-inbox-ol-header" class="class-li">
              <i class="icon-opciones i-option" role="button" data-bs-toggle="dropdown" id="actionsDropdown"
                aria-expanded="false"></i>

              <ul class="dropdown-menu subMenu" aria-labelledby="actionsDropdown">
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="gestionProyect(proyecto)">
                    <i class="icon-grafico-mnl-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Gestionar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="viewProyect(proyecto)">
                    <i class="icon-tarea-sl subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Ver</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="opEliminar(proyecto)">
                    <i class="icon-eliminar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Eliminar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="FNChangeStatus(proyecto)">
                    <i *ngIf="changeStatus === 'Activar'" class="icon-aceptar-sl subMenu-i" aria-hidden="true"></i>
                    <i *ngIf="changeStatus === 'Inactivar'" class="icon-aceptar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">{{changeStatus}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="content-body">
            <p class="content-title">{{ "Responsable: " }}</p>
            <p class="content-description">{{ proyecto.NOMBRE_RESPONSABLE }}</p>
          </div>
          <div class="content-body">
            <p class="content-title">{{ "Duración: " }}</p>
            <p class="content-description">
              {{ proyecto.FECHA_INICIO | date : "dd/MM/yyyy" }} -
              {{ proyecto.FECHA_FIN | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="content-descripcion scroll-hidden" [ngClass]="
              proyecto.DESCRIPCION !== '' && proyecto.DESCRIPCION !== null
                ? 'visible_descripcion'
                : 'novisible_descripcion'
            ">
            <p>{{ proyecto.DESCRIPCION }}</p>
          </div>
        </mat-card-content>
        <dx-progress-bar #progressBar id="progress-bar-status" width="90%"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }" [class.complete]="proyecto.AVANCE == maxValue" [min]="0"
          [max]="maxValue" [statusFormat]="format" [value]="proyecto.AVANCE">
        </dx-progress-bar>
      </mat-card>
    </div>
    <div *ngIf="PEnProceso.length > 6" class="footer-board-container">
      <div class="board-footer" [ngStyle]="{
          'background-color': 'rgba(18,94,220,.1)',
          color: 'rgba(18,94,220,1)'
        }">
        <span>Total:</span>
        <label>{{ PEnProceso.length }}</label>
      </div>
    </div>
  </div>

  <div id="En_Pausa" class="container-hijos">
    <div class="header-board-container">
      <div class="board-header" [ngStyle]="{
          'background-color': 'rgba(223,62,62,.1)',
          color: 'rgba(223,62,62,1)'
        }">
        <span>Pausado</span>
      </div>
    </div>
    <div class="container-tareas scroll-hidden">
      <mat-card class="card" *ngFor="let proyecto of PEnPausa" (dblclick)="dblclick($event, proyecto)">
        <mat-card-header>
          <mat-card-title>
            <p class="title_card">
              {{ proyecto.NOMBRE | uppercase }}
            </p>
            <li id="icon-inbox-ol-header" class="class-li">
              <i class="icon-opciones i-option" role="button" data-bs-toggle="dropdown" id="actionsDropdown"
                aria-expanded="false"></i>

              <ul class="dropdown-menu subMenu" aria-labelledby="actionsDropdown">
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="gestionProyect(proyecto)">
                    <i class="icon-grafico-mnl-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Gestionar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="viewProyect(proyecto)">
                    <i class="icon-tarea-sl subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Ver</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="opEliminar(proyecto.ID_DOCUMENTO)">
                    <i class="icon-eliminar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Eliminar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="FNChangeStatus(proyecto)">
                    <i *ngIf="changeStatus === 'Activar'" class="icon-aceptar-sl subMenu-i" aria-hidden="true"></i>
                    <i *ngIf="changeStatus === 'Inactivar'" class="icon-aceptar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">{{changeStatus}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="content-body">
            <p class="content-title">{{ "Responsable: " }}</p>
            <p class="content-description">{{ proyecto.NOMBRE_RESPONSABLE }}</p>
          </div>
          <div class="content-body">
            <p class="content-title">{{ "Duración: " }}</p>
            <p class="content-description">
              {{ proyecto.FECHA_INICIO | date : "dd/MM/yyyy" }} -
              {{ proyecto.FECHA_FIN | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="content-descripcion scroll-hidden" [ngClass]="
              proyecto.DESCRIPCION !== '' && proyecto.DESCRIPCION !== null
                ? 'visible_descripcion'
                : 'novisible_descripcion'
            ">
            <p>{{ proyecto.DESCRIPCION }}</p>
          </div>
        </mat-card-content>
        <dx-progress-bar #progressBar id="progress-bar-status" width="90%"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }" [class.complete]="proyecto.AVANCE == maxValue" [min]="0"
          [max]="maxValue" [statusFormat]="format" [value]="proyecto.AVANCE">
        </dx-progress-bar>
      </mat-card>
    </div>
    <div *ngIf="PEnPausa.length > 6" class="footer-board-container">
      <div class="board-footer" [ngStyle]="{
          'background-color': 'rgba(223,62,62,.1)',
          color: 'rgba(223,62,62,1)'
        }">
        <span>Total:</span>
        <label>{{ PEnPausa.length }}</label>
      </div>
    </div>
  </div>

  <div id="Trabajo_terminado" class="container-hijos">
    <div class="header-board-container">
      <div class="board-header" [ngStyle]="{
          'background-color': 'rgba(53,204,172,.1)',
          color: 'rgba(53,204,172,1)'
        }">
        <span>Finalizado</span>
      </div>
    </div>
    <div class="container-tareas scroll-hidden">
      <mat-card class="card" *ngFor="let proyecto of PFinalizados" (dblclick)="dblclick($event, proyecto)">
        <mat-card-header>
          <mat-card-title>
            <p class="title_card">
              {{ proyecto.NOMBRE | uppercase }}
            </p>
            <li id="icon-inbox-ol-header" class="class-li">
              <i class="icon-opciones i-option" role="button" data-bs-toggle="dropdown" id="actionsDropdown"
                aria-expanded="false"></i>

              <ul class="dropdown-menu subMenu" aria-labelledby="actionsDropdown">
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="gestionProyect(proyecto)">
                    <i class="icon-grafico-mnl-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Gestionar</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="viewProyect(proyecto)">
                    <i class="icon-tarea-sl subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Ver</span>
                  </a>
                </li>
                <li class="subMenu-li">
                  <a class="subMenu-a" style="cursor: pointer" (click)="opEliminar(proyecto)">
                    <i class="icon-eliminar-ol subMenu-i" aria-hidden="true"></i>
                    <span style="margin-left: 10px">Eliminar</span>
                  </a>
                </li>
              </ul>
            </li>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="content-body">
            <p class="content-title">{{ "Responsable: " }}</p>
            <p class="content-description">{{ proyecto.NOMBRE_RESPONSABLE }}</p>
          </div>
          <div class="content-body">
            <p class="content-title">{{ "Duración: " }}</p>
            <p class="content-description">
              {{ proyecto.FECHA_INICIO | date : "dd/MM/yyyy" }} -
              {{ proyecto.FECHA_FIN | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="content-descripcion scroll-hidden" [ngClass]="
              proyecto.DESCRIPCION !== '' && proyecto.DESCRIPCION !== null
                ? 'visible_descripcion'
                : 'novisible_descripcion'
            ">
            <p>{{ proyecto.DESCRIPCION }}</p>
          </div>
        </mat-card-content>
        <dx-progress-bar #progressBar id="progress-bar-status" width="90%"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }" [class.complete]="proyecto.AVANCE == maxValue" [min]="0"
          [max]="maxValue" [statusFormat]="format" [value]="proyecto.AVANCE">
        </dx-progress-bar>
      </mat-card>
    </div>
    <div *ngIf="PFinalizados.length > 6" class="footer-board-container">
      <div class="board-footer" [ngStyle]="{
          'background-color': 'rgba(53,204,172,.1)',
          color: 'rgba(53,204,172,1)'
        }">
        <span>Total:</span>
        <label>{{ PFinalizados.length }}</label>
      </div>
    </div>
  </div>
</div>