<div class="row gx-3" id="PRO034">
    <div class="col-12">
        <div style="padding: 10px;">

            <!-- Sección 1: Cabecera y Filtros -->
            <app-PRO03401 [events]="events.asObservable()"
                (onRespuestaComponent)="onRespuestaComponent($event)"></app-PRO03401>

            <hr class="my-3">

            <!-- Sección 2: Productos Programados -->
            <app-PRO03402 [events]="events.asObservable()"
                (onRespuestaComponent)="onRespuestaComponent($event)"></app-PRO03402>

            <hr class="my-3">

            <!-- Sección 3: Pedidos Pendientes -->
            <app-PRO03403 [events]="events.asObservable()"
                (onRespuestaComponent)="onRespuestaComponent($event)"></app-PRO03403>

        </div>
    </div>
</div>