.tables {
  max-height: 260px;
}

.v-hidden > .icon-mover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear !important;
}

.v-hidden:hover .icon-mover {
  visibility: visible !important;
  opacity: .5 !important;
}

.ajuste-row-tables .row {
  margin-right: -8px;
  margin-left: -8px;
  margin-top: -8px;
}

.ajuste-row-tables .col, .ajuste-row-tables .col-1, .ajuste-row-tables .col-10, .ajuste-row-tables .col-11, .ajuste-row-tables .col-12, .ajuste-row-tables .col-2, .ajuste-row-tables .col-3, .ajuste-row-tables .col-4, .ajuste-row-tables .col-5, .ajuste-row-tables .col-6, .ajuste-row-tables .col-7, .ajuste-row-tables .col-8, .ajuste-row-tables .col-9, .ajuste-row-tables .col-auto, .ajuste-row-tables .col-lg, .ajuste-row-tables .col-lg-1, .ajuste-row-tables .col-lg-10, .ajuste-row-tables .col-lg-11, .ajuste-row-tables .col-lg-12, .ajuste-row-tables .col-lg-2, .ajuste-row-tables .col-lg-3, .ajuste-row-tables .col-lg-4, .ajuste-row-tables .col-lg-5, .ajuste-row-tables .col-lg-6, .ajuste-row-tables .col-lg-7, .ajuste-row-tables .col-lg-8, .ajuste-row-tables .col-lg-9, .ajuste-row-tables .col-lg-auto, .ajuste-row-tables .col-md, .ajuste-row-tables .col-md-1, .ajuste-row-tables .col-md-10, .ajuste-row-tables .col-md-11, .ajuste-row-tables .col-md-12, .ajuste-row-tables .col-md-2, .ajuste-row-tables .col-md-3, .ajuste-row-tables .col-md-4, .ajuste-row-tables .col-md-5, .ajuste-row-tables .col-md-6, .ajuste-row-tables .col-md-7, .ajuste-row-tables .col-md-8, .ajuste-row-tables .col-md-9, .ajuste-row-tables .col-md-auto, .ajuste-row-tables .col-sm, .ajuste-row-tables .col-sm-1, .ajuste-row-tables .col-sm-10, .ajuste-row-tables .col-sm-11, .ajuste-row-tables .col-sm-12, .ajuste-row-tables .col-sm-2, .ajuste-row-tables .col-sm-3, .ajuste-row-tables .col-sm-4, .ajuste-row-tables .col-sm-5, .ajuste-row-tables .col-sm-6, .ajuste-row-tables .col-sm-7, .ajuste-row-tables .col-sm-8, .ajuste-row-tables .col-sm-9, .ajuste-row-tables .col-sm-auto, .ajuste-row-tables .col-xl, .ajuste-row-tables .col-xl-1, .ajuste-row-tables .col-xl-10, .ajuste-row-tables .col-xl-11, .ajuste-row-tables .col-xl-12, .ajuste-row-tables .col-xl-2, .ajuste-row-tables .col-xl-3, .ajuste-row-tables .col-xl-4, .ajuste-row-tables .col-xl-5, .ajuste-row-tables .col-xl-6, .ajuste-row-tables .col-xl-7, .ajuste-row-tables .col-xl-8, .ajuste-row-tables .col-xl-9, .ajuste-row-tables .col-xl-auto {
    padding: 8px;
    /* padding-right: 8px;
    padding-left: 8px; */
}

.material-symbols-outlinedxxxx:not(.xs-menutab) {
  position: absolute;
  left: 0;
  top: 2px;
}
.xs-menutab {
  position: absolute;
  font-size: 1rem;
  right: 2rem;
  top: 1.35rem;
}

.card-contenedor-    .com-aplicacion{
  color: #8D9BA6;
}
.oscroll-of {
  overflow: hidden;
  height: 175px;
}
.oscroll-of:hover {
  overflow: auto;
  height: 175px;
}

.com-aplicacion {
  /* width: 70%; */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0px;
  padding-left: 10px;
  color: rgba(10,57,96,.5);
  font-weight: 300;
}

.table-responsive-sm thead, tbody { display: block; }

.table-responsive-sm tbody {
    height: 390px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.column1 { width: 30%; }
.column2 { width: 3%; }
.column3 { width: 25%; }
.column4 { width: 15%; }
.column5 { width: 7%; }

.xs-tabla-fav tbody {
  overflow: auto;
  height: 180px;       /* Just for the demo          */
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

::ng-deep .list-group-item {
    padding: .55rem 1.05rem !important;
}

.table>:not(:first-child) {
  border-top: 0 !important;
}
