<div class="row gx-3" style="height: 100%; padding: 0 5px;">
    <div class="col-12">
        <div class="card-content">

            <div class="d-flex justify-content-end overflow-hidden xt-tabs-container">
                <dx-tabs class="xt-tabs-usuario-gestor" [scrollByContent]="true" [showNavButtons]="true"
                    [selectedIndex]="0" (onItemClick)="onTabChanged($event)">
                    <dxi-item>
                        <div *dxTemplate>
                            <i class="icon-tarea-sl"></i>
                            <span style="margin-left: 5px"> Usuario Gestor </span>
                        </div>
                    </dxi-item>
                    <dxi-item>
                        <div *dxTemplate>
                            <i class="icon-calendar-sl"></i>
                            <span style="margin-left: 5px;"> Grupos </span>
                        </div>
                    </dxi-item>
                </dx-tabs>
            </div>


            <div id="tabsContentUsuarioGestor" class="content dx-fieldset">
                <div *ngIf="tabsUsuarioGestor[0].content">
                    <div style="margin-top: 20px;">
                        <dx-data-grid height="80%" #gusu_gestor id="gusu_gestor" [dataSource]="DUsuariosGestor" [showBorders]="true"
                            keyExpr="ITEM" [allowColumnResizing]="true" [rowAlternationEnabled]="true"
                            [focusedRowEnabled]="true" [hoverStateEnabled]="true" columnResizingMode="nextColumn"
                            [columnAutoWidth]="true" (onRowInserting)="insertingRow($event)"
                            (onRowInserted)="insertedRow($event)" (onRowUpdating)="updatingRow($event)"
                            (onRowUpdated)="updateRowPro($event)" (onSaving)="onSaving($event)"
                            (onEditingStart)="onEditingStart($event)" (onRowRemoved)="deleteRowPro($event)"
                            (onInitNewRow)="onInitNewRowPro($event)" (onRowValidating)="onRowValidating($event)"
                            (onInitNewRow)="onInitNewRowPro($event)" (onSelectionChanged)="selectionGrid($event)"
                            (onContentReady)="onContentReady($event)" (onRowClick)="startEdit($event)" noDataText="">

                            <dxo-editing mode="row" [useIcons]="false" [allowUpdating]="false" [allowDeleting]="false"
                                [allowAdding]="esEdicion">
                                <dxo-texts confirmDeleteMessage="">
                                </dxo-texts>
                            </dxo-editing>

                            <dxo-selection selectAllMode="allPages" [showCheckBoxesMode]="esVisibleSelecc"
                                mode="multiple">
                            </dxo-selection>

                            <dxi-column dataField="ITEM" caption="#" [allowEditing]="false" width="5%"></dxi-column>
                            <dxi-column dataField="USUARIO" caption="Usuario" width="15%"></dxi-column>
                            <dxi-column dataField="NOMBRE" caption="Nombre" width="22%"></dxi-column>
                            <dxi-column dataField="PERFIL" caption="Perfil" width="10%" calculateDisplayValue="PERFIL">
                                <dxo-lookup [dataSource]="['Responsable','Empleado','Tercero']">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="PERMISOS" caption="Permisos" width="10%"></dxi-column>
                            <dxi-column dataField="ESTADO" caption="Estado" width="10%" calculateDisplayValue="ESTADO">
                                <dxo-lookup [dataSource]="['ACTIVO','INACTIVO']">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="IMAGEN" width="28%" caption="Imagen" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTempUsrImg"
                                editCellTemplate="editcellTempUsrImg"></dxi-column>

                            <div *dxTemplate="let datos of 'cellTempUsrImg'">
                                <div>
                                    <img [src]="datos.data.IMAGEN" />
                                </div>
                            </div>
                            <div *dxTemplate="let datos of 'editcellTempUsrImg'">
                                <div id="imgUsuario">
                                    <img [src]="usuarioImg" />
                                </div>
                            </div>

                            <dxo-toolbar *ngIf="esEdicion">
                                <dxi-item location="before">
                                    <div *dxTemplate>
                                        <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')"
                                            *ngIf="rowNew">
                                        </dx-button>
                                    </div>
                                </dxi-item>
                                <dxi-item location="before">
                                    <div *dxTemplate>
                                        <dx-button icon="edit" matTooltip="Editar" (onClick)="operGrid($event,'edit')"
                                            *ngIf="rowEdit">
                                        </dx-button>
                                    </div>
                                </dxi-item>
                                <dxi-item location="before">
                                    <div *dxTemplate>
                                        <dx-button icon="trash" matTooltip="Eliminar"
                                            (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
                                        </dx-button>
                                    </div>
                                </dxi-item>
                                <dxi-item location="before">
                                    <div *dxTemplate>
                                        <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')"
                                            *ngIf="rowApplyChanges">
                                        </dx-button>
                                    </div>
                                </dxi-item>
                                <dxi-item location="before">
                                    <div *dxTemplate>
                                        <dx-button icon="undo" matTooltip="Cancelar"
                                            (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
                                        </dx-button>
                                    </div>
                                </dxi-item>
                            </dxo-toolbar>

                        </dx-data-grid>

                        <app-barraimg (onClick)="imagenClick($event,usuarioEdicion)"
                            [events]="eventsBarraImg.asObservable()"></app-barraimg>

                    </div>
                </div>
                <div *ngIf="tabsUsuarioGestor[1].content">
                    <div style="margin-top: 20px; height: 75vh;">
                        <app-GES00401></app-GES00401>
                    </div>
                </div>
            </div>

            <!-- Grid contenido de cargos -->

        </div>
    </div>
</div>