<div class="row gx-3">
  <div class="col-12">
    <div class="card-content">
      <div class="container-child-dos-app xt-gesptabs" >
        <div>
          <dx-form
            #formCargos
            id="formCargos"
            [formData]="FCargos"
            colCount="1"
            labelLocation="left"
            [screenByWidth]="getSizeQualifier"
          >
            <dxi-item itemType="group">
              <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>

              <dxi-item dataField="TIPO">
                <dxo-label text="Tipo"></dxo-label>
                <div *dxTemplate>
                  <dx-select-box
                    #dropSelectTipo
                    id="dropSelectTipo"
                    [(value)]="FCargos.TIPO"
                    valueExpr="VALOR1"
                    displayExpr="VALOR1"
                    placeholder="Seleccione Tipo"
                    [readOnly]="readOnly"
                    [showClearButton]="true"
                    [(opened)]="openDropTipo"
                    [dataSource]="DlTipo"
                    [dropDownOptions]="{hideOnParentScroll: true, container:'#formCargos'}"
                    (onValueChanged)="onValueChangedTipo($event)"
                  ></dx-select-box>
                </div>
              </dxi-item>

              <dxi-item dataField="ESTADO" >
                <dxo-label text="Estado"></dxo-label>
                <div *dxTemplate>
                  <dx-select-box
                    #dropSelectEstado
                    id="dropSelectEstado"
                    [(value)]="FCargos.ESTADO"
                    placeholder="Seleccione Estado"
                    [readOnly]="readOnlyEstado"
                    [showClearButton]="true"
                    [(opened)]="openDropEstado"
                    [dataSource]="DlEstados"
                    [dropDownOptions]="{hideOnParentScroll: true, container:'#formCargos'}"
                    (onValueChanged)="onValueChangedEstado($event)"
                  ></dx-select-box>
                </div>
              </dxi-item>

              <dxi-item dataField="ID_CARGO">
                <dxo-label text="Id Cargo"></dxo-label>
                <div *dxTemplate>
                  <dx-text-box
                    placeholder="Id Cargo"
                    [readOnly]="true"
                    [value]="FCargos.ID_CARGO"
                    (onValueChanged)="onValueChangedIdCargo($event)"
                  ></dx-text-box>
                </div>
              </dxi-item>

              <dxi-item dataField="NOMBRE" >
                <dxo-label text="Nombre"></dxo-label>
                <div *dxTemplate>
                  <dx-text-box
                    placeholder="Nombre del cargo."
                    [readOnly]="readOnlyFcargos"
                    [value]="FCargos.NOMBRE"
                    (onValueChanged)="onValueChangedNombre($event)"
                  ></dx-text-box>
                </div>
              </dxi-item>

              <dxi-item dataField="DESCRIPCION" >
                <dxo-label text="Misión del cargo"></dxo-label>
                <div *dxTemplate>
                  <dx-text-box
                    placeholder="Misión del cargo."
                    [readOnly]="readOnlyFcargos"
                    [value]="FCargos.DESCRIPCION"
                    (onValueChanged)="onValueChangedDescripcion($event)"
                  ></dx-text-box>
                </div>
              </dxi-item>

            </dxi-item>

          </dx-form>

        </div>
        <br>
        <cdk-accordion class="accordion-container unbg-input" [multi]="true">
          <cdk-accordion-item
            *ngFor="let item of items; let index = index;"
            #accordionItem="cdkAccordionItem"
            class="accordion-item"
            role="button"
            tabindex="0"
            [expanded]="accordionExpand[index]"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index"
          >
            <div
              (click)="accordionItem.toggle()"
              class="accordion-item-header"
              [ngStyle]="{'background-color': accordionItem.expanded ? 'transparent' : '', 'border-radius': accordionItem.expanded ? '10px 10px 0 0' : '' }"
            >

              <div class="accordion-item-group" >
                <div>
                  <span class="accordion-item-description" *ngIf="accordionItem.expanded">
                    <i class="icon-chevron-up-xs"></i>
                  </span>
                  <span class="accordion-item-description" *ngIf="!accordionItem.expanded">
                    <i class="icon-chevron-down-xs"></i>
                  </span>
                </div>
                <span class="accordion-caption"> {{ item }} </span>
              </div>
            </div>

            <!-- PESTAÑAS/COMPONENTES -->
            <div
              class="accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? 'flex' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index"
            >
              <div *ngIf="item === 'Responsabilidades'">
                <GES000-COMPONENT
                  [events]="eventsSubjectDatos.asObservable()"
                  [(datosEntrada)]="DATOS_CONFIG"
                  [(readOnly)]="readOnlyFcargos"
                  (onRespuestaComponent)="onRespuestaComponent($event)"
                ></GES000-COMPONENT>
              </div>
              <div *ngIf="item === 'Responsables'">
                <app-ges00302
                  [APLICACION]="prmUsrAplBarReg.aplicacion"
                  [Datos]="FCargos"
                  (DatosResponsables)="opCargarResponsables($event)"
                ></app-ges00302>
              </div>
            </div>

          </cdk-accordion-item>
        </cdk-accordion>

      </div>
    </div>
  </div>
</div>


<app-vistarapida id="vistaGes003" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>

<div style="height:1px; width:1px; visibility: hidden;">
  <dx-scheduler
    #schedulerProg
    id="schedulerProg"
    timeZone="America/Los_Angeles"
    [dataSource]="dataProg"
    [views]="['week', 'month']"
    currentView="week"
    [currentDate]="fechaHoy"
    [startDayHour]="9"
  >
  </dx-scheduler>
</div>
