<dx-gantt
  #ganttSimulador
  id="ganttSimulador"
  width="100%"
  height="630"
  scaleType="days"
  [rootValue]="-1"
  [taskListWidth]="550"
  (onTaskClick)="onTaskClick($event)"
>
  <dxo-tasks
    keyExpr="CODIGO"
    parentIdExpr="CODIGO_PADRE"
    titleExpr="NOMBRE_SECCION"
    startExpr="FI"
    endExpr="FF"
    [dataSource]="DetalleProgramacion"
  ></dxo-tasks>
  <dxo-resources
    keyExpr="CODIGO"
    textExpr="NOMBRE_SECCION"
    [dataSource]="DetalleProgramacion"
  ></dxo-resources>
  <!-- <dxo-resource-assignments
    keyExpr="ID_PARTE"
    resourceIdExpr="CODIGO"
    taskIdExpr="ID_PARTE"
    [dataSource]="DetalleProgramacion"
  ></dxo-resource-assignments> -->
  <!-- <dxo-dependencies
    keyExpr="ID_PARTE"
    [dataSource]="DetalleProgramacion"
  ></dxo-dependencies> -->

  <dxi-strip-line
    [start]="currentTime"
    title="Fecha de Entrega"
    cssClass="current-time"
  ></dxi-strip-line>

  <dxi-strip-line
    [start]="curremTimeStart"
    [end]="curremTimeEnd"
    title="Final Phase"
  ></dxi-strip-line>

  <dxi-column
    dataField="NOMBRE_SECCION"
    caption="Nombre Sección"
    [width]="300"
  ></dxi-column>
  <dxi-column
    dataField="FI"
    caption="Fecha inicial"
    dataType="datetime"
  ></dxi-column>
  <dxi-column
    dataField="FF"
    caption="Fecha final"
    dataType="datetime"
  ></dxi-column>
  <dxo-toolbar>
    <dxi-item name="collapseAll"></dxi-item>
    <dxi-item name="expandAll"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item name="zoomIn"></dxi-item>
    <dxi-item name="zoomOut"></dxi-item>
  </dxo-toolbar>

  <dxo-validation [autoUpdateParentTasks]="true"></dxo-validation>
  <dxo-editing [enabled]="true"></dxo-editing>
</dx-gantt>