<div class="row gx-3">
    <div class="col-12">
        <div class="card-content" id="CXP200" #CXP200>
            <div class="container-child-dos-app xt-gesptabs" >

                <dx-tabs
                    class="xt-tabs-gespro"
                    [scrollByContent]="true"
                    [showNavButtons]="true"
                    [(selectedIndex)]="selectedTab"
                    (onItemClick)="onTabChanged($event)"
                    >
                    <dxi-item>
                        <div *dxTemplate>
                            <i class="icon-tarea-sl" ></i>
                            <span style="margin-left: 5px;"> Ordenes de compra </span>
                        </div>
                    </dxi-item>
                    <dxi-item>
                        <div *dxTemplate>
                            <i class="icon-tarea-sl" ></i>
                            <span style="margin-left: 5px;"> Consultas </span>
                        </div>
                    </dxi-item>
                </dx-tabs>

                <div id="tabsContentGespro" class="content dx-fieldset">
                    <div [style.display]="tabVisible[0]">
                        <app-COM20203             
                            (onRespuestaSelecc)="onSeleccOC($event)" >
                        </app-COM20203>
                    </div>
                    <div [style.display]="tabVisible[1]">
                        <app-COM20202
                            [events]="eventsSubjectAcciones.asObservable()" >
                        </app-COM20202>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
