<div>
  <dx-form #formPYT id="formPYT" labelLocation="left" [colCount]="1" [formData]="FProyectos"
    [readOnly]="objReadOnly.readOnly">
    <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
    <dxi-item dataField="ID_DOCUMENTO">
      <dxo-label text="Código"></dxo-label>
      <div *dxTemplate>
        <dx-text-box #textDocumento placeholder="Código" [readOnly]="true" [(value)]="FProyectos.ID_DOCUMENTO"
          (onValueChanged)="onValueChanged($event, 'ID_DOCUMENTO')"></dx-text-box>
      </div>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
      <dxi-item dataField="ESTADO">
        <dxo-label text="Estado"></dxo-label>
        <div *dxTemplate>
          <dx-select-box placeholder="Seleccion Estado" [readOnly]="objReadOnly.readonlyStatus"
            [(value)]="FProyectos.ESTADO" [dataSource]="['ACTIVO', 'INACTIVO']"
            (onValueChanged)="onValueChanged($event, 'ESTADO')"></dx-select-box>
        </div>
      </dxi-item>
      <dxi-item dataField="RESPONSABLE">
        <dxo-label text="Responsable"></dxo-label>
        <div *dxTemplate>
          <dx-select-box displayExpr="NOMBRE" valueExpr="ID_RESPONSABLE" placeholder="Seleccione un Responsable"
            [searchEnabled]="true" [readOnly]="objReadOnly.readOnly" [value]="FProyectos.RESPONSABLE"
            [dataSource]="DResponsables" (onValueChanged)="onValueChanged($event, 'RESPONSABLE')"></dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item dataField="NOMBRE">
      <dxo-label text="Proyecto"></dxo-label>
      <div *dxTemplate>
        <dx-text-box placeholder="Nombre del Proyecto" [readOnly]="objReadOnly.readOnly" [(value)]="FProyectos.NOMBRE"
          (onValueChanged)="onValueChanged($event, 'NOMBRE')"></dx-text-box>
      </div>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
      <dxi-item dataField="FECHA_INICIO">
        <dxo-label text="Fecha inicial"></dxo-label>
        <div *dxTemplate>
          <dx-date-box placeholder="d/m/aa" [readOnly]="objReadOnly.readOnly" [(value)]="FProyectos.FECHA_INICIO"
            (onValueChanged)="onValueChanged($event, 'FECHA_INICIO')"></dx-date-box>
        </div>
      </dxi-item>
      <dxi-item dataField="FECHA_FIN">
        <dxo-label text="Fecha final"></dxo-label>
        <div *dxTemplate>
          <dx-date-box placeholder="d/m/aa" [readOnly]="objReadOnly.readOnly" [(value)]="FProyectos.FECHA_FIN"
            type="date" [inputAttr]="{ 'aria-label': 'Date And Time' }"
            (onValueChanged)="onValueChanged($event, 'FECHA_FIN')"></dx-date-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item dataField="PLANTILLA" editorType="dxSelectBox">
      <dxo-label text="Plantilla"></dxo-label>
      <div *dxTemplate>
        <dx-drop-down-box #dropPlantillas id="dropPlantillas" valueExpr="ID_DOCUMENTO" displayExpr="NOMBRE"
          placeholder="Seleccione una Plantilla" [dataSource]="DPlantillas" [(opened)]="isGridBoxOpened"
          [showClearButton]="true" [readOnly]="objReadOnly.readOnlyPlantilla" [(value)]="selectPlantilla"
          contentTemplate="contentTemplate" [dropDownOptions]="{
            width: 500,
            height: 300,
            hideOnParentScroll: true,
            container: '#formPYT'
          }" (onValueChanged)="onValueChanged($event, 'PLANTILLA')">
          <div *dxTemplate="let data of 'contentTemplate'">
            <dx-data-grid width="100%" height="100%" keyExpr="ID_DOCUMENTO" [columnAutoWidth]="true"
              [focusedRowEnabled]="true" [hoverStateEnabled]="true" [hoverStateEnabled]="true"
              [allowColumnResizing]="true" [rowAlternationEnabled]="true" [dataSource]="DPlantillas"
              [(selectedRowKeys)]="selectPlantilla" (onSelectionChanged)="onSelectPlantilla($event)">
              <dxo-selection mode="single"></dxo-selection>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-search-panel [width]="300" [visible]="true"></dxo-search-panel>

              <dxi-column dataField="ID_DOCUMENTO" caption="Código"></dxi-column>
              <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
              <dxi-column dataField="CATEGORIA" caption="Categoria"></dxi-column>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
    </dxi-item>
    <dxi-item dataField="AVANCE">
      <dxo-label text="Avance"></dxo-label>
      <div *dxTemplate>
        <dx-progress-bar #progressBar id="progress-bar-status" width="100%"
          [elementAttr]="{ 'aria-label': 'Progress Bar' }" [class.complete]="FProyectos.AVANCE == maxValue" [min]="0"
          [max]="maxValue" [statusFormat]="format" [value]="FProyectos.AVANCE">
        </dx-progress-bar>
      </div>
    </dxi-item>
    <dxi-item dataField="DESCRIPCION">
      <dxo-label text="Descripción"></dxo-label>
      <div *dxTemplate>
        <dx-text-area id="txtDescripcionPlantilla" placeholder="Descripción..." [height]="50" [spellcheck]="true"
          [autoResizeEnabled]="false" [readOnly]="objReadOnly.readOnly" [(value)]="FProyectos.DESCRIPCION"
          (onValueChanged)="onValueChanged($event, 'DESCRIPCION')"></dx-text-area>
      </div>
    </dxi-item>

    <dxi-item dataField="REFERENCIA" editorType="dxSelectBox">
      <dxo-label text="Código de referencia"></dxo-label>
      <div *dxTemplate style="display: flex; gap: 5px;">
        <dx-drop-down-box #dropReferencias id="dropReferencias" valueExpr="ID" displayExpr="NOMBRE"
          placeholder="Seleccione una valor" [dataSource]="REFERENCIAS" [(opened)]="isGridBoxOpenedReferencia"
          [showClearButton]="true" [readOnly]="objReadOnly.referencia" [(value)]="FProyectos.REFERENCIA" width="90%"
          contentTemplate="contentTemplateReferencias" [dropDownOptions]="{
            width: 500,
            height: 300,
            hideOnParentScroll: true,
            container: '#formPYT'
          }" (onValueChanged)="onValueChanged($event, 'REFERENCIA')">
          <div *dxTemplate="let data of 'contentTemplateReferencias'">
            <div *ngIf="!isActiveGridReferencias" style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; color: #0a396073;">
              <span>No hay Tipo de Plantilla Cargada.</span>
            </div>
            <dx-data-grid *ngIf="isActiveGridReferencias"
              width="100%" height="100%" keyExpr="ID" [columnAutoWidth]="true" [focusedRowEnabled]="true"
              [hoverStateEnabled]="true" [hoverStateEnabled]="true" [allowColumnResizing]="true"
              [rowAlternationEnabled]="true" [dataSource]="REFERENCIAS" [(selectedRowKeys)]="selectReferencia"
              (onSelectionChanged)="onSelectReferencia($event)">
              <dxo-selection mode="single"></dxo-selection>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-search-panel [width]="300" [visible]="true"></dxo-search-panel>

              <dxi-column dataField="ID" caption="Código"></dxi-column>
              <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
        <!-- <div>
          <button (onclick)="viewReferencia()">
            <i class="icon-configurar-ol" style="font-size: 15;"></i>
          </button>
        </div> -->
      </div>
    </dxi-item>
    <!-- FOTO -->
  </dx-form>
</div>
<br />

<div id="kanban">
  <div style="width: 100%">
    <div class="content_treeList">
      <GES000-COMPONENT [events]="eventsSubjectDatos.asObservable()" [(datosEntrada)]="DATOS_CONFIG"
        [(readOnly)]="objReadOnly.readOnly" (onRespuestaComponent)="onRespuestaComponent($event)"></GES000-COMPONENT>
    </div>
  </div>

  <dx-load-panel #loadPanelPro shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#router-container' }"
    [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
    message="Un momento. Cargando consulta..." [hideOnOutsideClick]="false"></dx-load-panel>
</div>