.content_treeList {
  height: 55vh;
}

/* moviles */
@media screen and (max-width: 768px) {
  .content_treeList {
    height: 55vh;
  }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 1089px) {
  .content_treeList {
    height: 55vh;
  }
}
@media screen and (max-width: 1920px) and (max-height: 945px) {
  .content_treeList {
    height: 58vh;
  }
}
/* pc - tv */
@media screen and (min-width: 1920px) and (min-height: 1065px) {
  .content_treeList {
    height: 63vh;
  }
}
@media screen and (width: 1920px) and (height: 945px) {
  .content_treeList {
    height: 59vh;
  }
}
