<dx-popup
  #popUpFechaEvento
  id="popUpFechaEvento"
  width="auto"
  height="auto"
  [showTitle]="true"
  [title]="DFechaPlan.NOMBRE"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="false"
  [(visible)]="popupVisible"
  >
  <div *dxTemplate="let data of 'content'">
    <dx-form
      id="formFechaEvento"
      [formData]="DFechaPlan"
      repaintChangesOnly="false"
      [colCount]="colsForma"
      >
      <dxi-item itemType="group" caption="" [colCount]="2" >
        <dxi-item dataField="FECHA_INICIO">
          <dxo-label text="Fecha inicio"></dxo-label>
          <div *dxTemplate>
            <!-- <dx-date-box
            type="date"
            [value]="DFechaPlan.FECHA_INICIO"
            (onValueChanged)="onChangeFechaDesde($event)"
          ></dx-date-box> -->
          <dx-calendar
            #calendar
            [(value)]="DFechaPlan.FECHA_INICIO"
            [showWeekNumbers]="false"
            [disabled]="false"
            [firstDayOfWeek]="0"
            [zoomLevel]="zoomLevels[0]"
            weekNumberRule="auto"
            >
            <!-- <span
            *dxTemplate="let cell of 'custom'"
            [ngClass]="getCellCssClass(cell)"
            >
            {{ cell.text }}
          </span> -->
        </dx-calendar>
      </div>
    </dxi-item>

    <dxi-item dataField="FECHA_FIN">
      <dxo-label text="Fecha final"></dxo-label>
      <div *dxTemplate>
        <!-- <dx-date-box
        type="date"
        [value]="DFechaPlan.FECHA_FIN"
        (onValueChanged)="onChangeFechaHasta($event)"
      ></dx-date-box> -->
      <dx-calendar
        #calendar
        [(value)]="DFechaPlan.FECHA_FIN"
        [showWeekNumbers]="false"
        [disabled]="false"
        [firstDayOfWeek]="0"
        [zoomLevel]="zoomLevels[0]"
        weekNumberRule="auto"
        >
        <!-- <span
        *dxTemplate="let cell of 'custom'"
        [ngClass]="getCellCssClass(cell)"
        >
        {{ cell.text }}
      </span> -->
    </dx-calendar>
  </div>
</dxi-item>

<dxi-item dataField="TODO_DIA">
  <dxo-label text="Todo el día"></dxo-label>
  <div *dxTemplate>
    <dx-switch [value]="true"></dx-switch>
  </div>
</dxi-item>

<dxi-item dataField="REPETIR">
  <dxo-label text="Repetir"></dxo-label>
  <div *dxTemplate>
    <dx-switch [value]="DFechaPlan.REPETIR" (onValueChanged)="onCangeRepetir($event)"></dx-switch>
  </div>
</dxi-item>

<dxi-item>
  <div *dxTemplate>
    <dx-button
      text="Aceptar"
      stylingMode="contained"
      type="success"
      (onClick)="clickAccionFecha('aceptar')">
    </dx-button>
  </div>
</dxi-item>

<dxi-item>
  <div *dxTemplate>
    <dx-button
      text="Cancelar"
      stylingMode="contained"
      type="normal"
      (onClick)="clickAccionFecha('cancelar')">
    </dx-button>
  </div>
</dxi-item>

</dxi-item>

@if (visibleRepetir) {
  <dxi-item itemType="group" caption="" >
    <dxi-item dataField="FRECUENCIA">
      <dxo-label text="Repetir"></dxo-label>
      <div *dxTemplate>
        <dx-select-box
          [items]="['Cada hora','Diario','Semanal','Mensual','Anual']"
          [(value)]="DFechaPlan.FRECUENCIA"
          (onValueChanged)="onValueRepetirModo($event)"
        ></dx-select-box>
      </div>
    </dxi-item>
    <dxi-item dataField="REPETIR_FRECUENCIA">
      <dxo-label [text]="titRepetirFrec"></dxo-label>
      <div *dxTemplate>
        <dx-number-box
          [width]="100"
          format="#"
          [value]="DFechaPlan.REPETIR_FRECUENCIA"
          [showSpinButtons]="true"
          [min]="1"
          [max]="9999"
        ></dx-number-box>
      </div>
    </dxi-item>
    @if (DFechaPlan.FRECUENCIA=='Semanal') {
      <dxi-item dataField="REPETIR_DIA_SEMANA">
        <dxo-label text="Repetir en"></dxo-label>
        <div *dxTemplate>
          <dx-button-group
            stylingMode="outlined"
            [items]="DDiaSemana"
            buttonTemplate="tempBtnDias"
            selectionMode="multiple"
            [(selectedItemKeys)]="selectedDiasSemana"
            (onSelectionChanged)="selectDia($event)"
            >
            <div *dxTemplate="let buttonData of 'tempBtnDias'">
              {{ buttonData.text }}
            </div>
          </dx-button-group>
        </div>
      </dxi-item>
    }
    @if (DFechaPlan.FRECUENCIA == 'Mensual') {
      <dxi-item dataField="REPETIR_EN_DIA">
        <dxo-label [text]="titRepetirDia"></dxo-label>
        <div *dxTemplate>
          <dx-number-box
            [width]="100"
            format="#"
            [value]="1"
            [showSpinButtons]="true"
            [min]="1"
            [max]="31"
            [inputAttr]="{ 'aria-label': 'Integer Format' }"
          ></dx-number-box>
        </div>
      </dxi-item>
    }
    @if (DFechaPlan.FRECUENCIA == 'Anual') {
      <dxi-item >
        <dxo-label text="Repetir en"></dxo-label>
        <div *dxTemplate>
          <div style="display: inline;">
            <div style="display: inline-block;">
              <dx-select-box
                [items]="DMeses"
                [(value)]="DFechaPlan.REPETIR_MES"
                [inputAttr]="{ 'aria-label': 'Simple Product' }"
                (onValueChanged)="onValueRepetirMes($event)"
              ></dx-select-box>
            </div>
            <div style="display: inline-block; padding-left: 20px;">
              <dx-number-box
                format="#"
                [width]="100"
                [value]="1"
                [showSpinButtons]="true"
                [min]="1"
                [max]="maxDiaMes"
                [inputAttr]="{ 'aria-label': 'Integer Format' }"
              ></dx-number-box>
            </div>
          </div>
        </div>
      </dxi-item>
    }
    <dxi-item itemType="group" caption="Fin repetición" >
      <dxi-item caption="">
        <div *dxTemplate>
          <dx-radio-group
            [items]="DListaFinRepeticion"
            [(value)]="valorFinRep"
            >
            <div *dxTemplate="let valorFin of 'item'">
              <div style="display: inline;">
                {{ valorFin }}
                @if (valorFin=='Hasta') {
                  <div style="display: inline-block; padding-left: 20px;">
                    <dx-date-box
                      type="date"
                      [value]="fechaHoy"
                      [inputAttr]="{ 'aria-label': 'Date' }"
                    ></dx-date-box>
                  </div>
                }
                @if (valorFin=='Despues de') {
                  <div style="display: inline-block; padding-left: 20px;">
                    <dx-number-box
                      [width]="100"
                      format="#"
                      [value]="1"
                      [showSpinButtons]="true"
                      [min]="1"
                      [max]="9999"
                      [inputAttr]="{ 'aria-label': 'Integer Format' }"
                    ></dx-number-box>
                  </div>
                }
                @if (valorFin=='Despues de') {
                  <div style="display: inline-block; padding-left: 20px;">
                    ocurrencia(s)
                  </div>
                }
              </div>
            </div>
          </dx-radio-group>
        </div>
      </dxi-item>
    </dxi-item>
  </dxi-item>
}
</dx-form>
</div>
</dx-popup>

