<div class="xtein-adm015-permisos">
  <dx-data-grid
    #gridPermisosEspeciales
    keyExpr="TRANSACCION"
    [dataSource]="permisosEspeciales"
    [showBorders]="false"
    [showRowLines]="false"
    [showColumnLines]="false"
    [rowAlternationEnabled]="false"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    [allowColumnResizing]="true"
    columnResizingMode="nextColumn"
    noDataText=""
  >
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 20, 30, 50]" [showInfo]="true"></dxo-pager>

    <dxi-column
      dataField="TRANSACCION"
      caption="Nombre Transacción"
      [allowEditing]="false"
    ></dxi-column>

    <dxi-column
      dataField="PERMISO"
      caption="Permisos"
      [width]="120"
      alignment="center"
      cellTemplate="permisoCell"
    ></dxi-column>

    <dxi-column
      dataField="APROBACION"
      caption="Apro. Permisos"
      [width]="130"
      alignment="center"
      cellTemplate="aprobacionCell"
    ></dxi-column>

    <dxi-column
      dataField="NOMBRE"
      caption="Descripción de la Transacción"
      [allowEditing]="false"
    ></dxi-column>

    <div *dxTemplate="let cell of 'permisoCell'">
      <dx-check-box
        [value]="!!cell.value"
        [readOnly]="readOnly"
        (onValueChanged)="onPermisoChanged(cell.data, $event.value)"
      ></dx-check-box>
    </div>

    <div *dxTemplate="let cell of 'aprobacionCell'">
      <dx-check-box
        [value]="!!cell.value"
        [readOnly]="readOnly"
        (onValueChanged)="onAprobacionChanged(cell.data, $event.value)"
      ></dx-check-box>
    </div>
  </dx-data-grid>
</div>
