::ng-deep .dx-recurrence-radiogroup-repeat-type .dx-item {
  width: 100% !important;
  display: flex;
  align-items: center;
  gap: 14px;
}

::ng-deep .dx-item-content .dx-box-item-content .dx-box-flex .dx-box .dx-widget .dx-collection {
  flex-direction: column !important;
}

::ng-deep .dx-tag-content {
  width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

::ng-deep .dx-scheduler-appointment-popup .dx-scrollable-content {
  width: 200px;
}
