<!-- Grid Cuentas por Pagar -->
<div class="row gx-3">
    <div class="col-12">
        <div class="card-content">
            <div class="container-child-dos-app xt-gesptabs" >
                <div class="d-flex justify-content-end overflow-hidden xt-tabs-container">
                    <dx-tabs
                      class="xt-tabs-gespro"
                      [scrollByContent]="true"
                      [showNavButtons]="true"
                      [selectedIndex]="0"
                      (onItemClick)="onTabChanged($event)"
                    >
                      <dxi-item>
                          <div *dxTemplate>
                            <i class="icon-tarea-sl" ></i>
                            <span style="margin-left: 5px;"> Cuentas por Cobrar </span>
                          </div>
                      </dxi-item>
                      <dxi-item>
                        <div *dxTemplate>
                          <i class="icon-postit-ol" ></i>
                          <span style="margin-left: 5px;"> Preparaciones </span>
                        </div>
                      </dxi-item>
                      <dxi-item>
                        <div *dxTemplate>
                          <i class="icon-calendar-sl" ></i>
                          <span style="margin-left: 5px;"> Egresos </span>
                        </div>
                      </dxi-item>
                    </dx-tabs>
                </div>

                <dx-data-grid
                    #gridCuentasPagar
                    id="gridCuentasPagar"
                    [dataSource]="DCuentasPagar"
                    [columnAutoWidth]="true"
                    columnResizingMode="widget"
                    [allowColumnResizing]="true"
                    [allowColumnReordering]="true"
                    [focusedRowEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    keyExpr="ITEM"
                    height="100%"
                    noDataText=""
                    [showBorders]="true"
                    [customizeColumns]="customizeColumns"
                    (onCellPrepared)="onCellPrepared($event)"
                    (onSelectionChanged)="selectionGrid($event)"
                    (onFocusedRowChanged)="onFocusedRowChanged($event)"
                    (onCellClick)="onCellClick($event)"
                    (onCellPrepared)="onCellPrepared($event)"
                    (onCellHoverChanged)="onCellHoverChanged($event)"
                    (onExporting)="onExporting($event)"
                    (onContentReady)="onContentReady($event)"
                    (onToolbarPreparing)="onToolbarPreparing($event)"
                >
                    <dxo-toolbar>
                        <dxi-item name="searchPanel"></dxi-item>
                        <dxi-item name="exportButton">
                            <!-- <div *dxTemplate >
                                <dx-drop-down-button
                                    id="dropDownExportButton"
                                    [splitButton]="true"
                                    [useSelectMode]="false"
                                    [items]="ExportButton"
                                    displayExpr="DESCRIPCION"
                                    keyExpr="ID"
                                    width="60px"
                                    icon="export"
                                    [(opened)]="openDropExportButton"
                                    [dropDownOptions]="{ width: 150, hideOnParentScroll: true, container:'#router-container' }"
                                ></dx-drop-down-button>
                            </div> -->
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate >
                                <dx-select-box
                                    [dataSource]="DFiltroOC"
                                    [(value)]="filtroDefecto"
                                    displayExpr="FILTRO"
                                    valueExpr="FILTRO"
                                    width="300"
                                    (onItemClick)="onSeleccFiltro($event)"
                                ></dx-select-box>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate >
                                <span class="total-header"> Total pre-egreso: </span>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div class="unbg-input" *dxTemplate >
                                <dx-text-box
                                    [value]="totalPreEgreso"
                                    placeholder="Total marcado pago"
                                    [elementAttr]="{
                                        id: 'totalSelecc',
                                        class: 'total-selecc'
                                        }"
                                    [readOnly]="readOnly">
                                </dx-text-box>
                            </div>
                        </dxi-item>
                    </dxo-toolbar>
            
                    <dxo-sorting mode="multiple"></dxo-sorting>
                    <!-- <dxo-column-fixing [enabled]="true"></dxo-column-fixing> -->
                    <dxo-filter-row 
                        [visible]="true"></dxo-filter-row>
                    <dxo-header-filter 
                        [visible]="true"></dxo-header-filter>
            
                    <!--<dxo-selection mode="single"></dxo-selection>-->
                    <dxo-search-panel 
                        [visible]="true" 
                        [width]="300" 
                        placeholder="Buscar...">
                    </dxo-search-panel>
            
                    <dxo-paging 
                        [pageSize]="20">
                    </dxo-paging>
                    <dxo-pager 
                        [visible]="true" 
                        [allowedPageSizes]="allowedPageSizes" 
                        displayMode="full"
                        [showPageSizeSelector]="true" 
                        [showInfo]="true" 
                        [showNavigationButtons]="true">
                    </dxo-pager>
            
                    <!-- <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export> -->
                    <dxo-export
                        [enabled]="true"
                        [formats]="['pdf','xls']"
                        [allowExportSelectedData]="true"
                    ></dxo-export>

                    <div *dxTemplate="let cellInfo of 'tempAcreedor'">
                        <dx-drop-down-button
                            *ngIf="cellInfo.data.NOMBRE != 'Totales'"
                            [text]="cellInfo.data.ID_ACREEDOR"
                            [items]="accionesCXP"
                            keyExpr="id"
                            displayExpr="text"
                            width="100%"
                            (onItemClick)="accionClick($event)"
                            [splitButton]="true"
                            (onButtonClick)="onCellClick(cellInfo)"
                            [dropDownOptions]="dropDownOptionsCXP"
                        ></dx-drop-down-button>
                    </div>

                </dx-data-grid>

            </div>
      
        </div>
    </div>
</div>


<dx-load-panel
    #loaderPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#gridCuentasPagar' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    message="Un momento. Cargando datos..."
    [hideOnOutsideClick]="false"
></dx-load-panel>

<app-CXP20101
  [events]="eventsSubjectFactPrv.asObservable()"
  (onRespuestaSelecc)="onRespuestaFactPrv($event)"
  >
</app-CXP20101>

<app-CXP20102
  [events]="eventsSubjectPreEgreso.asObservable()"
  (onRespuestaSelecc)="onRespuestaPreEgreso($event)"
  >
</app-CXP20102>

<app-CXP20103
  [events]="eventsSubjectGenElec.asObservable()"
  (onRespuestaSelecc)="onRespuestaGenElec($event)"
  >
</app-CXP20103>

<app-CXP20104
    [events]="eventsSubjectGenSendEgreso.asObservable()"
    (onRespuestaSelecc)="onRespuestaGenSendEgreso($event)"
    >
</app-CXP20104>