<div style="margin-top: 20px;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
      <h4 style="margin: 0;">Asignación de Consecutivos</h4>
  </div>


    <dx-data-grid 
    #gridRefRA
    id="" 
    [dataSource]="dataSource"
    [showBorders]="true" 
    [columnAutoWidth]="true" 
    [showRowLines]="true"
    (onSelectionChanged)="selectionGridRA($event)"
    (onRowInserting)="onGridRowInsertingRA($event)"
  >
      
    <dxo-editing 
        mode="row"
        [allowUpdating]="false"
        [allowAdding]="false"   
        [allowDeleting]="false"
        [useIcons]="false"
    >
      <dxo-texts 
          confirmDeleteMessage=""
          cancelRowChanges=""
          saveRowChanges=""
          deleteRow=""
          editRow=""
          saveAllChanges=""
          cancelAllChanges="">
      </dxo-texts>
    </dxo-editing>
    
    
    <dxo-selection
      selectAllMode="allPages"
      [showCheckBoxesMode]="!readOnly ? 'always' : 'none'"
      mode="multiple">
    </dxo-selection>
    
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-search-panel [visible]="true" [width]="380" ></dxo-search-panel>
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

    <dxi-column dataField="INICIAL" caption="INICIAL" alignment="left" dataType="number">
        <dxi-validation-rule type="required" ></dxi-validation-rule>
    </dxi-column>
    
    <dxi-column dataField="FINAL" caption="FINAL" alignment="left" dataType="number">
        <dxi-validation-rule type="required" ></dxi-validation-rule>
    </dxi-column>
    
    <dxi-column dataField="DISPONIBLE" caption="DISPONIBLE" alignment="left" dataType="number">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        
    </dxi-column>

    <dxi-column dataField="FECHA" caption="FECHA" alignment="left" dataType="date">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="ESTADO" caption="ESTADO" alignment="left" dataType="string">
      <dxi-validation-rule type="required" message="El estado es requerido"></dxi-validation-rule>
      <dxo-lookup 
        [dataSource]="[
            { id: 'ACTIVO', name: 'ACTIVO' }, 
            { id: 'INACTIVO', name: 'INACTIVO' }
        ]"
        valueExpr="id"
        displayExpr="name">
      </dxo-lookup>
    </dxi-column>

    <dxo-toolbar *ngIf="!readOnly">
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGridRA($event,'new')" *ngIf="rowNewRA">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGridRA($event,'edit')" *ngIf="rowEditRA"></dx-button>
          </div>
        </dxi-item> 
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGridRA($event,'delete')" *ngIf="rowDeleteRA">
            </dx-button>
          </div>
        </dxi-item>
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGridRA($event,'save')" *ngIf="rowApplyChangesRA">
            </dx-button>
          </div>
        </dxi-item>
        <dxi-item location="before">
          <div *dxTemplate>
            <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGridRA($event,'cancel')" *ngIf="rowApplyChangesRA"></dx-button>
          </div>
        </dxi-item>
    </dxo-toolbar>

  </dx-data-grid>  
</div>