.box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-principal {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.box-one {
  width: 59%;
  max-height: 320px;
  padding: 1.25rem 1rem;
  background-color: #ffff;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26); 
  -webkit-box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26); 
  -moz-box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26);
}

.box-two {
  width: 40%;
  max-height: 320px;
  background-color: #ffff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26); 
  -webkit-box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26); 
  -moz-box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26);
}

.box-three {
  width: 100%;
  min-height: 300px;
  padding: 1.25rem 1rem;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26); 
  -webkit-box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26); 
  -moz-box-shadow: 0px 3px 5px 0px rgba(201,201,201,0.26);
}

.xt-title {
  text-align: left;
  position: absolute;
  top: 12px;
  z-index: 1;
  margin-left: .65rem;
}

.container-radio-bottom {
  display: flex;
  align-items: center;
  width: 50%;
}

.card-color-grey .card {
  background: #f2f2f2;
}

::ng-deep #gridMateriales > div > div.dx-datagrid-rowsview.dx-last-row-border.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated > div > div > div.dx-scrollable-content > div > table > colgroup > col:nth-child(2) {
  width: 3% !important;
}

::ng-deep #gridManoObra > div > div.dx-datagrid-rowsview.dx-last-row-border.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated > div > div > div.dx-scrollable-content > div > table > colgroup > col:nth-child(1) {
  width: 3% !important;
}

::ng-deep #gridManoObra > div > div.dx-datagrid-rowsview.dx-last-row-border.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated > div > div > div.dx-scrollable-content > div > table > colgroup > col:nth-child(2) {
  width: 3% !important;
}
