<dx-form #formIdentificacion id="formIdentificacion" [(formData)]="FIdentificacion" [readOnly]="readOnly"
  labelLocation="left" colCount="1">
  <dxi-item caption="INVENTARIO" itemType="group">
    <dxi-item dataField="INVENTARIO" editorType="dxSelectBox">
      <dxo-label text="Tipo"></dxo-label>
      <div *dxTemplate>
        <dx-select-box [dataSource]="['NINGUNO', 'PERIODO', 'PERMANENTE']" [value]="FIdentificacion.INVENTARIO"
          [readOnly]="readOnly" placeholder="Seleccione Tipo"
          (onValueChanged)="onValueChangedForm($event, 'INVENTARIO')">

        </dx-select-box>
      </div>
    </dxi-item>
    <dxi-item dataField="COSTEO_INVENTARIO" editorType="dxSelectBox">
      <dxo-label text="Costeo"></dxo-label>
      <div *dxTemplate>
        <dx-select-box [dataSource]="['PROMEDIO', 'LIFO', 'FIFO']" [value]="FIdentificacion.COSTEO_INVENTARIO"
          [readOnly]="readOnly" placeholder="Seleccione Costeo"
          (onValueChanged)="onValueChangedForm($event, 'COSTEO_INVENTARIO')">
        </dx-select-box>
      </div>
    </dxi-item>
  </dxi-item>

  <dxi-item caption="ACTIVIDAD" itemType="group">
    <dxi-item dataField="TIPO_ACTIVIDAD" editorType="dxSelectBox">
      <dxo-label text="Tipo"></dxo-label>
      <div *dxTemplate>
        <dx-select-box [dataSource]="DActividad" valueExpr="TEXT" displayExpr="TEXT"
          [value]="FIdentificacion.TIPO_ACTIVIDAD" [readOnly]="readOnly" [searchEnabled]="true" [searchExpr]="['VALOR']"
          placeholder="Seleccione Tipo" (onValueChanged)="onValueChangedForm($event, 'TIPO_ACTIVIDAD')">
        </dx-select-box>
      </div>
    </dxi-item>
    <dxi-item dataField="ID_ACTIVIDAD" editorType="dxSelectBox">
      <dxo-label text="Código"></dxo-label>
      <div *dxTemplate>
        <dx-select-box [dataSource]="DCodigos" valueExpr="VALOR1" displayExpr="VALOR2"
          [value]="FIdentificacion.ID_ACTIVIDAD" [readOnly]="readOnly" [searchEnabled]="true" [searchExpr]="['VALOR']"
          placeholder="Seleccione un código" (onValueChanged)="onValueChangedForm($event, 'ID_ACTIVIDAD')">
        </dx-select-box>
      </div>
    </dxi-item>
  </dxi-item>
</dx-form>