@import "/src/scss/icons_variables.scss";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?zci7xt');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?zci7xt#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?zci7xt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?zci7xt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?zci7xt##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acreedores .path1 {
  &:before {
    content: $icon-acreedores-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-acreedores .path2 {
  &:before {
    content: $icon-acreedores-path2;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-acreedores .path3 {
  &:before {
    content: $icon-acreedores-path3;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-acreedores .path4 {
  &:before {
    content: $icon-acreedores-path4;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-acreedores-ol .path1 {
  &:before {
    content: $icon-acreedores-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.2;
  }
}
.icon-acreedores-ol .path2 {
  &:before {
    content: $icon-acreedores-ol-path2;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.2;
  }
}
.icon-acreedores-ol .path3 {
  &:before {
    content: $icon-acreedores-ol-path3;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-acreedores-ol .path4 {
  &:before {
    content: $icon-acreedores-ol-path4;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-atributos .path1 {
  &:before {
    content: $icon-atributos-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-atributos .path2 {
  &:before {
    content: $icon-atributos-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-atributos .path3 {
  &:before {
    content: $icon-atributos-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-bases-del-costo .path1 {
  &:before {
    content: $icon-bases-del-costo-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-bases-del-costo .path2 {
  &:before {
    content: $icon-bases-del-costo-path2;  
    margin-left: -1.2998046875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-configuracion-de-la-gestion .path1 {
  &:before {
    content: $icon-configuracion-de-la-gestion-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-configuracion-de-la-gestion .path2 {
  &:before {
    content: $icon-configuracion-de-la-gestion-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-configuracion-de-la-gestion .path3 {
  &:before {
    content: $icon-configuracion-de-la-gestion-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-configuracion-de-la-gestion .path4 {
  &:before {
    content: $icon-configuracion-de-la-gestion-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-empleados-secciones .path1 {
  &:before {
    content: $icon-empleados-secciones-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-empleados-secciones .path2 {
  &:before {
    content: $icon-empleados-secciones-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-empleados-secciones .path3 {
  &:before {
    content: $icon-empleados-secciones-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-empleados-secciones .path4 {
  &:before {
    content: $icon-empleados-secciones-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-ol .path1 {
  &:before {
    content: $icon-entrada-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-ol .path2 {
  &:before {
    content: $icon-entrada-ol-path2;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-ol .path3 {
  &:before {
    content: $icon-entrada-ol-path3;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-ol .path4 {
  &:before {
    content: $icon-entrada-ol-path4;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-ol .path5 {
  &:before {
    content: $icon-entrada-ol-path5;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-ol .path6 {
  &:before {
    content: $icon-entrada-ol-path6;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-ol .path7 {
  &:before {
    content: $icon-entrada-ol-path7;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-ol-alt .path1 {
  &:before {
    content: $icon-entrada-ol-alt-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-ol-alt .path2 {
  &:before {
    content: $icon-entrada-ol-alt-path2;  
    margin-left: -1.3349609375em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-ol-alt .path3 {
  &:before {
    content: $icon-entrada-ol-alt-path3;  
    margin-left: -1.3349609375em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-ol-alt .path4 {
  &:before {
    content: $icon-entrada-ol-alt-path4;  
    margin-left: -1.3349609375em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-sl .path1 {
  &:before {
    content: $icon-entrada-sl-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-entrada-sl .path2 {
  &:before {
    content: $icon-entrada-sl-path2;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-sl .path3 {
  &:before {
    content: $icon-entrada-sl-path3;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-entrada-sl .path4 {
  &:before {
    content: $icon-entrada-sl-path4;  
    margin-left: -1.1953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-factura .path1 {
  &:before {
    content: $icon-factura-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-factura .path2 {
  &:before {
    content: $icon-factura-path2;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-factura-ol .path1 {
  &:before {
    content: $icon-factura-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-factura-ol .path2 {
  &:before {
    content: $icon-factura-ol-path2;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-factura-ol .path3 {
  &:before {
    content: $icon-factura-ol-path3;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-factura-ol .path4 {
  &:before {
    content: $icon-factura-ol-path4;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-factura-ol .path5 {
  &:before {
    content: $icon-factura-ol-path5;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-factura-ol .path6 {
  &:before {
    content: $icon-factura-ol-path6;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-factura-ol .path7 {
  &:before {
    content: $icon-factura-ol-path7;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-factura-ol .path8 {
  &:before {
    content: $icon-factura-ol-path8;  
    margin-left: -1.03515625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-gespro .path1 {
  &:before {
    content: $icon-gespro-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-gespro .path2 {
  &:before {
    content: $icon-gespro-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-gespro .path3 {
  &:before {
    content: $icon-gespro-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path1 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path2 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-grafico-cr-alt-ol .path3 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path4 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path5 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path5;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path6 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path6;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path7 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path7;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path8 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path8;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-ol .path9 {
  &:before {
    content: $icon-grafico-cr-alt-ol-path9;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-sl .path1 {
  &:before {
    content: $icon-grafico-cr-alt-sl-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-grafico-cr-alt-sl .path2 {
  &:before {
    content: $icon-grafico-cr-alt-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-alt-sl .path3 {
  &:before {
    content: $icon-grafico-cr-alt-sl-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-grafico-cr-ol .path1 {
  &:before {
    content: $icon-grafico-cr-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-grafico-cr-ol .path2 {
  &:before {
    content: $icon-grafico-cr-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-informes .path1 {
  &:before {
    content: $icon-informes-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-informes .path2 {
  &:before {
    content: $icon-informes-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-innovacionydesarrollo .path1 {
  &:before {
    content: $icon-innovacionydesarrollo-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-innovacionydesarrollo .path2 {
  &:before {
    content: $icon-innovacionydesarrollo-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-innovacionydesarrollo .path3 {
  &:before {
    content: $icon-innovacionydesarrollo-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-layout-planta .path1 {
  &:before {
    content: $icon-layout-planta-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-layout-planta .path2 {
  &:before {
    content: $icon-layout-planta-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-layout-planta .path3 {
  &:before {
    content: $icon-layout-planta-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-layout-planta .path4 {
  &:before {
    content: $icon-layout-planta-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path1 {
  &:before {
    content: $icon-mano-de-obra-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path2 {
  &:before {
    content: $icon-mano-de-obra-path2;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path3 {
  &:before {
    content: $icon-mano-de-obra-path3;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path4 {
  &:before {
    content: $icon-mano-de-obra-path4;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path5 {
  &:before {
    content: $icon-mano-de-obra-path5;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path6 {
  &:before {
    content: $icon-mano-de-obra-path6;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path7 {
  &:before {
    content: $icon-mano-de-obra-path7;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path8 {
  &:before {
    content: $icon-mano-de-obra-path8;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path9 {
  &:before {
    content: $icon-mano-de-obra-path9;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path10 {
  &:before {
    content: $icon-mano-de-obra-path10;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-mano-de-obra .path11 {
  &:before {
    content: $icon-mano-de-obra-path11;  
    margin-left: -1.26953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-matriz .path1 {
  &:before {
    content: $icon-matriz-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-matriz .path2 {
  &:before {
    content: $icon-matriz-path2;  
    margin-left: -0.875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-matriz .path3 {
  &:before {
    content: $icon-matriz-path3;  
    margin-left: -0.875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-matriz-sl .path1 {
  &:before {
    content: $icon-matriz-sl-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-matriz-sl .path2 {
  &:before {
    content: $icon-matriz-sl-path2;  
    margin-left: -0.875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-matriz-sl .path3 {
  &:before {
    content: $icon-matriz-sl-path3;  
    margin-left: -0.875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-minimos-y-maximos .path1 {
  &:before {
    content: $icon-minimos-y-maximos-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-minimos-y-maximos .path2 {
  &:before {
    content: $icon-minimos-y-maximos-path2;  
    margin-left: -1.4248046875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-operaciones-alt-ol .path1 {
  &:before {
    content: $icon-operaciones-alt-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-alt-ol .path2 {
  &:before {
    content: $icon-operaciones-alt-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-alt-ol .path3 {
  &:before {
    content: $icon-operaciones-alt-ol-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-alt-ol .path4 {
  &:before {
    content: $icon-operaciones-alt-ol-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-alt-ol .path5 {
  &:before {
    content: $icon-operaciones-alt-ol-path5;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-operaciones-alt-sl .path1 {
  &:before {
    content: $icon-operaciones-alt-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-operaciones-alt-sl .path2 {
  &:before {
    content: $icon-operaciones-alt-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-ol .path1 {
  &:before {
    content: $icon-operaciones-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-ol .path2 {
  &:before {
    content: $icon-operaciones-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-ol .path3 {
  &:before {
    content: $icon-operaciones-ol-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-ol .path4 {
  &:before {
    content: $icon-operaciones-ol-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-ol .path5 {
  &:before {
    content: $icon-operaciones-ol-path5;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-operaciones-sl .path1 {
  &:before {
    content: $icon-operaciones-sl-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-operaciones-sl .path2 {
  &:before {
    content: $icon-operaciones-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pedido-sl .path1 {
  &:before {
    content: $icon-pedido-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-pedido-sl .path2 {
  &:before {
    content: $icon-pedido-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-pedido-sl-r .path1 {
  &:before {
    content: $icon-pedido-sl-r-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-pedido-sl-r .path2 {
  &:before {
    content: $icon-pedido-sl-r-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pedido-sl-r .path3 {
  &:before {
    content: $icon-pedido-sl-r-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pedido-sl-r .path4 {
  &:before {
    content: $icon-pedido-sl-r-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pedido-sl-r .path5 {
  &:before {
    content: $icon-pedido-sl-r-path5;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-pintura .path1 {
  &:before {
    content: $icon-pintura-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-pintura .path2 {
  &:before {
    content: $icon-pintura-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pintura .path3 {
  &:before {
    content: $icon-pintura-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pintura .path4 {
  &:before {
    content: $icon-pintura-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pintura .path5 {
  &:before {
    content: $icon-pintura-path5;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pintura .path6 {
  &:before {
    content: $icon-pintura-path6;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-pintura .path7 {
  &:before {
    content: $icon-pintura-path7;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-productos .path1 {
  &:before {
    content: $icon-productos-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-productos .path2 {
  &:before {
    content: $icon-productos-path2;  
    margin-left: -1.046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-productos .path3 {
  &:before {
    content: $icon-productos-path3;  
    margin-left: -1.046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-productos .path4 {
  &:before {
    content: $icon-productos-path4;  
    margin-left: -1.046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-productos .path5 {
  &:before {
    content: $icon-productos-path5;  
    margin-left: -1.046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-productos .path6 {
  &:before {
    content: $icon-productos-path6;  
    margin-left: -1.046875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-ol .path1 {
  &:before {
    content: $icon-programacion-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-programacion-ol .path2 {
  &:before {
    content: $icon-programacion-ol-path2;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-programacion-ol .path3 {
  &:before {
    content: $icon-programacion-ol-path3;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-ol .path4 {
  &:before {
    content: $icon-programacion-ol-path4;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-ol .path5 {
  &:before {
    content: $icon-programacion-ol-path5;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-sl .path1 {
  &:before {
    content: $icon-programacion-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-programacion-sl .path2 {
  &:before {
    content: $icon-programacion-sl-path2;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-sl .path3 {
  &:before {
    content: $icon-programacion-sl-path3;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-sl .path4 {
  &:before {
    content: $icon-programacion-sl-path4;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-programacion-sl .path5 {
  &:before {
    content: $icon-programacion-sl-path5;  
    margin-left: -1.0400390625em;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl .path1 {
  &:before {
    content: $icon-roles-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl .path2 {
  &:before {
    content: $icon-roles-sl-path2;  
    margin-left: -1.2001953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl .path3 {
  &:before {
    content: $icon-roles-sl-path3;  
    margin-left: -1.2001953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl .path4 {
  &:before {
    content: $icon-roles-sl-path4;  
    margin-left: -1.2001953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-roles-sl .path5 {
  &:before {
    content: $icon-roles-sl-path5;  
    margin-left: -1.2001953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-roles-sl-alt .path1 {
  &:before {
    content: $icon-roles-sl-alt-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl-alt .path2 {
  &:before {
    content: $icon-roles-sl-alt-path2;  
    margin-left: -1.1796875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl-alt .path3 {
  &:before {
    content: $icon-roles-sl-alt-path3;  
    margin-left: -1.1796875em;  
    color: rgb(51, 51, 51);
  }
}
.icon-roles-sl-alt .path4 {
  &:before {
    content: $icon-roles-sl-alt-path4;  
    margin-left: -1.1796875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-roles-sl-alt .path5 {
  &:before {
    content: $icon-roles-sl-alt-path5;  
    margin-left: -1.1796875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-roles-sl-alt .path6 {
  &:before {
    content: $icon-roles-sl-alt-path6;  
    margin-left: -1.1796875em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-ruta-de-producto-ol .path1 {
  &:before {
    content: $icon-ruta-de-producto-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-ruta-de-producto-ol .path2 {
  &:before {
    content: $icon-ruta-de-producto-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-ruta-de-producto-ol .path3 {
  &:before {
    content: $icon-ruta-de-producto-ol-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-ruta-de-producto-ol .path4 {
  &:before {
    content: $icon-ruta-de-producto-ol-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-rutas-de-partes-alt-ol .path1 {
  &:before {
    content: $icon-rutas-de-partes-alt-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-rutas-de-partes-alt-ol .path2 {
  &:before {
    content: $icon-rutas-de-partes-alt-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-rutas-de-partes-alt-ol .path3 {
  &:before {
    content: $icon-rutas-de-partes-alt-ol-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-rutas-de-partes-ol .path1 {
  &:before {
    content: $icon-rutas-de-partes-ol-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-rutas-de-partes-ol .path2 {
  &:before {
    content: $icon-rutas-de-partes-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-rutas-de-partes-ol .path3 {
  &:before {
    content: $icon-rutas-de-partes-ol-path3;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-rutas-de-partes-ol .path4 {
  &:before {
    content: $icon-rutas-de-partes-ol-path4;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-secciones-ol .path1 {
  &:before {
    content: $icon-secciones-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-secciones-ol .path2 {
  &:before {
    content: $icon-secciones-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-secciones-sl .path1 {
  &:before {
    content: $icon-secciones-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-secciones-sl .path2 {
  &:before {
    content: $icon-secciones-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-tarea-ol .path1 {
  &:before {
    content: $icon-tarea-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-tarea-ol .path2 {
  &:before {
    content: $icon-tarea-ol-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-tarea-sl .path1 {
  &:before {
    content: $icon-tarea-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-tarea-sl .path2 {
  &:before {
    content: $icon-tarea-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-turno-sl .path1 {
  &:before {
    content: $icon-turno-sl-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-turno-sl .path2 {
  &:before {
    content: $icon-turno-sl-path2;  
    margin-left: -1.1396484375em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuario .path1 {
  &:before {
    content: $icon-usuario-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuario .path2 {
  &:before {
    content: $icon-usuario-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuario-rd .path1 {
  &:before {
    content: $icon-usuario-rd-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuario-rd .path2 {
  &:before {
    content: $icon-usuario-rd-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuario-sl .path1 {
  &:before {
    content: $icon-usuario-sl-path1;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuario-sl .path2 {
  &:before {
    content: $icon-usuario-sl-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-ol .path1 {
  &:before {
    content: $icon-usuarios-ol-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-ol .path2 {
  &:before {
    content: $icon-usuarios-ol-path2;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-ol .path3 {
  &:before {
    content: $icon-usuarios-ol-path3;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-ol .path4 {
  &:before {
    content: $icon-usuarios-ol-path4;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-ol .path5 {
  &:before {
    content: $icon-usuarios-ol-path5;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuarios-ol .path6 {
  &:before {
    content: $icon-usuarios-ol-path6;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuarios-sl .path1 {
  &:before {
    content: $icon-usuarios-sl-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl .path2 {
  &:before {
    content: $icon-usuarios-sl-path2;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl .path3 {
  &:before {
    content: $icon-usuarios-sl-path3;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl .path4 {
  &:before {
    content: $icon-usuarios-sl-path4;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl .path5 {
  &:before {
    content: $icon-usuarios-sl-path5;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuarios-sl .path6 {
  &:before {
    content: $icon-usuarios-sl-path6;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuarios-sl-al .path1 {
  &:before {
    content: $icon-usuarios-sl-al-path1;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl-al .path2 {
  &:before {
    content: $icon-usuarios-sl-al-path2;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl-al .path3 {
  &:before {
    content: $icon-usuarios-sl-al-path3;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl-al .path4 {
  &:before {
    content: $icon-usuarios-sl-al-path4;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);  
    opacity: 0.25;
  }
}
.icon-usuarios-sl-al .path5 {
  &:before {
    content: $icon-usuarios-sl-al-path5;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-usuarios-sl-al .path6 {
  &:before {
    content: $icon-usuarios-sl-al-path6;  
    margin-left: -1.0751953125em;  
    color: rgb(51, 51, 51);
  }
}

