<dx-data-grid
  #gridAutorizaciones
  keyExpr="ITEM"
  noDataText=""
  columnResizingMode="nextColumn"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [focusedRowEnabled]="true"
  [hoverStateEnabled]="true"
  [allowColumnResizing]="true"
  [rowAlternationEnabled]="true"
  [dataSource]="DAutorizaciones"
  (onInitNewRow)="initNewRow($event)"
  (onRowInserting)="insertingRow($event)"
  (onRowInserted)="insertedRow($event)"
  (onRowUpdating)="updatingRow($event)"
  (onRowRemoved)="removedRow($event)"
  (onEditingStart)="onEditingStart($event)"
  (onToolbarPreparing)="onToolbarPreparingGrid($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onRowValidating)="onRowValidating($event)"
  (onSelectionChanged)="selectionGrid($event)"
  >

  <dxo-editing
    mode="cell"
    [useIcons]="false"
    [allowUpdating]="esEdicion"
    [allowDeleting]="false"
    [allowAdding]="esEdicion">
    <dxo-texts
      confirmDeleteMessage="">
    </dxo-texts>
  </dxo-editing>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

  <dxo-selection
    selectAllMode="allPages"
    [showCheckBoxesMode]="esVisibleSelecc"
    mode="multiple">
  </dxo-selection>

  <dxi-column caption="A: Abrir    B: Buscar    C: Crear    E: Eliminar    L: Listar    M: Modificar    OPC: Opciones Avanzadas" alignment="center">
    <dxi-column caption="Aplicaciones" alignment="center">
      <dxi-column caption="Marcar Todos" alignment="right">
        <dxi-column dataField="ITEM"
          [visible]="false">
        </dxi-column>
        <dxi-column dataField="ID_APLICACION"
          caption="Aplicación"
          [width]="150"
          editCellTemplate="listaAplicaciones"
          calculateDisplayValue="ID_APLICACION">
        </dxi-column>
        <dxi-column dataField="NOMBRE"
          caption="Nombre"
          [allowEditing]="false">
        </dxi-column>
      </dxi-column>
    </dxi-column>

    <dxi-column caption="Operaciones" alignment="center">
      <dxi-column name="mCREAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="CREAR"
          caption="C"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mMODIFICAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="MODIFICAR"
          caption="M"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mELIMINAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="ELIMINAR"
          caption="E"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mBUSCAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="BUSCAR"
          caption="B"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mLISTAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="LISTAR"
          caption="L"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mCONFIGURAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="CONFIGURAR"
          caption="OPC"
          [allowFiltering]="false"
          [width]="50" [minWidth]="50">
        </dxi-column>
      </dxi-column>
    </dxi-column>

    <dxi-column caption="Permisos" alignment="center">
      <dxi-column name="mS_ABRIR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="S_ABRIR"
          caption="A"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mS_CREAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="S_CREAR"
          caption="C"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mS_MODIFICAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="S_MODIFICAR"
          caption="M"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mS_ELIMINAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="S_ELIMINAR"
          caption="E"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mS_BUSCAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="S_BUSCAR"
          caption="B"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mS_LISTAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="S_LISTAR"
          caption="L"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
    </dxi-column>

    <dxi-column caption="Aprobación de Permisos" alignment="center">
      <dxi-column name="mA_ABRIR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_ABRIR"
          caption="A"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mA_CREAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_CREAR"
          caption="C"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mA_MODIFICAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_MODIFICAR"
          caption="M"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mA_ELIMINAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_ELIMINAR"
          caption="E"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mA_BUSCAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_BUSCAR"
          caption="B"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
      <dxi-column name="mA_LISTAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_LISTAR"
          caption="L"
          [allowFiltering]="false"
          [width]="40" [minWidth]="40">
        </dxi-column>
      </dxi-column>
    </dxi-column>

    <dxi-column caption="Autorizar" alignment="center">
      <dxi-column name="mA_APROBAR"
        headerCellTemplate="markTemplate"
        alignment="center">
        <dxi-column dataField="A_APROBAR"
          caption="Autorizar"
          [allowFiltering]="false"
          [width]="90" [minWidth]="70">
        </dxi-column>
      </dxi-column>
    </dxi-column>
  </dxi-column>

  <div *dxTemplate="let cellInfo of 'listaAplicaciones'">
    <dx-drop-down-box
      #ddPAplicacion
      id="ddPAplicacion"
      [(value)]="cellInfo.value"
      [(opened)]="isGridBoxOpened"
      valueExpr="ID_APLICACION"
      displayExpr="ID_APLICACION"
      placeholder="Aplicación"
      [dataSource]="DAplicaciones"
      [acceptCustomValue]="true"
      [readOnly]="readOnly"
      (onFocusOut)="onFocusOutAplicaciones($event, cellInfo)"
      (onOptionChanged)="onSelectionAplicacion($event)"
      [inputAttr]="{style: 'text-transform: uppercase'}"
      (onValueChanged)="onValueChangedAplicacion($event, cellInfo)"
      contentTemplate="contentTemplate"
      [dropDownOptions]="{ width: 500, height: 300, hideOnParentScroll: true, container: '#router-container'}"
      >
      <div *dxTemplate="let data of 'contentTemplate'">
        <dx-data-grid
          [focusedRowIndex]="focusedRowIndex"
          keyExpr="ID_APLICACION"
          [dataSource]="DAplicaciones"
          [focusedRowEnabled]="true"
          [hoverStateEnabled]="true"
          [rowAlternationEnabled]="true"
          [hoverStateEnabled]="true"
          [(focusedRowKey)]="focusedRowKey"
          [autoNavigateToFocusedRow]="true"
          [(selectedRowKeys)]="gridBoxAplicacion"
          height="100%"
          (onRowClick)="onSeleccRowAplicacion($event, cellInfo, data.component)"
          >
          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
            [visible]="true"
            [allowedPageSizes]="[5, 10, 'all']"
            [showPageSizeSelector]="true"
            [showInfo]="true"
            [showNavigationButtons]="true">
          </dxo-pager>
          <dxo-search-panel [width]="300" [visible]="true"></dxo-search-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxi-column dataField="ID_APLICACION"
          caption="Aplicación"></dxi-column>
          <dxi-column dataField="NOMBRE"
          caption="Nombre"></dxi-column>
          <dxi-column dataField="TIPO_SISTEMA"
          caption="Tipo de Aplicación"></dxi-column>
        </dx-data-grid>
      </div>
    </dx-drop-down-box>
  </div>
  <div *dxTemplate="let data of 'markTemplate'">
    <dx-check-box name="name" [readOnly]="!esEdicion" (onValueChanged)="onCheckMarkAll($event, data.column.name)"></dx-check-box>
  </div>

  @if (esEdicion) {
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          @if (rowNew) {
            <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')">
            </dx-button>
          }
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          @if (rowEdit) {
            <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')">
            </dx-button>
          }
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          @if (rowDelete) {
            <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')">
            </dx-button>
          }
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          @if (rowApplyChanges) {
            <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')">
            </dx-button>
          }
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          @if (rowApplyChanges) {
            <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')">
            </dx-button>
          }
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="refresh" (onClick)="onRefreshGrid()">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-drop-down-box
            #PAplicacion
            id="PAplicacion"
            width="300"
            placeholder="Lista de aplicaciones"
            valueExpr="ID_APLICACION"
            displayExpr="ID_APLICACION"
            placeholder="Lista de Aplicaciones"
            contentTemplate="contentTemplate"
            [readOnly]="readOnly"
            [acceptCustomValue]="true"
            [dataSource]="DAplicaciones"
            [(opened)]="openedPAplicacion"
            (onValueChanged)="onValueChangedListaAplicacion($event)"
            [dropDownOptions]="{ width: 600, height: 400, hideOnParentScroll: true, container: '#router-container'}"
            >
            <div *dxTemplate="let data of 'contentTemplate'">
              <dx-data-grid
                #gridListaApl
                id="gridListaApl"
                width="100%"
                height="90%"
                keyExpr="ID_APLICACION"
                columnResizingMode="nextColumn"
                [focusedRowEnabled]="true"
                [hoverStateEnabled]="true"
                [allowColumnResizing]="true"
                [rowAlternationEnabled]="true"
                [autoNavigateToFocusedRow]="true"
                [dataSource]="DAplicaciones"
                [(selectedRowKeys)]="selectListAplication"
                >
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-sorting mode="none"></dxo-sorting>
                <dxo-pager
                  [visible]="true"
                  [allowedPageSizes]="[5, 10, 'all']"
                  [showPageSizeSelector]="true"
                  [showInfo]="true"
                  [showNavigationButtons]="true">
                </dxo-pager>
                <dxo-search-panel [width]="500" [visible]="true"></dxo-search-panel>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-editing
                  mode="cell"
                  [useIcons]="false"
                  [allowUpdating]="true"
                  [allowDeleting]="false"
                  [allowAdding]="false">
                  <dxo-texts
                    confirmDeleteMessage="">
                  </dxo-texts>
                </dxo-editing>
                <dxi-column dataField="ID_APLICACION" caption="Aplicación" [allowEditing]="false" [width]="100" ></dxi-column>
                <dxi-column dataField="NOMBRE" caption="Nombre" [allowEditing]="false" [width]="200" ></dxi-column>
                <dxi-column caption="Operaciones" alignment="center" >
                  <dxi-column dataField="CREAR"
                    caption="C"
                    headerCellTemplate="checkTemplate"
                    [allowFiltering]="false"
                    width="auto" [minWidth]="40"
                  ></dxi-column>
                  <dxi-column dataField="MODIFICAR"
                    caption="M"
                    headerCellTemplate="checkTemplate"
                    [allowFiltering]="false"
                    width="auto" [minWidth]="40"
                  ></dxi-column>
                  <dxi-column dataField="ELIMINAR"
                    caption="E"
                    headerCellTemplate="checkTemplate"
                    [allowFiltering]="false"
                    width="auto" [minWidth]="40"
                  ></dxi-column>
                  <dxi-column dataField="BUSCAR"
                    caption="B"
                    headerCellTemplate="checkTemplate"
                    [allowFiltering]="false"
                    width="auto" [minWidth]="40"
                  ></dxi-column>
                </dxi-column>
                <div *dxTemplate="let data of 'checkTemplate'" style="display: flex; justify-content: space-evenly; width: 100%; min-width: 30px; align-items: center;">
                  <span style="font-size: 1rem;">{{ data.column.caption }}</span>
                  <dx-check-box name="name" [readOnly]="!esEdicion" (onValueChanged)="onCheckAllListaApl($event, data)"></dx-check-box>
                </div>
              </dx-data-grid>
              <div style="display: flex; justify-content: center; width: 100%; height: 10%; padding: 5px;">
                <dx-button
                  id="btnAceptarPT"
                  stylingMode="contained"
                  text="Aceptar"
                  type="default"
                  [width]="100"
                  (onClick)="aceptarBottom($event)"
                ></dx-button>
                <dx-button
                  id="btnCancelarPT"
                  stylingMode="contained"
                  text="Cancelar"
                  type="normal"
                  [width]="110"
                  [style.margin-left]="'20px'"
                  (onClick)="closeBottom($event)"
                ></dx-button>
              </div>
            </div>
          </dx-drop-down-box>
        </div>
      </dxi-item>
    </dxo-toolbar>
  }

</dx-data-grid>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: 'r-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando consulta..."
  [hideOnOutsideClick]="false">
</dx-load-panel>
