<dx-form
    class="dx-form-group"
    id="formEntrada"
    [formData]="DMovimientos"
    [readOnly]="readOnly"
    labelLocation="left"
    [colCount]="2"
    (onFieldDataChanged)="fieldDataChanged($event)"
> 
    <dxi-item caption="Origen / Destino" itemType="group">

        <dxi-item dataField="ID_UN_ORIGEN" editorType="dxSelectBox">
            <dxo-label text="Origen/Bodega"></dxo-label>
            <div *dxTemplate>
            <app-xc-selectbox
                nombreObj="ID_UN_ORIGEN"
                [readOnly]="readOnly"
                [valorDefecto]="DMovimientos.ID_UN_ORIGEN"
                [customValue]="customValueSbox"
                [events]="eventsSubjectSboxOrigen.asObservable()"
                (onRespuestaSelecc)="onSelectionOrigen($event)"
            ></app-xc-selectbox>
            </div>

        </dxi-item>

        <dxi-item dataField="ID_UN_DESTINO" editorType="dxSelectBox">
            <dxo-label text="Destino/Bodega"></dxo-label>
            <div *dxTemplate>
            <app-xc-selectbox
                nombreObj="ID_UN_DESTINO"
                [readOnly]="readOnly"
                [valorDefecto]="DMovimientos.ID_UN_DESTINO"
                [customValue]="customValueSbox"
                [events]="eventsSubjectSboxDestino.asObservable()"
                (onRespuestaSelecc)="onSelectionDestino($event)"
            ></app-xc-selectbox>
            </div>

        </dxi-item>

        <dxi-item itemType="group" [colCount]="2" > 
            <!-- *ngIf="DMovimientos.TIPO == 'DEVOLUCION'" > -->

            <dxi-item dataField="ID_SOPORTE" >
                <dxo-label text="Id. Soporte"></dxo-label>
                <dx-text-box
                    [value]="DMovimientos.ID_SOPORTE"
                    placeholder="Id soporte"
                    [readOnly]="readOnly"
                    (onValueChanged)="onValueChangedIdSop($event)">
                </dx-text-box>
            </dxi-item>

            <dxi-item dataField="NC_SOPORTE" >
                <dxo-label text="#Soporte/Fac"></dxo-label>
                <dx-number-box
                    [value]="DMovimientos.NC_SOPORTE"
                    format="#"
                    (onValueChanged)="onValueChangedNumSop($event)"
                ></dx-number-box>
            </dxi-item>

        </dxi-item>

    </dxi-item>

    <dxi-item caption="Datos traslado" itemType="group">

        <dxi-item dataField="DETALLE" [colSpan]="2" >
            <dxo-label text="Descripción / Observación" location="top"></dxo-label>
            <dx-text-box
                [value]="DMovimientos.DETALLE"
                placeholder="Descripción / Observación"
                (onValueChanged)="onValueChangedDes($event)"
                [readOnly]="readOnly"
                [height]="45"
                >
            </dx-text-box>
        </dxi-item>

    </dxi-item>

</dx-form>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando consulta..."
  [hideOnOutsideClick]="false">
</dx-load-panel>

