
<div class="row gx-3" (resized)="onResized($event)">

    <div class="col-12 col-lg-7 col-xl-8">
        <div  class="card-content">
            <dx-form
                #formProductos
                id="formProductos"
                [formData]="DProductos"
                [readOnly]="objReadOnly.readOnly"
                [screenByWidth]="getSizeQualifier"
                colCount="1"
                [labelLocation]="labelLocation"
                (onEditorEnterKey)="onEditorEnterKey($event)"
            >
                <dxi-item itemType="group">
                    <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
                    
                    <dxi-item dataField="CLASE" editorType="dxDropDownBox" >
                        <dxo-label text="Clase"></dxo-label>

                        <div *dxTemplate>
                            <dx-drop-down-box
                                #xs__CLASE
                                id="xs__CLASE"
                                [(value)]="tvValorClase"
                                [dataSource]="DClasePro"
                                valueExpr="CLASE"
                                displayExpr="CLASE"
                                [readOnly]="objReadOnly.readOnlyClase"
                                [stylingMode]="stylingMode"
                                placeholder="Clase de producto..."
                                [inputAttr]="{ name: 'CLASE' }"
                                [showClearButton]="false"
                                (onValueChanged)="syncTvClaseSelection($event)"
                                (onOpened)="onOpenedClase($event)"
                                [dropDownOptions]="dropDownOptionsListBox"
                                contentTemplate="contentTemplate"
                            >
                                <div *dxTemplate="let data of 'contentTemplate'">
                                    <dx-list
                                        height="100%"
                                        [dataSource]="DClasePro"
                                        [collapsibleGroups]="true"
                                        displayExpr="CLASE"
                                        keyExpr="CLASE"
                                        [selectionMode]="'single'"
                                        (onSelectionChanged)="claseProSelected($event, data.component)"
                                    >
                                    </dx-list>
                                </div>
                            </dx-drop-down-box>
                        </div>
                    </dxi-item>

                    <!-- código -->
                    <dxi-item dataField="PRODUCTO"  
                        [editorOptions]="{ stylingMode: stylingMode,
                                            maxLength:'15',
                                            onValueChanged: productosValor
                                        }"
                    >
                        <dxo-label text="Código"></dxo-label>
                        <div *dxTemplate>
                            <dx-text-box
                                #xs__PRODUCTO
                                id="xs__PRODUCTO"
                                placeholder="Digite Código del Producto"
                                [readOnly]="true"
                                [value]="DProductos.PRODUCTO"
                                [inputAttr]="{'style': 'font-size: 18px; font-weight: 700; text-transform: uppercase; padding: 4px 11px 1px;', name: 'PRODUCTO'}"
                                (onValueChanged)="productosValor($event)"
                            >
                                <dx-validator>
                                    <dxi-validation-rule
                                        type="async"
                                        message="Ya existe este producto"
                                        [validationCallback]="ValideExistencia"
                                    ></dxi-validation-rule>
                                    <dxi-validation-rule
                                        type="stringLength"
                                        [min]="5"
                                        [max]="15"
                                        message="Debe tener min:5 y max:15 caracteres*"
                                    ></dxi-validation-rule>
                                    <dxi-validation-rule type="required" message="Un código es requerido"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </dxi-item>

                    <dxi-item dataField="CODIGO_ASOCIADO"
                            [editorOptions]="{ placeholder:'Código asociado', stylingMode: stylingMode }" 
                    >
                        <dxo-label text="Código Asociado"></dxo-label>
                        <div *dxTemplate>
                            <dx-text-box
                                placeholder="Código asociado"
                                [readOnly]="objReadOnly.readOnly"
                                [value]="DProductos.CODIGO_ASOCIADO"
                                [inputAttr]="{'style': 'font-size: 18px; font-weight: 700; text-transform: uppercase; padding: 4px 11px 1px;'}"
                                (onValueChanged)="onValueCODIGO_ASOCIADO($event)"
                            >
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Un código es requerido"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </dxi-item>

                    <!-- Nombre producto -->
                    <dxi-item dataField="NOMBRE"
                        [editorOptions]="{stylingMode: stylingMode, onValueChanged: toUpperCase, maxLength:'45', placeholder:'Nombre del Producto'}"
                    >
                        <dxo-label text="Nombre Producto"></dxo-label>
                        <div *dxTemplate>
                            <dx-text-box
                                #textNombreProducto
                                id="textNombreProducto"
                                placeholder="Nombre Producto"
                                [readOnly]="objReadOnly.readOnly"
                                [value]="DProductos.NOMBRE"
                                (onValueChanged)="onValueChangedNombreProducto($event)"
                            >
                                <dx-validator>
                                    <dxi-validation-rule
                                        type="required"
                                        message="El nombre es requerido"
                                    ></dxi-validation-rule>
                                    <dxi-validation-rule
                                        type="stringLength"
                                        [min]="5"
                                        [max]="45"
                                        message="Debe tener min:5 y max:45 caracteres*"
                                    ></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </dxi-item>

                    <dxi-item dataField="ID_GRUPO" editorType="dxDropDownBox" >
                        <dxo-label text="Grupo"></dxo-label>
                        <div *dxTemplate>
                            <dx-drop-down-box   
                                id="xs__ID_GRUPO"
                                [(value)]="treeBoxGrupo"
                                [(opened)]="isTreeBoxOpened"
                                valueExpr="ID_GRUPO"
                                displayExpr="NOMBRE"
                                placeholder="Seleccione Grupo"
                                [showClearButton]="true"
                                [dataSource]="DGrupos"
                                [readOnly]="objReadOnly.readOnly"
                                [stylingMode]="stylingMode"
                                [inputAttr]="{ name: 'ID_GRUPO' }"
                                [dropDownOptions]="dropDownOptions"
                                (onKeyDown)="onKeyDownGrupo($event)"
                            >
                                <dxi-validation-rule type="required" message="Grupo de producto requerido"></dxi-validation-rule>
                                <div *dxTemplate="let data of 'content'">
                                    <dx-tree-list 
                                        height="100%"
                                        [focusedRowIndex]="focusedRowIndex"
                                        keyExpr="ID_GRUPO"
                                        parentIdExpr="ID_GRUPO_PADRE"
                                        rootValue="INVENTARIOS"
                                        [dataSource]="DGrupos"
                                        [focusedRowEnabled]="true"
                                        [hoverStateEnabled]="true"
                                        [allowColumnResizing]="true"
                                        columnResizingMode="nextColumn"
                                        [(focusedRowKey)]="focusedRowKey"
                                        [autoNavigateToFocusedRow]="true"
                                        [autoExpandAll]="true"
                                        [(selectedRowKeys)]="treeBoxGrupo"
                                        (onCellPrepared)="onContentReadyGrupo($event)"
                                        (onSelectionChanged)="onSelectionGrupo($event)"
                                        >
                                        <dxo-selection mode="single"></dxo-selection> 
                                        <dxo-scrolling showScrollbar="onScroll"></dxo-scrolling>
                                        <dxo-search-panel [visible]="true" [width]="250"></dxo-search-panel>
                                        <dxi-column dataField="ID_GRUPO" caption="Grupo" width="35%" ></dxi-column>
                                        <dxi-column dataField="NOMBRE" caption="Nombre" ></dxi-column>
                                    </dx-tree-list>
                                </div>
                            </dx-drop-down-box>
                        </div>
                    </dxi-item>
                    
                    <dxi-item dataField="MARCA" editorType="dxSelectBox" >
                        <dxo-label text="Marca"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box
                                #xs__MARCA
                                id="xs__MARCA"
                                [dataSource]="DMarcas"
                                displayExpr="MARCA"
                                valueExpr="MARCA"
                                [value]="DProductos.MARCA"
                                [readOnly]="objReadOnly.readOnly"
                                placeholder="Marca"
                                [inputAttr]="{ name: 'MARCA' }"
                                [searchEnabled]="true"
                                [readOnly]="objReadOnly.readOnly"
                                [stylingMode]="stylingMode"
                                [dropDownOptions]="dropDownOptionsListBox"
                                (onValueChanged)="onSeleccMarca($event)"
                            ></dx-select-box>
                        </div>
                    </dxi-item>
                    
                    <!-- UM Empresa -->
                    <dxi-item dataField="ID_UDM" editorType="dxSelectBox" >
                        <dxo-label text="UM Empresa"></dxo-label>
                        <div *dxTemplate>
                            <dx-drop-down-box
                                #xs__ID_UDM
                                id="xs__ID_UDM"
                                [(value)]="DProductos.ID_UDM"
                                [(opened)]="openUDMedidas"
                                valueExpr="ID_UDM"
                                displayExpr="NOMBRE"
                                placeholder="Unidad de medida inventario"
                                [showClearButton]="true"
                                [dataSource]="DUnidadesMedida"
                                [readOnly]="objReadOnly.readOnly"
                                [stylingMode]="stylingMode"
                                [inputAttr]="{ name: 'ID_UDM' }"
                                [dropDownOptions]="dropDownOptionsListBox"
                                (onValueChanged)="onSeleccUM($event)"
                            >
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid
                                        #gridUDMPresentacion
                                        id="gridUDMPresentacion"
                                        keyExpr="ID_UDM"
                                        [dataSource]="DUnidadesMedida"
                                        [rowAlternationEnabled]="true"
                                        [focusedRowEnabled]="true"
                                        [hoverStateEnabled]="true"
                                        [allowColumnResizing]="true"
                                        [(selectedRowKeys)]="gridBoxUDMPresentacion"
                                        [paging]="{ enabled: true, pageSize: 10 }"
                                        [scrolling]="{ mode: 'virtual' }"
                                        [selection]="{ mode: 'single' }"
                                        [height]="315"
                                        (onSelectionChanged)="onSelectionChangedUDMPresentacion($event)"
                                    >
                                        <dxi-column dataField="ID_UDM" caption="Sigla" [width]="100"></dxi-column>
                                        <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </div>
                    </dxi-item>

                    <!-- UM proveedor -->
                    <dxi-item dataField="ID_UDM_PROV" editorType="dxSelectBox" >
                        <dxo-label text="UM Proveedor"></dxo-label>
                        <div *dxTemplate>
                            <dx-drop-down-box
                                #xs__ID_UDM_PROV
                                id="xs__ID_UDM_PROV"
                                [dataSource]="DUnidadesMedida"
                                [(value)]="DProductos.ID_UDM_PROV"
                                displayExpr="NOMBRE"
                                valueExpr="ID_UDM"
                                placeholder="Unidad de medida proveedor"
                                [readOnly]="objReadOnly.readOnly"
                                [stylingMode]="stylingMode"
                                [inputAttr]="{ name: 'ID_UDM' }"
                                [dropDownOptions]="dropDownOptionsListBox"
                                [showClearButton]="true"
                                [(opened)]="openUDMProveedor"
                                (onValueChanged)="onSeleccUMProv($event)"
                            >
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid
                                        #gridUDMProveedor
                                        id="gridUDMProveedor"
                                        [dataSource]="DUnidadesMedida"
                                        keyExpr="ID_UDM"
                                        [selection]="{ mode: 'single' }"
                                        [hoverStateEnabled]="true"
                                        [allowColumnResizing]="true"
                                        columnResizingMode="nextColumn"
                                        [paging]="{ enabled: true, pageSize: 10 }"
                                        [(selectedRowKeys)]="gridBoxUDMProveedor"
                                        [rowAlternationEnabled]="true"
                                        [focusedRowEnabled]="true"
                                        [hoverStateEnabled]="true"
                                        [filterSyncEnabled]="true"
                                        [scrolling]="{ mode: 'virtual' }"
                                        [height]="315"
                                        (onSelectionChanged)="onSelectionChangedUDMProveedor($event)"
                                    >
                                        <dxi-column dataField="ID_UDM" caption="Sigla" [width]="100"></dxi-column>
                                        <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </div>
                    </dxi-item>
                    
                    <!-- Presentacion NUEVO CAMPO -->
                    <dxi-item dataField="PRESENTACION"
                        [editorOptions]="{stylingMode: stylingMode, onValueChanged: toUpperCase, maxLength:'45', placeholder:'Presentación'}"
                    >
                        <dxo-label text="Presentación"></dxo-label>
                        <!-- <dxi-validation-rule
                            type="required"
                            message="El Presentación es requerido"
                        ></dxi-validation-rule> -->
                        <!-- <dxi-validation-rule
                            type="stringLength"
                            [min]="5"
                            [max]="45"
                            message="Debe tener min:5 y max:45 caracteres*"
                        ></dxi-validation-rule> -->
                    </dxi-item>
                 
                    <dxi-item dataField="PERFIL_TRIBUTARIO"  >
                        <dxo-label text="Perfil tributario"></dxo-label>
                        <div *dxTemplate>
                            <dx-drop-down-box
                                #ddBoxGrav
                                [showClearButton]="true"
                                [dataSource]="DGravamenes"
                                [(value)]="DProductos.PERFIL_TRIBUTARIO"
                                showSelectionControls="true"
                                displayExpr="ID_TASA"
                                valueExpr="ID_TASA"
                                placeholder="Seleccione Perfil tributario"
                                [readOnly]="objReadOnly.readOnly"
                                [stylingMode]="stylingMode"
                                [inputAttr]="{ name: 'PERFIL_TRIBUTARIO' }"
                                [dropDownOptions]="dropDownOptionsPT" 
                                (onOpened)="onOpenedGrav($event)"
                                (onValueChanged)="onValueChangedGrav($event)"
                            >
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid
                                        #gridGravPT
                                        id="gridGravPT"
                                        width="100%"
                                        height="100%"
                                        [dataSource]="DGravamenes"
                                        keyExpr="ID_TASA"
                                        [selection]="{ mode: 'multiple' }"
                                        [hoverStateEnabled]="true"
                                        [allowColumnResizing]="true"
                                        columnResizingMode="nextColumn"
                                        [paging]="{ enabled: true, pageSize: 10 }"
                                        [(selectedRowKeys)]="gridBoxGrav"
                                        [rowAlternationEnabled]="true"
                                        [focusedRowEnabled]="true"
                                        [hoverStateEnabled]="true"
                                        [filterSyncEnabled]="true"
                                        (onSelectionChanged)="onSelectionChangedGrav($event, ddBoxGrav.instance)"
                                    >
                                        <dxi-column dataField="ID_TASA" caption="Gravamen" [width]="120"></dxi-column>
                                        <dxi-column dataField="PORCENTAJE" caption="%" 
                                            [width]="60" dataType="number" format="#,##0.00"
                                            cellTemplate="tempPor"
                                            >
                                            <div *dxTemplate="let cellInfo of 'tempPor'">
                                                {{ verPorTasa(cellInfo.data.PORCENTAJE*100) }}
                                            </div>
                                        </dxi-column>
                                        <dxi-column dataField="DESCRIPCION" caption="Nombre"></dxi-column>
                                        <dxi-column dataField="CLASE" caption="Clase" [width]="100"></dxi-column>
                                        <dxi-column dataField="VALOR_BASE" caption="Base" dataType="number" format="#,##0" [width]="120"></dxi-column>
                                        <dxi-column dataField="IsActive" [visible]="false"></dxi-column>
                                    </dx-data-grid>

                                    <div style="position: absolute; bottom: 10px">
                                        <dx-button
                                            id="btnAceptarPT"
                                            stylingMode="contained"
                                            text="Aceptar"
                                            type="default"
                                            [width]="100"
                                            (onClick)="cerrarListaPT($event, 'aceptar', ddBoxGrav.instance)"
                                            >
                                        </dx-button>
                                        <dx-button
                                            id="btnCancelarPT"
                                            stylingMode="contained"
                                            text="Cancelar"
                                            type="normal"
                                            [width]="100"
                                            [style.margin-left]="'20px'"
                                            (onClick)="cerrarListaPT($event, 'cancelar', ddBoxGrav.instance)"
                                            >
                                        </dx-button>
                                        <dx-check-box [value]="false"
                                            text="Solo seleccionadas"
                                            (onValueChanged)="onSoloSeleccGrav($event)"
                                            [style.margin-left]="'20px'"
                                        >
                                        </dx-check-box>
                                    </div>
                    
                                </div>
                            </dx-drop-down-box>
                        </div>
                    </dxi-item>
                
                    <!-- inventario -->
                    <dxi-item
                        dataField="INVENTARIO"
                        editorType="dxSwitch"
                        [editorOptions]="{ onValueChanged: switchInventario, disabled: objReadOnly.Inv }"
                    >
                        <dxo-label text="Inventario"></dxo-label>
                    </dxi-item>
                    
                    <!-- Todas las bodega -->
                    <dxi-item
                        dataField="BODEGA"
                        editorType="dxSwitch"
                        [editorOptions]="{ onValueChanged: switchBodega, disabled: objReadOnly.Bod }"
                    >
                        <dxo-label text="Todas las Bodegas"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="CONTROL_SERIAL" editorType="dxSwitch">
                        <dxo-label text="Seriales"></dxo-label>
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="group">
                    <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
                    <dxi-item dataField="ETAPA" 
                                [editorOptions]="{ stylingMode: stylingMode, placeholder:'Etapa del Producto' }"
                                [template]="'etapaTemplate'"
                                >
                        <dxo-label text="Etapa"></dxo-label>
                    </dxi-item>

                    <!-- Control de registro -->
                    <dxi-item itemType="group">
                        <dxo-label text="Control de registro"></dxo-label>
                        <div *dxTemplate>
                            <dx-tag-box
                                #controlCambios
                                id="controlCambios"
                                [items]="controlCambiosPro"
                                width="100%"
                                placeholder="Seleccione Control de Cambios"
                                [dropDownOptions]="{ width: 360, height: 'auto', hideOnParentScroll: true, container: '#router-container' }"
                                [stylingMode]="stylingMode"
                                [showMultiTagOnly]="false"
                                [showSelectionControls]="true"
                                [maxDisplayedTags]="2"
                                applyValueMode="useButtons"
                                [readOnly]="objReadOnly.readOnly"
                                [(value)]="DProductos.CONTROL_CAMBIOS"
                                (onValueChanged)="onValueCONTROL_CAMBIOS($event)"
                            ></dx-tag-box>
                        </div>
                    </dxi-item>

                    <dxi-item dataField="ID_RUTA" editorType="dxSelectBox"
                        *ngIf="DProductos.CLASE.match('Parte simple|Parte compuesta|Producto simple|Producto compuesto|Juego')"
                    >
                        <dxo-label text="Ruta de producción"></dxo-label>
                        <div *dxTemplate>
                            <dx-drop-down-box
                                #dropRuta
                                id="dropRuta"
                                valueExpr="ID_RUTA"
                                displayExpr="INFO"
                                placeholder="Selecciones Ruta"
                                [showClearButton]="true"
                                columnResizingMode="widget"
                                [(opened)]="openRutas"
                                [dataSource]="DRutas"
                                [(value)]="selectRutaProducto"
                                [readOnly]="objReadOnly.readOnly"
                                [dropDownOptions]="{width:440, height:350, hideOnParentScroll: true, container:'#router-container'}"
                                (onValueChanged)="onValueChangedRuta($event)"
                            >
                                <div id="containerGRutas" *dxTemplate="let data of 'content'">
                                    <dx-data-grid
                                        #GRutas
                                        height="100%"
                                        width="100%"
                                        keyExpr="ID_RUTA"
                                        [dataSource]="DRutas"
                                        [(selectedRowKeys)]="selectRutaProducto"
                                        [selection]="{ mode: 'single' }"
                                        [columnAutoWidth]="true"
                                        [allowColumnResizing]="true"
                                        [rowAlternationEnabled]="true"
                                        [focusedRowEnabled]="true"
                                        [hoverStateEnabled]="true"
                                        columnResizingMode="widget"
                                        (onSelectionChanged)="onSeleccRuta($event)" 
                                    >
                                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                                        <dxo-search-panel [visible]="true" [width]="390" ></dxo-search-panel>
                                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                    
                                        <dxi-column dataField="ID_RUTA"  caption="Id Ruta" cssClass="clsEncabHis" [width]="110"></dxi-column>
                                        <dxi-column dataField="DESCRIPCION"  caption="Nombre" cssClass="clsEncabHis"></dxi-column>
                                        <!-- <dxi-column alignment="center" cssClass="clsEncabHis" cellTemplate="temLoyoutRuta" [width]="50"></dxi-column>
                                        <div *dxTemplate="let cellInfo of 'temLoyoutRuta'">
                                            <dx-button id="btnLoyoutRuta" #btnLoyoutRuta
                                                icon="icon-ver-ol"
                                                (mouseover)="showVistaRutas($event, cellInfo)"
                                            >
                                                <i class="icon-ver-ol" ></i>
                                            </dx-button>
                                        </div> -->
                    
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </div>
                    </dxi-item>
  
                    <dxi-item dataField="ESTADO" editorType="dxSelectBox" >
                        <dxo-label text="Estado"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box
                                [dataSource]="['ACTIVO','INACTIVO']"
                                [value]="DProductos.ESTADO"
                                [readOnly]="objReadOnly.readOnly"                            
                                placeholder="Seleccione Estado"
                                (onValueChanged)="onSeleccEstado($event)"
                            >
                            </dx-select-box>
                        </div>
                    </dxi-item>
                </dxi-item>
                
                <!-- Opcion de visualizacion de Etapa -->
                <div *dxTemplate="let data of 'etapaTemplate'">
                    <dx-select-box
                        #xs__ETAPA
                        id="xs__ETAPA"
                        [value]="DProductos.ETAPA"
                        [readOnly]="objReadOnly.ETAPA"
                        [stylingMode]="stylingMode"
                        placeholder="Etapa del Producto"
                        [items]="['PRODUCCION','PROTOTIPO']"
                        [dropDownOptions]="{ width: 200, hideOnParentScroll: true, container: '#router-container' }"
                    ></dx-select-box>
                </div>

                <div *dxTemplate="let data of 'estadoTemplate'">
                    <app-sboxestados
                        [data]="data"
                        [modo]="objReadOnly.esEdicion ? 'form_edit' : 'form_read'"
                        [value]="DProductos.ESTADO"
                    ></app-sboxestados>
                </div>

            </dx-form>
        
            <br>

            <div>
                <cdk-accordion class="accordion-container" [multi]="true" >
                    <cdk-accordion-item 
                        #accordionItem="cdkAccordionItem"
                        class="accordion-item d-block d-lg-none"
                        role="button"
                        tabindex="0"
                        [expanded]="accordionExpand[0]"
                        [attr.id]="'accordion-header-0'"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-0'"
                    >
                        <div class="accordion-item-header" (click)="accordionItem.toggle()" >
                            Galería
                            <div>
                                <span class="accordion-item-description" *ngIf="accordionItem.expanded">
                                <i class="icon-chevron-up-xs"></i>
                                </span>
                                <span class="accordion-item-description" *ngIf="!accordionItem.expanded">
                                <i class="icon-chevron-down-xs"></i>
                                </span>
                            </div>
                        </div>
                        <div
                            class="accordion-item-body"
                            role="region"
                            [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-0'"
                            [attr.aria-labelledby]="'accordion-header-0'"
                        >
                            <!-- Galley -->
                            <div>
                                <div class="card-content-secondary">
                                    <dx-gallery
                                        #galleryPro2
                                        id="galleryPro2"
                                        [dataSource]="DImagenesPro"
                                        [height]="'80%'" [width]="'100%'"
                                        [slideshowDelay]="slideshowDelay"
                                        [loop]="true"
                                        [showNavButtons]="true"
                                        [showIndicator]="true"
                                    ></dx-gallery>
                                    <app-thumbnailimg
                                        [listaImg]="DImagenesPro"
                                        (seleccImg)="seleccImg($event)"
                                    ></app-thumbnailimg>
                                </div>
                            </div>
                        </div>
                    </cdk-accordion-item>
                    <cdk-accordion-item *ngFor="let item of itemsAccordion; let index = index;"
                        #accordionItem="cdkAccordionItem"
                        class="accordion-item"
                        role="button"
                        tabindex="0"
                        [expanded]="accordionExpand[index]"
                        [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index"
                        [style.display]="seccionInfoPro[index]"
                    >
                        <div class="accordion-item-header" (click)="accordionItem.toggle()" >
                            <div>
                                <span class="accordion-item-description" *ngIf="accordionItem.expanded">
                                    <i class="icon-chevron-up-xs"></i>
                                </span>
                                <span class="accordion-item-description" *ngIf="!accordionItem.expanded">
                                    <i class="icon-chevron-down-xs"></i>
                                </span>
                            </div>
                           <span class="accordion-caption"> {{ item }} </span>
                        </div>
                        <div
                            class="accordion-item-body"
                            role="region"
                            [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + index"
                            [attr.aria-labelledby]="'accordion-header-' + index"
                        >
                            <!-- Bodegas -->
                            <div *ngIf="index === 0">
                                <app-PRO02207></app-PRO02207>
                            </div>
                            <!-- Combos -->
                            <div *ngIf="index === 1">
                                <app-PRO02206></app-PRO02206>
                            </div>
                            <!-- Partes -->
                            <div *ngIf="index === 2">
                                <app-PRO02202></app-PRO02202>
                            </div>
                            <!-- Atributos -->
                            <div *ngIf="index === 3">
                                <app-PRO02201></app-PRO02201>
                            </div>
                            <!-- Cantidades presentación -->
                            <div *ngIf="index === 4">
                                <app-PRO02210
                                    [events]="eventsSubjectPres.asObservable()"
                                    (onRespuestaPres)="onRespuestaPres($event)"
                                >
                                </app-PRO02210>
                            </div>
                            <!-- Documentación -->
                            <div *ngIf="index === 5">
                                <app-PRO02209
                                    [events]="eventsSubjectDocum.asObservable()"
                                    (onRespuestaDocum)="onRespuestaDocum($event)"
                                >
                                </app-PRO02209>
                            </div>
                            <!-- Especificaciones -->
                            <div *ngIf="index === 6">
                                <app-PRO02203></app-PRO02203>
                            </div>
                            <!-- Composición -->
                            <div *ngIf="index === 7">
                                <app-PRO02204></app-PRO02204>
                            </div>
                        </div>
                    </cdk-accordion-item>
                </cdk-accordion>
            </div>
        </div>
    </div>
    
    <div class="d-none d-lg-block col-lg-5 col-xl-4">
        <div class="card-content-secondary">
            <dx-gallery
                #galleryPro
                id="galleryPro"
                [dataSource]="DImagenesPro"
                [height]="'80%'" [width]="'100%'"
                [slideshowDelay]="slideshowDelay"
                [loop]="true"
                [showNavButtons]="true"
                [showIndicator]="true"
            >
            </dx-gallery>
            <app-thumbnailimg
                [listaImg]="DImagenesPro"
                (seleccImg)="seleccImg($event)"
            ></app-thumbnailimg>
        </div>
    </div>

    <br>

    <div class="col-12">
        <div class="card-content-secondary">
            <cdk-accordion class="accordion-container" [multi]="true" >
                <cdk-accordion-item *ngFor="let item of itemsAccordionDos; let index = index;"
                    #accordionItem="cdkAccordionItem"
                    class="accordion-item"
                    role="button"
                    tabindex="0"
                    [expanded]="accordionExpand[index]"
                    [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index"
                    [style.display]="seccionInfoProDos[index]"
                >
                    <div class="accordion-item-header" (click)="accordionItem.toggle()">
                        <div>
                            <span class="accordion-item-description" *ngIf="accordionItem.expanded">
                            <i class="icon-chevron-up-xs"></i>
                            </span>
                            <span class="accordion-item-description" *ngIf="!accordionItem.expanded">
                            <i class="icon-chevron-down-xs"></i>
                            </span>
                        </div>
                        <span class="accordion-caption"> {{ item }} </span>
                    </div>
                    <div
                        class="accordion-item-body"
                        role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index"
                        >
                        <!-- Proveedores -->
                        <div *ngIf="index === 0">
                            <app-PRO02205></app-PRO02205>
                        </div>
                        <!-- Cubicaje -->
                        <div *ngIf="index === 1">
                            <app-PRO02208></app-PRO02208>
                        </div>
                    </div>
                </cdk-accordion-item>
            </cdk-accordion>
        </div>
    </div>

</div>

    
<app-vistarapida id="vistapro022" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<app-menufloat 
    [popupVisible]="activaMenuFloat" 
    [targetElem]="targetMenuFloat"
    [data]="dataMenuFloat"
    (cerrarMenu)="activaMenuFloat = false"
    *ngIf="activaMenuFloat"
    [events]="eventsSubject.asObservable()"
></app-menufloat>

<app-barraimg (onClick)="imagenClick($event,DProductos.PRODUCTO)" [events]="eventsBarraImg.asObservable()"></app-barraimg>

<app-xalert></app-xalert>

<div>
    <dx-popup
      #popUpExistencias
      id="popUpExistencias"
      width="30%"
      height="45%"
      [showTitle]="true"
      title="Existencias del Producto"
      [dragEnabled]="true"
      [resizeEnabled]="true"
      [showCloseButton]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="popUpExistenciasVisible"
    >
        <div *dxTemplate="let data of 'content'">
            <div class="flex-grow-1 min-h-0" style="height: 100%">

                <div style="display: flex; justify-content: space-between; align-items: center; margin: 10px 10px 20px 10px;">
                    <div style="width: 25%;">
                        <span class="dx-field-item-label-text"><b>Existencia</b></span>
                        <dx-number-box
                            [min]="0"
                            width="70"
                            [readOnly]="true"
                            [value]="existenciaProducto"
                            format="#0.## Uds"
                            
                        ></dx-number-box>
                    </div>
                    <div style="width: 25%;">
                        <span class="dx-field-item-label-text"><b>Punto Minimo</b></span>
                        <dx-number-box
                            [min]="0"
                            width="70"
                            [readOnly]="true"
                            [value]="puntoMinimo"
                            format="#0.## Uds"
                            
                        ></dx-number-box>
                    </div>
                    <div style="width: 25%;">
                        <span class="dx-field-item-label-text"><b>Punto Maximo</b></span>
                        <dx-number-box
                            [min]="0"
                            width="70"
                            [readOnly]="true"
                            [value]="puntoMaximo"
                            format="#0.## Uds"
                            
                        ></dx-number-box>
                    </div>
                </div>

                <div class="hm-dx-data">
                    <dx-data-grid
                        #gridExitencias
                        id="gridExitencias"
                        width="100%"
                        height="70%"
                        [dataSource]="DGExitencias"
                        [keyExpr]="keyBod"
                        [showBorders]="true"
                        [allowColumnResizing]="true"
                        [focusedRowEnabled]="true"
                    >
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxi-column dataField="ID_UN_BODEGA" [allowEditing]="false" caption="Bodega" [width]="100" cssClass="clsEncabHis" sortOrder="asc"></dxi-column>
                        <dxi-column dataField="DESCRIPCION_BODEGA" [allowEditing]="false" caption="Nombre" cssClass="clsEncabHis" ></dxi-column>
                        <dxi-column dataField="CANTIDAD_SALDO" [allowEditing]="false" caption="Existencias" cssClass="clsEncabHis" ></dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </dx-popup>
</div>


<dx-load-panel
    #loadPanelPro
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#principalPro' }"
    [(visible)]="loadingVisible"    
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    message="Un momento. Cargando consulta..."
    [hideOnOutsideClick]="false"
></dx-load-panel>

<app-VEN002_modaltree
  [itemVisible]="visibleListaPrecios"
  [incomingData]="listaPreciosData"
  (saveData)="saveListaPrecios($event)"
  (cerrarLista)="visibleListaPrecios = false"
></app-VEN002_modaltree>

<app-femail
  [events]="eventsSubjectEnvioCorreo.asObservable()"
  (onRespuestaSelecc)="onRespuestaEnvioCorreo($event)"
  >
</app-femail>
