<dx-popup
  #cambiarClave
  id="cambiarClave"
  title="Cambio de Clave"
  [width]="400"
  height="50%"
  [showTitle]="true"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  [visible]="displayPassword"
>
  <dxi-toolbar-item
    toolbar="bottom"
    location="before"
  >
    <dx-button
      id="button"
      type="success"
      (onClick)="cambiarPassword(FClave)"
    >
      <i class="icon-aceptar-sl" style="margin-right: 5px;"></i>
      <span style="font-weight: bold;">Cambiar</span>
    </dx-button>
  </dxi-toolbar-item>
  <dxi-toolbar-item
    toolbar="bottom"
    location="after"
  >
    <div style="display: flex; align-items: center;" >
      <dx-button
        id="button"
        type="danger"
        (onClick)="cerrar()"
      >
        <i class="icon-cancelar-sl" style="margin-right: 5px;"></i>
        <span style="font-weight: bold;">Cancelar</span>
      </dx-button>
    </div>
  </dxi-toolbar-item>
  <dxo-position at="center" > </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <div >
      <h4>
        <span> <i class="icon-password-ol"></i> </span>
        Digite la Nueva Contraseña
      </h4>
      
      <form (submit)="cambiarPassword($event)">
        <dxi-item style="padding-bottom: 15px;">
          <dxo-label text="Usuario"></dxo-label>
          <dx-text-box
            [readOnly]="true"
            [value]="FClave?.USUARIO"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;', placeholder: 'Usuario'}"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item style="padding-bottom: 15px;">
          <dxo-label text="Nueva Clave"></dxo-label>
          <dx-text-box
            mode="password"
            [(value)]="FClave.CLAVE_NUEVA"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;', placeholder: 'Nueva Clave'}"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="La nueva contraseña es requerida!"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                [min]="6"
                message="La contraseña debe tener mínimo 6 caracteres"
              ></dxi-validation-rule>
            </dx-validator>

          </dx-text-box>
        </dxi-item>

        <dxi-item >
          <dxo-label text="Confirmar Nueva Clave"></dxo-label>
          <dx-text-box
            mode="password"
            [(value)]="FClave.CLAVE_NUEVA_CONFIRMAR"
            [inputAttr]="{style: 'font-weight: bold; font-size: 16px; background-color: #f7f7f7;', placeholder: 'Confirmar Nueva Clave'}"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="confirmar la contraseña es requerida!"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                [min]="6"
                message="La contraseña debe tener mínimo 6 caracteres"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="compare"
                [comparisonTarget]="verificarClave"
                message="Las contraseñas no coinciden!"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </dxi-item>
        
      </form>

    </div>
  </div>
  <br/>
</dx-popup>

<!-- <dx-toast [(visible)]="toaVisible" position="top center" [type]="toaTipo" [message]="toaMessage" [width]="300"></dx-toast> -->