<!-- Sub-Menú de opciones -->
<dx-popup
    width="300"
    [height]="'auto'"
    [showTitle]="true"
    title="Ordenamiento de Atributos"
    [hideOnOutsideClick]="false"
    [showCloseButton]="true"
    [(visible)]="visiblePopup">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonAceptar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonCancelar"
    >
  </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">
      <dx-list
        id="listaOpcionesOrd"
        [dataSource]="listaValores"
        [repaintChangesOnly]="true"
        keyExpr="CODIGO"
        (onInitialized)="onInitialized($event)"
      >
        <dxo-item-dragging
          [data]="listaValores"
          [allowReordering]="true"
          [onDragStart]="onDragStart"
          [onDragEnd]="onDragEnd"
          [onAdd]="onAdd"
          [onRemove]="onRemove"
        >
        </dxo-item-dragging>
        
        <div *dxTemplate="let item of 'item'">
          <div style="font-weight: bold;">{{ item.CODIGO }}</div>
          <div>{{ item.NOMBRE }}</div>
        </div>

      </dx-list>
    </div>
</dx-popup>
