<div class="row gx-3">
  <div class="col-12">
    <div class="card-content" id="ADM-225" #ADM225>

			<dx-data-grid
				#gridAutorizaciones
				id="gridAutorizaciones"
				keyExpr="CONSECUTIVO"
				noDataText="No hay datos"
				[dataSource]="DgAutorizaciones"
				[columnAutoWidth]="true"
				[focusedRowEnabled]="true"
				[hoverStateEnabled]="true"
				[showBorders]="true"
				[allowColumnResizing]="true"
				columnResizingMode="nextColumn"
				(onRowExpanding)="onSelectionExpand($event)"
				(onContextMenuPreparing)="onContextMenuPreparing($event)"
			>
				<dxo-scrolling mode="virtual"></dxo-scrolling>
				<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

				<dxi-column
					dataField="CONSECUTIVO"
					caption="Consecutivo"
					cssClass="clsEncabHis"
					alignment="rigth"
					width="8%"
				></dxi-column>

				<dxi-column
					dataField="ID_DOCUMENTO"
					caption="Documento"
					cssClass="clsEncabHis"
					alignment="left"
					width="8%"
				></dxi-column>

				<dxi-column
					dataField="SOPORTE"
					caption="Soporte"
					cssClass="clsEncabHis"
					alignment="left"
					width="8%"
				></dxi-column>
				
				<dxi-column
					dataField="FECHA"
					caption="Fecha"
					cssClass="clsEncabHis"
					alignment="rigth"
					width="10%"
					type="date"
				></dxi-column>

				<dxi-column
					dataField="HORA"
					caption="Hora"
					cssClass="clsEncabHis"
					alignment="rigth"
					width="10%"
					type="time"
				></dxi-column>

				<dxi-column
					dataField="ID_APLICACION"
					caption="Id. Aplicación"
					cssClass="clsEncabHis"
					alignment="left"
					[visible]="false"
					[groupIndex]="0"
					groupCellTemplate="grpTemplateAplicacion"
				></dxi-column>

				<dxi-column
					dataField="NOMBRE_APLICACION"
					caption="Aplicación"
					cssClass="clsEncabHis"
					alignment="left"
					[visible]="false"
				></dxi-column>

				<dxi-column
					dataField="NOMBRE_SOLICITA"
					caption="Solicita"
					cssClass="clsEncabHis"
					alignment="left"
				></dxi-column>
				
				<dxi-column
					dataField="FECHA_AUTORIZACION"
					caption="Fecha Auto."
					cssClass="clsEncabHis"
					alignment="rigth"
					width="10%"
					type="date"
				></dxi-column>

				<dxi-column
					dataField="HORA_AUTORIZACION"
					caption="Hora Auto."
					cssClass="clsEncabHis"
					alignment="rigth"
					width="10%"
					type="time"
				></dxi-column>

				<dxi-column
					dataField="ESTADO"
					caption="Estado"
					cssClass="clsEncabHis"
					alignment="left"
					width="10%"
				></dxi-column>

				<dxo-master-detail [enabled]="true" template="detail" > </dxo-master-detail>
				<div *dxTemplate="let datosDetalle of 'detail'" style="margin-top: 16px;">
					<app-ADM25501 
						[events]="eventsDatos.asObservable()"
						[CONFIG_DATA]="datosDetalle"
						[ACCION_LOCAL]="mnuAccion"
						(onRespuestaComponent)="onRespuestaComponent($event)"
					></app-ADM25501>
				</div>

				<div *dxTemplate="let grupoObj of 'grpTemplateAplicacion'">
					<div class="dx-datagrid-template">
						<div class="col-2">
							<span> APLICACIÓN: </span>
							<span>{{ templateHtml(grupoObj, 'ID_APLICACION') }} {{ templateHtml(grupoObj, 'NOMBRE_APLICACION') }}</span>
						</div>
					</div>
				</div>

			</dx-data-grid>

		</div>
	</div>
</div>


<app-vistarapida id="vistaAdm225" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<app-visor-img></app-visor-img>

<dx-load-panel
  #loadPanelPro
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando..."
  [hideOnOutsideClick]="false"
></dx-load-panel>