<dx-popup
  #popUpBodCan
  id="popUpBodCan"
  [width]="800"
  [height]="450"
  [showTitle]="true"
  [(title)]="titVisor"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [closeOnOutsideClick]="false"
  [hideOnOutsideClick]="false"
  [(visible)]="popupVisible"
  (onResizeEnd)="onResizeEnd($event)"
  [wrapperAttr]="{class: 'dx-dropdowneditor-overlay'}"
>
  <div *dxTemplate="let data of 'content'">
    <div class="flex-grow-1 min-h-0" style="height: 100%">

        <dx-data-grid
            #gridBodCan
            id="gridBodCan" 
            [dataSource]="dataBodegas"
            [keyExpr]="keyBod"
            [showBorders]="true"
            [allowColumnResizing]="true"
            (onRowUpdating)="updatingRow($event)"
            (onRowUpdated)="updateRowPro($event)"
            (onEditorPreparing)="onEditorPreparing($event)"
            (onRowValidating)="onRowValidating($event)"
            >
            <dxo-editing
                mode="cell"
                [useIcons]="true"
                [allowUpdating]="true"
            >
            </dxo-editing>

            <dxi-column dataField="ID_UN_BODEGA" [allowEditing]="false" caption="Bodega" [width]="100" cssClass="clsEncabHis" sortOrder="asc"></dxi-column>
            <dxi-column dataField="PRODUCTO" [allowEditing]="false" caption="Producto" [width]="150" cssClass="clsEncabHis"></dxi-column>
            <dxi-column dataField="NOMBRE" [allowEditing]="false" caption="Nombre" cssClass="clsEncabHis" ></dxi-column>
            <dxi-column dataField="TIPO_INVENTARIO" [allowEditing]="false" caption="T.Inv" cssClass="clsEncabHis" ></dxi-column>
            <dxi-column dataField="ATRIBUTO" [allowEditing]="false" caption="Atr" cssClass="clsEncabHis" ></dxi-column>
            <!--<dxi-column dataField="UM_INV" [allowEditing]="false" caption="UM" [width]="100" cssClass="clsEncabHis" ></dxi-column>
            <dxi-column dataField="UM_ALT" [allowEditing]="false" caption="UM" [width]="100" cssClass="clsEncabHis" ></dxi-column> -->
            <dxi-column dataField="CANTIDAD_SALDO" [allowEditing]="false" caption="Existencias" cssClass="clsEncabHis" ></dxi-column>
            <dxi-column 
                dataField="CANTIDAD" 
                caption="Cantidad" 
                alignment="right" 
                dataType="number" 
                [setCellValue]="setCantidadValue"
                [editorOptions]="{format: '#,##0.00'}" 
                cssClass="clsEncabHis">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
                <!--<dxi-validation-rule
                    type="async"
                    message="No hay suficientes existencias"
                    [validationCallback]="asyncValidaExis"
                >
                </dxi-validation-rule>-->
            </dxi-column>

            <dxo-summary>
                <dxi-total-item
                    column="CANTIDAD"
                    summaryType="sum"
                    displayFormat="{0}"
                    valueFormat="#,##0.00">
                </dxi-total-item>
            </dxo-summary>
        
        </dx-data-grid>

        </div>
    </div>

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonAceptar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonCancelar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
        widget="dxTextBox"
        toolbar="bottom"
        location="before"
        [options]="{
            disabled: true,
            value: cantidadAsignar
        }">
    </dxi-toolbar-item>
</dx-popup>
