.contenedor{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
}
input,
textarea {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    padding: 0.1rem 0.15rem 0rem 0.1rem;
    margin-left: 10px;
    text-align: center;
}
.in-totreg {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.icon_active {
    background-color:#f2f2f2 !important;
    border-radius:6px !important;
}

::ng-deep .dx-list-item {
    border-top: none;
    cursor: auto;
}
::ng-deep .dx-list-item.dx-state-hover {
    .xs-opc-imprimir {
        display: block;
        cursor: pointer;
    }
}
::ng-deep .xs-opc-imprimir {
    display: none;
}

::ng-deep .dx-popover-wrapper.dx-position-bottom .dx-popover-arrow,
.dx-popover-wrapper.dx-position-top .dx-popover-arrow {
  width: 20px;
  height: 0 !important;
}

::ng-deep .dx-list-item.dx-state-active, .dx-list-item.dx-state-hover {
    background-color: #eee !important;

}

::ng-deep .dx-list-item.dx-state-active, .dx-list-item:hover .dx-state-hover {
    background-color: #eee !important;

}


// moviles
@media screen and (max-width: 768px) {

}

// tablet
@media screen and (min-width: 769px) and (max-width: 1024px) {

}

// pc - tv
@media screen and (min-width: 1025px) {

}
