<div id="barraGeneral" class="contenedor">
  @for (item of menuStatus; track item; let i = $index) {
    <div>
      @if (item.visible) {
        <div
          id="{{item.name}}"
          class="xt-icon"
          style="background-color: rgba(18,94,220,.075); border-radius: 6px;"
          (mouseover)="toggleToolTip(item.name)"
          (mouseout)="toggleToolTip(item.name)"
          >
          <i
            class="{{ item.font }}"
            style="color: #35ccac;">
          </i>
        </div>
      }
    </div>
  }

  <div class="xt-separator">
    @if (barraEdicionActiva) {
      <i class="icon-divisor-light" ></i>
    }
  </div>

  @for (item of menuItems; track item; let i = $index) {
    <div id="{{item.name+'-'+i}}">
      @if (((item.name.match('r_buscar|r_primero|r_descargar|r_mas_opciones')) && item.uso && item.visible)) {
        <div class="xt-separator"
          >
          <i class="icon-divisor-light" ></i>
        </div>
      }
      @if ((item.name != 'r_numreg') && (item.name != 'r_totreg') && (item.uso) && (item.visible) && mostrarSegunOperacion(item.name)) {
        <div
          id="{{item.name}}"
          class="{{item.name === 'r_divisor' ? 'xt-separator' : 'xt-icon'}}"
          (click)="btnAccionMenuReg(item.name)"
          (mouseover)="toggleToolTip(item.name)"
          (mouseout)="toggleToolTip(item.name)"
          >
          <i class="{{ item.font }}"></i>
        </div>
      }
      @if (item.name === 'r_numreg' && item.uso && item.visible && mostrarSegunOperacion(item.name)) {
        <input
          type="text"
          class="in-numreg"
          [(ngModel)]="r_numReg"
          readonly
          style="width: 50px; border-radius:6px !important; margin-right: 5px; border: 1px solid #C7D0DB; background-color: #e6eaef;"
          (mouseenter)="toggleToolTip(item.name)"
          (mouseleave)="toggleToolTip(item.name)"
          >
      }
      @if (item.name === 'r_totreg' && item.uso && item.visible && mostrarSegunOperacion(item.name)) {
        <span
          class="in-totreg"
          (mouseenter)="toggleToolTip(item.name)"
          (mouseleave)="toggleToolTip(item.name)"
          >
          {{ r_totReg }}
        </span>
      }
    </div>
  }

  <dx-tooltip
    id="tooltipRegbarra"
    [target]='targetIdTooltip'
    position="bottom"
    [(visible)]="toolTipVisible"
    showEvent="mouseenter"
    hideEvent="mouseleave"
    [wrapperAttr]="wrapperAttr"
    [hideOnOutsideClick]="false"
    class="xt-tootips"
    >
    <div *dxTemplate="let data = data; of: 'content'">
      <b style="font-size: 13px;">{{tooltipTitulo}}</b>
      <hr class="m-0">
      <div style="font-size: 13px;">{{tooltipInfo}}</div>
    </div>
  </dx-tooltip>

</div>

<!-- Sub-Barra -->
<dx-popup
  id="barra_mas_opciones"
  width="max-content"
  height="40px"
  [showTitle]="false"
  [hideOnOutsideClick]="true"
  [(visible)]="visorBarra"
  [dragEnabled]="true"
  >
  <dxo-position
    my="top"
    at="bottom"
    of="#container-header-uno">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" style="display: flex; align-items: center;">
    @for (item of sub_Barra; track item; let i = $index) {
      <div id="{{item.name+'-'+i+'sub_barra'}}">
        @if (((item.name.match('r_buscar|r_primero|r_descargar|r_mas_opciones')) && item.uso && item.visible)) {
          <div class="xt-separator"
            >
            <i class="icon-divisor-light" ></i>
          </div>
        }
        @if ((item.name !== 'r_numreg') && (item.name !== 'r_totreg') && (item.name !== 'r_mas_opciones') && (item.uso) && (item.visible) && mostrarSegunOperacion(item.name)) {
          <div
            id="{{item.name}}"
            class="{{item.name === 'r_divisor' ? 'xt-separator' : 'xt-icon'}}"
            (click)="btnAccionMenuReg(item.name)"
            (mouseover)="toggleToolTip(item.name)"
            (mouseout)="toggleToolTip(item.name)"
            >
            <i class="{{ item.font }}"></i>
          </div>
        }
        @if (item.name === 'r_numreg' && item.uso && item.visible && mostrarSegunOperacion(item.name)) {
          <input
            type="text"
            class="in-numreg"
            [(ngModel)]="r_numReg"
            readonly
            style="width: 50px; border-radius:6px !important; margin-right: 5px; border: 1px solid #C7D0DB; background-color: #e6eaef;"
            (mouseenter)="toggleToolTip(item.name)"
            (mouseleave)="toggleToolTip(item.name)"
            >
        }
        @if (item.name === 'r_totreg' && item.uso && item.visible && mostrarSegunOperacion(item.name)) {
          <span
            class="in-totreg"
            (mouseenter)="toggleToolTip(item.name)"
            (mouseleave)="toggleToolTip(item.name)"
            >
            {{ r_totReg }}
          </span>
        }
      </div>
    }
  </div>
</dx-popup>

<!-- Sub-Menú de reportes -->
<dx-popup
  id="imprimir"
  width="380"
  [height]="'auto'"
  [showTitle]="false"
  [hideOnOutsideClick]="true"
  [(visible)]="visibleListaInf">
  <dxo-position
    my="left top"
    at="left bottom"
    of="#r_imprimir">
  </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <!-- (onItemClick)="seleccReporte($event)" -->
    <dx-list
      selectionMode="none"
      [dataSource]="listaReportes"
      >
      <div *dxTemplate="let data of 'item'" class="d-flex align-items-center">
        <span><i class="icon-imprimir-ol"></i></span>
        <span style="padding-left: 5px; cursor: auto; width:70%">{{data.text}}</span>
        <!-- <span style="float:right; padding-right: 5px; color:rgba(10,57,96,.55); cursor: pointer;"><i class="icon-pdf-doc-sl xs-opc-imprimir"></i></span> -->
        <!-- <span style="float:right; padding-right: 5px; color:rgba(10,57,96,.55); cursor: pointer; font-size: 20px;"><i class="icon-imprimir-sl xs-opc-imprimir"></i></span> -->
        <!-- <span style="float:right; padding-right: 5px; color:rgba(10,57,96,.55); cursor: pointer; font-size: 20px;"><i class="icon-seleccionar-todas-alt-sl xs-opc-imprimir"></i></span> -->
        <!-- <span style="float:right; padding-right: 5px; color:rgba(10,57,96,.55); cursor: pointer; font-size: 20px;" ><i (click)="seleccReporte1(data)" class="icon-seleccionada-ol xs-opc-imprimir"></i></span> -->
        <div class="xs-opc-imprimir">
          <dx-button icon="icon-seleccionada-ol" (onClick)="seleccOpcionImprimir(data, 'actual')"
            (mouseover)="toggleToolTip('btnImpActual'+data.item)" (mouseout)="toggleToolTip('btnImpActual'+data.item)">
            <i id="btnImpActual{{data.item}}" class="icon-seleccionada-ol" style="color:rgba(10,57,96,.95); font-size: 16px;"></i>
          </dx-button>
          <dx-button icon="icon-seleccionar-todas-alt-sl" (onClick)="seleccOpcionImprimir(data, 'todos')"
            (mouseover)="toggleToolTip('btnImpTodos'+data.item)" (mouseout)="toggleToolTip('btnImpTodos'+data.item)">
            <i id="btnImpTodos{{data.item}}" class="icon-seleccionar-todas-alt-sl" style="color:rgba(10,57,96,.25); font-size: 16px;"></i>
          </dx-button>
          <div class="xt-separator" >
            <i class="icon-divisor-light" ></i>
          </div>
          <dx-button icon="icon-imprimir-sl" (onClick)="seleccOpcionImprimir(data, 'previsualizar')"
            (mouseover)="toggleToolTip('btnImpPrev'+data.item)" (mouseout)="toggleToolTip('btnImpPrev'+data.item)">
            <i id="btnImpPrev{{data.item}}" class="icon-imprimir-sl" style="color:rgba(10,57,96,.75); font-size: 16px;"></i>
          </dx-button>
          <dx-button icon="icon-pdf-doc-sl" (onClick)="seleccOpcionImprimir(data, 'pdf')"
            (mouseover)="toggleToolTip('btnImpPdf'+data.item)" (mouseout)="toggleToolTip('btnImpPdf'+data.item)">
            <i id="btnImpPdf{{data.item}}" class="icon-pdf-doc-sl" style="color:rgba(10,57,96,.75); font-size: 16px;"></i>
          </dx-button>
          <dx-button icon="icon-correo" (onClick)="seleccOpcionImprimir(data, 'email')"
            (mouseover)="toggleToolTip('btnImpEmail'+data.item)" (mouseout)="toggleToolTip('btnImpEmail'+data.item)">
            <i id="btnImpEmail{{data.item}}" class="icon-correo" style="color:rgba(10,57,96,.75); font-size: 16px;"></i>
          </dx-button>
        </div>
      </div>
    </dx-list>
  </div>
</dx-popup>

<!-- Sub-Menú de configuración -->
<dx-popup
  id="configurar"
  width="300"
  [height]="'auto'"
  [showTitle]="false"
  [hideOnOutsideClick]="true"
  [(visible)]="visibleSettings">
  <dxo-position
    my="right top"
    at="right bottom"
    of="#r_configurar">
  </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <dx-list
      (onItemClick)="seleccOpcionConfig($event)"
      [dataSource]="listaOpciones"
      >
      <div *dxTemplate="let data of 'item'">
        <span><i class="{{data.icon}}"></i></span>
        <span style="padding-left: 5px;">{{data.text}}</span>
      </div>
    </dx-list>
  </div>
</dx-popup>
