<dx-data-grid
  #gridCifDetalle
  id="gridCifDetalle"
  keyExpr="ITEM"
  class="xt-subgrid"
  [dataSource]="GDCifDetalle"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  [allowColumnResizing]="true"
  columnResizingMode="nextColumn"
  [rowAlternationEnabled]="true"
  [hoverStateEnabled]="true"
  [columnMinWidth]="120"
  (onContentReady)="onContentReady($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onInitNewRow)="onInitNewRowPro($event)"
  (onRowInserting)="onRowInserting($event)"
  (onRowUpdating)="onRowUpdating($event)"
  (onRowValidating)="onRowValidating($event)"
  (onSelectionChanged)="selectionGrid($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowInserted)="onRowInserted($event)"
  (onEditingStart)="startEdit($event)"
>
  <dxo-editing
    mode="cell"
    [useIcons]="false"
    [allowUpdating]="esEdicion"
    [allowDeleting]="false"
    [allowAdding]="esEdicion"
  >
    <dxo-texts
      confirmDeleteMessage="">
    </dxo-texts>
  </dxo-editing>

  <dxo-selection
    selectAllMode="allPages"
    [showCheckBoxesMode]="esVisibleSelecc" 
    mode="multiple">
  </dxo-selection>

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-search-panel [visible]="true" [width]="380" ></dxo-search-panel>
  <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

  <dxi-column 
    dataField="TIPO"
    caption="Tipo CIF"
    calculateDisplayValue="TIPO"
    alignment="left"
    [visible]="false"
  ></dxi-column>

  <dxi-column
    dataField="DEFECTO"
    width="10%"
    caption="Valores por defecto"
    cellTemplate="temDefecto"
    editCellTemplate="temDefecto"
  >
    <div *dxTemplate="let cellInfo of 'temDefecto'" >
      <dx-switch
        [(value)]="cellInfo.data.DEFECTO"
        [readOnly]="cellInfo.data.readOnlyDefecto"
        (onValueChanged)="onValueChangedDefecto($event, cellInfo)"
      ></dx-switch>
    </div>
  </dxi-column>

  <dxi-column
    dataField="CODIGO"
    caption="Código"
    width="20%"
    cssClass="clsEncabHis"
    calculateDisplayValue="CODIGO"
    alignment="left"
    [setCellValue]="onCodigo"
  ></dxi-column>

  <dxi-column
    dataField="DESCRIPCION"
    caption="Descripción"
    width="25%"
    dataType="text"
    alignment="left"
  ></dxi-column>

  <dxi-column
    dataField="FECHA_DESDE"
    caption="Fecha inicial"
    width="10%"
    dataType="date"
    alignment="right"
    editCellTemplate="tempFechaDesde"
  >
    <div *dxTemplate="let cellInfo of 'tempFechaDesde'">
      <dx-date-box
        #fechaDesde
        placeholder="D/M/AA"
        [useMaskBehavior]="true"
        [inputAttr]="{ 'aria-label': 'Date' }"
        [(value)]="cellInfo.value"
        (onValueChanged)="onFechaDesde($event, cellInfo)"
        (onKeyDown)="onKeyDownFechaDesde($event)"
      ></dx-date-box>
    </div>
  </dxi-column>

  <dxi-column
    dataField="FECHA_HASTA"
    caption="Fecha final"
    width="10%"
    dataType="date"
    alignment="right"
    editCellTemplate="tempFechaHasta"
  >
    <div *dxTemplate="let cellInfo of 'tempFechaHasta'">
      <dx-date-box
        #fechaHasta
        placeholder="D/M/AA"
        [useMaskBehavior]="true"
        [inputAttr]="{ 'aria-label': 'Date' }"
        [(value)]="cellInfo.value"
        (onValueChanged)="onFechaHasta($event, cellInfo)"
        (onKeyDown)="onKeyDownFechaHasta($event)"
      ></dx-date-box>
    </div>
  </dxi-column>

  <dxi-column
    dataField="VALOR" 
    caption="Valor" 
    width="10%" 
    alignment="right"
    dataType="number"
    [format]=" dataFila.DESC === 'Fijo' ? '#,##0.00' : '#,##0,00%' "
    editCellTemplate="tempValorCif" 
    cellTemplate="tempValorCif"
  >
    <div *dxTemplate="let cellInfo of 'tempValorCif'">
      <dx-number-box
        #valorCifFijo
        *ngIf="cellInfo.data.TIPO === 'Fijo' "
        [min]="0"
        [max]="1e10"
        format="#,##0.00"
        [showSpinButtons]="true"
        [readOnly]="cellInfo.data.readOnlyValor"
        [(value)]="cellInfo.data.VALOR"
        (onValueChanged)="setCellvalor($event, cellInfo)"
      ></dx-number-box>
      <dx-number-box
        #valorCifVariable
        *ngIf="cellInfo.data.TIPO === 'Variable' "
        [min]="0"
        [max]="100"
        format="#,##0,00%"
        [showSpinButtons]="true"
        [readOnly]="cellInfo.data.readOnlyValor"
        [(value)]="cellInfo.data.VALOR"
        (onValueChanged)="setCellvalor($event, cellInfo)"
      ></dx-number-box>
    </div>
  </dxi-column>

  
  <!-- <dxi-column
    dataField="VALOR"
    caption="Valor"
    alignment="right"
    dataType="number"
    width="10%"
    cssClass="clsEncabHis"
    [format]="dataFila.DESC === 'Fijo' ? '#,##0.00' : '#,##0,00%'"
    [editorOptions]="{ 
      showSpinButtons: true,
      min: '0',
      max: dataFila.DESC === 'Fijo' ? '1e10' : '100',
      format: dataFila.DESC === 'Fijo' ? '#,##0.00' : '#,##0,00%'
    }"
    [setCellValue]="setCellvalor"
  ></dxi-column> -->

  <dxi-column
    dataField="BASE"
    caption="Base CIF"
    width="10%"
    calculateDisplayValue="BASE"
    alignment="left"
    editCellTemplate="tempBaseCif"
    *ngIf="dataFila.DESC === 'Variable'"
  >
    <div *dxTemplate="let cellInfo of 'tempBaseCif' " >
      <dx-select-box
        [dataSource]="DBaseCif"
        [(value)]="cellInfo.data.BASE"
        [(readOnly)]="cellInfo.data.readOnlyBaseCif"
        placeholder="Seleccione Base CIF"
        (onValueChanged)="onValueChangedBaseCif($event, cellInfo)">
      </dx-select-box>
    </div>
  </dxi-column>

  <dxi-column 
    dataField="ESTADO" 
    caption="Estado"
    width="10%"
    calculateDisplayValue="ESTADO"
    alignment="left"
  >
    <dxo-lookup [dataSource]="['ACTIVO','INACTIVO']"></dxo-lookup>
  </dxi-column>

  <dxo-toolbar *ngIf="esEdicion">
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'edit')" *ngIf="rowEdit"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges"></dx-button>
      </div>
    </dxi-item>
  </dxo-toolbar>

</dx-data-grid>