<div
  class="mad-application-host">

  <ng-container
    #applicationContainer>
  </ng-container>


  @if (loading()) {

    <div
      class="mad-application-host__state">

      <div
        class="mad-application-host__loading"
        aria-hidden="true">
      </div>

      <div
        class="mad-application-host__state-title">

        Cargando aplicación

      </div>

    </div>

  }


  @if (errorMessage()) {

    <div
      class="mad-application-host__state
             mad-application-host__state--error">

      <div
        class="mad-application-host__error-icon"
        aria-hidden="true">

        !

      </div>

      <div
        class="mad-application-host__state-title">

        Aplicación no disponible

      </div>

      <div
        class="mad-application-host__state-message">

        {{ errorMessage() }}

      </div>

    </div>

  }

</div>