
::ng-deep #container-tabs-principal > app-ven208 > div {
    height: 100%;
  }

  ::ng-deep .card-content {
    height: 100%;
  }
  
  ::ng-deep #gridSubTotales .dx-datagrid-rowsview .dx-row {
    border-bottom: 1px solid #e0e0e0;
  }

  