<div class="row gx-3">
  <div class="col-12">
    <div class="card-content" id="GES001" #GES001>
      <div class="container-child-dos-app xt-gesptabs" >
        <div class="container-filtros" >
          <dx-toolbar>
            <dxi-item location="before" >
              <dx-drop-down-button
                id="dropDownFiltroMaestro"
                [splitButton]="true"
                [useSelectMode]="false"
                [items]="filtroMaestro"
                displayExpr="DESCRIPCION"
                keyExpr="ID"
                width="60px"
                icon="filter"
                [(opened)]="openDropFiltroMaestro"
                [dropDownOptions]="{ width: 150, hideOnParentScroll: true, container:'#GES001' }"
                dropDownContentTemplate="contentTemplateFiltroMaestro"
                (onButtonClick)="mostrarOcultarFiltros($event)"
              >
                <div *dxTemplate="let data of 'contentTemplateFiltroMaestro'">
                  <div class="d-none d-xl-block custom-color-picker">
                    <dx-list
                      #lstfilterMaestro
                      id="lstfilterMaestro"
                      class="xt-gescheckbox-m"
                      [dataSource]="filtroMaestro"
                      keyExpr="ID"
                      displayExpr="DESCRIPCION"
                      selectionMode="multiple"
                      selectByClick="true"
                      [selectedItemKeys]="selectFiltroMaestro"
                      [hoverStateEnabled]="true"
                      [showSelectionControls]="true"
                      (onSelectionChanged)="onValueChangedFiltro($event)"
                    ></dx-list>
                  </div>
                  
                  <div class="d-block d-xl-none custom-color-picker xt-gescheckbox-m">
                    <dxi-item location="before" >
                      <dx-check-box
                        #checkActivas
                        id="checkActivas"
                        text="Activas"
                        class="check-filtro"
                        [readOnly]="readOnlyFiltros"
                        [(value)]="filtroMaestro[0].VALOR"
                        (onValueChanged)="onValueChangedFiltro($event)"
                      ></dx-check-box>
                    </dxi-item>
                    <dxi-item location="before" >
                      <dx-check-box
                        #checkFinalizadas
                        id="checkFinalizadas"
                        text="Finalizadas"
                        class="check-filtro"
                        [readOnly]="readOnlyFiltros"
                        [(value)]="filtroMaestro[1].VALOR"
                        (onValueChanged)="onValueChangedFiltro($event)"
                      ></dx-check-box>
                    </dxi-item>
                    <dxi-item location="before" >
                      <dx-check-box
                        #checkInactivas
                        id="checkInactivas"
                        text="Inactivas"
                        class="check-filtro"
                        [readOnly]="readOnlyFiltros"
                        [(value)]="filtroMaestro[2].VALOR"
                        (onValueChanged)="onValueChangedFiltro($event)"
                      ></dx-check-box>
                    </dxi-item>
                    <mat-divider></mat-divider>
                    <dxi-item location="before" >
                      <dx-check-box
                        #checkMisActividades
                        id="checkMisActividades"
                        text="Mis actividades"
                        class="check-filtro"
                        [readOnly]="readOnlyFiltros"
                        [(value)]="filtroActividades[0]"
                        (onValueChanged)="onValueChangedFiltro($event)"
                      ></dx-check-box>
                    </dxi-item>
                    <dxi-item location="before" >
                      <dx-check-box
                        #checkAsignadas
                        id="checkAsignadas"
                        text="Asignadas"
                        class="check-filtro"
                        [readOnly]="readOnlyFiltros"
                        [(value)]="filtroActividades[1]"
                        (onValueChanged)="filtrarActividades('Filtro Check')"
                      ></dx-check-box>
                    </dxi-item>
                    <dxi-item location="before" >
                      <dx-check-box
                        #checkCol
                        id="checkCol"
                        text="Colaborador"
                        class="check-filtro"
                        [readOnly]="readOnlyFiltros"
                        [(value)]="filtroActividades[2]"
                        (onValueChanged)="filtrarActividades('Filtro Check')"
                      ></dx-check-box>
                    </dxi-item>
                  </div>
                </div>
              </dx-drop-down-button>
            </dxi-item>
            <dxi-item class="d-none d-xl-block" location="before" [visible]="MOFiltros">
              <dx-check-box
                #checkMisActividades
                id="checkMisActividades"
                text="Mis actividades"
                class="check-filtro"
                [readOnly]="readOnlyFiltros"
                [(value)]="filtroActividades[0]"
                (onValueChanged)="filtrarActividades('Filtro Check')"
              ></dx-check-box>
            </dxi-item>
            <dxi-item class="d-none d-xl-block" location="before" [visible]="MOFiltros">
              <dx-check-box
                #checkAsignadas
                id="checkAsignadas"
                text="Asignadas"
                class="check-filtro"
                [readOnly]="readOnlyFiltros"
                [(value)]="filtroActividades[1]"
                (onValueChanged)="filtrarActividades('Filtro Check')"
              ></dx-check-box>
            </dxi-item>
            <dxi-item class="d-none d-xl-block" location="before" [visible]="MOFiltros">
              <dx-check-box
                #checkCol
                id="checkCol"
                text="Colaborador"
                class="check-filtro"
                [readOnly]="readOnlyFiltros"
                [(value)]="filtroActividades[2]"
                (onValueChanged)="filtrarActividades('Filtro Check')"
              ></dx-check-box>
            </dxi-item>
            <dxi-item class="d-none d-xl-block" location="before" style="min-width: 50px;" [visible]="MOFiltros">
              <dx-drop-down-button
                #dropAreas
                id="dropAreas"
                width="100%"
                keyExpr="ID"
                text="Áreas"
                [icon]="selectAreas.length > 0 ? 'selectall' : 'unselectall' "
                displayExpr="DESCRIPCION"
                [splitButton]="true"
                [useSelectMode]="false"
                [items]="DGareasF"
                [(opened)]="openDropFiltroAreas"
                [dropDownOptions]="{ width: 450, height: 350, hideOnParentScroll: true, closeOnOutsideClick: false, container:'#GES001' }"
                dropDownContentTemplate="contentTemplateFiltroAreas"
                (onButtonClick)="onButtonClickAreas($event)"
              >
                <div *dxTemplate="let data of 'contentTemplateFiltroAreas'">
                  <dx-tree-list
                    #treeListAreas
                    id="treeListAreas"
                    width="100%"
                    height="88%"
                    keyExpr="ID_AREA"
                    parentIdExpr="ID_AREA_SUPERIOR"
                    rootValue="RAIZ"
                    [noDataText]="noDataAreas"
                    [showRowLines]="true"
                    [showBorders]="true"
                    [autoExpandAll]="true"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [columnMinWidth]="100"
                    [(selectedRowKeys)]="selectAreas"
                    [dataSource]="DGareasF"
                    (onSelectionChanged)="onSelectionChangedArea($event)"
                  >
                    <dxo-selection mode="multiple" [recursive]="true"></dxo-selection>
                    <dxo-scrolling mode="standard"></dxo-scrolling>
                    <dxo-search-panel [width]="420" [visible]="true"></dxo-search-panel>
                    <dxi-column dataField="ID_AREA" caption="Código" [width]="170"></dxi-column>
                    <dxi-column dataField="DESCRIPCION" caption="Nombre" [width]="280"></dxi-column>
                  </dx-tree-list>
                  <div style="display: flex; justify-content: center; width: 100%; padding: 5px;">
                    <dx-button
                      id="btnAceptarPT"
                      stylingMode="contained"
                      text="Aceptar"
                      type="default"
                      [width]="100"
                      (onClick)="aceptarBottom($event, 'AREAS')"
                    ></dx-button>
                    <dx-button
                      id="btnCancelarPT"
                      stylingMode="contained"
                      text="Cancelar"
                      type="normal"
                      [width]="110"
                      [style.margin-left]="'20px'"
                      (onClick)="closeBottom($event, 'AREAS')"
                    ></dx-button>
                  </div>
                </div>
              </dx-drop-down-button>
            </dxi-item>
            <dxi-item class="d-none d-xl-block" location="before" [visible]="MOFiltros && tabsMovilGespro[0].content">
              <dx-drop-down-button
                #btnColumnChooser
                id="btnColumnChooser"
                width="100%"
                keyExpr="DATAFIELD"
                text=""
                icon="insertcolumnright"
                displayExpr="caption"
                [splitButton]="true"
                [useSelectMode]="false"
                [items]="DColumnChooser"
                [(opened)]="openDropColumnChooser"
                dropDownContentTemplate="contentTemplateColumnChooser"
                [dropDownOptions]="{ width: 300, height: 300, hideOnParentScroll: true, closeOnOutsideClick: false, container:'#GES001' }"
                (onButtonClick)="onButtonClickColumnas($event)"
              >
                <div *dxTemplate="let data of 'contentTemplateColumnChooser'">
                  <dx-list
                    #listColumnChooser
                    id="listColumnChooser"
                    width="100%"
                    height="85%"
                    selectionMode="multiple"
                    [searchEnabled]="false"
                    [showSelectionControls]="true"
                    [selectedItemKeys]="selectedItemColumnChooser"
                    [elementAttr]="{ style: 'cursor: pointer;' }"
                    [dataSource]="DColumnChooser"
                    (onSelectionChanged)="onSelectionChangedColumn($event)"
                  ></dx-list>
                  <div style="display: flex; justify-content: center; width: 100%; height:15%; padding: 5px;">
                    <dx-button
                      id="btnAceptarPT"
                      stylingMode="contained"
                      text="Aceptar"
                      type="default"
                      [width]="100"
                      (onClick)="aceptarBottom($event, 'COLUMNAS')"
                    ></dx-button>
                    <dx-button
                      id="btnCancelarPT"
                      stylingMode="contained"
                      text="Cancelar"
                      type="normal"
                      [width]="110"
                      [style.margin-left]="'20px'"
                      (onClick)="closeBottom($event, 'COLUMNAS')"
                    ></dx-button>
                  </div>
                </div>
              </dx-drop-down-button>
            </dxi-item>

          </dx-toolbar>
        </div>

        <div class="d-flex justify-content-end overflow-hidden xt-tabs-container">
          <dx-tabs
            class="xt-tabs-gespro"
            [scrollByContent]="true"
            [showNavButtons]="true"
            [selectedIndex]="0"
            (onItemClick)="onTabChanged($event)"
          >
            <dxi-item>
                <div *dxTemplate>
                  <i class="icon-tarea-sl" ></i>
                  <span style="margin-left: 5px;"> Actividades </span>
                </div>
            </dxi-item>
            <dxi-item>
              <div *dxTemplate>
                <i class="icon-postit-ol" ></i>
                <span style="margin-left: 5px;"> Tablas </span>
              </div>
            </dxi-item>
            <dxi-item>
              <div *dxTemplate>
                <i class="icon-calendar-sl" ></i>
                <span style="margin-left: 5px;"> Calendario </span>
              </div>
            </dxi-item>
          </dx-tabs>
        </div>

        <div id="tabsContentGespro" class="content dx-fieldset">
          <div *ngIf="tabsMovilGespro[0].content">
            <div style="margin-top: 20px;">
              <GES000-COMPONENT
                [events]="eventsDatosGES000.asObservable()"
                [(datosEntrada)]="DATOS_CONFIG"
                [(readOnly)]="readOnly"
                (onRespuestaComponent)="onRespuestaComponent($event)"
              ></GES000-COMPONENT>
            </div>
          </div>
          <div *ngIf="tabsMovilGespro[1].content">
            <div style="margin-top: 20px;">
              <app-GES00103
                [eventsDatos]="eventsDatosTablas.asObservable()"
              ></app-GES00103>
            </div>
          </div>
          <div *ngIf="tabsMovilGespro[2].content">
            <div style="margin-top: 20px;">
              <app-GES00104
                [events]="eventsDatosCalendario.asObservable()"
              ></app-GES00104>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<GES_INFO
  [events]="eventsGesInfo.asObservable()"
  (onRespuestaComponent)="onRespuestaGesInfo($event)"
></GES_INFO>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>