<dx-popup
    #popUpGrid
    id="popUpGrid"
    [height]="popHeight"
    [width]="popWidth"
    [showTitle]="true"
    title="Seriales"
    [dragEnabled]="true"
    [resizeEnabled]="true"
    [showCloseButton]="false"
    [hideOnOutsideClick]="false"
    [(visible)]="popupVisible"
    (onShown)="onShown($event)"
    (onHidden)="onHidden($event)"
    (onInitialized)="onInitializedPopUp($event)" 
    (onResizeEnd)="onResizeEnd($event)"
    >
    <div *dxTemplate="let data of 'content'">
        <div class="flex-grow-1 min-h-0" style="height: 100%">

            <div style="position: absolute; bottom: 10px">
                <dx-button
                    id="btnAceptarPT"
                    stylingMode="contained"
                    text="Aceptar"
                    type="default"
                    [width]="100"
                    (onClick)="cerrarLista($event, 'aceptar', popUpGrid.instance)"
                    >
                </dx-button>
                <dx-button
                    id="btnCancelarPT"
                    stylingMode="contained"
                    text="Cancelar"
                    type="normal"
                    [width]="100"
                    [style.margin-left]="'20px'"
                    (onClick)="cerrarLista($event, 'cancelar', popUpGrid.instance)"
                    >
                </dx-button>
            </div>

            <dx-data-grid
                #gridSeriales
                id="gridSeriales"
                [dataSource]="DSeriales"
                [showBorders]="true"
                (onInitNewRow)="initNewRow($event)"
                (onRowInserting)="insertingRow($event)"
                (onRowInserted)="insertedRow($event)"
                (onRowUpdating)="updatingRow($event)"
                (onRowUpdated)="updatedRow($event)"
                (onRowRemoved)="removedRow($event)"
                (onEditingStart)="onEditingStart($event)"
                (onContentReady)="onContentReady($event)"
                (onRowPrepared)="onRowPrepared($event)"
                (onCellHoverChanged)="onCellHoverChanged($event)"
                (onSelectionChanged)="onSelectionChanged($event)"
            >
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing
                    mode="cell"
                    [allowUpdating]="true"
                    [allowAdding]="true"
                    [allowDeleting]="true"
                >
                </dxo-editing>
                <dxo-selection
                    selectAllMode="allPages"
                    [showCheckBoxesMode]="esVisibleSelecc"
                    mode="multiple">
                </dxo-selection>
                <dxo-keyboard-navigation
                    [editOnKeyPress]="editOnkeyPress"
                    [enterKeyAction]="enterKeyAction"
                    [enterKeyDirection]="enterKeyDirection"
                >
                </dxo-keyboard-navigation>
        
                <dxi-column 
                    dataField="operacion" 
                    caption="" 
                    [width]="40" 
                    [visible]="rowApplyChanges"
                    cellTemplate="operEdicion" 
                    editCellTemplate="operEdicion">
                </dxi-column>

                <dxi-column dataField="PRODUCTO" caption="Producto"></dxi-column>
                <dxi-column dataField="SERIAL" caption="Serial"></dxi-column>

                <div *dxTemplate="let cellInfo of 'operEdicion'">
                    <dx-button 
                        #btnEditRow
                        id="btnEditRow"
                        icon="save" 
                        *ngIf="cellInfo.data.isEdit"
                        (onClick)="operGrid($event, 'save')"
                    >
                    </dx-button>
                </div>
            
                <dxo-toolbar *ngIf="esEdicion">
                    <dxi-item location="before">
                        <div *dxTemplate>
                            <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
                            </dx-button>
                        </div>
                    </dxi-item>
                    <dxi-item location="before">
                        <div *dxTemplate>
                            <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
                            </dx-button>
                        </div>
                    </dxi-item>
                </dxo-toolbar>            

            </dx-data-grid>
            
        </div>
    </div>
</dx-popup>

<dx-popup
    #popBarra
    id="popBarra"
    [width]="'auto'"
    [height]="'auto'"
    [showTitle]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="false"
    [shading]="true"
    (onShowing)="onShowing($event)"
    [(visible)]="popupOperRow">

    <dxo-position
        my="left"
        at="right"
        of="#btnEditRow">
    </dxo-position>

    <div *dxTemplate="let data of 'content'">
        <div style="display: inline;">
            <dx-button icon="plus" *ngIf="rowNew" (onClick)="operGrid($event, 'new')"></dx-button>
            <dx-button icon="edit" *ngIf="rowEdit" (onClick)="operGrid($event, 'new')"></dx-button>
            <dx-button icon="copy" *ngIf="rowCopy" (onClick)="operGrid($event, 'copy')"></dx-button>
            <dx-button icon="save" *ngIf="rowApplyChanges" (onClick)="operGrid($event, 'save')"></dx-button>
            <dx-button icon="undo" *ngIf="rowApplyChanges" (onClick)="operGrid($event, 'cancel')"></dx-button>
        </div>
    </div>
</dx-popup>