<div class="search-container">
  <div class="search-input-wrapper">
    <input
      #searchInputElement
      type="text"
      class="search-input w-100"
      [formControl]="searchControl"
      placeholder="Buscar..."
      (blur)="onBlur()"
      (focus)="onFocus()">
      <!-- <span *ngIf="isLoading" class="spinner"></span> -->
      <div class="input-icons">
        @if (hasText) {
          <button
            type="button"
            class="clear-button"
            (click)="clearSearch()"
            title="Clear search">
            <span class="clear-icon">×</span>
          </button>
        }
        @if (isLoading) {
          <span class="spinner"></span>
        }
      </div>

    </div>

    <!-- <div class="dropdown-container" *ngIf="showDropdown" [style.width.px]="inputWidth">
    <div *ngIf="results.length === 0" class="no-results">
      No results found
    </div>
    <ul *ngIf="results.length > 0" class="results-list">
      <li *ngFor="let item of results"
        (click)="selectItem(item)"
        class="result-item">
        {{ item.name }}
      </li>
    </ul>
  </div> -->

  @if (showDropdown) {
    <div class="dropdown-container" [style.width.px]="inputWidth" (wheel)="onMouseWheel($event)">
      @if (results.length === 0) {
        <div class="no-results">
          No se encontraron datos
        </div>
      }
      <div id="sticky">
        <dx-button
          id="btnSeleccion"
          #btnSeleccion
          stylingMode="contained"
          text="Seleccionar"
          type="default"
          [width]="170"
          (onClick)="clickSelecc($event)"
          >
        </dx-button>
      </div>
      @if (results.length > 0) {
        <table class="results-table">
          <thead>
            <tr>
              <th>
                <input type="checkbox" class="fila-checkbox" (change)="toggleSelectAll($event)">
              </th>
              @for (item of columnas; track item) {
                <th>{{ item }}</th>
              }
              <!-- <th class="id-column">Id</th> -->
              <!-- <th class="name-column">Name</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- (click)="selectItem(item)"  -->
            @for (item of results; track item) {
              <tr
                class="result-row">
                <!-- <td class="id-column">{{ item.id }}</td>
                <td class="name-column">{{ item.name }}</td> -->
                <td>
                  <input type="checkbox" class="fila-checkbox"
                    [checked]="isSelected(item)"
                    (change)="toggleSeleccion(item)">
                  </td>
                  @for (col of columnas; track col) {
                    <td>{{ item[col] }}</td>
                  }
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    }

  </div>
