.container-uno-app {
  display: flex;
  width: 100%;
  align-items: center;
}

.container-uno-app div {
  display: flex;
  align-items: center;
  line-height: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.contain-name-proyect {
  background-color: transparent !important;
  border: 0 !important;
  height: 30px;
}

.avatar-content-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: lightblue;
  text-align: center;
  font-weight: bold;
  border: 1px solid #fefefe;
  border-radius: 50% !important;
  object-fit: cover;
  overflow: hidden;
}

.temResponsable {
  display: flex;
  justify-content: flex-start;
  height: 30px;
}

.temResponsable a {
  padding: 5px;
}

.temColaboradores {
  display: flex;
  justify-content: flex-start;
  height: 30px;
}

.temColaboradores a {
  padding: 5px;
}

.oscroll-of {
  overflow: hidden;
}
.oscroll-of:hover {
  overflow-y: hidden;
  overflow-x: auto;
}

.dropdown-menu-xt {
  flex-direction: column !important;
  align-items: center !important;
  width: 10% !important;
  padding: .55rem .25rem;
  color: #4c4c4c;
  background-clip: padding-box;
  border: 1px solid #e1e7ef;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05), 0px 6px 8px rgba(17, 17, 26, 0.1);
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05), 0px 6px 8px rgba(17, 17, 26, 0.1);
}

.dropdown-menu-xt li {
  display: flex !important;
  justify-content: flex-start !important;
  width: 100%;
}

.icon-select {
  font-size: 0.875rem;
  vertical-align: middle;
}

.contain-buttom {
  line-height: 0 !important;
  padding: .55rem .75rem;
}

.contain-buttom a {
  font-size: 1rem;
}

ul {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 100%;
}

ul li {
  /* display: flex; */
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  min-width: 50px;
  height: 30px;
  cursor: pointer;
}

ul li:hover {
  border-radius: 1.5rem;
  color: #333;
  background-color: rgba(15,76,129, .06);
}

.divisorGesPro {
  height: 90%;
  width: 25px;
  color: #707070;
  font-size: 1.75rem;
  margin-left: .75rem;
  margin-right: 1.55rem;
}

.spanButton {
  padding-left: 5px;
  font-size: 18px;
}

.button_toolbar-flotante {
  position: absolute;
  z-index: 10;
  right: 10px;
}
