<div class="un-aplicaciones-container">

    <div>
      <span>Asociar aplicaciones</span>
    </div>
    <div class="mt-2" style="width: 60%;">
      <dx-drop-down-box
          #appsDisponibles width="100%"
          valueExpr="ID_GRUPO"
          displayExpr="NOMBRE" placeholder="Seleccione grupos productos.."
          [showClearButton]="true"
          [(value)]="appSeleccionadas"
          [dataSource]="appsDataSource"
          (onValueChanged)="onValueChanged($event, 'APLICACIONES')"
          [readOnly]="readOnly"
      >
      <!-- etl que es en el manejo de datos olap -->
          <div *dxTemplate="let data of 'content'">
              <dx-tree-list
                  height="100%"
                  keyExpr="ID_GRUPO"
                  parentIdExpr="ID_GRUPO_PADRE"
                  [showBorders]="true"
                  [showRowLines]="true"
                  [autoExpandAll]="true"
                  [columnAutoWidth]="true"
                  [dataSource]="appsDataSource"
                  [(selectedRowKeys)]="appSeleccionadas"
                  (onSelectionChanged)="onSelectionChanged($event, 'APLICACIONES')"
                  
              >
                  <dxo-selection mode="multiple" [recursive]="true" [showCheckBoxesMode]="'always'"></dxo-selection>
                  
                  <dxo-scrolling showScrollbar="onScroll"></dxo-scrolling>
                  <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
                  
                  <dxi-column dataField="ID_GRUPO" caption="Código" [width]="200"></dxi-column>
                  <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
              </dx-tree-list>
          </div>
      </dx-drop-down-box>
    </div>

  <div class="mt-3">
    <div>
      <span>Asociar UN's</span>
    </div>
    <div class="mt-2" style="width: 60%;">
      <dx-drop-down-box
        #asociarUNs
        width="100%"
        valueExpr="ID_UN"
        displayExpr="ID_UN"
        placeholder="Seleccione Productos.."
        [showClearButton]="true"
        [(value)]="UNsSeleccionadas"
        [dataSource]="UnsDisponibles"
        (onValueChanged)="onValueChanged($event, 'UN')"
        [readOnly]="readOnly">
        
        <div *dxTemplate="let data of 'content'" style="height: 400px;">
          <dx-tree-list
            #gridUNs
            id="gridUNs"
            keyExpr="ID_UN"
            parentIdExpr="ID_UN_SUPERIOR"
            noDataText="Seleccione aplicaciones a filtrar"
            [columnMinWidth]="150"
            [showBorders]="true"
            [showRowLines]="true"
            [columnAutoWidth]="true"
            [hoverStateEnabled]="true"
            [allowColumnResizing]="true"
            [rowAlternationEnabled]="true"
            [dataSource]="UnsDisponibles"
            [(selectedRowKeys)]="UNsSeleccionadas"
            (onSelectionChanged)="onSelectionChanged($event, 'UN')"
            height="350px"

          >
            
            <dxo-selection mode="multiple" [recursive]="true" ></dxo-selection>
            <dxo-scrolling showScrollbar="onScroll"></dxo-scrolling>
            <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
            <dxi-column dataField="ID_UN" caption="ID_UN" [width]="200"></dxi-column>
            <dxi-column dataField="NOMBRE" caption="NOMBRE"></dxi-column>
          </dx-tree-list>

          <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
            <dx-button 
              text="Aceptar" 
              type="success" 
              stylingMode="contained"
              height="32px"
              style="margin-left: 5px;"
              (onClick)="aceptarSeleccionUNs()"
              [disabled]="readOnly">
            </dx-button>
          </div>
        </div>
      </dx-drop-down-box>
    </div>
  </div>
  
  <h4 style="margin-top: 20px; margin-bottom: 0;">Unidades de Negocios Asociadas</h4>

  <dx-data-grid 
    #gridRefUn
    id="gridUnidadesAsociadas" 
    [dataSource]="UNsSeleccionadasCompletas" 
    [showBorders]="true" 
    [columnAutoWidth]="true" 
    [showRowLines]="true"
    (onSelectionChanged)="selectionGridUN($event)"
    (onRowInserting)="onGridRowInsertingUN($event)">
    
    <dxo-editing 
      mode="row"
      [allowUpdating]="false"
      [allowAdding]="false"  
      [allowDeleting]="false"
      [useIcons]="false">    
      
      <dxo-texts 
        confirmDeleteMessage=""
        cancelRowChanges=""
        saveRowChanges=""
        deleteRow=""
        editRow=""
        saveAllChanges=""
        cancelAllChanges="">
      </dxo-texts>
    </dxo-editing>

    <dxo-selection
      selectAllMode="allPages"
      [showCheckBoxesMode]="!readOnly ? 'always' : 'none'"
      mode="multiple">
    </dxo-selection>
    
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-pager [visible]="false"></dxo-pager>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-search-panel [visible]="true" [width]="380"></dxo-search-panel>
    
    <dxi-column dataField="ID_UN_ASOCIADA" caption="UN ASOCIADA" alignment="left" dataType="string">
      <dxi-validation-rule type="required" message="El campo es obligatorio"></dxi-validation-rule>
    </dxi-column>
    
    <dxi-column dataField="NOMBRE" caption="NOMBRE" alignment="left" dataType="string">
    </dxi-column>

    <dxo-toolbar *ngIf="!readOnly">
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGridUN($event,'delete')" *ngIf="rowDeleteUN">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGridUN($event,'save')" *ngIf="rowApplyChangesUN">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGridUN($event,'cancel')" *ngIf="rowApplyChangesUN"></dx-button>
        </div>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>
</div>