<div id="header-aplicacion" class="container-header">
  <div id="container-header-uno" class="d-none d-md-flex container-header-uno" (resized)="onResized($event, 'barra')">
    <app-BARRA class="cls-reg-barra"></app-BARRA>
  </div>
  <div id="container-header-dos" class="container-header-dos" (resized)="onResized($event, 'header')">
    <ul class="class-ul">
      <li id="icon-buscar-ol-header" class="class-li">
        <a class="dropdown-toggle class-a" href="#" id="buscarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="icon-buscar-ol"></i>
        </a>

        <ul class="dropdown-menu subMenu" aria-labelledby="buscarDropdown"
          style="width: 400px; height: auto; padding:.55rem .75rem;">
          <dx-select-box width="100%" [dataSource]="DAplicaciones" placeholder="Buscar..." stylingMode="filled"
            displayExpr="NOMBRE" valueExpr="ID_APLICACION" [searchEnabled]="true" [(value)]="selectAplicacion"
          (onItemClick)="onSelectBusqueda($event)"></dx-select-box>
        </ul>

      </li>
      <li id="icon-bell-ol-header" class="class-li">
        <a class="dropdown-toggle class-a" href="#" id="bellDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false" [matBadge]="matBadgeNotificaciones > 0 ? matBadgeNotificaciones : '' "
          matBadgeColor="warn" (click)="abrirNotificaciones($event)">
          <i class="icon-bell-ol"></i>
        </a>

        <ul id="DropdownNTF" #DropdownNTF class="dropdown-menu" aria-labelledby="bellDropdown"
          style="width: 360px; border-radius: 15px; padding: .55rem .75rem;">
        </ul>

      </li>
      <li id="icon-inbox-ol-header" class="class-li">
        <a class="dropdown-toggle class-a" id="inboxDropdown" role="button"
          aria-expanded="false" [matBadge]="matBadgeMensajes > 0 ? matBadgeMensajes : '' "
          matBadgeColor="warn" (click)="abrirBuzon($event)">
          <i class="icon-inbox-ol"></i>
        </a>
      </li>
      <li id="nombres-header" class="class-li">
        <div class="d-none d-md-flex nombres">
          <span class="fatory-name">{{ displayEmpresa() }}</span>
          <span class="user-position">{{ displayUsuario() }}</span>
        </div>
        @if (!activeIconPerfil) {
          <a class="dropdown-toggle" href="#" id="headerDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ displayFotoUsuario() }}" alt="{{ displayUsuario() }}" width="35px" height="35px"
              class="avatar-xt" />
            </a>
          }
          @if (activeIconPerfil) {
            <span class="avatar-content-name" href="#" id="headerDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span>{{ iconNameUser }}</span>
            </span>
          }

          <ul class="dropdown-menu  subMenu" aria-labelledby="headerDropdown">
            <li class="subMenu-li" (click)="userProfile()">
              <a class="subMenu-a" style="cursor: pointer;">
                <i class="icon-configuraciones-ol subMenu-i" aria-hidden="true"></i>
                <span style="margin-left:10px;">Mi Perfil</span>
              </a>
            </li>
            <li class="subMenu-li" (click)="logout()">
              <a class="subMenu-a" href="#">
                <i class="icon-salir-alt-ol subMenu-i" aria-hidden="true"></i>
                <span style="margin-left:10px;">Salir</span>
              </a>
            </li>
          </ul>

        </li>
      </ul>
    </div>
  </div>

  <dx-load-panel #loaderPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#body-chat' }"
    [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" message="Cargando..."
    [hideOnOutsideClick]="false"
  ></dx-load-panel>


  @if (popupVisible) {
    <dx-popup #popupHeaderNotificaiones id="popupHeaderNotificaiones" width="100%" height="100%" [title]="titlePopup"
      [showTitle]="showTitlePopup" [dragEnabled]="false" [hideOnOutsideClick]="true" [showCloseButton]="false"
      [visible]="popupVisible"
      (onHiding)="onHidingPopup($event)"
      >
      @if (visible_toolbar_item && notifications[0].DATA.length > 0) {
        <dxi-toolbar-item toolbar="top" locateInMenu="always"
        widget="dxButton" [options]="optionsPopup"></dxi-toolbar-item>
      }
      <dxo-position at="center" my="center" [of]="ofDropdownNTF" collision="fit"></dxo-position>
      <div *dxTemplate="let data of 'content'">
        @if (ofDropdownNTF === '#DropdownNTF' && notifications.length > 0 && notifications !== undefined) {
          <dx-list
            #listNotification
            id="listNotification" height="94%" width="100%" selectionMode="single" [grouped]="true" [hoverStateEnabled]="false"
            [dataSource]="notifications"
            (onContentReady)="onContentReadyList($event)"
            >
            <div *dxTemplate="let notification of 'group' " >
              <div>
                @for (data of notification.DATA; track data) {
                  <div class="ntf">
                    @if (data.TIPO === 'RECORDATORIO') {
                      <div class="content_text_aplication" style="cursor: default;" >
                        <div>
                          <span>
                            Recordatorio
                          </span>
                        </div>
                        <div class="content_detalle">
                          <div class="subMenu-a">
                            <span class="avatar-content-name">
                              <i class="icon-calendar-sl" width="20px" height="20px"></i>
                            </span>
                          </div>
                          <div class="content_description">
                            <span class="mensaje">
                              {{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.tituloName : data.NOMBRE }}
                              <b> {{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.NOMBRE : data.NOMBRE }} </b>
                            </span>
                            <span class="mensaje">
                              {{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.tituloFecha : '' }}
                              <b>
                                {{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.DIA : '' }}/{{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.MES : '' }}/{{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.ANO : '' }}
                                {{ data.DESCRIPCION_REC.TODO_DIA ? 'Todo el día' : ' a las ' +  data.DESCRIPCION_REC.HORAS + ':'+ data.DESCRIPCION_REC.MINUTOS }}
                              </b>
                            </span>
                            <span class="mensaje">
                              {{ data.DESCRIPCION_REC ? data.DESCRIPCION_REC.tituloDescripcion : '' }}
                            </span>
                            <div class="content_fechas xt-textbox-notify">
                              <dx-date-box #fechaNotificacion type="datetime" class="dateBox-fechas" [readOnly]="true"
                              [useMaskBehavior]="true" [(value)]="data.FECHA_ENVIO" displayFormat="HH:mm"></dx-date-box>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                    @if (data.TIPO !== 'RECORDATORIO') {
                      <div class="content_text_aplication" style="cursor: pointer;" (click)="abrirApl(data)" >
                        <div>
                          <span>
                            {{ data.NOMBRE_APLICACION }}
                          </span>
                          @if (data.ACTIVIDAD) {
                            <span>
                              {{ data.ACTIVIDAD !== undefined ? " - " + data.ACTIVIDAD.CLASE : "" }}
                            </span>
                          }
                        </div>
                        <div class="content_detalle">
                          <div class="subMenu-a">
                            @if (data.USUARIO_ENV.FOTO !== '') {
                              <a class="avatar-content">
                                <img [id]="'USER-' + data.ITEM" width="20px" height="20px" [src]="data.USUARIO_ENV.FOTO"
                                  [alt]="data.USUARIO_ENV.iconNameUser" />
                                </a>
                              }
                              @if (data.USUARIO_ENV.FOTO === '') {
                                <span class="avatar-content-name">
                                  <span [id]="'USER-' + data.ITEM">{{
                                    data.USUARIO_ENV.iconNameUser
                                  }}</span>
                                </span>
                              }
                            </div>
                            <div>
                              <div class="content_description">
                                <span class="mensaje">
                                  {{ data.DESCRIPCION }}
                                </span>
                                <div class="content_fechas xt-textbox-notify">
                                  <dx-date-box #fechaNotificacion type="datetime" class="dateBox-fechas" [readOnly]="true"
                                  [useMaskBehavior]="true" [(value)]="data.FECHA" displayFormat="HH:mm"></dx-date-box>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      }
                      @if (data.TIPO !== 'RECORDATORIO') {
                        <div class="content_accion" >
                          <div class="content_btn">
                            @if (data.ESTADO === 'Enviado') {
                              <button class="btn_action" title="Marcar como leido"
                                (click)="changeStatus(data, 'Visto')">
                                <i class="icon-aceptar-sl icon_doublecheck_color"></i>
                              </button>
                            }
                            @if (data.ESTADO !== 'Enviado') {
                              <button class="btn_action" title="Marcar como no leido"
                                (click)="changeStatus(data, 'Enviado')">
                                <i class="icon-aceptar-ol icon_check_color"></i>
                              </button>
                            }
                          </div>
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
            </dx-list>
          }
          @if (notifications.length === 0) {
            <div class="ntf_content_vacio">
              <div class="ntf_vacio">
                <span>{{textNotification}}</span>
              </div>
            </div>
          }
          <br>
            @if (ofDropdownNTF === '#DropdownNTF' ) {
              <dx-button
                width="100%"
                height="5%"
                text="Historial"
                (onClick)="abrirApl({ID_APLICACION: 'ADM-1000'})"
              ></dx-button>
            }
          </div>
        </dx-popup>
      }

      <GES_INFO [events]="eventsGesInfo.asObservable()"></GES_INFO>


      @if (popupVisibleChat) {
        <dx-popup #popupChat id="popupChat" width="655" height="500"
          [showTitle]="false" [dragEnabled]="true" [resizeEnabled]="true" [hideOnOutsideClick]="true"
          [showCloseButton]="false" [visible]="popupVisibleChat" container="#router-container" (onHiding)="onHidingPopupChat($event)"
          >
          <dxo-position at="bottom" my="left" of="#router-container" collision="fit"></dxo-position>
          <div *dxTemplate="let data of 'content'">
            <app-BUZON></app-BUZON>
          </div>
        </dx-popup>
      }
