
<div [ngStyle]="{'display': modoGrid!=='Consolidado' ? 'block':'none'}">
  <dx-data-grid
    #gridManoObra
    id="gridManoObra"
    [keyExpr]="['ID_SECCION','ID_PARTE']"
    [dataSource]="DGseccionesManoObra"
    [columnAutoWidth]="true"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [allowColumnResizing]="true"
    columnResizingMode="nextColumn"
    (onRowExpanding)="onSelectionExpand($event)"
    (onSelectionChanged)="selectionGrid($event)"
  >
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    
    <dxi-column
      dataField="ID_SECCION"
      caption="Id Sección"
      cssClass="clsEncabHis"
      alignment="left"
      width="20%"
    ></dxi-column>

    <dxi-column
      dataField="DESCRIPCION"
      caption="Nombre"
      cssClass="clsEncabHis"
      width="40%"
    ></dxi-column>

    <dxi-column
      dataField="FACTOR_MOD"
      caption="Factor de Protección"  
      alignment="right"
      dataType="number"
      format="#,00%"
      width="20%"
      [editorOptions]="{format: '#,00%', min:0, readOnly: true}"
    ></dxi-column>
    
    <dxi-column
      dataField="TOTAL"
      caption="Total"  
      alignment="right"
      dataType="number"
      format="#,##0.00"
      width="20%"
      [editorOptions]="{format: '#,##0.00', min:0}"
    ></dxi-column>
    
    <dxo-master-detail [enabled]="true" template="detail" > </dxo-master-detail>
    <div *dxTemplate="let manoObra of 'detail'">
      <app-PRO01903_03 
        [getData]="manoObra.data"
        (send_totalSeccion)="getTotalSeccion($event)"
      ></app-PRO01903_03>
    </div>
    
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="pulldown" matTooltip="Refrescar" (onClick)="operGrid($event,'refrescar')" >
          </dx-button>
        </div>
      </dxi-item>
    </dxo-toolbar>

  </dx-data-grid>
</div>
<div [ngStyle]="{'display': modoGrid==='Consolidado' ? 'block':'none'}">
  <dx-data-grid
    #gridManoObraConsolidado
    id="gridManoObraConsolidado"
    keyExpr="CODIGO"
    width="100%"
    [dataSource]="DGManoObraConsolidado"
    [showBorders]="true"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [columnMinWidth]="100"
    columnResizingMode="widget"
  >
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-search-panel [visible]="true"  [width]="250" ></dxo-search-panel>

    <dxi-column
      dataField="CODIGO"
      caption="Id Componente"
      cssClass="clsEncabHis"
      alignment="left"
      [width]="200"
    ></dxi-column>

    <dxi-column dataField="DESCRIPCION"  caption="Nombre" cssClass="clsEncabHis" editCellTemplate="temNombre" [width]="250"></dxi-column>

    <dxi-column
      dataField="CANTIDAD"
      caption="Cantidad"
      alignment="right"
      [width]="120"
      [editorOptions]="{format: '#,##0.00', min:0}"
    >
      <dxo-format
        type="fixedPoint"
        [precision]="2">
      </dxo-format>
    </dxi-column>

    <dxi-column
      dataField="VALOR"
      caption="Valor Uni." 
      alignment="right"
      dataType="number"
      format="#,##0.00"
      [width]="150"
    ></dxi-column>

    <dxi-column dataField="TIPO" caption="Tipo" [width]="100" editCellTemplate="temTipo" ></dxi-column>

    <dxi-column
      dataField="TOTAL"
      caption="Total"
      alignment="right"
      dataType="number"
      format="#,##0.00"
      [width]="150"
    ></dxi-column>

  </dx-data-grid>
</div>