
#gridManoObra {
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 420px;
}

.tem-parte {
  display: flex;
  justify-content: space-between;
}

.tem-parte > span {
  display: flex;
  align-items: center;
}

.tem-parte > span > p {
  margin: 0 1rem 0 0;
}

.constainer-expand {
  display: flex !important;
  width: 100%;
  padding: 5px;
}

.containerTOTALES {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 15px;
}

.containerTOTALES > div {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-bottom: 5px;
}

.containerTOTALES > div > span {
  padding-right: 1rem;
}