<div id="tbar-img-xtein" class="xs-bar-img">
    <!-- <button *ngIf="activeBtn[0]" type="button" class="mr-1 btn btn-tools xs-icon-img" id="icon-upload-file-sl">
        <i class="icon-upload-file-sl" aria-hidden="true"></i>
    </button> -->
    <!-- <button *ngIf="activeBtn[1]" type="button" class="mr-1 btn btn-tools xs-icon-img" id="icon-eliminar-sl">
        <i class="icon-eliminar-sl" aria-hidden="true"></i>
    </button>
    <button *ngIf="activeBtn[2]" type="button" class="mr-1 btn btn-tools xs-icon-img" id="icon-eliminar-todo-sl">
        <i class="icon-eliminar-todo-sl" aria-hidden="true"></i>
    </button> -->

    <div #svgContainer id="svgContainer" [innerHTML]="fileContent"></div>

    <!-- <div class="image-upload">
        <label for="file-loader">
            <i class="mr-1 btn btn-tools xs-icon-img icon-upload-file-sl xs-icon-img-upload" aria-hidden="true"></i>
        </label>
        <input type="file" accept="image/*,.svg" id="file-loader" >
    </div> -->
</div>

<dx-tooltip
    [target]='targetIdTooltip'
    position="bottom"
    [(visible)]="toolTipVisible"
    showEvent="mouseenter"
    hideEvent="mouseleave"
    [wrapperAttr]="wrapperAttr"
    [hideOnOutsideClick]="false"
    (onShown)="onShown($event)"
    >
    <div *dxTemplate="let data = data; of: 'content'">
        <div style="font-size: 12px;">{{tooltipInfo}}</div>
    </div>
</dx-tooltip>
