<dx-data-grid
    #gridCombos
    id="gridCombos"
    noDataText="" 
    [dataSource]="DCombos"
    keyExpr="ITEM"
    [allowColumnResizing]="true"
    columnResizingMode="nextColumn"
    [showBorders]="true"
    [focusedRowEnabled]="true"
    width="100%"
    (onInitNewRow)="onInitNewRow($event)"
    (onRowInserting)="insertingRow($event)"
    (onRowInserted)="insertedRow($event)"
    (onRowUpdating)="updatingRow($event)"
    (onRowRemoved)="removedRow($event)"
    (onEditingStart)="onEditingStart($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowValidating)="onRowValidating($event)"
    (onSelectionChanged)="selectionGrid($event)"
>

    <dxo-editing 
        mode="cell"
        [useIcons]="false" 
        [allowUpdating]="esEdicion" 
        [allowDeleting]="false" 
        [allowAdding]="esEdicion">
        <dxo-texts
            confirmDeleteMessage="">
        </dxo-texts>
    </dxo-editing>

    <dxo-selection 
        selectAllMode="allPages"     
        [showCheckBoxesMode]="esVisibleSelecc" 
        mode="multiple">
    </dxo-selection>

    <dxi-column dataField="ITEM" [visible]="false"></dxi-column>
    <dxi-column 
        dataField="PRODUCTO_KIT" 
        caption="Producto" 
        editCellTemplate="listaProKit" 
        width="20%"
        [setCellValue]="setNomProValue">
    </dxi-column>
    <dxi-column dataField="NOMBRE" caption="Nombre" [allowEditing]="false">
    </dxi-column>
    <dxi-column 
        dataField="UDM_PRES"
        caption="UM. Pres"
        minWidth="100"
        editCellTemplate="tempUDM_PRES"
        calculateDisplayValue="UDM_PRES"
    ></dxi-column>
    <dxi-column 
      dataField="CANTIDAD" 
      alignment="right" 
      caption="Cantidad" 
      calculateDisplayValue="CANTIDAD" 
      width="20%"
      dataType="number" 
      format="#,##0.00" 
      >
    </dxi-column>

    <div *dxTemplate="let cellInfo of 'listaProKit'">
        <dx-drop-down-box
            #ddProKit
            id="ddProKit"
            displayExpr="PRODUCTO"
            valueExpr="PRODUCTO"
            placeholder="Producto..."
            [deferRendering]="false"
            [showClearButton]="true"
            [(value)]="cellInfo.value"
            [dataSource]="DListaProductos"
            [dropDownOptions]="{ width: 700, height: 400, hideOnParentScroll: true, container:'#router-container' }"
            contentTemplate="contentTemplate"
        >
            <div *dxTemplate="let data of 'contentTemplate'">
                <dx-data-grid
                    #GListaProKit
                    height="100%"
                    keyExpr="PRODUCTO"
                    [hoverStateEnabled]="true"
                    [focusedRowEnabled]="true"
                    [selectedRowKeys]="[cellInfo.value]"
                    [focusedRowKey]="cellInfo.value"
                    [dataSource]="DListaProductos"
                    (onSelectionChanged)="onSelectionChangedPro($event, cellInfo, data.component, $event)"
                >
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

                    <dxi-column dataField="PRODUCTO" [width]="200" caption="Producto" ></dxi-column>
                    <dxi-column dataField="NOMBRE" caption="Nombre" ></dxi-column>

                </dx-data-grid>
            </div>
        </dx-drop-down-box>
    </div>

    <div *dxTemplate="let cellInfo of 'tempUDM_PRES'">
        <dx-select-box [dataSource]="DUDM_PRES" 
                    searchMode="contains"
                    [searchEnabled]="true"
                    valueExpr="UDM_PRES"
                    displayExpr="UDM_PRES"
                    [searchExpr]="['UDM_PRES']"
                    [(value)]="cellInfo.data.UDM_PRES" 
                    (onValueChanged)="onValueChangedUdmPres($event, cellInfo)">
        </dx-select-box>
    </div>

    <dxo-toolbar *ngIf="esEdicion">
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
            </dx-button>
            </div>
        </dxi-item>
        <dxi-item location="before">
            <div *dxTemplate>
                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
            </dx-button>
            </div>
        </dxi-item>
    </dxo-toolbar>
    
</dx-data-grid>

<dx-load-panel
    #loadPanelPro
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#GListaProKit' }"
    [(visible)]="loadingVisible"    
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    message="Un momento. Cargando consulta..."
    [hideOnOutsideClick]="false"
></dx-load-panel>