<div class="row gx-3 h-160" style="height: 100%;">
  <div class="col-12">
    <div class="card-content">
      <dx-form
        #FRutasPartes
        id="FRutasPartes"
        labelLocation="left"
        [colCount]="1"
        [formData]="DataRutasPartes"
        [readOnly]="ReadOnlyEncabRP"
        (onFieldDataChanged)="CambioDatosForma($event)"
      >
        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item dataField="ID_RUTA" editorType="dxTextBox" [editorOptions]="{placeholder:'Id Ruta'}">
          <dxo-label text="Id Ruta"></dxo-label>
          <div *dxTemplate >
            <dx-text-box
              #textIDRuta
              placeholder="Código de Ruta"
              [(value)]="DataRutasPartes.ID_RUTA"
              [readOnly]="true"
              (onValueChanged)="ValideExistencia($event)"
            ></dx-text-box>
          </div>
        </dxi-item>
        <dxi-item dataField="ESTADO" editorType="dxSelectBox">
          <dxo-label text="Estado"></dxo-label>
          <div *dxTemplate>
            <dx-select-box
              [dataSource]="['ACTIVO','INACTIVO']"
              [value]="DataRutasPartes.ESTADO"
              [readOnly]="ReadOnlyEncabRP"
              placeholder="Estado de Ruta"
              (onValueChanged)="onSeleccEstado($event)"
            ></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="DESCRIPCION" [editorOptions]="{placeholder:'Descripción de Ruta'}">
          <dxo-label text="Descripción"></dxo-label>
        </dxi-item>
        <dxi-item dataField="PRIORIDAD" editorType="dxSelectBox">
          <dxo-label text="Prioridad"></dxo-label>
          <div *dxTemplate>
            <dx-select-box
              [dataSource]="['Primaria','Secundaria']"
              [value]="DataRutasPartes.PRIORIDAD"
              [readOnly]="ReadOnlyEncabRP"
              placeholder="Seleccione prioridad"
              (onValueChanged)="onSeleccPrioridad($event)"
            ></dx-select-box>
          </div>
        </dxi-item>
        <dxi-item dataField="LAYOUT_DP" >
          <dxo-label text="Layouts"></dxo-label>
            <div *dxTemplate>
              <dx-drop-down-box
                #ddBoxLay
                id="ddBoxLay"
                [(value)]="DataRutasPartes.LAYOUT_DP"
                [dropDownOptions]="dropDownOptions"
                showSelectionControls="true"
                valueExpr="ID_RUTA"
                displayExpr="ID_RUTA"
                [showClearButton]="true"
                placeholder="Seleccione layout de ruta..."
                [dataSource]="GDatosLayoutDP"
                [readOnly]="ReadOnlyEncabRP"
                (onOpened)="onOpenedLayout($event)"
                (onValueChanged)="onValueChangedLayout($event)"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid
                    #GDatosDP
                    id="GDatosDP"
                    height="100%"
                    width="100%"
                    keyExpr="ID_RUTA"
                    [dataSource]="GDatosLayoutDP"
                    [selection]="{ mode: 'multiple' }"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    [paging]="{ enabled: true, pageSize: 10 }"
                    [scrolling]="{ mode: 'infinite' }"
                    [filterRow]="{ visible: false }"
                    [showBorders]="true"
                    [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true"
                    [(selectedRowKeys)]="GValorLayout"
                    (onSelectionChanged)="onSelectionChanged($event, ddBoxLay.instance)"
                  >
                    <dxo-search-panel [visible]="true" [width]="100" placeholder="Buscar...">
                    </dxo-search-panel>
                    <dxi-column dataField="ID_RUTA" caption="Código" [width]="130" ></dxi-column>
                    <dxi-column dataField="DESCRIPCION" caption="Nombre"></dxi-column>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
        </dxi-item>
      </dx-form>
    </div>
  </div>

  <!-- *** DIAGRAMA DE VISUALIZACION *** -->
  <div class="col-12">
    <div class="card-content-clean" style="padding: 5px;">
      <dx-diagram
        #diagPartes
        id="diagPartes"
        units="px"
        viewunits="px"
        class="dx-diagram-background"
        [readOnly]="diagReadOnly"
        autoZoomMode="fitWidth"
        [simpleView]="true"
        pageOrientation="landscape"
        (onInitialized)="onInitialized($event)"
        (onContentReady)="onContentReady($event)"
        (onOptionChanged)="onOptionChanged($event)"
        (onRequestEditOperation)="requestEditOperationHandler($event)"
        (onRequestLayoutUpdate)="requestLayoutUpdateHandler($event)"
        (onItemClick)="onItemClick($event)"
        (onItemDblClick)="onItemDblClick($event)"
        (onCustomCommand)="onCustomMenuDiag($event)"
      >
        <dxo-default-item-properties style="stroke-width: 1px"></dxo-default-item-properties>
        <dxo-main-toolbar [visible]="true">
          <dxi-command name="toolbox" text="Herramientas"></dxi-command>
          <dxi-command name="undo" text="Deshacer"></dxi-command>
          <dxi-command name="redo" text="Rehacer"></dxi-command>
          <dxi-command name="separator"></dxi-command>
          <dxi-command name="fontName" text="Fuente"></dxi-command>
          <dxi-command name="fontSize" text="Tamaño Fuente"></dxi-command>
          <dxi-command name="separator"></dxi-command>
          <dxi-command name="bold" text="Negrita"></dxi-command>
          <dxi-command name="italic" text="Inclinar"></dxi-command>
          <dxi-command name="underline" text="Subrayar"></dxi-command>
          <dxi-command name="separator"></dxi-command>
          <dxi-command name="fontColor" text="Color Fuente"></dxi-command>
          <dxi-command name="lineColor" text="Color Linea"></dxi-command>
          <dxi-command name="fillColor" text="Color Fondo"></dxi-command>
          <dxi-command name="separator"></dxi-command>
          <dxi-command name="zoomLevel" text="Zoom"></dxi-command>
          <dxi-command  name="clear" icon="clearsquare" text="Borrar Diagrama"></dxi-command>
          <dxi-command name="cambio" icon="repeat" text="Cambiar Forma"></dxi-command>
        </dxo-main-toolbar>

        <dxi-custom-shape
          *ngFor="let svgId of NodosSvg; let i = index"
          category="produccion"
          [type]="svgId.id"
          title="proceso"
          [backgroundImageUrl]="svgId.svg"
          [backgroundImageToolboxUrl]="svgId.svg"
          [defaultWidth]="100"
          [defaultHeight]="60"
          defaultText=""
          [allowEditText]="false"
          [allowEditImage]="true"
          [textWidth]=".55"
          [textLeft]="(1 - 0.55) / 2"
        >
          <dxi-connection-point [x]="0.25" [y]="0"></dxi-connection-point>
          <dxi-connection-point [x]="0.5" [y]="0"></dxi-connection-point>
          <dxi-connection-point [x]="0.75" [y]="0"></dxi-connection-point>
          <dxi-connection-point [x]="1" [y]="0.25"></dxi-connection-point>
          <dxi-connection-point [x]="1" [y]="0.5"></dxi-connection-point>
          <dxi-connection-point [x]="1" [y]="0.75"></dxi-connection-point>
          <dxi-connection-point [x]="0.25" [y]="1"></dxi-connection-point>
          <dxi-connection-point [x]="0.5" [y]="1"></dxi-connection-point>
          <dxi-connection-point [x]="0.75" [y]="1"></dxi-connection-point>
          <dxi-connection-point [x]="0" [y]="0.25"></dxi-connection-point>
          <dxi-connection-point [x]="0" [y]="0.5"></dxi-connection-point>
          <dxi-connection-point [x]="0" [y]="0.75"></dxi-connection-point>
        </dxi-custom-shape>

        <dxo-nodes
          [dataSource]="seccNodosDataSource"
          keyExpr="id"
          textExpr="text"
          containerKeyExpr="contenedor"
          typeExpr="type"
          leftExpr="x"
          topExpr="y"
          widthExpr="width"
          heightExpr="height"
          textStyleExpr="textStyle"
          lockedExpr="bloqSeccion"
          styleExpr="itemStyleExpr"
        >
          <dxo-auto-layout type="off"></dxo-auto-layout>
        </dxo-nodes>
        <dxo-edges
          [dataSource]="seccConecDataSource"
          keyExpr="id"
          fromExpr="fromId"
          toExpr="toId"
          textExpr="text"
          fromPointIndexExpr="fromPoint"
          toPointIndexExpr="toPoint"
          pointsExpr="pointsConec"
          styleExpr="conecStyle"
          lockedExpr="bloqConn"
        ></dxo-edges>

        <dxo-toolbox visibility="hidden">
          <dxi-group category="general" title="General"></dxi-group>
          <dxi-group category="produccion" title="Producción"></dxi-group>
          <dxi-group category="containers" title="Containers"></dxi-group>
        </dxo-toolbox>

        <dxo-context-menu [enabled]="true" >
          <dxi-command name="vincular" text="Vincular a ruta" *ngIf="menuCommSeccion[0]"></dxi-command>
          <dxi-command name="desvincular" text="Des-vincular de ruta" *ngIf="menuCommSeccion[1]"></dxi-command>
          <dxi-command name="inicio" text="Definir como sección inicio"  *ngIf="menuCommSeccion[2]"></dxi-command>
          <dxi-command name="vincular_con" text="Vincular conector" *ngIf="menuCommSeccion[3]"></dxi-command>
          <dxi-command name="desvincular_con" text="Des-vincular conector" *ngIf="menuCommSeccion[4]"></dxi-command>
          <dxi-command name="bloquear_secc" text="Bloquear" *ngIf="menuCommSeccion[5]"></dxi-command>
          <dxi-command name="desbloquear_secc" text="Des-bloquear" *ngIf="menuCommSeccion[6]"></dxi-command>
          <dxi-command name="bloquear_con" text="Bloquear" *ngIf="menuCommSeccion[7]"></dxi-command>
          <dxi-command name="desbloquear_con" text="Des-bloquear" *ngIf="menuCommSeccion[8]"></dxi-command>
        </dxo-context-menu>
      </dx-diagram>
    </div>
    
  </div>
</div>

<div>
  <dx-context-menu
    #contextMnuSeccion
    id="contextMnuSeccion"
    [dataSource]="itemsMenuDiag"
    [width]="250"
    target=".shape"
    (onShowing)="onMostrarMenuDiag($event)"
    (onItemClick)="contextMenuItemClick($event)"
    (onInitialized)="onInitializedMenu($event)"
  ></dx-context-menu>
</div>

<app-vistarapida id="vistapro013" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>