<div class="row gx-3">
  <div class="col-12">
    <div class="card-content">

      <dx-file-manager
        id="fileManager"
        [fileSystemProvider]="remoteProvider"
      >
        <dxo-permissions
          [create]="PermisosUsuario.create"
          [copy]="PermisosUsuario.copy"
          [move]="PermisosUsuario.move"
          [delete]="PermisosUsuario.delete"
          [rename]="PermisosUsuario.rename"
          [upload]="PermisosUsuario.upload"
          [download]="PermisosUsuario.download"
        ></dxo-permissions>
      </dx-file-manager>

    </div>
  </div>
</div>