<div class="row gx-3" id="splitterMain">
  <div id="form-container" class="mt-3">
    <div class="card-content">
      <dx-form #formIDLegales id="formIDLegales" [(formData)]="FDocumentos" [readOnly]="readOnly" labelLocation="left"
        colCount="1" [screenByWidth]="getSizeQualifier">
        <dxi-item itemType="group" cssClass="first-group" [colSpan]="2">
          <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>

          <dxi-item dataField="ID_DOCUMENTO" placeholder="Documento">
            <dxo-label text="Documento"></dxo-label>
            <div *dxTemplate>
              <dx-text-box placeholder="Documento" [readOnly]="readOnly" [(value)]="FDocumentos.ID_DOCUMENTO"
                (onValueChanged)="onValueChangedForm($event, 'ID_DOCUMENTO')">
                <dx-validator>
                  <dxi-validation-rule type="required" message="El Documento es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </dxi-item>

          <dxi-item dataField="NC_DOCUMENTO" placeholder="Consecutivo">
            <dxo-label text="Consecutivo"></dxo-label>
            <div *dxTemplate>
              <dx-text-box placeholder="Consecutivo" [readOnly]="readOnly" [(value)]="FDocumentos.NC_DOCUMENTO"
                (onValueChanged)="onValueChangedForm($event, 'NC_DOCUMENTO')">
                <dx-validator>
                  <dxi-validation-rule type="required" message="El Consecutivo es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </dxi-item>

          <dxi-item dataField="ESTADO" editorType="dxSelectBox">
            <dxo-label text="Estado"></dxo-label>
            <div *dxTemplate>
              <dx-select-box [dataSource]="['ACTIVO', 'INACTIVO', 'APROBADO', 'OPERATIVO', 'SIN UBICAR' ]" [value]="FDocumentos.ESTADO" [readOnly]="readOnly"
                placeholder="Seleccione Estado" (onValueChanged)="onValueChangedForm($event, 'ESTADO')">
              </dx-select-box>
            </div>
          </dxi-item>

          <dxi-item dataField="DESCRIPCION" placeholder="Descripción">
            <dxo-label text="Descripción"></dxo-label>
            <div *dxTemplate>
              <dx-text-box placeholder="Descripción" [readOnly]="readOnly" [(value)]="FDocumentos.DESCRIPCION"
                (onValueChanged)="onValueChangedForm($event, 'DESCRIPCION')">
              </dx-text-box>
            </div>
          </dxi-item>

        </dxi-item>
      </dx-form>
    </div>
    
    <div class="card-content mt-3">
      <div class="container-child-dos-app xt-gesptabs">
        <dx-tabs 
            class="xt-tabs-gespro" 
            [dataSource]="tabsDocumentosFiltered"
            displayExpr="text" 
            [scrollByContent]="true" 
            [showNavButtons]="true" 
            [selectedIndex]="selectedTabIndex"
            
            (onItemClick)="onTabChanged($event)">
        </dx-tabs>

        <div id="tabsContentGespro" class="content dx-fieldset" style="margin-top: 20px !important;">
          <!-- TAB 1: General -->
          <div *ngIf="selectedTabIndex === 0">
            <app-adm20701
              [formData]="FDocumentos"
              [readOnly]="readOnly"
              (dataChanged)="onGeneralDataChanged($event)">
            </app-adm20701>
          </div>

          <!-- TAB 2: UN y Aplicaciones -->
          <div *ngIf="selectedTabIndex === 1">
            <app-adm20702
              [dataSource]="DOCUMENTOS_UN"
              [readOnly]="readOnly"
              [treeDataProdcutos]="treeDataProdcutos"
              [documentoData]="FDocumentos"
              [appSelecteds]="appSelecteds"
              [prmUsrAplBarRegUsuario]="prmUsrAplBarReg.usuario"
              [id_app]="prmUsrAplBarReg.aplicacion"
              (dataChanged)="onDocumentosUnChanged($event)"
              (selectionChanged)="onSelectionGridUN($event)">
            </app-adm20702>
          </div>

          <!-- TAB 3: Autorizaciones -->
          <div *ngIf="selectedTabIndex === 2">
            <app-adm20703
              [dataSource]="DOCUMENTOS_AUTORIZACIONES"
              [readOnly]="readOnly"
              [documentoData]="FDocumentos"
              
              (dataChanged)="onDocumentosAutorizacionesChanged($event)">
            </app-adm20703>
          </div>

          <!-- TAB 4: Rangos -->
          <div *ngIf="selectedTabIndex === 3">
            <app-adm20704
              [dataSource]="RANGOS"
              [readOnly]="readOnly"
              [documentoData]="FDocumentos"
              (dataChanged)="onRangosChanged($event)">
            </app-adm20704>
          </div>
          
          <!-- TAB 5: Usuarios -->
          <div *ngIf="selectedTabIndex === 4">
            <app-adm20705
              [dataSource]="DOCUMENTOS_USUARIOS"
              [readOnly]="readOnly"
              [documentoData]="FDocumentos"
              (dataChanged)="onDocumentosUsuariosChanged($event)">
            </app-adm20705>
           </div>
        </div>
      </div>
    </div>

    <br />
  </div>
</div>

<app-vistarapida id="vistaadm205" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel #loadPanelPro shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
  message="Un momento. Cargando consulta..." [hideOnOutsideClick]="false"></dx-load-panel>
<app-geninformes [events]="eventsSubjectInformes.asObservable()">
</app-geninformes>

