<!-- FORM - Modo display - Field -->
<div class="info" *ngIf="modo === 'form_read'">
  <label class="dx-texteditor-label">{{
      data.editorOptions.label
  }}</label>
  <app-estado [value]="data.editorOptions.value"></app-estado>
</div>


<!-- FORM - Modo edición - select box -->
<div *ngIf="modo === 'form_edit'">
  <dx-select-box
    [(value)]="value"
    [items]="listaEstados"
    [stylingMode]="stylingMode"
    [label]="data.editorOptions.label"
    fieldTemplate="field"
    >
    <div *dxTemplate="let datae of 'field'">
        <div class="form-custom-list-prop">
          <app-estado [value]="value"></app-estado>
          <dx-text-box [readOnly]="true"></dx-text-box>
        </div>
    </div>
    <div *dxTemplate="let datae of 'item'">
        <app-estado [value]="datae"></app-estado>
    </div>
  </dx-select-box>
</div>

<!-- GRID - Modo display - Field -->
<div class="info_grid" *ngIf="modo.match('grid_') && !esEdicion">
  <app-estado [value]="value" [modo]="'grid_read'"></app-estado>
</div>

<!-- GRID - Modo edición - select box -->
<div *ngIf="modo === 'grid_edit' && esEdicion">
  <dx-select-box
    [(value)]="value"
    [items]="listaEstados"
    (onValueChanged)="onSetValueEstado($event)"
    >
    <div *dxTemplate="let datae of 'field'">
      <div class="grid-custom-list-prop">
        <app-estado [value]="value"></app-estado>
      </div>
    </div>
    <div *dxTemplate="let datae of 'item'">
        <app-estado [value]="datae"></app-estado>
    </div>
  </dx-select-box>
</div>
