<div class="container-buzon">

  <div class="container-list-chats">
    <div class="container-encabezado-chat">
      <div style="display: flex; width: 100%; height: 33%; justify-content: space-between; align-items: center;">
        <span><b>Chats</b></span>
        <dx-button icon="add" (onClick)="visibleListaChats = true"></dx-button>
      </div>
      <div style="width: 100%; height: 33%;">
        <dx-text-box width="100%" height="100%" placeholder="Buscar un chat"></dx-text-box>
      </div>
      <div style="display: flex; width: 100%; height: 33%; justify-content: space-around; align-items: center;">
        <span class="btn-filtro">Todos</span>
        <span class="btn-filtro">No leídos</span>
        <span class="btn-filtro">Grupos</span>
      </div>
    </div>
    <div class="list-mesages">
      @if (DListaChats.length <= 0) {
        <div
          style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
          <span style="color: #0a396073;"> No tienes mensajes</span>
        </div>
      }
      @if (DListaChats.length > 0) {
        <dx-scroll-view style="width:100%; height: 100%;">
          @for (data of DListaChats; track data) {
            <div
              style="display:flex; align-items:center; width:100%; height:40px; margin:5px 0px; cursor: pointer;"
              (click)="onSelectionChangedUsuario($event, 'anterior', data)"
              >
              @if (data.FOTO !== '' ) {
                <a class="avatar-content" style="width: 20%;">
                  <img [id]="'USER-'+data.USUARIO" width="100%" height="100%" [src]="data.FOTO" [alt]="data.NOMBRE_CHAT" />
                </a>
              }
              @if (data.FOTO === '' ) {
                <span class="avatar-content-name" style="width: 20%;">
                  <span [id]="'USER-'+data.USUARIO">{{ data.iconNameUser }}</span>
                </span>
              }
              <div class="content-chat" style="width: 80%;">
                <div class="content-mensajes-chat" style="width: 95%;">
                  <span style="margin-left: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" ><b>{{ data.NOMBRE_CHAT }}</b></span>
                  <div style="width: 100%; display: flex; flex-direction: row; align-items: center;">
                    <span style="margin-left: 10px; font-size: 10px; color: #707070; width: 70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                      {{data.MENSAJES.length > 0 ?
                      (data.MENSAJES[data.MENSAJES.length - 1].DESCRIPCION.length > 0 ?
                      data.MENSAJES[data.MENSAJES.length - 1].DESCRIPCION :
                      (data.MENSAJES[data.MENSAJES.length - 1].DESCRIPCION.length <= 0 && data.MENSAJES[data.MENSAJES.length - 1].ARCHIVOS.length > 0 ?
                      'Archivo adjunto' :
                      '')) :
                      ''
                      }}
                    </span>
                    <span style="width: 30%; text-align: end; margin-left: 10px; font-size: 10px; color: #707070;"
                      [matBadge]="data.CONT_MENSAJES > 0 ? data.CONT_MENSAJES : '' "
                      matBadgeOverlap="false"
                      matBadgeSize="small"
                      >
                      <!-- {{ data.MENSAJES.length === 0 || data.MENSAJES.length === undefined ? '' : (data.MENSAJES[data.MENSAJES.length - 1].FECHA_ENVIO | date : "HH:mm") }} -->
                      <!-- {{ data.FECHA_UPDATE | date : "HH:mm" }} -->
                      {{ formatearFecha(data.FECHA_UPDATE) }}
                    </span>
                  </div>
                </div>
              </div>
              <span></span>
            </div>
          }
        </dx-scroll-view>
      }
    </div>

    <div [ngClass]="visibleListaChats ? 'list-chats' : 'list-chats2' ">
      <div
        style="width: 100%; height: 5%; text-align: end; display: flex; align-items: center; justify-content: space-between; background-color: transparent;">
        <span style="font-size: 14px;"><b> Contactos </b></span>
        <dx-button icon="arrowleft" (onClick)="visibleListaChats = false"></dx-button>
      </div>
      <dx-list #listUsuarios id="listUsuarios" width="100%" height="94%" searchExpr="NOMBRE" searchMode="contains"
        selectionMode="single" [searchEnabled]="true" [selectedItemKeys]="selectUsuario" [dataSource]="DUsuarios"
        [elementAttr]="{ style: 'cursor: pointer;' }"
        (onSelectionChanged)="onSelectionChangedUsuario($event, 'nuevo', '')">
        <div *dxTemplate="let data of 'item'" style="display: flex; align-items: center; width: 100%;">
          <span
          [ngClass]="data.ESTADO === 'ONLINE' ? 'position-absolute top-50 end-0 translate-middle p-1 bg-success border border-light rounded-circle' : '' "></span>
          @if (data.FOTO !== '' ) {
            <a class="avatar-content">
              <img [id]="'USER-'+data.USUARIO" width="100%" height="100%" [src]="data.FOTO" [alt]="data.NOMBRE" />
            </a>
          }
          @if (data.FOTO === '' ) {
            <span class="avatar-content-name">
              <span [id]="'USER-'+data.USUARIO">{{ data.iconNameUser }}</span>
            </span>
          }
          <span class="margin-left: 10px;">{{ data.NOMBRE }}</span>
        </div>
      </dx-list>
    </div>

  </div>
  <mat-divider recuadro vertical> </mat-divider>
  <div class="container-chats-mesage">
    @if (activeChatUser) {
      <div id="chat-activo" class="chat"
        style="display: flex; flex-direction: column; justify-content: space-between;">
        <div class="header-chat">
          <div class="user-header-info">
            @if (infoChatActivo.FOTO !== '' ) {
              <a class="avatar-content">
                <img [id]="'USER-'+infoChatActivo.USUARIO" [src]="infoChatActivo.FOTO" [alt]="infoChatActivo.NOMBRE" />
              </a>
            }
            @if (infoChatActivo.FOTO === '' ) {
              <span class="avatar-content-name">
                <span [id]="'USER-'+infoChatActivo.USUARIO">{{ infoChatActivo.iconNameUser }}</span>
              </span>
            }
            <span class="full-name">{{ infoChatActivo.NOMBRE_CHAT }}</span>
          </div>
          <div>
            <dx-button icon="close" (onClick)="showChats($event, 'cerrar', infoChatActivo)"></dx-button>
          </div>
        </div>
        <div id="body-chat" class="body-chat">
          <dx-scroll-view #scrollViewBodyChat id="scrollViewBodyChat" width="100%" height="100%">
            @for (msj of infoChatActivo.MENSAJES; track msj) {
              <div
                [ngClass]="{'container-send-message': msj.USUARIO_ENV === USUARIO_LOCAL, 'container-received-message': msj.USUARIO_ENV !== USUARIO_LOCAL }"
                >
                @if (infoChatActivo.ES_GRUPO && msj.USUARIO_ENV !== USUARIO_LOCAL ) {
                  <span class="avatar-content-name" style="width: 20%;">
                    <span [id]="'USER-'+msj.USUARIO_ENV">{{ msj.iconNameUser }}</span>
                  </span>
                }
                <div
                  [ngClass]="{'send-message': msj.USUARIO_ENV === USUARIO_LOCAL, 'received-message': msj.USUARIO_ENV !== USUARIO_LOCAL }"
                  >
                  @if (infoChatActivo.ES_GRUPO && msj.USUARIO_ENV !== USUARIO_LOCAL ) {
                    <span style="display: flex; width: 100%; height: auto; font-size: 10px; padding-bottom: 5px;">
                      <b>{{ msj.NOMBRE_MSJ }}</b>
                    </span>
                  }
                  @if (msj.DESCRIPCION.length > 0) {
                    <span style="width: 100%; height: auto; font-size: 14px;">
                      {{ msj.DESCRIPCION }}
                    </span>
                  }
                  @if (msj.ARCHIVOS.length > 0) {
                    <div>
                      <div class="form-item-flow-wrap">
                        @for (archivo of msj.ARCHIVOS; track archivo) {
                          <div
                    style="
                      width: 150px;
                      height: 150px;
                      overflow: hidden;
                      margin: 5px;
                      cursor: pointer;
                    "
                            (click)="onClickAbrir(archivoDoc, archivo)"
                            >
                            <img
                              width="100%"
                              height="100%"
                              style="border-radius: 10px"
                              [src]="archivo.URL_ARCHIVO"
                              [alt]="archivo.NOMBRE_ARCHIVO"
                              />
                            </div>
                          }
                        </div>
                      </div>
                    }
                    <span style="display: flex; justify-content: flex-end; align-items: center; font-size: 11px;">
                      {{ formatearFecha(msj.FECHA_ENVIO) }}
                      @if (msj.USUARIO_ENV === USUARIO_LOCAL) {
                        <span>
                          @if (msj.ESTADO.match('Enviado|Enviando')) {
                            <i class="dx-icon-check" [ngStyle]="{'color': msj.LEIDO ? '#4CAF50' : '#fff', 'margin-right': '-10px' }"></i>
                          }
                          @if (msj.ESTADO === 'Enviado' ) {
                            <i class="dx-icon-check" [ngStyle]="{'color': msj.LEIDO ? '#4CAF50' : '#fff' }"></i>
                          }
                        </span>
                      }
                    </span>
                  </div>
                </div>
              }
            </dx-scroll-view>
            <!-- <div class="container-img-chat" *ngIf="img">
            <img width="100%" height="100%" [src]="img" [alt]="img" />
          </div> -->
          <!-- <dx-scroll-view width="100%" height="100%" *ngIf="infoChatActivo.MENSAJES.length <= 0">
          <p>No hay mensajes.</p>
        </dx-scroll-view> -->
        @if (mostrarSubirArchivos) {
          <div class="form-toolbox-cotainer">
            <div class="form-upload-box">
              <dx-scroll-view width="100%" height="100%">
                <div class="container-img-chat" >
                  @for (archivo of Darchivos; track archivo) {
                    <div
                      class="image-container"
                      >
                      @if (archivo.TYPE.includes('image')) {
                        <div class="image-wrapper">
                          <img
                            [src]="archivo.URL_ARCHIVO"
                            [alt]="archivo.NOMBRE_ARCHIVO"
                            />
                            <dx-button
                              class="close-btn"
                            >x</dx-button>
                          </div>
                        }
                        @if (!archivo.TYPE.includes('image')) {
                          <div class="image-wrapper" >
                            <div
                      style="
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        overflow: hidden;
                        white-space: nowrap;
                      "
                              >
                              <div class="form-fileuploader-icon-container">
                                <i [ngClass]="archivo.icon" style="font-size: xx-large;"></i>
                              </div>
                              <div class="form-fileuploader-file-label">
                                {{ archivo.NOMBRE_ARCHIVO }}
                              </div>
                            </div>
                            <dx-button
                              class="close-btn"
                              (onClick)="onClickEliminarArchivo($event, archivo)"
                            >x</dx-button>
                          </div>
                        }
                      </div>
                    }
                  </div>
                </dx-scroll-view>
              </div>
            </div>
          }
        </div>
        <div class="footer-chat">
          <div style="width:95%; margin-left:6px; margin-right:6px;">
            <dx-text-area #text_mensaje id="text_mensaje" width="100%" placeholder="Escribe Mensaje..."
              [(value)]="mesajeText" valueChangeEvent="keyup" (onEnterKey)="sendMsj()" (onPaste)="onPasteMsj($event)"
              (onValueChanged)="onValueChangedMessage($event)"
            ></dx-text-area>
          </div>
          <dx-button
            icon="icon-adjuntar-ol"
            style="margin: 0 0.15rem"
            (onClick)="onClickCargar()"
            >
            <i class="icon-adjuntar-ol"></i>
          </dx-button>
          <dx-button class="style-icon" [disabled]="mesajeText.length <= 0 && Darchivos.length <= 0" (onClick)="sendMsj()">
            <i class="icon-send-sl"></i>
          </dx-button>
        <!-- </span> -->
      </div>
    </div>
  }




</div>

</div>