<div id="containerProManoObra" style="margin-top: 10px;">
  <dx-data-grid
    #gridDetalleManoObra
    id="gridDetalleManoObra"
    class="xt-subgrid"
    keyExpr="CODIGO"
    [dataSource]="DGDetalleManoObra"
    [columnAutoWidth]="true"
    [focusedRowEnabled]="true"
    [hoverStateEnabled]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [allowColumnResizing]="true"
    columnResizingMode="nextColumn"
    (onCellPrepared)="onCellPrepared($event)"
    (onRowPrepared)="onRowPrepared($event)"
    (onContentReady)="onContentReady($event)"
    (onInitNewRow)="onInitNewRowPro($event)"
    (onEditCanceled)="onEditCanceled($event)"
    (onRowValidating)="onRowValidating($event)"
    (onSelectionChanged)="selectionGrid($event)"
    (onRowInserting)="onRowInserting($event)"
    (onRowUpdating)="onRowUpdating($event)"
    (onRowInserted)="onCalculateTotalSeccion($event)"
    (onRowUpdated)="onCalculateTotalSeccion($event)"
    (onRowRemoved)="onCalculateTotalSeccion($event)"
    (onRowClick)="startEdit($event)"
  >
    <dxo-editing
      mode="row"
      [useIcons]="false"
      [allowUpdating]="!readOnly"
      [allowDeleting]="false"
      [allowAdding]="!readOnly"
    >
      <dxo-texts
        confirmDeleteMessage="">
      </dxo-texts>
    </dxo-editing>
  
    <dxo-selection 
      selectAllMode="allPages"     
      [showCheckBoxesMode]="esVisibleSelecc" 
      mode="multiple">
    </dxo-selection>
    
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
  
    <dxi-column
      dataField="CODIGO"
      caption="Cod. Mano Obra"
      cssClass="clsEncabHis"
      alignment="left"
      [width]="150"
      editCellTemplate="temProductos"
    ></dxi-column>
  
    <dxi-column
      dataField="DESCRIPCION"
      caption="Nombre"
      cssClass="clsEncabHis"
      [width]="200"
      [editorOptions]="{readOnly: true}"
    ></dxi-column>
  
    <dxi-column
      dataField="TIPO"
      caption="Tipo"
      [width]="100"
      [editorOptions]="{readOnly: true}"
    ></dxi-column>
  
    <dxi-column 
      dataField="UNIDAD_MEDIDA" 
      caption="Unidad Medida"
      calculateDisplayValue="UNIDAD_MEDIDA"
      cssClass="clsEncabHis"
      alignment="left"
      editCellTemplate="temUM"
      [width]="100"
    ></dxi-column>
  
    <dxi-column
      dataField="CANTIDAD"
      caption="Cantidad"
      alignment="right"
      [width]="120"
      cellTemplate="tempCantidadTiempo"
      editCellTemplate="tempCantidadTiempo"
    ></dxi-column>
  
    <dxi-column
      dataField="VALOR"
      caption="Valor Uni."
      alignment="right"
      format="#,##0.00"
      editCellTemplate="temValor"
    ></dxi-column>
  
    <dxi-column
      dataField="SUB_TOTAL"
      caption="Sub-Total"
      alignment="right"
      dataType="number"
      format="#,##0.00"
      [editorOptions]="{format: '#,##0.00', min:0, readOnly:true}"
    ></dxi-column>
  
    <dxi-column
      dataField="FACTOR_MOD"
      caption="Factor"
      alignment="right"
      dataType="number"
      format="##0,00%"
      [editorOptions]="{format: '##0,00%', readOnly:true}"
    ></dxi-column>
  
    <dxi-column
      dataField="PROTECCION"
      caption="Protección"
      alignment="right"
      dataType="number"
      format="#,##0.00"
      [editorOptions]="{format: '#,##0.00', min:0, readOnly:true}"
    ></dxi-column>
  
    <dxi-column
      dataField="TOTAL"
      caption="Total"
      alignment="right"
      dataType="number"
      format="#,##0.00"
      [editorOptions]="{format: '#,##0.00', min:0, readOnly:true}"
    ></dxi-column>
  
    <div *dxTemplate="let cellInfo of 'temProductos'">
      <dx-drop-down-box
        #Mo
        id="Mo"
        [(value)]="selectManoObra"
        valueExpr="CODIGO"
        displayExpr="CODIGO"
        [showClearButton]="false"
        [dropDownOptions]="{width:500, hideOnParentScroll: true, container:'#gridManoObra'}"
        [(opened)]="openManoObra"
        [dataSource]="DGManoObra"
        (onOpened)="onOpenedMO($event)"
        (onClosed)="onClosedMO($event)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #GManoObra
            id="GManoObra"
            height="100%"
            width="100%"
            keyExpr="CODIGO"
            [dataSource]="DGManoObra"
            [(selectedRowKeys)]="selectManoObra"
            [selection]="{ mode: 'single' }"
            [columnAutoWidth]="true"
            [allowColumnResizing]="true"
            [columnMinWidth]="100"
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="true"
            [hoverStateEnabled]="true"
            (onSelectionChanged)="onSelectionManoObra($event, cellInfo)" 
          >
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-search-panel [visible]="true" [width]="250" ></dxo-search-panel>
            <!-- <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging> -->
  
            <dxi-column dataField="CODIGO" caption="Cod. Mano Obra" cssClass="clsEncabHis" [width]="150"></dxi-column>
            <dxi-column dataField="DESCRIPCION"  caption="Nombre" cssClass="clsEncabHis" [width]="200"></dxi-column>
          </dx-data-grid>
        </div>       
      </dx-drop-down-box>
    </div>
  
    <div *dxTemplate="let cellInfo of 'temValor'">
      <dx-number-box
        [min]="0"
        [readOnly]="true"
        [value]="cellInfo.value"
        [showSpinButtons]="true"
        [showClearButton]="true"
      >
        <dxo-format
          type="fixedPoint"
          [precision]="2">
        </dxo-format>
      </dx-number-box>
    </div>
  
    <div *dxTemplate="let cellInfo of 'tempCantidadTiempo'">
      <dx-text-box
        *ngIf="cellInfo.data.TIPO === 'Tiempo' "
        [inputAttr]="{ 'aria-label': 'Mask' }"
        mask="Hh:Mm:Ss"
        [maskRules]="rules"
        [(value)]="cellInfo.data.CANTIDAD"
        [readOnly]="cellInfo.data.readOnlyCantidad"
        (onValueChanged)="onCalculateSubTotal($event, cellInfo)"
      ></dx-text-box>
      <dx-number-box
        *ngIf="cellInfo.data.TIPO === 'Dinero' "
        [min]="0"
        format="#,##0.00"
        [(value)]="cellInfo.data.CANTIDAD"
        [readOnly]="cellInfo.data.readOnlyCantidad"
        (onValueChanged)="onCalculateSubTotal($event, cellInfo)"
      ></dx-number-box>
    </div>
  
    <div *dxTemplate="let cellInfo of 'temUM'">
      <dx-text-box
        [readOnly]="true"
        [value]="cellInfo.data.UNIDAD_MEDIDA">
      </dx-text-box>
    </div>
  
    <div *dxTemplate="let cellInfo of 'temTipo'">
      <dx-text-box
        [readOnly]="true"
        [value]="cellInfo.data.TIPO">
      </dx-text-box>
    </div>
  
    <dxo-toolbar *ngIf="!readOnly">
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="pulldown" matTooltip="Refrescar" (onClick)="operGrid($event,'refrescar')" >
          </dx-button>
        </div>
      </dxi-item>
    </dxo-toolbar>
  
  </dx-data-grid>
</div>

<dx-load-panel
  #loaderPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#Mo' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Cargando datos..."
  [hideOnOutsideClick]="false"
></dx-load-panel>