<div class="row gx-3">
    <div class="col-12">
        <div class="card-content">
            <div>
                <dx-form class="dx-form-group" 
                    id="formTransaccProduccion" 
                    [formData]="DTransaccProduccion"
                    [readOnly]="readOnly" 
                    labelLocation="left" 
                    [colCount]="1" 
                    (onEditorEnterKey)="onEditorEnterKey">
                    
                    <dxi-item itemType="group">
                        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
                        <dxi-item caption="Datos Principales" itemType="group">

                            <dxi-item dataField="DOCUMENTO" editorType="dxSelectBox"
                                [editorOptions]="{placeholder:'Documento'}">
                                <dxo-label text="Documento"></dxo-label>
                                <div *dxTemplate>
                                    <app-xc-selectbox nombreObj="DOCUMENTO" [readOnly]="readOnly"
                                        [valorDefecto]="DTransaccProduccion.DOCUMENTO" [customValue]="customValueSbox"
                                        [events]="eventsSubjectSboxDoc.asObservable()"
                                        (onRespuestaSelecc)="onSeleccDocumento($event)">
                                    </app-xc-selectbox>
                                </div>
                            </dxi-item>

                            <dxi-item dataField="FECHA" editorType="dxDateBox">
                                <div *dxTemplate>
                                    <dx-date-box type="date" [readOnly]="readOnly" [value]="DTransaccProduccion.FECHA"
                                        (onValueChanged)="onChangeFecha($event)">
                                    </dx-date-box>
                                </div>
                                <dxo-label text="Fecha"></dxo-label>
                            </dxi-item>

                            <dxi-item dataField="TIPO" editorType="dxSelectBox" >
                                <dxo-label text="Tipo"></dxo-label>
                                <dx-select-box
                                    [dataSource]="['CONSUMO','ENTRADA','SALIDA']"
                                    [value]="DTransaccProduccion.TIPO"
                                    [readOnly]="readOnly"
                                    placeholder="Seleccione Estado"
                                    (onValueChanged)="onSeleccEstadoTipo($event)"
                                >
                                </dx-select-box>
                            </dxi-item>

                        </dxi-item>

                        <dxi-item caption="Estado y Usuario" itemType="group">

                            <dxi-item dataField="ESTADO" editorType="dxSelectBox"
                                [editorOptions]="{ items: dSBEstados, value: '', readOnly: true, placeholder:'Estado'}">
                                <dxo-label text="Estado"></dxo-label>
                            </dxi-item>

                            <dxi-item dataField="USUARIO" [editorOptions]="{ readOnly: true }">
                                <dxo-label text="Usuario"></dxo-label>
                            </dxi-item>

                            <dxi-item dataField="HORA" [editorOptions]="{ readOnly: true }">
                                <dxo-label text="Hora"></dxo-label>
                                <div *dxTemplate>
                                    <dx-date-box type="datetime" [readOnly]="true" displayFormat="hh:mm:ss"
                                        [value]="DTransaccProduccion.HORA">
                                    </dx-date-box>
                                </div>
                            </dxi-item>

                        </dxi-item>

                    </dxi-item>

                </dx-form>
            </div>

            <div>
                <cdk-accordion class="accordion-container" [multi]="true">
                    <cdk-accordion-item *ngFor="let item of items; let index = index;" 
                        #accordionItem="cdkAccordionItem"
                        class="accordion-item" 
                        role="button" tabindex="0" 
                        [expanded]="accordionExpand[index]"
                        [attr.id]="'accordion-header-' + index" 
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index">
                        <!-- PESTAÑAS -->
                        <div class="accordion-item-header" (click)="accordionItem.toggle()">
                            <div>
                                <span class="accordion-item-description" *ngIf="accordionItem.expanded">
                                    <i class="icon-chevron-up-xs"></i>
                                </span>
                                <span class="accordion-item-description" *ngIf="!accordionItem.expanded">
                                    <i class="icon-chevron-down-xs"></i>
                                </span>
                            </div>
                            <span class="accordion-caption"> {{ item }} </span>
                            <!-- <div class="border-dotted"></div> -->
                        </div>

                        <!-- GRUPO DE DATOS -->
                        <div class="accordion-item-body" role="region"
                            [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                            [attr.aria-labelledby]="'accordion-header-' + index">
                            <div>
                                <dx-form class="dx-form-group" 
                                    id="formTransaccProduccion"
                                    [formData]="DTransaccProduccion" 
                                    [readOnly]="readOnly" 
                                    labelLocation="left"
                                    [colCount]="1" 
                                    (onEditorEnterKey)="onEditorEnterKey">
                                    <dxi-item itemType="group">
                                        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1"
                                            [lg]="2"></dxo-col-count-by-screen>

                                        <dxi-item dataField="ID_SECCION_ORIGEN" editorType="dxSelectBox">
                                            <dxo-label text="Sección"></dxo-label>
                                            <div *dxTemplate>
                                                <app-xc-selectbox nombreObj="ID_SECCION_ORIGEN" [readOnly]="readOnly"
                                                    [valorDefecto]="DTransaccProduccion.ID_SECCION_ORIGEN"
                                                    [customValue]="customValueSbox"
                                                    [events]="eventsSubjectSboxUN.asObservable()"
                                                    (onRespuestaSelecc)="onSelectionUN($event)">
                                                </app-xc-selectbox>
                                            </div>

                                        </dxi-item>

                                        <dxi-item 
                                            dataField="ESTADO_PRODUCCION" 
                                            editorType="dxSelectBox"
                                            >
                                            <dxo-label text="Estado Producción"></dxo-label>
                                            <dx-select-box
                                                [dataSource]="DEstadosProduccion"
                                                [value]="DTransaccProduccion.ESTADO_PRODUCCION"
                                                [readOnly]="readOnly"
                                                valueExpr="ESTADO"
                                                displayExpr="ESTADO"
                                                placeholder="Seleccione Estado"
                                                (onValueChanged)="onSeleccEstadoPro($event)"
                                            >
                                            </dx-select-box>
                                        </dxi-item>

                                        <dxi-item dataField="DESCRIPCION" >
                                            <dxo-label text="Descripción"></dxo-label>
                                            <dx-text-box [value]="DTransaccProduccion.DESCRIPCION"
                                                placeholder="Descripción / Observación"
                                                (onValueChanged)="onValueChangedDes($event)" [readOnly]="readOnly">
                                            </dx-text-box>
                                        </dxi-item>

                                        <dxi-item dataField="BODEGAS" >
                                            <dxo-label text="Bodegas"></dxo-label>
                                            <div *dxTemplate>
                                                <dx-drop-down-box
                                                    #ddBoxBod
                                                    id="ddBoxBod"
                                                    [(value)]="DTransaccProduccion.BODEGAS"
                                                    [inputAttr]="{ 'aria-label': 'Owner' }"
                                                    valueExpr="ID_UN_BODEGA"
                                                    displayExpr="ID_UN_BODEGA"
                                                    placeholder="Bodegas..."
                                                    [showClearButton]="true"
                                                    [dataSource]="DBodegas"
                                                    [dropDownOptions]="{ width: 400 }"
                                                >
                                                    <div *dxTemplate="let templateData of 'content'">
                                                        <dx-data-grid
                                                            [dataSource]="DBodegas"
                                                            [columns]="['ID_UN_BODEGA','DESCRIPCION']"
                                                            [selection]="{ mode: 'multiple' }"
                                                            [hoverStateEnabled]="true"
                                                            [paging]="{ enabled: true, pageSize: 10 }"
                                                            [filterRow]="{ visible: true }"
                                                            [scrolling]="{ mode: 'virtual' }"
                                                            [height]="345"
                                                            [(selectedRowKeys)]="gridBoxBod"
                                                            (onSelectionChanged)="onSelectionBod($event, ddBoxBod.instance)"
                                                            >
                                                        </dx-data-grid>
                                                    </div>
                                                </dx-drop-down-box>
    
                                            </div>
                                        </dxi-item>

                                    </dxi-item>
                                
                                </dx-form>
                            </div>

                        </div>
                    </cdk-accordion-item>
                </cdk-accordion>
            </div>

            <div *ngIf="DTransaccProduccion.TIPO == 'CONSUMO' ">
                <div class="dx-fieldset-header" style="font-size: 16px;">Ordenes de Producción</div>
                <!--Grid Items OP Produccion-->
                <div class="hm-dx-data">
                    <dx-data-grid 
                        #gridOPItems 
                        [dataSource]="DTransaccProduccionOP" 
                        [allowColumnResizing]="true"
                        columnResizingMode="nextColumn" 
                        [focusedRowEnabled]="true" 
                        [rowAlternationEnabled]="true"
                        [hoverStateEnabled]="true" 
                        keyExpr="ITEM" 
                        noDataText="" 
                        [showBorders]="true"
                        (onInitNewRow)="initNewRow($event)" 
                        (onRowInserting)="insertingRow($event)"
                        (onRowInserted)="insertedRow($event)" 
                        (onRowUpdating)="updatingRow($event)"
                        (onRowUpdated)="updatedRow($event)" 
                        (onRowRemoved)="removedRow($event)"
                        (onEditingStart)="onEditingStart($event)" 
                        (onEditorPreparing)="onEditorPreparing($event)"
                        (onToolbarPreparing)="onToolbarPreparingGrid($event)" 
                        (onRowPrepared)="onRowPrepared($event)"
                        (onRowValidating)="onRowValidatingAG($event)" 
                        (onSelectionChanged)="selectionGridOP($event)"
                        (onFocusedRowChanged)="onFocusedRowChanged($event)" 
                        (onEditCanceled)="onEditCanceled($event)"
                        (onCellClick)="onCellClick($event)" 
                        (onCellPrepared)="onCellPrepared($event)">

                        <dxo-editing mode="cell" 
                            [useIcons]="false" 
                            [allowUpdating]="esEdicion" 
                            [allowDeleting]="false"
                            [allowAdding]="esEdicion">
                            <dxo-texts confirmDeleteMessage="">
                            </dxo-texts>
                        </dxo-editing>
                        <dxo-selection selectAllMode="allPages" [showCheckBoxesMode]="esVisibleSelecc" mode="multiple">
                        </dxo-selection>

                        <dxi-column dataField="ITEM" [visible]="false">
                        </dxi-column>

                        <dxi-column dataField="ORDEN_PRO" caption="Numero OP" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="PRODUCTO" caption="Producto" calculateDisplayValue="PRODUCTO"
                            editCellTemplate="listaProductos" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="NOMBRE_PRODUCTO" caption="Nombre del Producto" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="PEDIDO" caption="Pedido" [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="ID_CLIENTE" caption="Cliente" [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="NOMBRE_CLIENTE" caption="Nombre Cli." [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="FECHA" caption="Fecha pedido" dataType="date" format="yyyy-MM-dd"
                            [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="CANTIDAD" caption="Cantidad" [setCellValue]="onChangeCantidadAG"
                            alignment="right" dataType="number" [format]="especCantidadFormato"
                            [editorOptions]="{format: especMonedaFormato}" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="ID_SECCION_ORIGEN" caption="Secc Org" [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="ID_SECCION_DESTINO" caption="Secc Dest" [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="ESTADO" caption="Estado" [allowEditing]="false">
                        </dxi-column>
                        <dxi-column dataField="FECHA_AGENDA" caption="Fecha agenda" dataType="date" format="yyyy-MM-dd"
                            [allowEditing]="false">
                        </dxi-column>

                        <!-- <div *dxTemplate="let cellInfo of 'listaProductos'">
                  <dx-select-box 
                    #xs_PRODUCTOS
                    id="xs_PRODUCTOS"
                    [dataSource]="DProductos" 
                    [(value)]="cellInfo.data.PRODUCTO" 
                    valueExpr="PRODUCTO"
                    displayExpr="PRODUCTO"
                    [searchEnabled]="true"
                    searchMode="contains"
                    [searchExpr]="['PRODUCTO', 'NOMBRE']"
                    [dropDownOptions]="dropDownOptions"
                    (onOpened)="onOpenedProducto($event)"
                    (onValueChanged)="onSeleccRowProducto($event, cellInfo)">
  
                    <div *dxTemplate="let data of 'item'">
                      <div style="width: 20%; float:left">
                        {{ data.PRODUCTO }}
                      </div>
                      
                      <div style="width: 20%; float:right; text-align: right;">
                        {{ data.PRECIO | number:'1.0-2':'en-US' }}
                      </div>
                    
                      <div style="width: 60%; float:right; 
                                  white-space: nowrap; 
                                  overflow: hidden;
                                  text-overflow: ellipsis; "
                      >
                        {{ data.NOMBRE }}
                      </div>
                    </div>
                    <div *dxTemplate="let data of 'tempEncab'" style="width: 100%;">
                      <div id="btnCompoRefreshSbox">
                        <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                      </div>
                    </div>
                
                  </dx-select-box>
  
                </div> -->

                        <dxo-toolbar *ngIf="esEdicion">
                            <dxi-item location="before">
                                <dx-button icon="runner" type="success" text="Cargar Ordenes Producción"
                                    (onClick)="generarAgenda('generar')">
                                </dx-button>
                            </dxi-item>

                            <dxi-item location="before">
                                <dx-check-box [value]="detallada" text="Detallado" (onValueChanged)="onValueChangedAgDet($event)"></dx-check-box>
                            </dxi-item>

                            <!-- <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
                                </dx-button>
                                </div>
                            </dxi-item>
                            <dxi-item location="before">
                                <div *dxTemplate>
                                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
                                </dx-button>
                                </div>
                            </dxi-item> -->
                            <dxi-item location="before">
                                <div *dxTemplate>
                                    <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')"
                                        *ngIf="rowDelete">
                                    </dx-button>
                                </div>
                            </dxi-item>
                            <!-- <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
                                </dx-button>
                                </div>
                            </dxi-item>
                            <dxi-item location="before">
                                <div *dxTemplate>
                                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
                                </dx-button>
                                </div>
                            </dxi-item> -->
                        </dxo-toolbar>
                    </dx-data-grid>
                </div>
            </div>

            <div style="padding-top: 15px;">
                <div class="dx-fieldset-header" style="font-size: 16px;">Insumos/Materia prima</div>
                <!--Grid Items Materias primas y/o iinsumos-->
                <div class="hm-dx-data">
                    <dx-data-grid 
                        #gridTranItems
                        id=gridTranItems 
                        [dataSource]="DTransaccProduccionItems" 
                        [allowColumnResizing]="true"
                        columnResizingMode="nextColumn" 
                        [focusedRowEnabled]="true" 
                        [rowAlternationEnabled]="true"
                        [hoverStateEnabled]="true" 
                        keyExpr="ITEM" 
                        noDataText="" 
                        [showBorders]="true"
                        (onInitNewRow)="initNewRow($event)" 
                        (onRowInserting)="insertingRow($event)"
                        (onRowInserted)="insertedRow($event)" 
                        (onRowUpdating)="updatingRow($event)"
                        (onRowUpdated)="updatedRow($event)" 
                        (onRowRemoved)="removedRow($event)"
                        (onEditingStart)="onEditingStart($event)" 
                        (onEditorPreparing)="onEditorPreparing($event)"
                        (onToolbarPreparing)="onToolbarPreparingGrid($event)" 
                        (onRowPrepared)="onRowPrepared($event)"
                        (onRowValidating)="onRowValidatingMP($event)" 
                        (onSelectionChanged)="selectionGridMP($event)"
                        (onFocusedRowChanged)="onFocusedRowChanged($event)" 
                        (onEditCanceled)="onEditCanceled($event)"
                        (onCellClick)="onCellClick($event)" 
                        (onCellPrepared)="onCellPrepared($event)">

                        <dxo-editing
                            mode="cell"
                            [useIcons]="false" 
                            [allowUpdating]="esEdicion"
                            [allowDeleting]="false"
                            [allowAdding]="esEdicion"
                            >
                            <dxo-texts
                            confirmDeleteMessage="">
                            </dxo-texts>
                        </dxo-editing>      
                        <dxo-selection selectAllMode="allPages" [showCheckBoxesMode]="esVisibleSelecc" mode="multiple">
                        </dxo-selection>

                        <dxi-column dataField="ITEM" [visible]="false">
                        </dxi-column>

                        <dxi-column dataField="SOPORTE" caption="Orden Pro" calculateDisplayValue="SOPORTE"
                            editCellTemplate="listaOrdenPro" [visible]="false">
                        </dxi-column>

                        <dxi-column 
                            dataField="ID_COMPONENTE" 
                            caption="Insumo/MP" 
                            calculateDisplayValue="ID_COMPONENTE"
                            editCellTemplate="listaProductos" 
                            [setCellValue]="onSetCellComponente"
                            >
                        </dxi-column>

                        <dxi-column dataField="NOMBRE" caption="Nombre Insumo/MP" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="UDM" caption="UM" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="CANTIDAD" 
                            caption="Cant. Matriz" 
                            alignment="right" 
                            dataType="number" 
                            [format]="especCantidadFormato"
                            [editorOptions]="{format: especMonedaFormato}" 
                            [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="ID_SECCION" caption="Sección" [allowEditing]="false">
                        </dxi-column>

                        <dxi-column dataField="CANTIDAD_PRODUCCION" 
                            caption="Cant. Pro" 
                            [setCellValue]="onChangeCantidadMP"
                            alignment="right" 
                            dataType="number" 
                            [format]="especCantidadFormato"
                            [editorOptions]="{format: especMonedaFormato}" 
                            >
                        </dxi-column>

                        <dxi-column dataField="CANTIDAD_EXIS" 
                            caption="Cant. Inv" 
                            alignment="right" 
                            dataType="number" 
                            [format]="especCantidadFormato"
                            [editorOptions]="{format: especMonedaFormato}" 
                            [allowEditing]="false"
                            >
                        </dxi-column>

                        <dxi-column dataField="CANTIDAD_PENDIENTE" 
                            caption="Cant. Pend" 
                            alignment="right" 
                            dataType="number" 
                            [format]="especCantidadFormato"
                            [editorOptions]="{format: especMonedaFormato}" 
                            [allowEditing]="false"
                            >
                        </dxi-column>

                        <dxi-column dataField="VALOR_UNITARIO" 
                            caption="Valor Unit" 
                            alignment="right" 
                            dataType="number" 
                            [visible]="false"
                            >
                        </dxi-column>

                        <div *dxTemplate="let cellInfo of 'listaProductos'">
                            <dx-select-box 
                                #xs_ID_COMPONENTE
                                id="xs_ID_COMPONENTE"
                                [dataSource]="DComponentes" 
                                [(value)]="cellInfo.data.ID_COMPONENTE" 
                                valueExpr="PRODUCTO"
                                displayExpr="PRODUCTO"
                                [searchEnabled]="true"
                                searchMode="contains"
                                [searchExpr]="['PRODUCTO', 'NOMBRE']"
                                [dropDownOptions]="dropDownOptions"
                                (onOpened)="onOpenedProducto($event)"
                                (onValueChanged)="onSeleccRowProductoMP($event, cellInfo)">
            
                                <div *dxTemplate="let data of 'item'">
                                <div style="width: 20%; float:left">
                                    {{ data.PRODUCTO }}
                                </div>
                                
                                <div style="width: 20%; float:right; text-align: right;">
                                    {{ data.PRECIO | number:'1.0-2':'en-US' }}
                                </div>
                                
                                <div style="width: 60%; float:right; 
                                            white-space: nowrap; 
                                            overflow: hidden;
                                            text-overflow: ellipsis; "
                                >
                                    {{ data.NOMBRE }}
                                </div>
                                </div>
                                <div *dxTemplate="let data of 'tempEncab'" style="width: 100%;">
                                <div id="btnCompoRefreshSbox">
                                    <dx-button icon="refresh" (onClick)="refreshClick('productos')"></dx-button>
                                </div>
                                </div>
                            
                            </dx-select-box>
        
                        </div>

                        <!-- <div *dxTemplate="let cellInfo of 'listaOrdenPro'">
                            <dx-select-box 
                                #xs_SOPORTE
                                id="xs_SOPORTE"
                                [dataSource]="DOrdenesPro" 
                                [(value)]="cellInfo.data.SOPORTE" 
                                valueExpr="ORDEN_PRO"
                                displayExpr="ORDEN_PRO"
                                [searchEnabled]="true"
                                searchMode="contains"
                                [searchExpr]="['ORDEN_PRO', 'FECHA']"
                                [dropDownOptions]="dropDownOptions"
                                (onOpened)="onOpenedOrdenPro($event)"
                                (onValueChanged)="onSeleccRowOrdenPro($event, cellInfo)">
            
                                <div *dxTemplate="let data of 'item'">
                                <div style="width: 20%; float:left">
                                    {{ data.PRODUCTO }}
                                </div>
                                
                                <div style="width: 20%; float:right; text-align: right;">
                                    {{ data.PRECIO | number:'1.0-2':'en-US' }}
                                </div>
                                
                                <div style="width: 60%; float:right; 
                                            white-space: nowrap; 
                                            overflow: hidden;
                                            text-overflow: ellipsis; "
                                >
                                    {{ data.NOMBRE }}
                                </div>
                                </div>
                                <div *dxTemplate="let data of 'tempEncab'" style="width: 100%;">
                                <div id="btnCompoRefreshSbox">
                                    <dx-button icon="refresh" (onClick)="refreshClick('ordenes')"></dx-button>
                                </div>
                                </div>
                            
                            </dx-select-box>
            
                        </div> -->

                        <dxo-toolbar *ngIf="esEdicion">
                            <dxi-item location="before">
                                <dx-button icon="runner" type="success" text="Generar fechas producción"
                                    (onClick)="generarAgenda('generar')">
                                </dx-button>
                            </dxi-item>

                            <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGridMP($event,'new')" *ngIf="rowNew">
                                </dx-button>
                                </div>
                            </dxi-item>
                            <dxi-item location="before">
                                <div *dxTemplate>
                                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGridMP($event,'update')" *ngIf="rowEdit">
                                </dx-button>
                                </div>
                            </dxi-item>
                            <dxi-item location="before">
                                <div *dxTemplate>
                                    <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGridMP($event,'delete')"
                                        *ngIf="rowDelete">
                                    </dx-button>
                                </div>
                            </dxi-item>
                            <dxi-item location="before">
                                <div *dxTemplate>
                                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGridMP($event,'save')" *ngIf="rowApplyChanges">
                                </dx-button>
                                </div>
                            </dxi-item>
                            <dxi-item location="before">
                                <div *dxTemplate>
                                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGridMP($event,'cancel')" *ngIf="rowApplyChanges">
                                </dx-button>
                                </div>
                            </dxi-item>
                        </dxo-toolbar>
                    </dx-data-grid>
                </div>
            </div>

        </div>
    </div>

</div>


<app-vistarapida id="vistaCom200" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<app-femail [events]="eventsSubjectEnvioCorreo.asObservable()" (onRespuestaSelecc)="onRespuestaEnvioCorreo($event)">
</app-femail>

<app-filtrobusq [events]="eventsSubjectFiltro.asObservable()" (onRespuestaSelecc)="onRespuestaFiltro($event)">
</app-filtrobusq>

<dx-load-panel 
    #loadPanel 
    shadingColor="rgba(0,0,0,0.4)" 
    [position]="{ of: '#gridOPItems' }"
    [(visible)]="loadingVisible" 
    [showIndicator]="true" 
    [showPane]="true" 
    [shading]="true"
    message="Un momento. Cargando consulta..." 
    [hideOnOutsideClick]="false">
</dx-load-panel>

<app-PRO02701
  [events]="eventsSubjectBodCan.asObservable()"
  (onSeleccCantidad)="onRespuestaBodCan($event)"
>
</app-PRO02701>
