<dx-data-grid
  #gridDatos
  id="gridDatos"
  width="100%"
  height="100%"
  [dataSource]="DDatosGrid"
  [keyExpr]="keyExpr"
  [selection]="{ mode: modoSelection }"
  [hoverStateEnabled]="true"
  [allowColumnResizing]="true"
  columnResizingMode="nextColumn"
  [paging]="{ enabled: true, pageSize: 10 }"
  [(selectedRowKeys)]="selectedRowKeys"
  [rowAlternationEnabled]="true"
  [focusedRowEnabled]="true"
  [hoverStateEnabled]="true"
  [filterSyncEnabled]="true"
  [customizeColumns]="customizeColumns"
  (onEditingStart)="onEditingStart($event)"
  (onRowUpdated)="updatedRow($event)"
  (onSelectionChanged)="onSelectionChanged($event)"
  >
  <dxo-editing
    mode="cell"
    [useIcons]="false"
    [allowUpdating]="esEdicion">
  </dxo-editing>
  <dxo-search-panel [width]="250" [visible]="true"></dxo-search-panel>
  <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    displayMode="full"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true">
  </dxo-pager>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-selection selectAllMode="allPages" showCheckBoxesMode="always" mode="multiple" ></dxo-selection>

  <div *dxTemplate="let grupoObj of 'grupoColumna'">
    @if (checkGrupos) {
      <div>
        <dx-check-box
          [(value)]="groupCheckboxModel[grupoObj.value]"
          [text]="templateHtml(grupoObj)"
          [elementAttr]="{'class': 'xs-check-grupo-grid'}"
          (onValueChanged)="onParentChecked($event,grupoObj)"
          >
        </dx-check-box>
      </div>
    }
    @if (!checkGrupos) {
      <div>
        <div style="font-weight: bold;">{{ templateHtml(grupoObj) }}</div>
      </div>
    }
  </div>

</dx-data-grid>
