<dx-data-grid
  #gridUNAsociadas
  [columnAutoWidth]="true"
  [dataSource]="DUNAsociadas"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  columnResizingMode="widget"
  [focusedRowEnabled]="true"
  [rowAlternationEnabled]="true"
  [hoverStateEnabled]="true"
  keyExpr="ITEM"
  noDataText=""
  [showBorders]="true"
  (onInitNewRow)="initNewRow($event)"
  (onRowInserting)="insertingRow($event)"
  (onRowInserted)="insertedRow($event)"
  (onRowUpdating)="updatingRow($event)"
  (onRowRemoved)="removedRow($event)"
  (onEditingStart)="onEditingStart($event)"
  (onToolbarPreparing)="onToolbarPreparingGrid($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onRowValidating)="onRowValidating($event)"
  (onSelectionChanged)="selectionGrid($event)"
>

  <dxo-editing
    mode="cell"
    [useIcons]="false" 
    [allowUpdating]="esEdicion"
    [allowDeleting]="false"
    [allowAdding]="esEdicion">
    <dxo-texts
      confirmDeleteMessage="">
    </dxo-texts>
  </dxo-editing>

  <dxo-selection 
    selectAllMode="allPages"
    [showCheckBoxesMode]="esVisibleSelecc" 
    mode="multiple">
  </dxo-selection>

  <dxi-column caption="Unidades de Negocios Asociadas" alignment="center">
    <dxi-column dataField="ITEM"
      [visible]="false">
    </dxi-column>

    <dxi-column dataField="ID_UN_ASOCIADA"
      caption="Unidad de Negocio Asociada" editCellTemplate="listaUnidadesNegocios" calculateDisplayValue="ID_UN_ASOCIADA"
      [allowEditing]="esEdicion">
    </dxi-column>

    <dxi-column dataField="NOMBRE"
      caption="Nombre" [allowEditing]="false">
    </dxi-column>

    <dxi-column dataField="VALOR_DEFECTO"
      caption="UN Operativa"
      editCellTemplate="temDefecto">
      <div *dxTemplate="let item of 'temDefecto'"  >
        <dx-switch [(value)]="item.data.VALOR_DEFECTO" [disabled]="!esEdicion" (onValueChanged)="updatingRow($event)" ></dx-switch>
      </div>
    </dxi-column>
  </dxi-column>

  <div *dxTemplate="let cellInfo of 'listaUnidadesNegocios'">
    <dx-drop-down-box
      #ddUnidadNegocio
      id="ddUnidadNegocio"
      [(value)]="cellInfo.value"
      [(opened)]="isGridBoxOpened"
      valueExpr="ID_UN"
      displayExpr="ID_UN"
      placeholder="Unidad de Negocio"
      [dataSource]="DUnidadesNegocios"
      [acceptCustomValue]="true"
      [readOnly]="readOnly"
      (onFocusOut)="onFocusOutUnidadNegocio($event, cellInfo)"
      (onOptionChanged)="onSelectionUnidadNegocio($event)"
      [inputAttr]="{style: 'text-transform: uppercase'}"
      (onValueChanged)="onValueChangedUnidadNegocio($event, cellInfo)"
      contentTemplate="contentTemplate"
      [dropDownOptions]="{width: 350, height: 300, hideOnParentScroll: true, container: '#router-container'}">
    <div *dxTemplate="let data of 'contentTemplate'">
      <dx-data-grid
        [focusedRowIndex]="focusedRowIndex"
        keyExpr="ID_UN"
        [dataSource]="DUnidadesNegocios"
        [focusedRowEnabled]="true"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        [hoverStateEnabled]="true"
        [(focusedRowKey)]="focusedRowKey"
        [autoNavigateToFocusedRow]="true"
        [(selectedRowKeys)]="gridBoxUnidadesNegocio"
        height="100%"
        (onRowClick)="onSeleccRowUnidadNegocio($event, cellInfo, data.component)"
      >
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [visible]="true"
          allowedPageSizes="[5, 10, 'all']"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-search-panel [width]="300" [visible]="true"></dxo-search-panel>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="ID_UN" caption="Unidad de Negocio" ></dxi-column>
        <dxi-column dataField="NOMBRE" caption="Nombre" ></dxi-column>
      </dx-data-grid>
    </div>
    </dx-drop-down-box>
  </div>

  <dxo-toolbar *ngIf="esEdicion">
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
      </dx-button>
        </div>
    </dxi-item>
  </dxo-toolbar>

</dx-data-grid>