<app-aplsettings 
    (onSeleccOpcion)="onSeleccOpcionSettings($event)"
    [aplicacion]="prmUsrAplBarReg.aplicacion">
</app-aplsettings>

    <div class="row gx-3" #PRO021 id="PRO021">
        <div class="col-12">
            <div class="card-content">
                <dx-form
                    #form
                    id="form"
                    labelLocation="left"
                    [formData]="DAtributos"
                    [readOnly]="readOnly"
                    colCount="1"
                    width="100%"
                >
                    <dxi-item itemType="group">
                        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
                        <dxi-item dataField="CODIGO" [editorOptions]="{placeholder:'Código del Producto'}">
                            <dxo-label text="Código"></dxo-label>
                            <dxi-validation-rule
                                type="async"
                                message="existencia"
                                [validationCallback]="ValideExistencia"
                            >
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="ESTADO" editorType="dxSelectBox">
                            <dxo-label text="Estado"></dxo-label>
                            <div *dxTemplate>
                                <dx-select-box
                                    [dataSource]="['ACTIVO','INACTIVO']"
                                    [value]="DAtributos.ESTADO"
                                    [readOnly]="readOnly"
                                    placeholder="Seleccion Estado del Producto"
                                    (onValueChanged)="onSeleccEstado($event)"
                                >
                                </dx-select-box>
                            </div>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
                        <dxi-item dataField="NOMBRE" [editorOptions]="{placeholder:'Nombre del Producto'}">
                            <dxo-label text="Descripción"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="CLASE" editorType="dxSelectBox">
                            <dxo-label text="Clase"></dxo-label>
                            <div *dxTemplate>
                                <dx-select-box
                                    [dataSource]="DClaseAtr"
                                    displayExpr="CLASE"
                                    valueExpr="CLASE"
                                    placeholder="Seleccion Clase del Producto"
                                    [value]="DAtributos.CLASE"
                                    [readOnly]="readOnly"
                                    (onValueChanged)="onSeleccClase($event)"
                                ></dx-select-box>
                            </div>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="2" [lg]="2"></dxo-col-count-by-screen>
                        <dxi-item dataField="DEFECTO" 
                            [editorOptions]="{placeholder:'Asignable', type:'boolean'}"
                            [editorType]="'dxSwitch'"
                        >
                            <dxo-label text="Asignable"></dxo-label>
                        </dxi-item>
                    </dxi-item>
                </dx-form>

                <br>

                <dx-data-grid
                    #gitemsatr
                    id="gitemsatr"
                    [dataSource]="DItemsAtributos"
                    [showBorders]="true"
                    keyExpr="ITEM"
                    [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true"
                    [focusedRowEnabled]="true"
                    [hoverStateEnabled]="true"
                    columnResizingMode="nextColumn"
                    [columnAutoWidth]="true"
                    (onRowInserting)="insertRow($event)"
                    (onRowInserted)="insertRowPro($event)"
                    (onRowUpdating)="updatingRow($event)"
                    (onRowUpdated)="updateRowPro($event)"
                    (onSaving)="onSaving($event)"
                    (onRowRemoved)="deleteRowPro($event)"
                    (onInitNewRow)="onInitNewRowPro($event)"
                    (onRowValidating)="onRowValidating($event)"
                    (onRowPrepared)="onRowPrepared($event)"
                    (onInitNewRow)="onInitNewRowPro($event)"
                    (onSelectionChanged)="selectionGrid($event)"
                    dataRowTemplate="dataRowTemplateName"
                    (onRowClick)="editItemAtributo($event)"
                    noDataText=""
                >

                    <dxo-editing 
                        mode="row"
                        [useIcons]="false" 
                        [allowUpdating]="esEdicion" 
                        [allowDeleting]="esEdicion" 
                        [allowAdding]="esEdicion">
                        <dxo-texts
                            confirmDeleteMessage="">
                        </dxo-texts>
                    </dxo-editing>

                    <dxi-column 
                        dataField="CONTROL" 
                        caption="" [width]="50" 
                        [visible]="esVisibleSelecc"
                        [allowSorting]="false"
                        headerCellTemplate="headerCheckboxDelete">
                    </dxi-column>
                    
                    <dxi-column dataField="ATRIBUTO" caption="Atributo" ></dxi-column>
                    <dxi-column dataField="ESTADO" caption="Estado" ></dxi-column>
                    <dxi-column dataField="IMAGEN" caption="Imagen" ></dxi-column>

                    <div *dxTemplate="let data of 'headerCheckboxDelete'">
                        <dx-check-box 
                            [value]="seleccDelete[0]"
                            [disabled]="esEdicionFila"
                            (onValueChanged)="onSeleccDelete($event, 'all')">
                        </dx-check-box>
                    </div>

                    <ng-container *dxTemplate="let atributo of 'dataRowTemplateName'">

                        <!-- Sección de solo visualizacion de datos -->
                        <tr class="main-row xs-fila-datos-atr" 
                            *ngIf="!atributo.data.modoEdicion" 
                            id="atr-fila{{atributo.data.ITEM}}"
                            [style.height]="altoFilaDatos[atributo.data.ITEM]"
                            [style.border-bottom]='"#eff1f1"'
                            [style.border-bottom-style]='"solid"'
                            [style.border-bottom-width]='"1px"'
                            >
                            <td *ngIf="esVisibleSelecc">
                                <dx-check-box 
                                    [value]="seleccDelete[atributo.data.ITEM]"
                                    [disabled]="esEdicionFila"
                                    [visible]="esVisibleSelecc"
                                    (onValueChanged)="onSeleccDelete($event, atributo)">
                                </dx-check-box>
                            </td>
                            
                            <td>{{atributo.data.ATRIBUTO}}</td>
                            <td>{{atributo.data.ESTADO}}</td>

                            <td rowspan="2" *ngIf="!atributo.data.IMAGEN.match('no-image.jpg')">
                                <img [src]="atributo.data.IMAGEN" id="imgAtrZoomVista{{atributo.data.ITEM}}" class="verImg"
                                    (mouseenter)="toggleWithTemplate(atributo)"
                                    (mouseleave)="toggleWithTemplate(atributo)"
                                />
                                <dx-tooltip
                                    target="#imgAtrZoomVista{{atributo.data.ITEM}}"
                                    position="right"
                                    [(visible)]="atributo.data.verZoom"
                                    [hideOnOutsideClick]="false"
                                >
                                    <div *dxTemplate="let data = data; of: 'content'">
                                        <img class="imgZoomPort" width="400" height="400" [src]="atributo.data.IMAGEN" />
                                    </div>
                                </dx-tooltip>
                            </td>
                        </tr>

                        <!-- Sección de edición de datos -->
                        <tr class="main-row" *ngIf="atributo.data.modoEdicion">
                            <td>
                            </td>
                            <td>
                                <dx-text-box 
                                    #txAtributo
                                    id="txAtributo"
                                    [value]="atributo.data.ATRIBUTO"
                                    (onValueChanged)="onValueChangedAtr($event, atributo)"
                                    placeholder="Atributo...">
                                </dx-text-box>
                            </td>
                            <td>
                                <dx-select-box
                                    #txEstado
                                    id="txEstado"
                                    [value]="atributo.data.ESTADO"
                                    placeholder="Estado..."
                                    (onValueChanged)="onValueChangedEst($event, atributo)"
                                    [items]="['ACTIVO','INACTIVO']">
                                </dx-select-box>
                            </td>
                            <td rowspan="2">
                                <div *ngIf="!modoImagen">
                                    <dx-button
                                        #btnImgPrev
                                        id="btnImgPrev"
                                        stylingMode="text"
                                        text=""
                                        matTooltip="Cargar Imagen"
                                        type="normal"
                                        icon="image"
                                        [width]="60"
                                        (onClick)="operArcImg('cargar prev', atributo)"
                                    ></dx-button>
                                </div>

                                <div class="containerpro" *ngIf="modoImagen">
                                    <img [src]="atributo.data.IMAGEN" id="imgAtrZoom" 
                                        (mouseenter)="toggleWithTemplate(atributo)"
                                        (mouseleave)="toggleWithTemplate(atributo)"
                                        class="verImg" 
                                    />
                                    <div class="overlaypro"></div>
                                    <div class="buttonpro" id="botonArchivo">
                                        <a class="a1" id="b1" href="javascript:;" (click)="operArcImg('cargar', atributo)">
                                            <img class="img1" title="Cargar archivo" src="../../../../assets/img/xtein/folder.png" alt="" height="20" width="20" />
                                        </a>
                                        <a class="a1" id="b2" href="javascript:;" (click)="operArcImg('eliminar', atributo)">
                                            <img class="img1" title="Eliminar" src="../../../../assets/img/xtein/eliminar.png" alt=""  height="20" width="20"/>
                                        </a>
                                    </div>
                                </div>
                                <dx-tooltip
                                    target="#imgAtrZoom"
                                    position="right"
                                    [(visible)]="atributo.data.verZoom"
                                    [hideOnOutsideClick]="false"
                                >
                                    <div *dxTemplate="let data = data; of: 'content'">
                                        <img class="imgZoomPort" width="400" height="400" [src]="atributo.data.IMAGEN" />
                                    </div>
                                </dx-tooltip>

                            </td>

                        </tr>
                    </ng-container>         

                    <dxo-toolbar *ngIf="esEdicion">
                        <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew">
                            </dx-button>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'update')" *ngIf="rowEdit">
                            </dx-button>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete">
                            </dx-button>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges">
                            </dx-button>
                            </div>
                        </dxi-item>
                        <dxi-item location="before">
                            <div *dxTemplate>
                                <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges">
                            </dx-button>
                            </div>
                        </dxi-item>
                    </dxo-toolbar>
                    
                </dx-data-grid>
            </div>
            
        </div>
    </div>
    
    <app-vistarapida id="vistapro021" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>
    <app-PRO02101></app-PRO02101>