::ng-deep .btnEdicion {
  border-style: none;
}

::ng-deep .main-row11 {
  height: 100px;
}

/*::ng-deep img:not(.imgZoomPort) {
  //height: 100px;
  display: block;
  object-fit: contain;
} */

::ng-deep .containerpro {
  position: relative;
  margin-top: 0px;
  width: 100px;
  height: 100px;
}
  
::ng-deep .overlaypro {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(228, 220, 220, 0);
  transition: background 0.5s ease;
}
  
::ng-deep .containerpro:hover .overlaypro {
  display: block;
  background: rgba(196, 182, 182, 0.3);
}

  
/*::ng-deep img:not(.img1):not(.imgZoomPort) {
  position: absolute;
  width: 100px;
  height: 100px;
  //left: 0;
} */

::ng-deep .verImg {
  position: absolute;
  width: 100px;
  height: 100px;
}
  

::ng-deep .img1 {
  width: 20px;
  height: 20px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
  
::ng-deep .imgZoomPort {
  object-fit: contain;
}
  
::ng-deep .buttonpro {
  position: absolute;
  width: 100px;
  //left:0;
  top: 75px;
  text-align: center;
  opacity: 0;
  height: 20px !important;
  transition: opacity .35s ease;
}
  
::ng-deep .buttonpro a {
  width: 50px;
  padding: 1px 5px;
  text-align: center;
  color: white;
  z-index: 1;
  display:inline-block;
  text-decoration: none;
}
  
::ng-deep .containerpro:hover .buttonpro {
  opacity: 1;
}

::ng-deep #btnImgPrev > div > i {
  color: #8f8888;
  font-size: 28px;
}

.xs-fila-datos-atr11 {
  height: 10px;
}

