$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/scss/icons_fonts" !default;

$icon-acreedores-path1: "\e900";
$icon-acreedores-path2: "\e901";
$icon-acreedores-path3: "\e902";
$icon-acreedores-path4: "\e903";
$icon-acreedores-ol-path1: "\e904";
$icon-acreedores-ol-path2: "\e905";
$icon-acreedores-ol-path3: "\e906";
$icon-acreedores-ol-path4: "\e907";
$icon-atributos-path1: "\e908";
$icon-atributos-path2: "\e909";
$icon-atributos-path3: "\e90a";
$icon-bases-del-costo-path1: "\e90b";
$icon-bases-del-costo-path2: "\e90c";
$icon-configuracion-de-la-gestion-path1: "\e90d";
$icon-configuracion-de-la-gestion-path2: "\e90e";
$icon-configuracion-de-la-gestion-path3: "\e90f";
$icon-configuracion-de-la-gestion-path4: "\e910";
$icon-empleados-secciones-path1: "\e911";
$icon-empleados-secciones-path2: "\e912";
$icon-empleados-secciones-path3: "\e913";
$icon-empleados-secciones-path4: "\e914";
$icon-entrada-ol-path1: "\e915";
$icon-entrada-ol-path2: "\e916";
$icon-entrada-ol-path3: "\e917";
$icon-entrada-ol-path4: "\e918";
$icon-entrada-ol-path5: "\e919";
$icon-entrada-ol-path6: "\e91a";
$icon-entrada-ol-path7: "\e91b";
$icon-entrada-ol-alt-path1: "\e91c";
$icon-entrada-ol-alt-path2: "\e91d";
$icon-entrada-ol-alt-path3: "\e91e";
$icon-entrada-ol-alt-path4: "\e91f";
$icon-entrada-sl-path1: "\e920";
$icon-entrada-sl-path2: "\e921";
$icon-entrada-sl-path3: "\e922";
$icon-entrada-sl-path4: "\e923";
$icon-factura-path1: "\e924";
$icon-factura-path2: "\e925";
$icon-factura-ol-path1: "\e926";
$icon-factura-ol-path2: "\e927";
$icon-factura-ol-path3: "\e928";
$icon-factura-ol-path4: "\e929";
$icon-factura-ol-path5: "\e92a";
$icon-factura-ol-path6: "\e92b";
$icon-factura-ol-path7: "\e92c";
$icon-factura-ol-path8: "\e92d";
$icon-gespro-path1: "\e92e";
$icon-gespro-path2: "\e92f";
$icon-gespro-path3: "\e930";
$icon-grafico-cr-alt-ol-path1: "\e931";
$icon-grafico-cr-alt-ol-path2: "\e932";
$icon-grafico-cr-alt-ol-path3: "\e933";
$icon-grafico-cr-alt-ol-path4: "\e934";
$icon-grafico-cr-alt-ol-path5: "\e935";
$icon-grafico-cr-alt-ol-path6: "\e936";
$icon-grafico-cr-alt-ol-path7: "\e937";
$icon-grafico-cr-alt-ol-path8: "\e938";
$icon-grafico-cr-alt-ol-path9: "\e939";
$icon-grafico-cr-alt-sl-path1: "\e93a";
$icon-grafico-cr-alt-sl-path2: "\e93b";
$icon-grafico-cr-alt-sl-path3: "\e93c";
$icon-grafico-cr-ol-path1: "\e93d";
$icon-grafico-cr-ol-path2: "\e93e";
$icon-informes-path1: "\e93f";
$icon-informes-path2: "\e940";
$icon-innovacionydesarrollo-path1: "\e941";
$icon-innovacionydesarrollo-path2: "\e942";
$icon-innovacionydesarrollo-path3: "\e943";
$icon-layout-planta-path1: "\e944";
$icon-layout-planta-path2: "\e945";
$icon-layout-planta-path3: "\e946";
$icon-layout-planta-path4: "\e947";
$icon-mano-de-obra-path1: "\e948";
$icon-mano-de-obra-path2: "\e949";
$icon-mano-de-obra-path3: "\e94a";
$icon-mano-de-obra-path4: "\e94b";
$icon-mano-de-obra-path5: "\e94c";
$icon-mano-de-obra-path6: "\e94d";
$icon-mano-de-obra-path7: "\e94e";
$icon-mano-de-obra-path8: "\e94f";
$icon-mano-de-obra-path9: "\e950";
$icon-mano-de-obra-path10: "\e951";
$icon-mano-de-obra-path11: "\e952";
$icon-matriz-path1: "\e953";
$icon-matriz-path2: "\e954";
$icon-matriz-path3: "\e955";
$icon-matriz-sl-path1: "\e956";
$icon-matriz-sl-path2: "\e957";
$icon-matriz-sl-path3: "\e958";
$icon-minimos-y-maximos-path1: "\e959";
$icon-minimos-y-maximos-path2: "\e95a";
$icon-operaciones-alt-ol-path1: "\e95b";
$icon-operaciones-alt-ol-path2: "\e95c";
$icon-operaciones-alt-ol-path3: "\e95d";
$icon-operaciones-alt-ol-path4: "\e95e";
$icon-operaciones-alt-ol-path5: "\e95f";
$icon-operaciones-alt-sl-path1: "\e960";
$icon-operaciones-alt-sl-path2: "\e961";
$icon-operaciones-ol-path1: "\e962";
$icon-operaciones-ol-path2: "\e963";
$icon-operaciones-ol-path3: "\e964";
$icon-operaciones-ol-path4: "\e965";
$icon-operaciones-ol-path5: "\e966";
$icon-operaciones-sl-path1: "\e967";
$icon-operaciones-sl-path2: "\e968";
$icon-pedido-sl-path1: "\e969";
$icon-pedido-sl-path2: "\e96a";
$icon-pedido-sl-r-path1: "\e96b";
$icon-pedido-sl-r-path2: "\e96c";
$icon-pedido-sl-r-path3: "\e96d";
$icon-pedido-sl-r-path4: "\e96e";
$icon-pedido-sl-r-path5: "\e96f";
$icon-pintura-path1: "\e970";
$icon-pintura-path2: "\e971";
$icon-pintura-path3: "\e972";
$icon-pintura-path4: "\e973";
$icon-pintura-path5: "\e974";
$icon-pintura-path6: "\e975";
$icon-pintura-path7: "\e976";
$icon-productos-path1: "\e977";
$icon-productos-path2: "\e978";
$icon-productos-path3: "\e979";
$icon-productos-path4: "\e97a";
$icon-productos-path5: "\e97b";
$icon-productos-path6: "\e97c";
$icon-programacion-ol-path1: "\e97d";
$icon-programacion-ol-path2: "\e97e";
$icon-programacion-ol-path3: "\e97f";
$icon-programacion-ol-path4: "\e980";
$icon-programacion-ol-path5: "\e981";
$icon-programacion-sl-path1: "\e982";
$icon-programacion-sl-path2: "\e983";
$icon-programacion-sl-path3: "\e984";
$icon-programacion-sl-path4: "\e985";
$icon-programacion-sl-path5: "\e986";
$icon-roles-sl-path1: "\e987";
$icon-roles-sl-path2: "\e988";
$icon-roles-sl-path3: "\e989";
$icon-roles-sl-path4: "\e98a";
$icon-roles-sl-path5: "\e98b";
$icon-roles-sl-alt-path1: "\e98c";
$icon-roles-sl-alt-path2: "\e98d";
$icon-roles-sl-alt-path3: "\e98e";
$icon-roles-sl-alt-path4: "\e98f";
$icon-roles-sl-alt-path5: "\e990";
$icon-roles-sl-alt-path6: "\e991";
$icon-ruta-de-producto-ol-path1: "\e992";
$icon-ruta-de-producto-ol-path2: "\e993";
$icon-ruta-de-producto-ol-path3: "\e994";
$icon-ruta-de-producto-ol-path4: "\e995";
$icon-rutas-de-partes-alt-ol-path1: "\e996";
$icon-rutas-de-partes-alt-ol-path2: "\e997";
$icon-rutas-de-partes-alt-ol-path3: "\e998";
$icon-rutas-de-partes-ol-path1: "\e999";
$icon-rutas-de-partes-ol-path2: "\e99a";
$icon-rutas-de-partes-ol-path3: "\e99b";
$icon-rutas-de-partes-ol-path4: "\e99c";
$icon-secciones-ol-path1: "\e99d";
$icon-secciones-ol-path2: "\e99e";
$icon-secciones-sl-path1: "\e99f";
$icon-secciones-sl-path2: "\e9a0";
$icon-tarea-ol-path1: "\e9a1";
$icon-tarea-ol-path2: "\e9a2";
$icon-tarea-sl-path1: "\e9a3";
$icon-tarea-sl-path2: "\e9a4";
$icon-turno-sl-path1: "\e9a5";
$icon-turno-sl-path2: "\e9a6";
$icon-usuario-path1: "\e9a7";
$icon-usuario-path2: "\e9a8";
$icon-usuario-rd-path1: "\e9a9";
$icon-usuario-rd-path2: "\e9aa";
$icon-usuario-sl-path1: "\e9ab";
$icon-usuario-sl-path2: "\e9ac";
$icon-usuarios-ol-path1: "\e9ad";
$icon-usuarios-ol-path2: "\e9ae";
$icon-usuarios-ol-path3: "\e9af";
$icon-usuarios-ol-path4: "\e9b0";
$icon-usuarios-ol-path5: "\e9b1";
$icon-usuarios-ol-path6: "\e9b2";
$icon-usuarios-sl-path1: "\e9b3";
$icon-usuarios-sl-path2: "\e9b4";
$icon-usuarios-sl-path3: "\e9b5";
$icon-usuarios-sl-path4: "\e9b6";
$icon-usuarios-sl-path5: "\e9b7";
$icon-usuarios-sl-path6: "\e9b8";
$icon-usuarios-sl-al-path1: "\e9b9";
$icon-usuarios-sl-al-path2: "\e9ba";
$icon-usuarios-sl-al-path3: "\e9bb";
$icon-usuarios-sl-al-path4: "\e9bc";
$icon-usuarios-sl-al-path5: "\e9bd";
$icon-usuarios-sl-al-path6: "\e9be";