::ng-deep div.dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title > div > div.dx-toolbar-before {
    width: 100%;
}
::ng-deep #btnCompoRefreshSbox {
    position: absolute;
    right: 5px;
    top: 5px;
}
::ng-deep .clsTit {
    font-weight: bold;
    border-bottom: #d4d4eb;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
}
