$pri: white;
$sec: #fffffe;
$dark-pri: #0B5AA2;

::ng-deep .title {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 600;
  color: rgb(10, 77, 60);
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 0px;
  width: 100%;
}


// ::ng-deep .container {
//     /*border: 1px solid black;*/
    
//     position: relative;
//     /*top: 0; right: 0; bottom: 0; left: 0;*/
//     //left: 20px;
//     margin: auto;
//     margin-top: 60px;
//     justify-content: center;
  
//     display: flex;
//     /*display: grid;*/
//     place-items: center;
//     background-color: transparent;
//     width: 70%;
  
//   }
  
  ::ng-deep  .items {
    float: left;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: rgb(213, 249, 255);
    height: 500px;
    /*box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
    border-top: 10px solid $dark-pri;*/
  
  }
  
  
  ::ng-deep .items-head p{
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    padding: 5px 20px;
    margin: 10px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 25px;
  }
  
  ::ng-deep  .items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid $dark-pri;
  }
  
  ::ng-deep .items-body {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
  }
  
  ::ng-deep .items-body-content {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    padding: 2px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    // background-color: lightblue;
    font-size: 20px;
    grid-gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    
  }
  ::ng-deep .items-body-content i {
    align-self: stretch;
    font-size: 15px;
    color: rgb(38, 0, 128);
    font-weight: bold;
    margin-top: 5px;
  }
  
  ::ng-deep .item-nombre {
    display: inline-block;
    position: relative;
  }
  
  ::ng-deep .items-body-content:hover {
      /*background-color: rgb(244, 245, 201);*/
      font-weight: bold;
      color: #4023e4;
  }
  ::ng-deep .item-nombre:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4023e4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  ::ng-deep .item-nombre:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  // ::ng-deep .cssppal {
  //   background: #2196F3;
  // }
  ::ng-deep .dx-tile-content .titulo-tile {
    font-size: 16px;
    position: absolute;
    /*background-color: black;*/
    color:rgb(10, 77, 60);
    opacity: 1;
    padding: 0px;
    left: 9px;
    bottom: 5px;
  }
  ::ng-deep .letraItem {
    position: absolute;
    font-size: 36px;
    font-weight: 200 bold;
    padding-left: 10px;
    color: yellow;
    right: 10px;
  }
  ::ng-deep .wrapmnuinf {
    height: 250px;
  }
  
  ::ng-deep .dx-tile-content .image {
    height: 70px;
    width: 70px;
    background-position: right;
    background-size: cover;
    padding: 10px;
    display: block;
    position: absolute;
    right: 10px;
  }
  