<div class="row gx-3" id="PRO028" #PRO028>
	<div class="col-12">
		<div class="card-content">
			<dx-form #formRPro id="formRPro" labelLocation="left" [colCount]="1" [formData]="FCapacidad"
				[readOnly]="readOnly">
				<dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="3" [lg]="3"></dxo-col-count-by-screen>
				<dxi-item dataField="FECHA_INICIO">
					<dxo-label text="Fecha inicio"></dxo-label>
					<div *dxTemplate>
						<dx-date-box #fechaDesde placeholder="D/M/AA" [useMaskBehavior]="true"
							[inputAttr]="{ 'aria-label': 'Date' }" [readOnly]="readOnly"
							[value]="FCapacidad.FECHA_INICIO" (onValueChanged)="onFechaDesde($event)"></dx-date-box>
					</div>
				</dxi-item>
				<dxi-item dataField="FECHA_FIN">
					<dxo-label text="Fecha final"></dxo-label>
					<div *dxTemplate>
						<dx-date-box #fechaHasta placeholder="D/M/AA" [useMaskBehavior]="true"
							[inputAttr]="{ 'aria-label': 'Date' }" [readOnly]="readOnly" [value]="FCapacidad.FECHA_FIN"
							(onValueChanged)="onFechaHasta($event)"></dx-date-box>
					</div>
				</dxi-item>
				<dxi-item dataField="CAPACIDAD" editorType="dxSelectBox"
					[editorOptions]="{placeholder:'Seleccione...'}">
					<dxo-label text="Capacidad"></dxo-label>
					<div *dxTemplate>
						<dx-select-box placeholder="Seleccione..." [value]="FCapacidad.CAPACIDAD" [readOnly]="readOnly"
							[dataSource]="['BALANCEADA','ESTANDAR']"
							(onValueChanged)="onSelecCapacidad($event)"></dx-select-box>
					</div>
				</dxi-item>

				<dxi-item dataField="HORARIOS" [editorOptions]="{placeholder:'Seleccione...'}">
					<dxo-label text="Horarios"></dxo-label>
					<div *dxTemplate>
						<dx-drop-down-box id="dropTurnos" displayExpr="DESCRIPCION" valueExpr="ID_HORARIO"
							placeholder="Seleccione..." [showClearButton]="true" [dataSource]="DTurnos"
							[readOnly]="readOnly" [(opened)]="openIdHorarios" [(value)]="selectHorarios"
							[dropDownOptions]="{ width: 500, height: 300, hideOnParentScroll: true, closeOnOutsideClick: false, container: '#router-container'}"
							(onValueChanged)="onValueChanged($event, 'HORARIO')">
							<div *dxTemplate="let data of 'content'">
								<dx-data-grid id="gridTurnosPlanta" width="100%" height="90%" noDataText="No hay datos."
									keyExpr="ID_HORARIO" [columnMinWidth]="80" [selection]="{ mode: 'multiple' }"
									[dataSource]="DTurnos" [columnAutoWidth]="true" [focusedRowEnabled]="true"
									[hoverStateEnabled]="true" [allowColumnResizing]="true"
									[rowAlternationEnabled]="true" [(selectedRowKeys)]="selectHorarios"
									(onSelectionChanged)="onSelectionTurno($event)">
									<dxo-scrolling mode="virtual"></dxo-scrolling>
									<dxo-search-panel [visible]="true" [width]="150"></dxo-search-panel>

									<dxi-column dataField="ID_HORARIO" caption="Id. Horario" class="clsEncabHis"
										[width]="115"></dxi-column>
									<dxi-column dataField="DESCRIPCION" caption="Nombre" cssClass="clsEncabHis"
										[width]="130"></dxi-column>
								</dx-data-grid>
								<div style="display: flex; justify-content: center; width: 100%; padding: 5px;">
									<dx-button id="btnAceptarPT" stylingMode="contained" text="Aceptar" type="default"
										[width]="100" (onClick)="aceptarBottom($event, 'HORARIO')"></dx-button>
									<dx-button id="btnCancelarPT" stylingMode="contained" text="Cancelar" type="normal"
										[width]="110" [style.margin-left]="'20px'"
										(onClick)="aceptarBottom($event, 'HORARIO')"></dx-button>
								</div>
							</div>
						</dx-drop-down-box>
					</div>
				</dxi-item>
				<dxi-item dataField="PLANTAS" [editorOptions]="{placeholder:'Seleccione...'}">
					<dxo-label text="Plantas"></dxo-label>
					<div *dxTemplate>
						<dx-drop-down-box id="dropTurnos" displayExpr="DESCRIPCION" valueExpr="ID_SECCION"
							placeholder="Seleccione..." [showClearButton]="true" [readOnly]="readOnly"
							[dataSource]="DPlantas" [(opened)]="openIdPlantas" [(value)]="selectPlantas"
							[dropDownOptions]="{ width: 500, height: 300, hideOnParentScroll: true, closeOnOutsideClick: false, container: '#router-container'}"
							(onValueChanged)="onValueChanged($event, 'PLANTA')">
							<div *dxTemplate="let data of 'content'">
								<dx-list #listPlantas id="listPlantas" width="100%" height="90%" keyExpr="ID_SECCION"
									searchExpr="DESCRIPCION" searchMode="contains" selectionMode="all"
									selectAllMode="allPages" [searchEnabled]="true" [showSelectionControls]="true"
									[dataSource]="DPlantas" [(selectedItemKeys)]="selectPlantas"
									(onSelectionChanged)="onSelectionChangedPlanta($event)">
									<div *dxTemplate="let data of 'item'">
										<div>{{ data.ID_SECCION +' -- '+ data.DESCRIPCION }}</div>
									</div>
								</dx-list>
								<div style="display: flex; justify-content: center; width: 100%; padding: 5px;">
									<dx-button id="btnAceptarPT" stylingMode="contained" text="Aceptar" type="default"
										[width]="100" (onClick)="aceptarBottom($event, 'PLANTA')"></dx-button>
									<dx-button id="btnCancelarPT" stylingMode="contained" text="Cancelar" type="normal"
										[width]="110" [style.margin-left]="'20px'"
										(onClick)="aceptarBottom($event, 'PLANTA')"></dx-button>
								</div>
							</div>
						</dx-drop-down-box>
					</div>
				</dxi-item>
			</dx-form>
		</div>
	</div>

	<div class="col-12" class="xt-gesptreelist xt-gespdatagrid card-content" *ngIf="activeListaSeccion">
		<dx-tree-list #treeListSecciones id="treeListSecciones" width="auto" height="600px" style="margin-bottom: 10px;"
			keyExpr="ITEM" parentIdExpr="ANTERIOR" [showBorders]="true" [columnAutoWidth]="true"
			[rowAlternationEnabled]="true" [hoverStateEnabled]="true" [focusedRowEnabled]="true"
			[allowColumnResizing]="true" [columnHidingEnabled]="true" columnResizingMode="widget"
			[dataSource]="DSecciones" [autoExpandAll]="true" [(selectedRowKeys)]="selectSeccion"
			(onContentReady)="onContentReady($event)" (onRowPrepared)="onRowPreparedTreeListSeccion($event)"
			(onEditingStart)="onEditingStart($event)" (onEditCanceled)="onEditCanceled($event)"
			(onRowUpdated)="onRowUpdated($event)" (onRowInserted)="onRowInserted($event)">
			<!-- <dxo-editing
				mode="row"
				[useIcons]="false"
				[allowAdding]="false"
				[allowUpdating]="false"
				[allowDeleting]="false"
			></dxo-editing> -->
			<dxo-scrolling mode="standard"></dxo-scrolling>
			<dxo-header-filter [visible]="true" width="90%" [allowSearch]="true"></dxo-header-filter>
			<dxo-search-panel class="xt-serch-box" [visible]="true" [width]="200"></dxo-search-panel>
			<dxo-selection selectAllMode="allPages" mode="single"></dxo-selection>

			<dxi-column dataField="ID_SECCION" caption="Id Sección" cellTemplate="iconTipo"
				[allowEditing]="false"></dxi-column>
			<dxi-column dataField="DESCRIPCION" caption="Descripción" cellTemplate="tempDescripcion"
				editCellTemplate="tempDescripcion" [allowEditing]="false"></dxi-column>
			<dxi-column dataField="IsActive" [visible]="false"></dxi-column>

			<!-- <dxi-column
				dataField="ID_HORARIO"
				caption="Turno"
				[width]="180"
				cellTemplate="editTemplateTurno"
				editCellTemplate="editTemplateTurno"
			></dxi-column> -->
			<dxi-column dataField="HORAS_HORARIO" caption="Horas" [width]="90" [allowFiltering]="false"
				[allowEditing]="false" cellTemplate="editTempHr"></dxi-column>

			<dxi-column caption="Capacidad" alignment="center">
				<dxi-column caption="Instalada" alignment="center">
					<dxi-column dataField="N_TRABAJADORES_INSTALADA" caption="# Trabajadores" alignment="center"
						[width]="110" [allowFiltering]="false" [allowEditing]="false"
						cellTemplate="editTempNTra"></dxi-column>
					<dxi-column dataField="HORAS_INSTALADA" caption="Horas" [width]="90" alignment="center"
						[allowFiltering]="false" [allowEditing]="false" cellTemplate="editTempHr"></dxi-column>
				</dxi-column>

				<dxi-column caption="Disponible" alignment="center">
					<dxi-column dataField="N_TRABAJADORES_DISPONIBLE" caption="# Trabajadores" alignment="center"
						[width]="110" [allowFiltering]="false" [allowEditing]="false"
						cellTemplate="editTempNTraEdit"></dxi-column>
					<dxi-column dataField="HORAS_DISPONIBLE" caption="Horas" alignment="center" [width]="90"
						[allowFiltering]="false" [allowEditing]="false" cellTemplate="editTempHr"></dxi-column>
				</dxi-column>

				<dxi-column caption="Disponible Ajustada" alignment="center">
					<dxi-column dataField="EFECTIVIDAD_AJUSTADA" caption="% Efectividad" alignment="center"
						[width]="110" [allowFiltering]="false" cellTemplate="editTempNTraEdit"
						editCellTemplate="editTempNTraEdit"></dxi-column>
					<dxi-column dataField="HORAS_AJUSTADA" caption="Horas" alignment="center" [width]="90"
						[allowFiltering]="false" cellTemplate="editTempHr"></dxi-column>
				</dxi-column>
			</dxi-column>

			<div *dxTemplate="let options of 'iconTipo'" class="clsIconTipo">
				<div [ngSwitch]="options.data.TIPO">
					<i class="icon-empresa-sl" *ngSwitchCase="'Planta'"
						style="font-size: 1.0rem; padding-right: 5px;"></i>
					<i class="icon-operaciones-sl" *ngSwitchCase="'PROCESO'"
						style="font-size: 1.0rem; padding-right: 5px; color: rgba(10,57,96,.85)"></i>
					<i class="icon-procesos-sl" *ngSwitchCase="'OPERATIVA'"
						style="font-size: 1.0rem; padding-right: 5px; color: rgba(10,57,96,.75)"></i>
					<span>{{ options.data.ID_SECCION }}</span>
				</div>
			</div>

			<div *dxTemplate="let options of 'tempDescripcion'">
				<div class="container-icon-secc">
					<div style="width: 90%;"><span>{{ options.data.DESCRIPCION }}</span></div>
					<div [style]="{'display':options.data.INVENTARIO===true?'block':'none', 'width': '10%'}">
						<i class="icon-productos" style="color: rgb(98, 121, 140, 1); padding-right: 3px;"
							matTooltip="Tiene manejo inventario"></i>
					</div>
					<div [style]="{'display':options.data.MANO_OBRA===true?'block':'none', 'width': '10%', 'cursor': 'pointer'}"
						[id]="'iconMoSeccion'+options.data.ID_SECCION" (mouseleave)="toolTipVisible = false">
						<i class="icon-empleados-secciones" style="color: rgb(98, 121, 140, 0.8); padding-right: 3px;"
							matTooltip="Asignable mano de obra" (click)="clickMO($event, options.data)"></i>
					</div>
					<div [style]="{'display':options.data.ASIGNABLE===true?'block':'none', 'width': '10%'}">
						<i class="icon-matriz" style="color: rgb(98, 121, 140, 0.6); padding-right: 3px;"
							matTooltip="Asignable materiales"></i>
					</div>
				</div>
			</div>

			<div *dxTemplate="let cellInfo of 'editTempNTra'">
				<dx-number-box *ngIf="cellInfo.data.TIPO === 'OPERATIVA' && cellInfo.data.MANO_OBRA "
					[id]="'numTraba'+cellInfo.column.dataField+cellInfo.data.ITEM" [min]="0"
					[max]="cellInfo.column.dataField === 'EFECTIVIDAD_AJUSTADA' ? 1 : 1000"
					[format]="cellInfo.column.dataField === 'EFECTIVIDAD_AJUSTADA' ? '#0%' : '#0'" [readOnly]="true"
					[value]="cellInfo.data[cellInfo.column.dataField]"
					(onValueChanged)="onValueChangedValor($event, cellInfo)"></dx-number-box>
			</div>
			<div *dxTemplate="let cellInfo of 'editTempNTraEdit'">
				<dx-number-box *ngIf="cellInfo.data.TIPO === 'OPERATIVA' && cellInfo.data.MANO_OBRA "
					[id]="'numTraba'+cellInfo.column.dataField+cellInfo.data.ITEM" [min]="0"
					[max]="cellInfo.column.dataField === 'EFECTIVIDAD_AJUSTADA' ? 100 : 1000"
					[format]="cellInfo.column.dataField === 'EFECTIVIDAD_AJUSTADA' ? '#0%' : '#0'" [readOnly]="readOnly"
					[value]="cellInfo.data[cellInfo.column.dataField]"
					(onValueChanged)="onValueChangedValor($event, cellInfo)"></dx-number-box>
			</div>
			<div *dxTemplate="let cellInfo of 'editTempHr'">
				<dx-text-box *ngIf="cellInfo.data.TIPO === 'OPERATIVA' && cellInfo.data.MANO_OBRA "
					[id]="'numHrs'+cellInfo.column.dataField+cellInfo.data.ITEM" [readOnly]="true"
					[inputAttr]="{ 'aria-label': 'Mask' }"
					[value]="cellInfo.data[cellInfo.column.dataField]"></dx-text-box>
			</div>

			<dxo-export [enabled]="true"></dxo-export>

		</dx-tree-list>
	</div>

</div>


<app-vistarapida id="vistapro008" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<app-geninformes [events]="eventsSubjectInformes.asObservable()"></app-geninformes>

<dx-tooltip id="tooltipSeccion" class="xt-tootips" position="top" [target]='targetIdTooltip' [wrapperAttr]="wrapperAttr"
	[(visible)]="toolTipVisible" [hideOnOutsideClick]="false">
	<div *dxTemplate="let data of 'content'">
		<div class='tooltipContent'>
			<table class="tabIvas">
				<tr>
					<td>Id. Empleado</td>
					<td>Nombre</td>
					<td>Actividad</td>
					<td>Tipo</td>
				</tr>
				<tr *ngFor="let data of tooltipInfo">
					<td><b>{{ data.ID_EMPLEADO }}</b></td>
					<td>{{ data.NOMBRE }}</td>
					<td>{{ data.ID_ACTIVIDAD }}</td>
					<td>{{ data.TIPO }}</td>
				</tr>
			</table>
		</div>
	</div>

</dx-tooltip>


<dx-load-panel #loadPanelPro shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#router-container' }"
	[(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
	message="Un momento. Cargando consulta..." [hideOnOutsideClick]="false"></dx-load-panel>