
.container-icon-secc {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.clsIconTipo {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 25px;
}

.tabIvas {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}