<dx-data-grid #gridPMS [columnAutoWidth]="true" [dataSource]="DSAplicaciones" [allowColumnResizing]="true"
  [columnAutoWidth]="true" columnResizingMode="widget" [focusedRowEnabled]="true" [rowAlternationEnabled]="true"
  [hoverStateEnabled]="true" keyExpr="ITEM" noDataText="" [showBorders]="true" (onRowUpdating)="updatingRow($event)">
  <dxo-group-panel [visible]="false"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <dxo-editing mode="cell" [useIcons]="false" [allowUpdating]="esEdicion" [allowDeleting]="false"
    [allowAdding]="esEdicion">
    <dxo-texts confirmDeleteMessage="">
    </dxo-texts>
  </dxo-editing>

  <dxi-column dataField="ITEM" [visible]="false">
  </dxi-column>

  <dxi-column dataField="ID_APLICACION" caption="Aplicación" [groupIndex]="0" groupCellTemplate="nameAplicaciones">
  </dxi-column>
  <dxi-column dataField="DESCRIPCION" caption="DESCRIPCION">
  </dxi-column>

  <dxi-column dataField="ASIGNAR" caption="Autorizar">
  </dxi-column>

  <div *dxTemplate="let grupoObj of 'nameAplicaciones'">
    <div class="dx-datagrid-template">
      <div class="col-2">
        <span> APLICACIÓN: </span>
        <span>{{ templateHtml(grupoObj, 'ID_APLICACION') }} {{ templateHtml(grupoObj, 'NOMBRE_APLICACION') }}</span>
      </div>
    </div>
  </div>
</dx-data-grid>