<div class="row gx-3" id="splitterMain">
  <as-split direction="horizontal" (dragEnd)="dragEnd('percent', $event)" #split="asSplit" class="col-12">
    <as-split-area class="col-4" [size]="40" #area1="asSplitArea" (resized)="onResized($event)">
      <div class="card-content-clean-alt">
        <div id="constainer-expandir" class="dropdown-expand dpdown-p-absolute">
          <dx-toolbar>
            <dxi-item location="before" (click)="onExpanding($event)">
              <div class="accordion-item-group">
                <div>
                  <span class="accordion-item-description" *ngIf="expandUDN">
                    <i class="icon-chevron-right-xs"></i>
                  </span>
                  <span class="accordion-item-description" *ngIf="!expandUDN">
                    <i class="icon-chevron-down-xs"></i>
                  </span>
                </div>
                <span class="xt-dropdown-caption">{{ btnContraer }}</span>
              </div>
            </dxi-item>
          </dx-toolbar>
        </div>

        <dx-tree-list #treeListUDnegocios id="treeListUDnegocios" [dataSource]="DListaUDnegocios" keyExpr="ID_UN"
          parentIdExpr="ID_UN_SUPERIOR" rootValue="RAIZ" [showBorders]="true" [columnAutoWidth]="true"
          [(autoExpandAll)]="autoExpandAll" [rowAlternationEnabled]="true" [hoverStateEnabled]="true"
          [focusedRowEnabled]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true"
          columnResizingMode="nextColumn" [(focusedRowKey)]="focusedSeccion"
          (onFocusedRowChanged)="selectUDnegocios($event)" (onInitialized)="onInitialized($event)"
          height="calc(100vh - 160px)">
          <dxo-scrolling mode="standard"></dxo-scrolling>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel class="xt-serch-box" [visible]="true" [width]="widthSerchTreeList"></dxo-search-panel>

          <dxi-column dataField="ID_UN" caption="Código" [width]="200"></dxi-column>
          <dxi-column dataField="NOMBRE" caption="Nombre" [width]="200" [hidingPriority]="0"></dxi-column>

          <div *dxTemplate="let info of 'cfgEncabezado'">
            <p style="font-size: 16px">{{ info.column.caption }}</p>
          </div>

          <dxo-export [enabled]="true"></dxo-export>
        </dx-tree-list>
      </div>
    </as-split-area>

    <as-split-area class="col-8 ml-0" [size]="60" #area2="asSplitArea">
      <div id="form-container" class="card-content-secondary-alt">
        <dx-form #formUDnegocios id="formUDnegocios" [(formData)]="FUDnegocios" [readOnly]="readOnly"
          labelLocation="left" colCount="1" [screenByWidth]="getSizeQualifier">
          <dxi-item itemType="group" cssClass="first-group" [colCount]="2" [colSpan]="2">
            <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="2"></dxo-col-count-by-screen>
            <dxi-item dataField="ID_UN">
              <dxo-label text="Código"></dxo-label>
              <div *dxTemplate>
                <dx-text-box placeholder="Código" [readOnly]="readOnlyIdUDnegocios" [(value)]="FUDnegocios.ID_UN"
                  (onValueChanged)="onValueChangedForm($event, 'ID_UN')">
                  <dx-validator>
                    <dxi-validation-rule type="required"
                      message="El Código de la Unidad es requerido"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </dxi-item>

            <dxi-item dataField="NOMBRE" placeholder="Nombre de la unidad">
              <dxo-label text="Nombre"></dxo-label>
              <div *dxTemplate>
                <dx-text-box placeholder="Nombre unidad" [readOnly]="readOnly" [(value)]="FUDnegocios.NOMBRE"
                  (onValueChanged)="onValueChangedForm($event, 'NOMBRE')">
                  <dx-validator>
                    <dxi-validation-rule type="required"
                      message="El Nombre de la unidad es requerido"></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </dxi-item>

            <dxi-item dataField="ID_UN_SUPERIOR" editorType="dxDropDownBox" [editorOptions]="{
                dataSource: LDatosUDNPadres,
                displayExpr: 'ID_UN',
                valueExpr: 'ID_UN',
                placeholder: 'Código padre',
                value: seleccSeccUDN,
                dropDownOptions: dropDownOptions,
                searchEnabled: true,
                opened: isTreeBoxOpened,
                contentTemplate: 'contentUDN',
                inputAttr: { id: 'dropUDN' },
                onValueChanged: onDropDownValueChanged.bind(this)
              }">
              <dxo-label text="Código del Padre"></dxo-label>
            </dxi-item>



            <dxi-item dataField="NOMBRE_SUPERIOR">
              <dxo-label text="Nombre del Padre"></dxo-label>
              <div *dxTemplate>
                <dx-text-box placeholder="Nombre del Padre" [readOnly]="true" [value]="FUDnegocios.NOMBRE_SUPERIOR">
                </dx-text-box>
              </div>
            </dxi-item>
            <dxi-item dataField="ID_LEGAL" editorType="dxSelectBox" editorType="ddBoxIDLegal">
              <dxo-label text="Id Legal"></dxo-label>
              <div *dxTemplate>
                <dx-drop-down-box #ddBoxIDLegal [dataSource]="DListaIdLegales" [(value)]="FUDnegocios.ID_LEGAL"
                  [(opened)]="isGridBoxOpenedIDL" [showClearButton]="true" displayExpr="NOMBRE_COMPLETO"
                  valueExpr="ID_LEGAL" placeholder="Seleccione" [readOnly]="readOnly"
                  [dropDownOptions]="{ width: 450 }">
                  <div *dxTemplate="let data of 'content'">
                    <dx-data-grid [dataSource]="DListaIdLegales" keyExpr="ID_LEGAL" [selection]="{ mode: 'single' }"
                      [allowColumnResizing]="true" [focusedRowEnabled]="true" [rowAlternationEnabled]="true"
                      [hoverStateEnabled]="true" columnResizingMode="nextColumn"
                      [paging]="{ enabled: true, pageSize: 10 }" [(selectedRowKeys)]="gridBoxIDL"
                      (onSelectionChanged)="onSelectionChangedIDL($event)">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-selection selectAllMode="allPages"> </dxo-selection>
                      <dxi-column dataField="ID_LEGAL" caption="ID Legal"></dxi-column>
                      <dxi-column dataField="NOMBRE_COMPLETO" caption="Nombre"></dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>
            </dxi-item>
            <dxi-item dataField="ID_UBICACION" editorType="dxSelectBox" editorType="ddBoxUbicacion">
              <dxo-label text="Ubicaciones"></dxo-label>
              <div *dxTemplate>
                <dx-drop-down-box #ddBoxUbicacion [dataSource]="DListaUbicacines" [(value)]="FUDnegocios.ID_UBICACION"
                  [(opened)]="isGridBoxOpenedUbicacion" [showClearButton]="true" displayExpr="NOMBRE"
                  valueExpr="ID_UBICACION" placeholder="Seleccione" [readOnly]="readOnly"
                  [dropDownOptions]="{ width: 450 }">
                  <div *dxTemplate="let data of 'content'">
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dx-data-grid [dataSource]="DListaUbicacines" keyExpr="ID_UBICACION"
                      [selection]="{ mode: 'single' }" [allowColumnResizing]="true" [focusedRowEnabled]="true"
                      [rowAlternationEnabled]="true" [hoverStateEnabled]="true" columnResizingMode="nextColumn"
                      [paging]="{ enabled: true, pageSize: 10 }" [(selectedRowKeys)]="gridBoxUbicacion"
                      (onSelectionChanged)="
                        onSelectionChangedUbicaciones($event)
                      ">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-selection selectAllMode="allPages"> </dxo-selection>
                      <dxi-column dataField="ID_UBICACION" caption="ID Ubicación"></dxi-column>
                      <dxi-column dataField="NOMBRE" caption="Nombre"></dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>
            </dxi-item>

            <dxi-item dataField="RESPONSABLE" editorType="dxSelectBox" editorType="ddBoxResponsable">
              <dxo-label text="Responsables"></dxo-label>
              <div *dxTemplate>
                <dx-drop-down-box #ddBoxResponsable [dataSource]="DListaResponsables"
                  [(value)]="FUDnegocios.RESPONSABLE" [(opened)]="isGridBoxOpenedResponsable" [showClearButton]="true"
                  displayExpr="NOMBRE_COMPLETO" valueExpr="RESPONSABLE" placeholder="Seleccione" [readOnly]="readOnly"
                  [dropDownOptions]="{ width: 450 }">
                  <div *dxTemplate="let data of 'content'">
                    <dx-data-grid [dataSource]="DListaResponsables" keyExpr="RESPONSABLE"
                      [selection]="{ mode: 'single' }" [allowColumnResizing]="true" [focusedRowEnabled]="true"
                      [rowAlternationEnabled]="true" [hoverStateEnabled]="true" columnResizingMode="nextColumn"
                      [paging]="{ enabled: true, pageSize: 10 }" [(selectedRowKeys)]="gridBoxResponsable"
                      (onSelectionChanged)="
                        onSelectionChangedResponsable($event)
                      ">
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-selection selectAllMode="allPages"> </dxo-selection>
                      <dxi-column dataField="RESPONSABLE" caption="ID Responsable"></dxi-column>
                      <dxi-column dataField="NOMBRE_COMPLETO" caption="Nombre"></dxi-column>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>
            </dxi-item>

            <dxi-item dataField="TIPO" editorType="dxSelectBox">
              <dxo-label text="Tipo"></dxo-label>
              <div *dxTemplate>
                <dx-select-box [dataSource]="['Ninguna', 'Principal', 'Sucursal', 'Planta']" [value]="FUDnegocios.TIPO"
                  [readOnly]="readOnly" placeholder="Seleccione Tipo"
                  (onValueChanged)="onValueChangedForm($event, 'TIPO')">
                </dx-select-box>
              </div>
            </dxi-item>
            <dxi-item dataField="UN_OPERATIVA" editorType="dxSwitch" (onValueChanged)="onChangedUNOperativa($event)"
              [editorOptions]="{
                                disabled: readOnly,
                                inputAttr: { id: 'idCheckUNOperativa' } }">
              <dxo-label text="Unidad Operativa" style="margin-left: -10px;"></dxo-label>
            </dxi-item>
            <dxi-item dataField="MANEJO_PRESUPUESTO" editorType="dxSwitch"
              (onValueChanged)="onChangedPresupuesto($event)" [editorOptions]="{ 
                                disabled: readOnly,
                                inputAttr: { id: 'idCheckPresupuesto' } }">
              <dxo-label text="Presupuesto" style="margin-left: -10px;"></dxo-label>
            </dxi-item>

            <dxi-item dataField="DESCRIPCION">
              <dxo-label text="Descripción"></dxo-label>
              <div *dxTemplate>
                <dx-text-area [height]="90" [readOnly]="readOnly" [(value)]="FUDnegocios.DESCRIPCION"
                  placeholder="Describa detalladamente la unidad de negocio"></dx-text-area>
              </div>
            </dxi-item>
            <dxi-item dataField="ESTADO" editorType="dxSelectBox">
              <dxo-label text="Estado"></dxo-label>
              <div *dxTemplate>
                <dx-select-box [dataSource]="['ACTIVO', 'INACTIVO']" [value]="FUDnegocios.ESTADO"
                  [readOnly]="readOnlyEstado" placeholder="Seleccione Estado">
                </dx-select-box>
              </div>
            </dxi-item>
          </dxi-item>


        </dx-form>
        <br />

        <div class="card-content-secondary xt-gesptabs">
          <dx-tab-panel #tabPanelUND id="tabPanelUND" [dataSource]="tabsInfoUDnegocios" [selectedIndex]="0"
            [loop]="false" [animationEnabled]="false" [swipeEnabled]="true" (onTitleClick)="onItemClickTab($event)"
            [selectedItem]="selectedIndex">
            <div *dxTemplate="let tabinfo of 'title'">
              <span>{{ tabinfo }}</span>
            </div>
            <div *dxTemplate="let tabinfo of 'item'">
              <div class="tabpanel-item p-2" *ngIf="tabinfo === 'Identificación'">
                <div>
                  <app-ADM20201></app-ADM20201>
                </div>
              </div>
              <div class="tabpanel-item p-2" *ngIf="tabinfo === 'Imagen'">
                <div>
                  <app-ADM20202></app-ADM20202>
                </div>
              </div>
              <div class="tabpanel-item p-2" *ngIf="tabinfo === 'Contabilidad'">
                <app-ADM20203></app-ADM20203>
              </div>
              <div class="tabpanel-item p-2" *ngIf="tabinfo === 'Configuraciones'">
                <app-dirtelinfo [events]="eventsSubjectDirTelInfo.asObservable()"
                  (onRespuestaSelecc)="onRespuestaDirTelInfo($event)" [(dataEmail)]="DEmail"
                  [(dataDirecciones)]="DDirecciones" [(dataTelefonos)]="DTelefonos" [(dataContacto)]="DContactoAdic">
                </app-dirtelinfo>
              </div>
            </div>
          </dx-tab-panel>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>

<app-vistarapida id="vistaadm203" [aplicacion]="prmUsrAplBarReg.aplicacion"></app-vistarapida>

<dx-load-panel #loadPanelPro shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#router-container' }"
  [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true"
  message="Un momento. Cargando consulta..." [hideOnOutsideClick]="false"></dx-load-panel>
<app-geninformes [events]="eventsSubjectInformes.asObservable()">
</app-geninformes>