<!-- Sub-Menú de opciones -->
<dx-popup
    #popFactPrv
    id="popFactPrv"
    width="1000"
    [height]="'90%'"
    [showTitle]="true"
    [title]="titFacturasProveedor"
    [hideOnOutsideClick]="false"
    [showCloseButton]="true"
    (onShown)="onShown($event)"
    (onHidden)="onHidden($event)"
    (onInitialized)="onInitializedPopUp($event)" 
    (onResizeEnd)="onResizeEnd($event)"
    [(visible)]="visiblePopup">

    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonAceptar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="configBotonCancelar"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      toolbar="bottom"
      location="before"
      text="Seleccionado:"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxTextBox"
      toolbar="bottom"
      location="before"
      [options]="configSeleccFacturas"
    >
    </dxi-toolbar-item>

    <div *dxTemplate="let data of 'content'">
        <dx-data-grid
            #gridFactPrv
            id="gridFactPrv"
            class="xt-datagrid"
            height="100%"
            noDataText="" 
            [dataSource]="DFacturasProveedor"
            keyExpr="ITEM"
            [selection]="{ mode: 'multiple' }"
            [selectedRowKeys]="seleccPreEgresos"
            [allowColumnResizing]="true"
            columnResizingMode="nextColumn"
            [showBorders]="true"
            [focusedRowEnabled]="true"
            (onRowUpdated)="updatedRow($event)"
            (onCellPrepared)="onCellPrepared($event)"
            (onEditingStart)="onEditingStart($event)"
            (onRowValidating)="onRowValidating($event)"
            (onSelectionChanged)="onSelectionFact($event)"
        >   
            <dxo-editing
                mode="cell"
                [useIcons]="false" 
                [allowUpdating]="true"
                [allowDeleting]="false"
                [allowAdding]="false"
                >
            </dxo-editing>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            
            <dxi-column 
                dataField="ORIGEN"
                [groupIndex]="0"
                groupCellTemplate="grupoOrigen"
                >
            </dxi-column>
            <dxi-column 
                dataField="FECHA"
                caption="Fecha" 
                dataType="date" 
                [allowEditing]="false"
                format="yyyy/MM/dd">
            </dxi-column>
            <dxi-column 
                dataField="FECHA_VENCIMIENTO"
                caption="Vencimiento" 
                dataType="date" 
                [allowEditing]="false"
                format="yyyy/MM/dd">
            </dxi-column>
            <dxi-column 
                dataField="FACTURA" 
                [allowEditing]="false"
                caption="Factura" >
            </dxi-column>
            <!-- <dxi-column dataField="SOPORTE" caption="Soporte" >
            </dxi-column> -->
            <dxi-column 
                dataField="VALOR" 
                caption="Valor factura" 
                alignment="right"
                dataType="number"
                format="#,###"
                [allowEditing]="false"
            >
            </dxi-column>
            <dxi-column 
                dataField="SALDO" 
                caption="A Pagar"
                alignment="right"
                dataType="number"
                format="#,###"
            >
            </dxi-column>

            <div *dxTemplate="let grupoObj of 'grupoOrigen'" class="tem-grupo">
                <div style="font-weight: bold;">{{ templateHtml(grupoObj) }}</div>
            </div>

            <dxo-summary>
                <dxi-total-item
                    column="SALDO"
                    summaryType="sum"
                    displayFormat="{0}"
                    valueFormat="#,###">
                </dxi-total-item>
            </dxo-summary>

        </dx-data-grid>
    
    </div>

</dx-popup>

