.container-buzon {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-list-chats {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  padding-right: 5px;
}

.container-chats-mesage {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container-encabezado-chat {
  display: flex;
  width: 100%;
  height: 25%;
  flex-direction: column;
}

.btn-filtro {
  width: 30%;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0a396073;
  border-radius: 20px;
}

.list-mesages {
  width: 100%;
  height: 75%;
}

.list-chats {
  left: 0%;
  top: 0;
  width: 40%;
  height: 100%;
  padding: 30px 5px 5px 5px;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: all 0.5s ease !important;
  animation: animated-body 0.5s ease-in-out;
}
.list-chats2 {
  left: -50%;
  top: 0;
  width: 40%;
  height: 100%;
  padding: 30px 5px 5px 5px;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: all 0.5s ease !important;
  animation: animated-body 0.5s ease-in-out;
}

.content-chat {
  display: flex;
}
.content-mensajes-chat {
  display: flex;
  flex-direction: column;
}
.content-acciones-chat {
  display: flex;
  align-items: center;
}

::ng-deep .mat-badge-content {
  background: #4CAF50;
}

.container-received-message {
  display: flex; 
  flex-direction: row;
  /* width: 100%; */
  align-self: flex-start;
}

.container-send-message {
  display: flex; 
  flex-direction: row;
  /* width: 100%; */
  align-self: flex-end;
}

.container-img-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
}

.image-container {
  /* width: 20%; 
  height: 70px;  */
  width: 120px;
  height: 120px;
  margin: 0px 5px 5px 0px; 
  border-radius: 8px; 
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  position: relative;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 15px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.close-btn:hover {
  background-color: red;
}