<dx-popup
  id="popupOpciones"
  title="Lista de Opciones"
  [width]="400"
  [height]="600"
  [showTitle]="true"
  [hideOnOutsideClick]="true"
  [(visible)]="visiblePopup"
  (onShown)="onShown($event)"
  (onHidden)="onHidden($event)"
>
  <dxi-toolbar-item
    widget="dxButton"
    location="before"
    toolbar="bottom"
    [options]="{
      stylingMode: 'contained',
      text: 'Aceptar',
      type: 'success',
      onClick: aceptarCambios
    }"
  ></dxi-toolbar-item>

  <dxi-toolbar-item
    widget="dxButton"
    location="after"
    toolbar="bottom"
    [options]="{
      stylingMode: 'contained',
      text: 'Cancelar',
      type: 'danger',
      onClick: cancelarCambios
    }"
  ></dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-list
      #listOptions
      id="listOptions"
      keyExpr="PRODUCTO"
      [height]="500"
      [width]="'auto'"
      pageLoadMode="scrollBottom"
      [searchExpr]="['PRODUCTO','NOMBRE']"
      searchMode="contains"
      [dataSource]="listaOpciones"
      selectionMode="single"
      selectAllMode="page"
      [showSelectionControls]="true"
      [selectedItemKeys]="[]"
      [searchEnabled]="true"
      (onItemClick)="seleccProducto($event)"
    >
      <div *dxTemplate="let item of 'item'">
        <div style="font-weight: bold;">{{ item.PRODUCTO }}</div>
        <div>{{ item.NOMBRE }}</div>
      </div>
    </dx-list>
  </div>
</dx-popup>