<dx-data-grid
  #gridManoObraDetalle
  id="gridManoObraDetalle"
  keyExpr="ITEM"
  class="xt-subgrid"
  [dataSource]="GDManoObraDetalle"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [allowColumnResizing]="true"
  [rowAlternationEnabled]="true"
  [focusedRowEnabled]="true"
  [hoverStateEnabled]="true"
  [columnMinWidth]="120"
  (onContentReady)="onContentReady($event)"
  (onRowPrepared)="onRowPrepared($event)"
  (onInitNewRow)="onInitNewRowPro($event)"
  (onRowInserting)="onRowInserting($event)"
  (onRowUpdating)="updatingRow($event)"
  (onRowValidating)="onRowValidating($event)"
  (onSelectionChanged)="selectionGrid($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowInserted)="onRowInserted($event)"
  (onEditingStart)="startEdit($event)"
>
  <dxo-editing
    mode="cell"
    [useIcons]="false"
    [allowUpdating]="esEdicion"
    [allowDeleting]="false"
    [allowAdding]="esEdicion"
  >
    <dxo-texts confirmDeleteMessage=""></dxo-texts>
  </dxo-editing>

  <dxo-selection
    selectAllMode="allPages"
    [showCheckBoxesMode]="esVisibleSelecc" 
    mode="multiple">
  </dxo-selection>

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-search-panel [visible]="true" [width]="380" ></dxo-search-panel>
  <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

  <dxi-column
    dataField="CODIGO"
    caption="Código"
    cssClass="clsEncabHis"
    alignment="right"
    calculateDisplayValue="CODIGO"
    [setCellValue]="onCodigo"
  ></dxi-column>

  <dxi-column
    dataField="DESCRIPCION"
    caption="Descripción"
    dataType="text"
    cssClass="clsEncabHis"
  ></dxi-column>

  <dxi-column
    dataField="FECHA_DESDE"
    caption="Fecha inicial"
    dataType="date"
    alignment="right"
    editCellTemplate="tempFechaDesde"
  >
    <div *dxTemplate="let cellInfo of 'tempFechaDesde'">
      <dx-date-box
        #fechaDesde
        placeholder="D/M/AA"
        [useMaskBehavior]="true"
        [inputAttr]="{ 'aria-label': 'Date' }"
        [(value)]="cellInfo.value"
        (onValueChanged)="onFechaDesde($event, cellInfo)"
        (onKeyDown)="onKeyDownFechaDesde($event)"
      ></dx-date-box>
    </div>
  </dxi-column>

  <dxi-column
    dataField="FECHA_HASTA"
    caption="Fecha final"
    dataType="date"
    alignment="right"
    editCellTemplate="tempFechaHasta"
  >
    <div *dxTemplate="let cellInfo of 'tempFechaHasta'">
      <dx-date-box
        #fechaHasta
        placeholder="D/M/AA"
        [useMaskBehavior]="true"
        [inputAttr]="{ 'aria-label': 'Date' }"
        [(value)]="cellInfo.value"
        (onValueChanged)="onFechaHasta($event, cellInfo)"
        (onKeyDown)="onKeyDownFechaHasta($event)"
      ></dx-date-box>
    </div>
  </dxi-column>

  <dxi-column 
    dataField="UNIDAD_MEDIDA" 
    caption="Unidad Medida"
    calculateDisplayValue="UNIDAD_MEDIDA"
    cssClass="clsEncabHis"
    alignment="left"
    cellTemplate="tempUNMedida"
    editCellTemplate="tempUNMedida"
  >
    <div *dxTemplate="let cellInfo of 'tempUNMedida'" >
      <dx-select-box
        *ngIf="cellInfo.data.TIPO === 'Tiempo'"
        [dataSource]="UNTiempo"
        displayExpr="DESCRIPCION"
        valueExpr="ID_UDM"
        [(readOnly)]="cellInfo.data.readOnly_UNIDAD_MEDIDA"
        [(value)]="cellInfo.data.UNIDAD_MEDIDA"
        fieldTemplate="field"
        (onValueChanged)="onValueChangedUnidadMedida($event, cellInfo)"
      >
        <div *dxTemplate="let data of 'field'">
          <div class="product-name">
            <dx-text-box
              class="product-name"
              [value]="data && data.ID_UDM"
              [inputAttr]="{ 'aria-label': 'Name' }"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div *dxTemplate="let data of 'item'">
          <div class="custom-item">
            <div class="product-name"> {{ data.DESCRIPCION }} </div>
          </div>
        </div>
      </dx-select-box>
      <dx-select-box
        *ngIf="cellInfo.data.TIPO === 'Dinero'"
        [dataSource]="UNDinero"
        displayExpr="DESCRIPCION"
        valueExpr="ID_UDM"
        [(readOnly)]="cellInfo.data.readOnly_UNIDAD_MEDIDA"
        [(value)]="cellInfo.data.UNIDAD_MEDIDA"
        fieldTemplate="field"
        (onValueChanged)="onValueChangedUnidadMedida($event, cellInfo)"
      >
        <div *dxTemplate="let data of 'field'">
          <div class="product-name">
            <dx-text-box
              class="product-name"
              [value]="data && data.ID_UDM"
              [inputAttr]="{ 'aria-label': 'Name' }"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div *dxTemplate="let data of 'item'">
          <div class="custom-item">
            <div class="product-name"> {{ data.DESCRIPCION }} </div>
          </div>
        </div>
      </dx-select-box>
    </div>
  </dxi-column>

  <dxi-column
    dataField="VALOR"
    caption="Valor"
    alignment="right"
    dataType="number"
    cssClass="clsEncabHis"
    [editorOptions]="{ format: '#,##0.00', min: '0', showSpinButtons: true }"
    [setCellValue]="setCellvalor"
  >
    <dxo-format type="fixedPoint" [precision]="2" ></dxo-format>
  </dxi-column>

  <dxi-column 
    dataField="ESTADO" 
    caption="Estado"
    calculateDisplayValue="ESTADO"
    cssClass="clsEncabHis"
    alignment="left"
  >
    <dxo-lookup [dataSource]="['ACTIVO','INACTIVO']"> </dxo-lookup>
  </dxi-column>

  <dxo-toolbar *ngIf="esEdicion">
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="plus" matTooltip="Nuevo" (onClick)="operGrid($event,'new')" *ngIf="rowNew"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="edit" matTooltip="Actualizar" (onClick)="operGrid($event,'edit')" *ngIf="rowEdit"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="trash" matTooltip="Eliminar" (onClick)="operGrid($event,'delete')" *ngIf="rowDelete"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="todo" matTooltip="Guardar" (onClick)="operGrid($event,'save')" *ngIf="rowApplyChanges"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button icon="undo" matTooltip="Cancelar" (onClick)="operGrid($event,'cancel')" *ngIf="rowApplyChanges"></dx-button>
      </div>
    </dxi-item>
  </dxo-toolbar>

</dx-data-grid>
