<div class="xt-workspace">

  @if (hasOpenTabs()) {

    <div
      class="xt-workspace__tabs"
      role="tablist"
      aria-label="Aplicaciones abiertas">

      @for (
        tab of tabs();
        track tab.applicationId
      ) {

        <button
          type="button"
          class="xt-workspace-tab"
          [class.xt-workspace-tab--active]="tab.active"
          [class.xt-workspace-tab--dirty]="tab.dirty"
          [attr.aria-selected]="tab.active"
          [attr.title]="tab.title"
          role="tab"
          (click)="activateTab(tab)">

          <span
            class="xt-workspace-tab__title">

            {{ tab.title }}

          </span>


          @if (tab.dirty) {

            <span
              class="xt-workspace-tab__dirty"
              title="Cambios sin guardar"
              aria-label="Cambios sin guardar">

              •

            </span>

          }


          @if (tab.closable) {

            <span
              class="xt-workspace-tab__close"
              role="button"
              tabindex="-1"
              title="Cerrar"
              aria-label="Cerrar aplicación"
              (click)="closeTab($event, tab)">

              ×

            </span>

          }

        </button>

      }

    </div>


    <div
      class="xt-workspace__content">

      @for (
        tab of tabs();
        track tab.applicationId
      ) {

        <section
          class="xt-workspace__panel"
          [class.xt-workspace__panel--active]="tab.active"
          [attr.aria-hidden]="!tab.active">

          <app-workspace-tab-host
            [tab]="tab">
          </app-workspace-tab-host>

        </section>

      }

    </div>

  }
  @else {

    <div
      class="xt-workspace__empty">

      <div
        class="xt-workspace__empty-icon">

        <i
          class="icon-aplicaciones"
          aria-hidden="true">
        </i>

      </div>

      <div
        class="xt-workspace__empty-title">

        Área de trabajo

      </div>

      <div
        class="xt-workspace__empty-message">

        Seleccione una aplicación para comenzar.

      </div>

    </div>

  }

</div>