<div class="row gx-3">
    <div class="col-12">
        <div class="card-content row">

          <dx-form
            #form
            [(formData)]="dataAppModel"
            [readOnly]="readOnly"
            [colCount]="2"
            labelLocation="top"
            [showColonAfterLabel]="false"            
          >
            <!-- Grupo Principal -->
            <dxi-item itemType="group" caption="" [colSpan]="2" [colCount]="2">

                <!-- NOMBRE -->
                <dxi-item
                    dataField="NOMBRE"
                    editorType="dxTextBox"
                    [editorOptions]="{
                        maxLength: 30,
                        placeholder: 'Ingrese el nombre del orígen de datos',
                    }"
                    >
                    <dxi-validation-rule
                        type="async"
                        message="Este nombre de orígen de datos ya existe!"
                        [validationCallback]="ValideExistencia">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="required" message="Nombre de orígen de datos es requerido"></dxi-validation-rule>
                    <dxo-label text="Nombre"></dxo-label>
                </dxi-item>

                <!-- Tipo Origen Datos -->
                <dxi-item
                    dataField="ORIGEN_DATO"
                    editorType="dxSelectBox"
                    [editorOptions]="{
                    items: origenDatosItems,
                    displayExpr: 'Origen',
                    valueExpr: 'IdOrigen',
                    placeholder: 'Seleccione tipo de orígen de datos',
                    searchEnabled: true
                    }"
                >
                    <dxi-validation-rule type="required" message="Tipo de orígen de datos es requerido"></dxi-validation-rule>
                    <dxo-label text="Tipo orígen de datos"></dxo-label>
                </dxi-item>

                <!-- Componente Parametros Conexión -->
                <dxi-item 
                    itemType="group" 
                    caption="Parámetros de Conexión" 
                    [colSpan]="2" 
                    [colCount]="2"
                    cssClass="mt-3">
                    
                    <!-- Los campos del origen se mostrarán aquí -->
                    <dxi-item [colSpan]="2">
                        <app-data-source-parameters
                            #dataSourceParams
                            [origin]="dataAppModel.ORIGEN_DATO || ''"
                            [value]="dataAppModel.PARAMETROS || ''"
                            [readonly]="readOnly"
                            (valueChange)="dataAppModel.PARAMETROS = $event"
                            (loadingChange)="loadingVisible = $event">
                        </app-data-source-parameters>
                    </dxi-item>
                </dxi-item>      

                <!-- Activo -->
                <dxi-item
                    dataField="ACTIVO"
                    editorType="dxSelectBox"
                    [editorOptions]="{
                        items: estadoItems,
                        displayExpr: 'text',
                        valueExpr: 'value',
                        placeholder: 'Seleccione estado',
                        searchEnabled: false,
                        onValueChanged: onActivoChanged
                    }"
                    >
                    <dxo-label text="Estado"></dxo-label>
                </dxi-item>
                
                <!-- Defecto -->
                <dxi-item
                    dataField="DEFECTO"
                    editorType="dxSelectBox"
                    [editorOptions]="{
                        items: defectoItems,
                        displayExpr: 'text',
                        valueExpr: 'value',
                        placeholder: 'Seleccione una opción',
                        searchEnabled: false,
                        onValueChanged: onDefectoChanged
                    }"
                    >
                    <dxo-label text="Por defecto"></dxo-label>
                </dxi-item>
            </dxi-item>

            <!-- Grupo de Comentarios -->
            <dxi-item itemType="group" caption="" [colSpan]="2">

                <!-- Comentarios -->
                <dxi-item
                    dataField="COMENTARIOS"
                    editorType="dxTextArea"
                    [editorOptions]="{
                        height: 120,
                        placeholder: 'Ingrese comentarios'
                    }"
                    [colSpan]="2"
                    >
                    <dxo-label text="Comentarios"></dxo-label>
                </dxi-item>

            </dxi-item>

          </dx-form>

        </div>

      </div>

</div>

<app-vistarapida
    id="vistaMAD005"
    [aplicacion]="prmUsrAplBarReg.aplicacion"
></app-vistarapida>
<app-geninformes [events]="eventsSubjectInformes.asObservable()">
</app-geninformes>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: 'r-container' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Un momento. Procesando..."
  [hideOnOutsideClick]="false">
</dx-load-panel>