<dx-diagram #diagram id="diagram" >
    <dxo-main-toolbar [visible]="true">
      <dxi-command name="undo"></dxi-command>
      <dxi-command name="redo"></dxi-command>
      <dxi-command name="separator"></dxi-command>
      <dxi-command name="fontName"></dxi-command>
      <dxi-command name="fontSize"></dxi-command>
      <dxi-command name="separator"></dxi-command>
      <dxi-command name="bold"></dxi-command>
      <dxi-command name="italic"></dxi-command>
      <dxi-command name="underline"></dxi-command>
      <dxi-command name="separator"></dxi-command>
      <dxi-command name="fontColor"></dxi-command>
      <dxi-command name="lineColor"></dxi-command>
      <dxi-command name="fillColor"></dxi-command>
      <dxi-command name="separator"></dxi-command>
      <dxi-command
        name="clear"
        icon="clearsquare"
        text="Clear Diagram"
      ></dxi-command>
    </dxo-main-toolbar>
  </dx-diagram>